{% if data['cwAppStatus'] == "New" or data['cwAppStatus'] == null %}
  {% elseif data['cwAppStatus'] == "In progress" %}
    <strong class="govuk-tag govuk-tag--purple">In progress</strong><br><br>
  {% elseif data['cwAppStatus'] == "Granted" %}
    <strong class="govuk-tag govuk-tag--green">Granted</strong><br><br>
  {% elseif data['cwAppStatus'] == "Rejected" %}
    <strong class="govuk-tag govuk-tag--red">Rejected</strong><br><br>
  {% elseif data['cwAppStatus'] == "Review" %}
    <strong class="govuk-tag govuk-tag--yellow">Sent back</strong><br><br>
  {% elseif data['cwAppStatus'] == "Part granted" %}
    <strong class="govuk-tag govuk-tag--blue">Part granted</strong><br><br>
  {% elseif data['cwAppStatus'] == "Returned" %}
    <strong class="govuk-tag govuk-tag--grey">Provider updated</strong><br><br>
  {% elseif data['cwAppStatus'] == "Referred" %}
    <strong class="govuk-tag govuk-tag--yellow">Referred</strong><br><br>
  {% elseif data['cwAppStatus'] == "Auto granted" %}
    <strong class="govuk-tag govuk-tag--green">Auto granted</strong><br><br>
  {% elseif data['cwAppStatus'] == "Expired" %}
    <strong class="govuk-tag govuk-tag--red">Expired</strong><br><br>
{% endif %}

<span class="govuk-caption-xl">Crime Busters Legal</span>
<h1 class="govuk-heading-xl">{{data['laa-ref'] or "LAA-5a7d3c"}}</h1>

<p>
  <span class="govuk-body-l"><strong>Requested:</strong> £{{data['actualdistTotalCost'] or "640"}}.00<br>
  {% if data['cwAppStatus'] == "Part granted" %}
      <span class="govuk-body-l"><strong>Allowed: </strong>£520.00
    {% elseif data['cwAppStatus'] == "Granted" or data['cwAppStatus'] == "Auto granted" %}
      <span class="govuk-body-l"><strong>Allowed: </strong>£{{data['actualdistTotalCost'] or "640"}}.00
    {% elseif data['cwAppStatus'] == "Rejected" %}
      <span class="govuk-body-l"><strong>Allowed: </strong>£0.00
    {% elseif data['serviceAdjust'] == null %}
    {% else %}
      <span class="govuk-body-l"><strong>Allowed: </strong>£440.00
  {% endif %}
</p>

<p>
  <span class="govuk-body-m"><strong>Service: </strong> 
  {% if data['serviceType'] == "Pathologist's report" and data['postMortem'] == "Yes" %}
    Pathologist's report - post-mortem
    {% else %}
    {{data['serviceType'] or "Interpreter"}}
  {% endif %}
  <br>
  <strong>Representation order date:</strong> 19 April 2023</span>
</p>

<p>
  <span class="govuk-body-m"><strong>Date received:</strong> 17 October 2023</span>
  {% if data['cwAppStatus'] == "Granted" or data['cwAppStatus'] == "Part granted" or data ['cwAppStatus'] == "Rejected" or data['cwAppStatus'] == "Auto granted" %}
    <br><span class="govuk-body-m"><strong>Date assessed:</strong> 21 October 2023</span>
    {% elseif data['cwAppStatus'] == "Referred" %}
      <br><span class="govuk-body-m"><strong>Date referred:</strong> 21 October 2023</span>
    {% elseif data['cwAppStatus'] == "Review" %}
      <br><span class="govuk-body-m"><strong>Date sent back to provider:</strong> 21 October 2023</span>
    {% elseif data['cwAppStatus'] == "Returned" %}
      <br><span class="govuk-body-m"><strong>Date amended:</strong> 21 October 2023</span>
    {% elseif data['cwAppStatus'] == "Expired" %}
      <br><span class="govuk-body-m"><strong>Date expired</strong> 5 November 2023</span>
  {% endif %}

  {% if data['cwAppStatus'] == "In progress" %}
    <br><span class="govuk-body-m"><strong>Caseworker</strong> {{data['caseworker2']}}</span>
  {% endif %}
</p>

<div class="govuk-button-group">
  {% if data['cwAppStatus'] == "In progress"  %}
    {{ govukButton({
      text: "Remove from list",
      href: "user-unassign",
      classes: "govuk-button--secondary"
    }) }}
    {% elseif data['cwAppStatus'] == "New" or data ['cwAppStatus'] == "Referred"  or data['cwAppStatus'] == "Returned" or data['cwAppStatus'] == "Review" %}
      {{ govukButton({
        text: "Add to my list",
        href: "user-assign",
        classes: "govuk-button--secondary"
      }) }}
  {% endif %}
</div>