 <div class="govuk-grid-column-two-thirds">

      <!--App status-->
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">Application status</h2>
    </div>
    <div class="govuk-summary-card__content">
    
      {% if data ['Appeal'] =="No" or data ['Appeal'] == null %}
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">

            {% if data['app-task'] == "Submitted"  %}
              <strong class="govuk-tag govuk-tag--light-blue">Submitted</strong></p>
              <p>09 August 2025</p>
              <p>Awaiting LAA review</p>
              <p>£{{data['actualdistTotalCost'] or ('640')}}.00 requested</p>

              {% elseif data['app-task'] == "Returned" or data['app-task'] == "Referred"  %}
                <strong class="govuk-tag govuk-tag--light-blue">Resubmitted</strong></p>
                <p>16 August 2025</p>
                <p>Awaiting LAA review</p>
                <p>£{{data['actualdistTotalCost'] or ('640')}}.00 requested</p>

              {% elseif data['app-task'] == "Granted" %}
                <strong class="govuk-tag govuk-tag--green">Granted</strong></p>
                <p>2 August 2025</p>
                <br>
                <p>£{{data['actualdistTotalCost'] or ('640')}}.00 requested <br>£640.00 allowed</p>
              {% elseif data['app-task'] == "Rejected" %}
                <strong class="govuk-tag govuk-tag--red">Rejected</strong></p>
                <p>12 August 2025</p>
                <br>
                <p>£{{data['actualdistTotalCost'] or ('640')}}.00 requested <br>£0.00 allowed</p>
                <p><a href="application-details#nav">View decision</a></p>

              {% elseif data['app-task'] == "Referred" %}
                <strong class="govuk-tag govuk-tag--yellow">Sent to ICA</strong></p>
                <p>22 August 2025</p>
                <p>Awaiting ICA response</p>
                <p>£{{data['actualdistTotalCost'] or ('640')}}.00 requested</p>

              {% elseif data['app-task'] == "Part granted" %}
                <strong class="govuk-tag govuk-tag--blue">Part granted</strong></p>
                <p>1 August 2025</p>
                <br>
                <p>£{{data['actualdistTotalCost'] or ('640')}}.00 requested<br>£520.00 allowed</p>
                <p>
                <p><a href="application-details#nav">View decision</a></p>

              {% elseif data['app-task'] == "Review" %}
                <strong class="govuk-tag govuk-tag--yellow">Update needed</strong></p>
                <p>Requested 7 August 2025</p>
                {% if data['icaDecision'] == "Yes"%}
                  <p>Respond by 14 August 2025</p>
                {% else %}
                  <p>Respond by 21 August 2025</p>
                {% endif %}
                <br>
                <p>£{{data['actualdistTotalCost'] or ('640')}}.00 requested</p>
                <p><a href="application-details#nav">View update request</a></p>

              {% elseif data['app-task'] == "Expired" %}
              <strong class="govuk-tag govuk-tag--red">Expired</strong></p>
                <p>14 August 2025</p>
                <br>
                <p>£{{data['actualdistTotalCost'] or ('640')}}.00 requested</p>
                <p><a href="application-details#nav">View decision</a></p>
            {% endif %}
          </div>
        </dl>
      {% endif %}
 
      {% if data['Appeal'] == "Yes" %}
        <dl class="govuk-summary-list">

          {% if data['app-task'] == "Part granted" %}
            <!--if app-task is part granted just show this--->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Decision
              </dt>
              <dd class="govuk-summary-list__value">           
                <strong class="govuk-tag govuk-tag--blue">Part granted</strong></p>
                <p>24 August 2025</p>
                <br>
                <p>£{{data['actualdistTotalCost'] or ('640')}}.00 requested <br>£520.00 allowed</p>
                <p><a href="application-details#nav">View decision</a></p>
              </dd>
            </div>

            {% else %}
            <!--otherwise show the appeal and the decision-->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Appeal
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['app-task'] == "Submitted" %}
                  <strong class="govuk-tag govuk-tag--light-blue">Submitted</strong></p>
                  <p>09 August 2025</p>
                  <p>Awaiting LAA review</p>
                  <p><a href="application-details-appeals#nav">View appeal</a></p>

                  {% elseif data['app-task'] == "Returned" %}
                    <strong class="govuk-tag govuk-tag--light-blue">Resubmitted</strong></p>
                    <p>16 August 2025</p>
                    <p>Awaiting LAA response</p>
                    <p><a href="application-details-appeals#nav">View appeal</a></p>    
              
                  {% elseif data['app-task'] == "Referred" %}
                  <strong class="govuk-tag govuk-tag--light-blue">Submitted</strong></p>
                    <p>13 August 2025</p>
                    <p>Awaiting ICA response</p>
                    <p><a href="application-details-appeals#nav">View appeal</a></p>
            
                  {% elseif data['app-task'] == "Review" %}
                    <strong class="govuk-tag govuk-tag--yellow">Update needed</strong></p>
                    <p>Requested 15 August 2025</p>
                    {% if data['icaDecision'] == "Yes"%}
                      <p>Respond by 22 August 2025</p>
                    {% else %}
                      <p>Respond by 29 August 2025</p>
                    {% endif %}
                    <p><a href="application-details#nav">View update request</a></p>
              
                {% endif %} 
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Decision
              </dt>
              <dd class="govuk-summary-list__value">           
                <strong class="govuk-tag govuk-tag--blue">Part granted</strong></p>
                  <p>1 August 2025</p>
                  <br>
                  <p>£{{data['actualdistTotalCost'] or ('640')}}.00 requested <br>£520.00 allowed</p>
              </dd>
            </div>
          {% endif %}
        </dl>
      {% endif %}
        
    </div>
  </div>
</div>

<div class="govuk-grid-column-one-third">
  <aside class="app-related-items" role="complementary">
    <h2 class="govuk-heading-s" id="subsection-title">Email the LAA case team</h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-body-s govuk-link--no-visited-state" href="mailto:magsbilling@justice.gov.uk">magsbilling@justice.gov.uk</a>
      </li> 
    </ul>

    <h2 class="govuk-heading-s" id="subsection-title">Print a PDF of this claim</h2>
    <p class="govuk-body-s">It will include the answers you input into this claim and its current status.</p>
    {{ govukButton({
      text: "Create a printable PDF",
      classes: "govuk-button--secondary",
      href: "claim-details-print3"
    }) }}
    
  </aside>
</div>