{% if (data['Appeal'] == "Yes" and data['cwAppStatus'] == "In progress") %}
  <br>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <div class="govuk-button-group">
    
      {{ govukButton({
          text: "Make a decision",
          href: "send-decision-appeal"
        }) }}

        {{ govukButton({
          text: "Send back to provider",
          classes: "govuk-button--secondary",
          href: "send-further-info-appeal"
        }) }}

      {% if (data['statusComment'] == "Hold" or data['statusComment'] == "Referred" or data['statusComment'] == "ReturnedICA") or (data['statusComment'] == "Returned" and data['icaDecision'] == "Yes" ) %}
        {% else %}
          {{ govukButton({
            text: "Hold for ICA referral",
            classes: "govuk-button--secondary",
            href: "send-decision-refer"
          }) }}
      {% endif %}
      
    {{ govukButton({
      text: "Back to your applications",
      classes: "govuk-button--secondary",
      href: "../crm-assess?cwAppState=all"
    }) }}
  </div>
{% endif %}

{% if data['Appeal'] == "No" and data['cwAppStatus'] == "In progress" %}
  <br>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <div class="govuk-button-group">
      {{ govukButton({
        text: "Make a decision",
        href: "send-decision"
      }) }}
      
      {{ govukButton({
        text: "Send back to provider",
        classes: "govuk-button--secondary",
        href: "send-further-info"
      }) }}

    {{ govukButton({
      text: "Back to your applications",
      classes: "govuk-button--secondary",
      href: "../crm-assess?cwAppState=all"
    }) }}
  </div>
{% endif %}

      