{% if data['cwAppStatus'] == "In progress" and data['statusComment'] == "Referred" %}
  <br>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <div class="govuk-button-group">
    {% if data['Appeal'] == "Yes"%}
      {{ govukButton({
        text: "Make a decision",
        href: "send-decision-appeal"
      }) }}

      {{ govukButton({
        text: "Send back to provider",
        classes: "govuk-button--secondary",
        href: "send-further-info-appeal"
      }) }}
      
      {% else %}

      {{ govukButton({
        text: "Make a decision",
        href: "send-decision"
      }) }}
      
      {{ govukButton({
        text: "Send back to provider",
        classes: "govuk-button--secondary",
        href: "send-further-info"
      }) }}
    {% endif %}
    
    {{ govukButton({
      text: "Back to your applications",
      classes: "govuk-button--secondary",
      href: "../crm-assess?cwAppState=all"
    }) }}
  </div>

  {% elseif data['cwAppStatus'] == "In progress" or data['cwAppStatus'] == "Returned" %}
    <br>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <div class="govuk-button-group">

      {% if data['Appeal'] == "Yes"%}
        {{ govukButton({
          text: "Make a decision",
          href: "send-decision-appeal"
        }) }}

        {{ govukButton({
          text: "Send back to provider",
          classes: "govuk-button--secondary",
          href: "send-further-info-appeal"
        }) }}

        {{ govukButton({
          text: "Hold for ICA referral",
          classes: "govuk-button--secondary",
          href: "send-decision-refer"
        }) }}

      {% else %}

        {{ govukButton({
          text: "Make a decision",
          href: "send-decision"
        }) }}
        
        {{ govukButton({
          text: "Send back to provider",
          classes: "govuk-button--secondary",
          href: "send-further-info"
        }) }}
      {% endif %}

      {{ govukButton({
        text: "Back to your applications",
        classes: "govuk-button--secondary",
        href: "../crm-assess?cwAppState=all"
      }) }}
    </div>
{% endif %}

      