{{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: [
      {
        text: 'Your applications',
        href: '/' + version + '/caseworker/crm-assess',
        active: true
      },
      {
        text: 'Open applications',
        href: '/' + version + '/caseworker/crm-assess-open',
        active: false
      },
      {
        text: 'Closed applications',
        href: '/' + version + '/caseworker/crm-assess-closed',
        active: false
      },
      {
        text: 'Search',
        href: '/' + version + '/caseworker/crm-assess-search',
        active: false
      }
    ]
  }) }}