{% if data['Appeal'] == "Yes" %}

  {% if data['app-task'] == "Referred" %}
    <article class="moj-ticket-panel" aria-label="Sub navigation 1">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h3 class="govuk-heading-s">Sent to ICA 21 August 2025</h3>
        <p>{{data['icaReferredReason'] or "Your appeal has been sent to the ICA for a final decision."}}</p>
      </section>
    </article>

    {% elseif data['app-task'] == "Part granted" %}
      <article class="moj-ticket-panel" aria-label="Sub navigation 1">
        <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
          <h3 class="govuk-heading-s">Part granted 24 August 2025</h3>
          <p>This application was part granted due to disallowed travel costs.</p>
          <ul class="govuk-list">
            <li>
              <a href="application-details-adjusted#review-adjustments" class="govuk-link--no-visited-state">Review allowed costs</a>
            </li>
          </ul>
          <p>You can <a href="appeal-start.html">appeal this decision</a>.</p>
        </section>
      </article>      

    {% elseif data['app-task'] == "Review" %}
      <article class="moj-ticket-panel" aria-label="Sub navigation 1">
        <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
          {% if data['icaDecision']== "Yes"%}
          <h3 class="govuk-heading-s">ICA Further information requested 21 August 2025</h3>
            {% else %}
            <h3 class="govuk-heading-s">Further information requested 19 August 2025</h3>
          {% endif %}
          <p>There is little justification within the application regarding the amount of preparation requested, as
          this is much higher than we would expect for a report from this type of expert. Please provide detailed
          justification why this work requires such a lengthy amount of time.</p>
          {{ govukButton({
            text: "Update application",
            href: "#"
          }) }}
          {% if data['icaDecision']== "Yes"%}
          <p>Respond by <strong>26 August 2025</strong>, otherwise the ICA will make a decision based on the existing information.</p>
            {% else %}
            <p>We will close the application if you do not respond by <strong>4 September 2025</strong>.</p>
          {% endif %}
        </section>
      </article>
  {% endif %}
{% endif %}
    
{% if data['Appeal'] == "No" %}

  {% if data['app-task'] == "Granted" %}
    <article class="moj-ticket-panel" aria-label="Sub navigation 1">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h3 class="govuk-heading-s">Granted 1 August 2025</h3>
        <p>The application has been fully granted.</p>
      </section>
    </article>

    {% elseif data['app-task'] == "Referred" %}
      <article class="moj-ticket-panel" aria-label="Sub navigation 1">
        <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
          <h3 class="govuk-heading-s">Sent to ICA 21 August 2025</h3>
          <p>The application has been sent to the ICA.</p>
        </section>
      </article>
      
    {% elseif data['app-task'] == "Part granted" %}
      <article class="moj-ticket-panel" aria-label="Sub navigation 1">
        <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
          <h3 class="govuk-heading-s">Part granted 1 August 2025</h3>
          <p>This application was part granted due to disallowed travel costs.</p>
          <ul class="govuk-list">
            <li>
              <a href="application-details-adjusted#nav" class="govuk-link--no-visited-state">Review allowed costs</a>
            </li>
          </ul>
          <p>You can <a href="appeal-start">appeal this decision</a>.</p>
        </section>
      </article> 

    {% elseif data['app-task'] == "Rejected" %}
      <article class="moj-ticket-panel" aria-label="Sub navigation 1">
        <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
          <h3 class="govuk-heading-s">Rejected 12 August 2025</h3>
          <p>This application has been fully rejected as the correct form has not been used. Please use CRM5.</p>
          <p>You can <a href="appeal-start.html">appeal this decision</a>.</p>
        </section>
      </article> 
      
    {% elseif data['app-task'] == "Review" %}
      <article class="moj-ticket-panel" aria-label="Sub navigation 1">
        <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
          <h3 class="govuk-heading-s">Further information requested 14 August 2025</h3>
          <p>Updates are needed to proceed with your application.<p>
          <p>Review the requests and resubmit your application by <strong>24 August 2025</strong>. </p>
          <p>After this date your application will be automatically closed.</p>

          <h4 class="govuk-heading-s">Further information request</h4>
          <p>{{data['fieldFurtherInfo'] or "There is little justification within the application regarding the amount of preparation requested, as this is much higher than we would expect for a report from this type of expert. Please provide detailed justification why this work requires such a lengthy amount of time. "}}</p>

          <h4 class="govuk-heading-s">Amendment request</h4>
          <p>{{data['fieldIncorrectInfo'] or "The postcode of the service provider does not match the one partially supplied on the CRM4. Please clarify and provide the correct address which is where they are based/located and not the correspondence or organisation address."}}</p>
          {{ govukButton({
            text: "Update application",
            href: "form/question3-further-info?changeFI=change&ufn=301222/003&laa-ref=LAA-6p4f0r&first-use=no&app-state=all&question-ufn=complete&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=complete&question3-quote=complete&question3-alt-quote=complete&question3-further-info=notStarted&app-task=Review&Appeal=No&serviceType=Translation&expert-first-name=John&expert-last-name=Smith&expert-org-name=Walkers Crips&expert-postcode=BS6 4RF&rep-order-day=12&rep-order-month=04&rep-order-year=2025&maat=123456578&detained=No&prisons=&poca=No&main-offence=Conspire to supply a class A controlled drug - cocaine&hearing=No&plea=Not guilty&courtType=Crown court (excluding Central Criminal Court)&&addTravel=Yes&addAdd=0&travelTime-hours=2&travelTime-mins=0&travelCostTime=12&client-first-name=Dami&client-last-name=Olu&client-dob-day=12&client-dob-month=June&client-dob-year=2001"
          }) }}
        </section>
      </article> 

    {% elseif data['app-task'] == "Expired" %}
      <article class="moj-ticket-panel" aria-label="Sub navigation 1">
        <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
          <h3 class="govuk-heading-s">Expired 8 August 2025</h3>
          <p>On 24 July 2025 we asked you to update your application before we could complete the assessment. This was due by 8 August 2025.</p>
          <p>As this update was not made by the required date this application has been automatically closed.</p>
          <p>If you make a new application you should include the requested update.</p>
          <ul class="govuk-list">
            <li>
              <a href="application-details#review-further-info2" class="govuk-link--no-visited-state">Requested application update</a>
            </li>
          </ul>
        </section>
      </article>      

  {% endif %}
{% endif %}
