{% if data['cwAppStatus'] == "Referred" or (data['cwAppStatus'] == "In progress" and data['statusComment'] == "Referred")%}
  <div class="govuk-inset-text">
    <p><strong>Referred to ICA 21 May 2025</strong></p>
    <p>{{data['icaReferredReason'] or "Appeal referred to ICA due to questions over the expert used and rates requested by provider."}}</p>
  </div>
  {% elseif data['cwAppStatus'] == "Hold" or (data['cwAppStatus'] == "In progress" and data['statusComment'] == "Hold") %}
    <div class="govuk-inset-text">
      <p><strong>ICA Hold 21 May 2025 </strong></p>
      <p>Waiting to be sent to the ICA for referral</p>
      {{ govukButton({
        text: "Mark as sent to ICA",
        href: "send-decision-refer"
      }) }}

    </div>
  {% elseif data['cwAppStatus'] == "Returned" or (data['cwAppStatus'] == "In progress" and data['statusComment'] == "Returned") %}
    <div class="govuk-inset-text">
      <p><strong>Provider update 21 May 2025 </strong></p>
      <ul class="govuk-list">
        <li>
          {% if data['Appeal'] == "Yes" %}
            <a href="application-details-appeal?#review-further-info" class="govuk-link--no-visited-state">View update</a>
          {% else %}
            <a href="#review-further-info" class="govuk-link--no-visited-state">View update</a>
          {% endif %}
        </li>
      </ul>
    </div>
  {% elseif data['cwAppStatus'] == "Review" or data['cwAppStatus'] == "Expired"%}
    <div class="govuk-inset-text">
      <p><strong>Sent back to provider 21 May 2025</strong></p>
      {% if data['reviewApp'] == "further" %}
        {% if data['icaDecision']== "Yes"%}
          <p>ICA information request: <br>
          {% else %}
          <p>Further information request: <br>
        {% endif %}
          {{data['fieldFurtherInfo'] or "There is little justification within the application regarding the amount of preparation requested, as this much higher than we would expect for a report from this type of expert. Please provide detailed justification why this work requires such a lengthy amount of time. "}}
        </p>
        {% elseif data['reviewApp'] == "incorrect" %}
          <p>Amendment request: <br>
            {{data['fieldIncorrectInfo'] or "Please review and amend the client details as they are incorrect"}}
          </p>
        {% else %}
          <p>Further information request: <br>
            {{data['fieldFurtherInfo'] or "There is little justification within the application regarding the amount of preparation requested, as this much higher than we would expect for a report from this type of expert. Please provide detailed justification why this work requires such a lengthy amount of time. "}}
          </p>
          <p>Amendment request: <br>
            {{data['fieldIncorrectInfo'] or "Please review and amend the client details as they are incorrect"}}
          </p>
      {% endif %}
    </div>
  {% elseif data['cwAppStatus'] == "Granted" %}
    <div class="govuk-inset-text">
      <p><strong>Granted 21 May 2025</strong></p>
      {% if data['Appeal'] == "Yes" %}
        <p>Appeal decision:</p>
      {% endif %}
      <p>{{data['grantedConfirm'] or "This application has been fully granted."}}</p>  
    </div>      
  {% elseif data['cwAppStatus'] == "Rejected"%}
    <div class="govuk-inset-text">
      <p><strong>Rejected 21 May 2025</strong></p>
      {% if data['Appeal'] == "Yes" %}
        <p>Appeal decision:</p>
      {% endif %}
      <p>{{data['rejectedConfirm'] or "This application has been rejected as the correct form has not been used. Please use CRM5."}}</p>        
    </div>
  {% elseif data['cwAppStatus'] == "Part granted"%}
    <div class="govuk-inset-text">
      <p><strong>Part granted 21 May 2025</strong></p>
      {% if data['Appeal'] == "Yes" %}
        <p>Appeal decision:</p>
      {% endif %}
      <p>{{data['partConfirm'] or "This application was part granted due to disallowed travel costs."}}</p>
      <p><a href="application-details-adjust-readonly" class="govuk-link--no-visited-state">Review cost adjustments</a></p>
    </div>
    {% elseif data['cwAppStatus'] == "In progress" or data['cwAppStatus'] == "New"%}
      {% if data['Appeal'] == "Yes" %}
        <div class="govuk-inset-text">
          <p><strong>Appeal 18 May 2025</strong></p>
          <p>The provider has appealed this part granted application</p>
          <p><a href="application-details-appeal">View appeal details</a></p>
          </p>
        </div>
      {% endif%}
{% endif %}