{% if data['Appeal'] == "No" or data['Appeal'] == null  %}

  {% if data['app-task'] == "Granted" %}
    <article class="moj-ticket-panel" aria-label="Sub navigation 1">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h3 class="govuk-heading-m">Granted 2 August 2025</h3>
        <p>The application has been fully granted.</p>
      </section>
    </article>

    {% elseif data['app-task'] == "Referred" %}
      <article class="moj-ticket-panel" aria-label="Sub navigation 1">
        <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
          <h3 class="govuk-heading-m">Sent to ICA 13 August 2025</h3>
          <p>The application has been sent to the ICA.</p>
        </section>
      </article>
      
    {% elseif data['app-task'] == "Part granted" %}
      <article class="moj-ticket-panel" aria-label="Sub navigation 1">
        <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
          <h3 class="govuk-heading-m">Part granted 1 August 2025</h3>
          <p>This application was part granted due to disallowed travel costs</p>
          <p><a href="application-details-costs#nav" class="govuk-link--no-visited-state">Review allowed costs</a></p>         
          <p>You can <a href="appeal-form/appeal-enter">appeal this decision</a>.</p>
        </section>
      </article> 

    {% elseif data['app-task'] == "Rejected" %}
      <article class="moj-ticket-panel" aria-label="Sub navigation 1">
        <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
          <h3 class="govuk-heading-m">Rejected 12 August 2025</h3>
          <p>This application has been fully rejected as the correct form has not been used. Please use CRM5.</p>
           <p>You can <a href="appeal-form/appeal-enter">appeal this decision</a>.</p>
        </section>
      </article> 
      
    {% elseif data['app-task'] == "Review" %}
      <article class="moj-ticket-panel" aria-label="Sub navigation 1">
        <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
          {% if data['icaDecision']== "Yes"%}
            <h3 class="govuk-heading-m">ICA update requested 7 August 2025</h3>
            <p>Updates are needed to proceed with your application.<p>
            <p>The ICA will make a decision based on existing information if you do not respond by <strong>14 August 2025</strong>.</p>
            {% else %}
            <h3 class="govuk-heading-m">Update requested 7 August 2025</h3>
            <p>Updates are needed to proceed with your application.<p>
            <p>We will close the application if you do not respond by <strong>21 August 2025</strong>.</p>
          {% endif %}

            <h4 class="govuk-heading-s">Further information needed</h4>
            <p>{{data['fieldFurtherInfo'] or "There is little justification within the application regarding the amount of preparation requested, as this is much higher than we would expect for a report from this type of expert. Please provide detailed justification why this work requires such a lengthy amount of time. "}}</p>

            <h4 class="govuk-heading-s">Amendment needed</h4>
            <p>{{data['fieldIncorrectInfo'] or "The postcode of the service provider does not match the one partially supplied on the CRM4. Please clarify and provide the correct address which is where they are based/located and not the correspondence or organisation address."}}</p>
            {{ govukButton({
              text: "Update application",
              href: "form/question3-further-info?changeFI=change&ufn=301222/003&laa-ref=LAA-6p4f0r&first-use=no&app-state=all&question-ufn=complete&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=complete&question3-quote=complete&question3-alt-quote=complete&question3-further-info=notStarted&app-task=Review&Appeal=No&serviceType=Translation&expert-first-name=John&expert-last-name=Smith&expert-org-name=Walkers Crips&expert-postcode=BS6 4RF&rep-order-day=12&rep-order-month=04&rep-order-year=2025&maat=123456578&detained=No&prisons=&poca=No&main-offence=Conspire to supply a class A controlled drug - cocaine&hearing=No&plea=Not guilty&courtType=Crown court (excluding Central Criminal Court)&&addTravel=Yes&addAdd=0&travelTime-hours=2&travelTime-mins=0&travelCostTime=12&client-first-name=Dami&client-last-name=Olu&client-dob-day=12&client-dob-month=June&client-dob-year=2001"
            }) }}
        </section>
      </article> 

    {% elseif data['app-task'] == "Expired" %}
      <article class="moj-ticket-panel" aria-label="Sub navigation 1">
        <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
          <h3 class="govuk-heading-m">Expired 14 August 2025</h3>
          <p>On 31 July 2025 we asked you to update your application before we could complete the assessment. This was due by 14 August 2025.</p>
          <p>As this update was not made by the required date this application has been automatically closed.</p>
          <p>If you make a new application you should include the requested update.</p>
          <ul class="govuk-list">
            <li>
              <a href="application-details#review-further-info2" class="govuk-link--no-visited-state">Requested application update</a>
            </li>
          </ul>
        </section>
      </article>      

  {% endif %}
{% endif %}

{% if data['Appeal'] == "Yes" or data['Appeal'] == "Yes2"  %}

  {% if data['app-task'] == "Referred" %}
    <article class="moj-ticket-panel" aria-label="Sub navigation 1">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h3 class="govuk-heading-m">Sent to ICA 13 August 2025</h3>
        <p>{{data['icaReferredReason'] or "Your appeal has been sent to the ICA for a final decision."}}</p>
      </section>
    </article>

    {% elseif data['app-task'] == "Granted" %}
      <article class="moj-ticket-panel" aria-label="Sub navigation 1">
        <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
          {% if data['icaDecision']== "Yes"%}
            <h3 class="govuk-heading-m">ICA Granted 24 August 2025</h3>
            <p>On reconsideration of the evidence presented travel for the expert has been deemed necessary and all costs approved.</p>
            <p><a href="application-details-costs#nav" class="govuk-link--no-visited-state">Review allowed costs</a></p>         

            {% else %}  
            <h3 class="govuk-heading-m">Part granted 24 August 2025</h3>
            <p>On reconsideration of the evidence presented travel for the expert has been deemed necessary and all costs approved.</p>
            <p><a href="application-details-costs#nav" class="govuk-link--no-visited-state">Review allowed costs</a></p>         
          {% endif %}
        </section>
      </article>

    {% elseif data['app-task'] == "Part granted" %}
      <article class="moj-ticket-panel" aria-label="Sub navigation 1">
        <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
          {% if data['icaDecision']== "Yes"%}
            <h3 class="govuk-heading-m">ICA Part granted 18 August 2025</h3>
            <p>Your new evidence does not allow us to approve the travel costs. Your application remains part granted.</p>
            <p><a href="application-details-costs#nav" class="govuk-link--no-visited-state">Review allowed costs</a></p>         
            <p>You cannot appeal an ICA decision.</p>
            {% else %}  
            <h3 class="govuk-heading-m">Part granted 18 August 2025</h3>
            <p>Your new evidence does not allow us to approve the travel costs. Your application remains part granted.</p>
            <p><a href="application-details-costs#nav" class="govuk-link--no-visited-state">Review allowed costs</a></p>         
            <p>You can <a href="appeal-form/appeal-enter">appeal this decision</a>.</p>
          {% endif %}
        </section>
      </article>      

    {% elseif data['app-task'] == "Review" %}
      <article class="moj-ticket-panel" aria-label="Sub navigation 1">
        <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
          {% if data['icaDecision']== "Yes"%}
            <h3 class="govuk-heading-m">ICA update requested 15 August 2025</h3>
            <p>Updates are needed to proceed with your appeal.<p>
            <p>The ICA will make a decision based on existing information if you do not respond by <strong>22 August 2025</strong>.</p>
            {% else %}
            <h3 class="govuk-heading-m">Update requested 15 August 2025</h3>
            <p>Updates are needed to proceed with your appeal.<p>
            <p>We will close the appeal if you do not respond by <strong>29 August 2025</strong>.</p>
          {% endif %}
          <h4 class="govuk-heading-s">Further information needed</h4>
          <p>There is little justification within the application regarding the amount of preparation requested, as
          this is much higher than we would expect for a report from this type of expert. Please provide detailed
          justification why this work requires such a lengthy amount of time.</p>
          {{ govukButton({
            text: "Update appeal",
            href: "appeal-form/update-request"
          }) }}
        </section>
      </article>
  {% endif %}
{% endif %}