{% if data['cwAppStatus'] == "Hold" and data['statusComment'] == "Hold" %}
    <article class="moj-ticket-panel" aria-label="Sub navigation 1">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h3 class="govuk-heading-m">Held for ICA 21 May 2025</h3>
        <p>This appeal needs to be sent to the ICA:</p>
        <p>{{data['icaReferredReason'] or "Your appeal has been sent to the ICA for a final decision."}}</p>    
        <ul class="govuk-list govuk-list--number">
          <li><a href="1">Download this application and attachments (Zip).</a></li>
          <li>Email the download to the ICA.</li>
          <li>Mark as sent to ICA.</li>
        </ul>
        {{ govukButton({
          text: "Add to my list",
          href: "user-assign"
        }) }}
      </section>
    </article> 

  {% elseif (data['cwAppStatus'] == "In progress" and data['statusComment'] == "Hold") %}
    <article class="moj-ticket-panel" aria-label="Sub navigation 1">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h3 class="govuk-heading-m">Held for ICA 21 May 2025 </h3>
        <p>This appeal needs to be sent to the ICA:</p>
       <p>{{data['icaReferredReason'] or "Your appeal has been sent to the ICA for a final decision."}}</p>
        <ul class="govuk-list govuk-list--number">
          <li><a href="1">Download this application and attachments (Zip).</a></li>
          <li>Email the download to the ICA.</li>
          <li>Mark as sent to ICA.</li>
        </ul>
        {{ govukButton({
          text: "Mark as sent to ICA",
        href: "send-decision-refer?"
        }) }}
      </section>
    </article> 

  {% elseif (data['cwAppStatus'] == "Referred" and data['statusComment'] == "Referred") or (data['cwAppStatus'] == "In progress" and data['statusComment'] == "Referred")%}
    <article class="moj-ticket-panel" aria-label="Sub navigation 1">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h3 class="govuk-heading-m">Sent to ICA 21 May 2025</h3>
        <p>{{data['icaReferredReason'] or "Your appeal has been sent to the ICA for a final decision."}}</p>
      </section>
    </article> 

  {% elseif (data['cwAppStatus'] == "Referred" and data['statusComment'] == "ReturnedICA") or (data['cwAppStatus'] == "In progress" and data['statusComment'] == "ReturnedICA")  %}
    <article class="moj-ticket-panel" aria-label="Sub navigation 1">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h3 class="govuk-heading-m">Sent to ICA 21 May 2025</h3>
        <p>Provider response to information request sent to ICA</p>
      </section>
    </article> 

  {% elseif data['cwAppStatus'] == "Returned" and data['statusComment'] == "Returned" and data['icaDecision'] =="Yes" %}
    <article class="moj-ticket-panel" aria-label="Sub navigation 1">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h3 class="govuk-heading-m">Provider updated 21 May 2025</h3>
        <p>The provider's response needs to be sent to the ICA.</p>
        <ul class="govuk-list govuk-list--number">
          <li><a href="application-details-appeal?#review-further-info" class="govuk-link--no-visited-state">View update</a></li>
          <li>Email the provider's response to the ICA.</li>
          <li>Mark as sent to ICA.</li>
        </ul>
        {{ govukButton({
          text: "Add to my list",
          href: "user-assign"
        }) }}
      </section>
    </article> 

  {% elseif data['cwAppStatus'] == "In progress" and data['statusComment'] == "Returned" and data['icaDecision'] == "Yes" %}
    <article class="moj-ticket-panel" aria-label="Sub navigation 1">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h3 class="govuk-heading-m">Provider updated 21 May 2025</h3>
        <p>The provider's response needs to be sent to the ICA.</p>
        <ul class="govuk-list govuk-list--number">
          <li><a href="application-details-appeal?#review-further-info" class="govuk-link--no-visited-state">View update</a></li>
          <li>Email the provider's response to the ICA.</li>
          <li>Mark as sent to ICA.</li>
        </ul>
        {{ govukButton({
          text: "Mark as sent to ICA",
          href: "send-decision-refer"
        }) }}
      </section>
    </article> 

  {% elseif (data['cwAppStatus'] == "Returned" and data['statusComment'] == "Returned" and data['icaDecision'] =="No") or (data['cwAppStatus'] == "In progress" and data['statusComment'] == "Returned" and data['icaDecision'] =="No") %}
    <article class="moj-ticket-panel" aria-label="Sub navigation 1">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h3 class="govuk-heading-m">Provider updated 21 May 2025</h3>
        <p><a href="#review-further-info" class="govuk-link--no-visited-state">View update</a></p>
      </section>
    </article> 

  {% elseif (data['cwAppStatus'] == "Returned" and data['Appeal'] =="No") or (data['cwAppStatus'] == "In progress" and data['statusComment'] == "Returned" and data['Appeal'] =="No") %}
    <article class="moj-ticket-panel" aria-label="Sub navigation 1">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h3 class="govuk-heading-m">Provider updated 21 May 2025</h3>
        <p><a href="#review-further-info" class="govuk-link--no-visited-state">View update</a></p>
      </section>
    </article> 

  {% elseif data['cwAppStatus'] == "Review" or data['cwAppStatus'] == "Expired"%}
    <article class="moj-ticket-panel" aria-label="Sub navigation 1">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h3 class="govuk-heading-m">Sent back to provider 21 May 2025</h3>
          {% if data['reviewApp'] == "further" %}
            {% if data['icaDecision']== "Yes"%}
            <h4 class="govuk-heading-s">ICA information request</h4>
            {% else %}
            <h4 class="govuk-heading-s">Further information request</h4>
          {% endif %}
          <p>{{data['fieldFurtherInfo'] or "There is little justification within the application regarding the amount of preparation requested, as this much higher than we would expect for a report from this type of expert. Please provide detailed justification why this work requires such a lengthy amount of time. "}}
          </p>
        
        {% elseif data['reviewApp'] == "incorrect" %}
          <h4 class="govuk-heading-s">Amendment request</h4>
          <p>{{data['fieldIncorrectInfo'] or "Please review and amend the client details as they are incorrect"}}
          </p>

        {% else %}
          <h4 class="govuk-heading-s">Further information request</h4>
          <p>{{data['fieldFurtherInfo'] or "There is little justification within the application regarding the amount of preparation requested, as this much higher than we would expect for a report from this type of expert. Please provide detailed justification why this work requires such a lengthy amount of time. "}}
          </p>
          <h4 class="govuk-heading-s">Amendment request</h4>
          <p>{{data['fieldIncorrectInfo'] or "Please review and amend the client details as they are incorrect"}}
          </p>
      {% endif %}
      </section>
    </article> 

  {% elseif data['cwAppStatus'] == "Granted" %}
    <article class="moj-ticket-panel" aria-label="Sub navigation 1">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h3 class="govuk-heading-m">Granted 21 May 2025</h3>
          {% if data['Appeal'] == "Yes" %}
            <p>Appeal decision:</p>
          {% endif %}
        <p>{{data['grantedConfirm'] or "This application has been fully granted."}}</p>  
      </section>
    </article>

  {% elseif data['cwAppStatus'] == "Rejected"%}
    <article class="moj-ticket-panel" aria-label="Sub navigation 1">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h3 class="govuk-heading-m">Rejected 21 May 2025</h3>
        {% if data['icaDecision'] == "Yes" %}
          <h4 class="govuk-heading-s">ICA decision</h4>
        {% endif %}
        <p>{{data['rejectedConfirm'] or "This application has been rejected as the correct form has not been used. Please use CRM5."}}</p>
      </section>
    </article>

  {% elseif data['cwAppStatus'] == "Part granted"%}
    <article class="moj-ticket-panel" aria-label="Sub navigation 1">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h3 class="govuk-heading-m">Part granted 21 May 2025</h3>
        {% if data['Appeal'] == "Yes" %}
          {% if data['icaDecision'] == "Yes"%}
            <h4 class="govuk-heading-s">ICA decision</h4>
        {% endif %}
        <p>{{data['partConfirm'] or "This application remains part granted as travel costs are not allowable for this type of service as stated in the policy guidance."}}</p>
        {% else %}
        <p>{{data['partConfirm'] or "This application was part granted due to disallowed travel costs and reduced waiting costs."}}</p>
        {% endif %}
      <p><a href="application-details-adjust-readonly" class="govuk-link--no-visited-state">Review cost adjustments</a></p>
      </section>
    </article>

  {% elseif data['cwAppStatus'] == "In progress" or data['cwAppStatus'] == "New"%}
    {% if data['Appeal'] == "Yes" %}
    <article class="moj-ticket-panel" aria-label="Sub navigation 1">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h3 class="govuk-heading-m">Appealed 18 May 2025</h3>
        <p>The provider has appealed this part granted application</p>
        <p><a href="application-details-appeal">View appeal details</a></p>
      </section>
    </article>
    {% endif%}
{% endif %}