<!---Further info for appeals -->
{% if data['cwAppStatus'] == "New" %}
{% elseif data['cwAppStatus'] == "Returned" or data['cwAppStatus'] == "Granted" or data['cwAppStatus'] == "Part granted" or data['cwAppStatus'] == "Rejected" %} 
<h2 class="govuk-heading-m">Appeal updates</h2>
<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h3 class="govuk-summary-card__title" id="review-further-info">ICA information request 21 May 2025</h3>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Caseworker
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['caseworker1']}}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            ICA information request
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['fieldFurtherInfo'] or "There is little justification within the application regarding the amount of preparation requested, as this much higher than we would expect for a report from this type of expert. Please provide detailed justification why this work requires such a lengthy amount of time. "}}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Provider response
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['providerFurtherInfo'] or "Please see the attached documetents that show my client was not in the in UK" }}<br>
            <a href="">courtDocs1.pdf</a><br>
            <a href="">courtDocs2.pdf</a>
          </dd>
        </div>
      </dl>       
    </div>
  </div>
    <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h3 class="govuk-summary-card__title" id="review-further-info">Referred to ICA 21 May 2025</h3>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Caseworker
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['caseworker1']}}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reasons for referral
          </dt>
          <dd class="govuk-summary-list__value">
             <p>{{data['icaReason'] or "Appeal referred to ICA due to questions over the expert used and rates requested by provider."}}</p>
          </dd>
        </div>
      </dl>       
    </div>
  </div>
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h3 class="govuk-summary-card__title" id="review-further-info">Further information request 14 May 2025</h3>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Caseworker
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['caseworker1']}}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Information request
          </dt>
          <dd class="govuk-summary-list__value">
            There is little justification within the application regarding the amount of preparation requested, as this much higher than we would expect for a report from this type of expert. Please provide detailed justification why this work requires such a lengthy amount of time.
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Provider response
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['providerFurtherInfo'] or "Please see the attached documetents that show my client was not in the in UK" }}<br>
            <a href="">courtDocs1.pdf</a><br>
            <a href="">courtDocs2.pdf</a>
          </dd>
        </div>
      </dl>       
    </div>
  </div>
{% elseif data['cwAppStatus'] == "ICAReview"%} 
<h2 class="govuk-heading-m">Appeal updates</h2>
  
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h3 class="govuk-summary-card__title" id="review-further-info">Referred to ICA 21 May 2025</h3>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Caseworker
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['caseworker1']}}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reasons for referral
          </dt>
          <dd class="govuk-summary-list__value">
             <p>{{data['icaReason'] or "Appeal referred to ICA due to questions over the expert used and rates requested by provider."}}</p>
          </dd>
        </div>
      </dl>       
    </div>
  </div>


{% elseif data['cwAppStatus'] == "Granted" or data['cwAppStatus'] == "Part granted" or data['cwAppStatus'] == "Rejected" %}
  <h2 class="govuk-heading-m">Provider updates</h2>


  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h3 class="govuk-summary-card__title" id="review-further-info">ICA further information request 21 May 2025</h3>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Caseworker
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['caseworker1']}}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            ICA request
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['ICAResponse'] or "Please provide further evidence from the expert in question regarding their licencing to carry out this type of report" }}<br>
          </dd>
        </div>
      </dl>       
    </div>
  </div>
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h3 class="govuk-summary-card__title" id="review-further-info2">Further information request 21 May 2025</h3>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Caseworker
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['caseworker1']}}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Information request
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['fieldFurtherInfo'] or "There is little justification within the application regarding the amount of preparation requested, as this much higher than we would expect for a report from this type of expert. Please provide detailed justification why this work requires such a lengthy amount of time. "}}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Provider response
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['providerFurtherInfo'] or "Please see the attached documetents that show my client was not in the in UK" }}<br>
            <a href="">courtDocs1.pdf</a><br>
            <a href="">courtDocs2.pdf</a>
          </dd>
        </div>
      </dl>       
    </div>
  </div>

  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h3 class="govuk-summary-card__title" id="review-further-info2">Further information request 19 May 2025</h3>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Caseworker
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['caseworker1']}}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Information request
          </dt>
          <dd class="govuk-summary-list__value">
            Please provide counsel's advice, providing information as to why further funding is necessary & ATTACH IT ELECTRONICALLY. CBAM 7.2.6a
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Provider response
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['providerFurtherInfo'] or "Relevant documents attached as requested" }}<br>
            <a href="">courtDocs1.pdf</a><br>
            <a href="">courtDocs2.pdf</a>
          </dd>
        </div>
      </dl>       
    </div>
  </div>
{% endif %}
