<!---Further info for appeals -->
{% if data['cwAppStatus'] == "Review" %} 
  <h3 class="govuk-heading-m">Updates</h3>
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h4 class="govuk-summary-card__title" id="review-further-info">
        {% if data['icaDecision']== "Yes"%}
          ICA information request 21 May 2025
          {% else %}
          Further information request 21 May 2025
        {% endif %}
      </h3>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Caseworker
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['caseworker2']}}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Further information request
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['fieldFurtherInfo'] or "There is little justification within the application regarding the amount of preparation requested, as this much higher than we would expect for a report from this type of expert. Please provide detailed justification why this work requires such a lengthy amount of time. "}}
          </dd>
        </div>
      </dl>       
    </div>
  </div>

  {% if data['icaDecision'] == "Yes" %}
     <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h4 class="govuk-summary-card__title" id="review-further-info">Sent to ICA 19 May 2025</h4>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-6">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Caseworker
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['caseworker2']}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              ICA
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['ICA-first-name'] or "John"}} {{data['ICA-last-name'] or "Smith"}}
            </dd>
          </div>
        </dl>       
      </div>
    </div>

     <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h4 class="govuk-summary-card__title" id="review-further-info">Held for ICA 18 May 2025</h4>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-6">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Caseworker
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['caseworker2']}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reasons for referral
            </dt>
            <dd class="govuk-summary-list__value">
              <p>{{data['icaReason'] or "Appeal sent to ICA due to questions over the expert used and rates requested by provider."}}</p>
            </dd>
          </div>
        </dl>       
      </div>
    </div>
  {% endif %}

  {% elseif  data['cwAppStatus'] == "Referred" %} 
    <h3 class="govuk-heading-m">Updates</h3>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h4 class="govuk-summary-card__title" id="review-further-info">Sent to ICA 19 May 2025</h4>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-6">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Caseworker
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['caseworker2']}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              ICA
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['ICA-first-name'] or "John"}} {{data['ICA-last-name'] or "Smith"}}
            </dd>
          </div>
        </dl>       
      </div>
    </div>

     <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h4 class="govuk-summary-card__title" id="review-further-info">Held for ICA 18 May 2025</h4>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-6">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Caseworker
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['caseworker2']}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reasons for referral
            </dt>
            <dd class="govuk-summary-list__value">
              <p>{{data['icaReason'] or "Appeal sent to ICA due to questions over the expert used and rates requested by provider."}}</p>
            </dd>
          </div>
        </dl>       
      </div>
    </div>

  {% elseif data['cwAppStatus'] == "Hold" %} 
    <h3 class="govuk-heading-m">Updates</h3>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h4 class="govuk-summary-card__title" id="review-further-info">Held for ICA 18 May 2025</h4>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-6">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Caseworker
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['caseworker2']}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reasons for referral
            </dt>
            <dd class="govuk-summary-list__value">
              <p>{{data['icaReason'] or "Appeal sent to ICA due to questions over the expert used and rates requested by provider."}}</p>
            </dd>
          </div>
        </dl>       
      </div>
    </div>

  {% elseif data['cwAppStatus'] == "Returned" or data['cwAppStatus'] == "Part granted" %} 
    <h3 class="govuk-heading-m">Updates</h3>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h4 class="govuk-summary-card__title" id="review-further-info">
          {% if data['icaDecision']== "Yes"%}
            ICA information request 21 May 2025
            {% else %}
            Further information request 21 May 2025
          {% endif %}
        </h4>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-6">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Caseworker
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['caseworker2']}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Further information request
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['fieldFurtherInfo'] or "There is little justification within the application regarding the amount of preparation requested, as this much higher than we would expect for a report from this type of expert. Please provide detailed justification why this work requires such a lengthy amount of time. "}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Provider response
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['providerFurtherInfo'] or "Relevant documents attached as requested" }}<br>
              <a href="">AnotherCaourtDocs1.pdf</a><br>
            </dd>
          </div>
        </dl>       
      </div>
    </div>
    {% if data['icaDecision']== "Yes"%}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h4 class="govuk-summary-card__title" id="review-further-info">Sent to ICA 19 May 2025</h4>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-!-margin-bottom-6">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Caseworker
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['caseworker2']}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                ICA
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['ICA-first-name'] or "John"}} {{data['ICA-last-name'] or "Smith"}}
              </dd>
            </div>
          </dl>       
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h4 class="govuk-summary-card__title" id="review-further-info">Held for ICA 18 May 2025</h4>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-!-margin-bottom-6">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Caseworker
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['caseworker2']}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Reasons for referral
              </dt>
              <dd class="govuk-summary-list__value">
                <p>{{data['icaReason'] or "Appeal sent to ICA due to questions over the expert used and rates requested by provider."}}</p>
              </dd>
            </div>
          </dl>       
        </div>
      </div>
    {% endif %}
  
{% endif %}
