 {% if data['Appeal'] == "Yes" %}
  {% if data['cwAppStatus'] == "In progress" or data['cwAppStatus'] == "Referred"  %}

    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [
      {
        text: 'Overview',
        href: 'application-details',
        active: + activeAppNav[0] | default('true')
      }, 
      {
        text: 'Appeal',
        href: 'application-details-appeal',
        active: + activeAppNav[2]
      }, 
      {
        text: 'Costs',
        href: 'application-details-adjust-appeal',
        active: + activeAppNav[1]
      }, 
      {
        text: 'Related applications',
        href: 'application-details-related',
        active: + activeAppNav[3]
      }, 
      {
        text: 'Application history',
        href: 'application-details-history',
        active: + activeAppNav[4]
      }
      ]
    }) }}


    {% else %}
    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [
      {
        text: 'Overview',
        href: 'application-details',
        active: + activeAppNav[0] | default('true')
      }, 
      {
        text: 'Appeal',
        href: 'application-details-appeal',
        active: + activeAppNav[2]
      }, 
      {
        text: 'Costs',
        href: 'application-details-adjust-appeal-readonly',
        active: + activeAppNav[1]
      }, 
      {
        text: 'Related applications',
        href: 'application-details-related',
        active: + activeAppNav[3]
      }, 
      {
        text: 'Application history',
        href: 'application-details-history',
        active: + activeAppNav[4]
      }
      ]
    }) }}
      
  {% endif %}
  
  {% else %}
  
    {% if data['cwAppStatus'] == "In progress" %}
      {{ mojSubNavigation({
        label: 'Sub navigation',
        items: [
        {
          text: 'Overview',
          href: 'application-details',
          active: + activeAppNav[0] | default('true')
        }, 
        {
          text: 'Costs',
          href: 'application-details-adjust',
          active: + activeAppNav[1]
        }, 
        {
          text: 'Related applications',
          href: 'application-details-related',
          active: + activeAppNav[3]
        }, 
        {
          text: 'Application history',
          href: 'application-details-history',
          active: + activeAppNav[4]
        }
        ]
      }) }}

      {% else %}
        {{ mojSubNavigation({
          label: 'Sub navigation',
          items: [
          {
            text: 'Overview',
            href: 'application-details',
            active: + activeAppNav[0] | default('true')
          }, 
          {
            text: 'Costs',
            href: 'application-details-adjust-readonly',
            active: + activeAppNav[1]
          },  
          {
            text: 'Related applications',
            href: 'application-details-related',
            active: + activeAppNav[3]
          }, 
          {
            text: 'Application history',
            href: 'application-details-history',
            active: + activeAppNav[4]
          }
          ]
        }) }}
  {% endif %}
{% endif %}