{{ mojPrimaryNavigation({
  label: 'Primary navigation',
  items: [
    {
      text: 'Your applications',
      href: 'crm-apps-reviewed',
      active: + activePrimeNav[0] | default('true')
    },
    {
      text: 'Search',
      href: 'crm-apps-search',
       active: + activePrimeNav[1]
    }
  ]
}) }}