<!--No alternative quote-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title" id="review-quote">Alternative quotes</h3>
        </div>
        <div class="govuk-summary-card__content">
          
          <dl class="govuk-summary-list govuk-!-margin-bottom-6">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Reason for no alternative quotes
              </dt>
              <dd class="govuk-summary-list__value">
                There were no alternative service providers available
              </dd>
            </div>
          </dl>

        </div>
      </div>