<!--Primary quote-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title" id="review-quote">Primary quote</h3>
          <ul class="govuk-summary-card__actions">
            {% if data['costsAdjusted'] == "Yes" and data['cwAppStatus'] == "In progress" %}
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="adjust-primary-costs">Edit adjustments<span class="govuk-visually-hidden">primary quote</span></a>
            </li>
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="application-details-adjust?costsAdjusted=No">Delete adjustments<span class="govuk-visually-hidden">primary quote</span></a>
            </li>
            {% elseif data['quoteGranted'] == "Yes" and data['alternativeQuote'] == "No" and data['cwAppStatus'] == "In progress" %}
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="application-details-adjust?quoteGranted=No">Undo selection<span class="govuk-visually-hidden">primary quote</span></a>
            </li>
            {% elseif data['quoteGranted'] == "Rejected" or data['alternativeQuote'] == "Yes" or data['cwAppStatus'] == "Part granted" or data['cwAppStatus'] == "Granted" %}
            {% else %}
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="adjust-primary-costs">Adjust costs<span class="govuk-visually-hidden">primary quote</span></a>
            </li>
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="reason-for-decision?quoteGranted=Yes&alternativeQuote=No">Grant quote<span class="govuk-visually-hidden">primary quote</span></a>
            </li>
            {% endif%}
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          
          <dl class="govuk-summary-list govuk-!-margin-bottom-6">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Service provider details
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['expert-first-name'] or "Joanna" }} {{data['expert-last-name'] or "White" }}<br>
                {{data['expert-org-name'] or "DNA Plc" }}, 
                {{data['expert-town'] or "Stepney"}},
                {{data['expert-postcode'] or "E2"}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Quote upload
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="">myquote1.pdf</a>
              </dd>
            </div>

            {% if data['detained'] == "Yes" or data['prisonLaw'] == "Yes" %}
              {% else %}
            {% endif %}
          </dl>

<!--Primary quote - Service cost-->
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Service cost</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Details</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Requested</th>
                {% if data['costsAdjusted'] == "Yes" %}
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Allowed</th>
                {% else %}
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third"></th>
                {% endif%}
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Amount</td>
                {% if data['serviceType'] == "Transcription" %}
                  <td class="govuk-table__cell">10 minutes</td>
                  {% elseif data['serviceType'] == "Translation and transcription"%}
                  <td class="govuk-table__cell">10 minutes</td>
                  {% elseif data['serviceType'] == "Translation"%}
                  <td class="govuk-table__cell">10000 words</td>
                  {% elseif data['serviceType'] == "Photocopying"%}
                  <td class="govuk-table__cell">100 pages</td>
                  {% elseif data['serviceType'] == "Other" and data['otherChargeType'] =="Charged by the hour"%}
                  <td class="govuk-table__cell">1 hour 0 minutes</td>
                  {% elseif data['serviceType'] == "Other" %}
                  <td class="govuk-table__cell">1 items</td>
                  {% elseif data['serviceType'] == "DNA report" %}
                  <td class="govuk-table__cell">1 reports</td>
                  {% else %}
                  <td class="govuk-table__cell">2 hours 30 minutes</td>
                {% endif%}

                {% if data['costsAdjusted'] == "Yes" %}
                  <td class="govuk-table__cell">
                    {{data['serviceHours-adjusted'] or "2"}} hours {{data['serviceMinutes-adjusted'] or "30"}} minutes
                  </td>
                {% else %}
                  <td class="govuk-table__cell"></td>
                {% endif%}
                  
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rate</td>
                {% if data['serviceType'] == "Transcription" %}
                  <td class="govuk-table__cell">20 minutes</td>
                  {% elseif data['serviceType'] == "Translation and transcription"%}
                  <td class="govuk-table__cell">20 minutes</td>
                  {% elseif data['serviceType'] == "Translation"%}
                  <td class="govuk-table__cell">20000 words</td>
                  {% elseif data['serviceType'] == "Photocopying"%}
                  <td class="govuk-table__cell">200 pages</td>
                  {% elseif data['serviceType'] == "Other" and data['otherChargeType'] =="Charged by the hour"%}
                  <td class="govuk-table__cell">2 hours 0 minutes</td>
                  {% elseif data['serviceType'] == "Other" %}
                  <td class="govuk-table__cell">2 items</td>
                  {% elseif data['serviceType'] == "DNA report" %}
                  <td class="govuk-table__cell">2 reports</td>
                  {% else %}
                  <td class="govuk-table__cell">£300.00 per hour</td>
                {% endif%}

                {% if data['costsAdjusted'] == "Yes" %}
                  <td class="govuk-table__cell">£{{data['serviceRate-adjusted'] or "300.00"}} per hour</td>
                {% else %}
                  <td class="govuk-table__cell"></td>
                {% endif%}
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Total</td>
                {% if data['primaryTravel'] == "No" %}
                  <td class="govuk-table__cell">£750.00</td>
                  <td class="govuk-table__cell"></td>
                  {% else %}
                  <td class="govuk-table__cell">£750.00</td>
                {% endif %}

                <!--Sum of allowed service costs-->                
                {% set allowedHours = data['serviceHours-adjusted'] | int or 2 %}
                {% set allowedMinutes = data['serviceMinutes-adjusted'] | int or 30 %}
                {% set allowedRate = data['serviceRate-adjusted'] | float or 300.00 %}

                {# Convert time to hours #}
                {% set totalHours = allowedHours + (allowedMinutes / 60) %}

                {# Multiply by rate #}
                {% set allowedTotalService = totalHours * allowedRate %}

                {% if data['costsAdjusted'] == "Yes" %}
                  <td class="govuk-table__cell">£{{ allowedTotalService | round(2) }}</td>
                {% else %}
                  <td class="govuk-table__cell"></td>
                {% endif %}

              </tr>
            </tbody>
          </table> 

 <!--Primary quote - Travel cost-->

          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Travel cost</caption>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-third">Reason why travel costs are required</th>
                <td class="govuk-table__cell">{{data['whyTravel'] or "The service provider lives in a different location"}}</td>
              </tr>
            </tbody>
          </table>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Details</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Requested</th>
                {% if data['costsAdjusted'] == "Yes" %}
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Allowed</th>
                {% else %}
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third"></th>
                {% endif%}
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Amount</td>
                <td class="govuk-table__cell">1 hours 0 minutes</td>
                
                {% if data['costsAdjusted'] == "Yes" %}
                  <td class="govuk-table__cell">{{data['travelHours-adjusted'] or "1"}} hours {{data['travelMinutes-adjusted'] or "0"}} minutes</td>
                {% else %}
                  <td class="govuk-table__cell"></td>
                {% endif %}
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rate</td>
                <td class="govuk-table__cell">£50.00 per hour</td>

                {% if data['costsAdjusted'] == "Yes" %}
                  <td class="govuk-table__cell">£{{data['travelRate-adjusted'] or "50.00"}} per hour</td>
                {% else %}
                  <td class="govuk-table__cell"></td>
                {% endif %}
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Total</td>
                <td class="govuk-table__cell">£50.00</td>

                <!--Sum of allowed travel costs-->                
                {% set allowedHours = data['travelHours-adjusted'] | int or 1 %}
                {% set allowedMinutes = data['travelMinutes-adjusted'] | int or 0 %}
                {% set allowedRate = data['travelRate-adjusted'] | float or 50.00 %}

                {# Convert time to hours #}
                {% set totalHours = allowedHours + (allowedMinutes / 60) %}

                {# Multiply by rate #}
                {% set allowedTotalTravel = totalHours * allowedRate %}

                {% if data['costsAdjusted'] == "Yes" %}
                  <td class="govuk-table__cell">£{{ allowedTotalTravel | round(2) }}</td>
                {% else %}
                  <td class="govuk-table__cell"></td>
                {% endif %}


              </tr>
            </tbody>
          </table> 

<!--Primary quote - Additional cost 1-->

          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Additional cost 1</caption>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-third">Description</th>
                <td class="govuk-table__cell">Junior staff rate</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-third">Reason why additional cost is required</th>
                <td class="govuk-table__cell">Covers the rate for the junior member of staff supporting the senior expert</td>
              </tr>
            </tbody>
          </table>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Details</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Requested</th>
                {% if data['costsAdjusted'] == "Yes" %}
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Allowed</th>
                {% else %}
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third"></th>
                {% endif%}
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Amount</td>
                <td class="govuk-table__cell">2 hours 30 minutes</td>

                {% if data['costsAdjusted'] == "Yes" %}
                  <td class="govuk-table__cell">{{data['additional1Hours-adjusted'] or "2"}} hours {{data['additional1Minutes-adjusted'] or "30"}} minutes</td>
                {% else %}
                  <td class="govuk-table__cell"></td>
                {% endif %}
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rate</td>
                <td class="govuk-table__cell">£100.00 per hour</td>

                {% if data['costsAdjusted'] == "Yes" %}
                  <td class="govuk-table__cell">£{{data['additional1Rate-adjusted'] or "100.00"}} per hour</td>
                {% else %}
                  <td class="govuk-table__cell"></td>
                {% endif %}
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Total</td>
                <td class="govuk-table__cell">£250.00</td>

                <!--Sum of allowed additional cost 1-->                
                {% set allowedHours = data['additional1Hours-adjusted'] | int or 2 %}
                {% set allowedMinutes = data['additional1Minutes-adjusted'] | int or 30 %}
                {% set allowedRate = data['additional1Rate-adjusted'] | float or 100.00 %}

                {# Convert time to hours #}
                {% set totalHours = allowedHours + (allowedMinutes / 60) %}

                {# Multiply by rate #}
                {% set allowedTotalAdditional1 = totalHours * allowedRate %}

                {% if data['costsAdjusted'] == "Yes" %}
                  <td class="govuk-table__cell">£{{ allowedTotalAdditional1 | round(2) }}</td>

                {% else %}
                  <td class="govuk-table__cell"></td>
                {% endif %}
              </tr>
            </tbody>
          </table> 

<!--Primary quote - Additional cost 2-->

          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Additional cost 2</caption>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-third">Description</th>
                <td class="govuk-table__cell">Administration charge</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-third">Reason why additional cost is required</th>
                <td class="govuk-table__cell">Covers the cost of the lab fee</td>
              </tr>
            </tbody>
          </table>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Details</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Requested</th>
                {% if data['costsAdjusted'] == "Yes" %}
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Allowed</th>
                {% else %}
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third"></th>
                {% endif%}
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Quantity</td>
                <td class="govuk-table__cell">5 items</td>
                
                {% if data['costsAdjusted'] == "Yes" %}
                  <td class="govuk-table__cell">{{data['additional2Quantity-adjusted'] or "5"}} items</td>
                {% else %}
                  <td class="govuk-table__cell"></td>
                {% endif %}
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rate</td>
                <td class="govuk-table__cell">£50.00 per item</td>

                {% if data['costsAdjusted'] == "Yes" %}
                  <td class="govuk-table__cell">£{{data['additional2Rate-adjusted'] or "50.00"}} per item</td>
                {% else %}
                  <td class="govuk-table__cell"></td>
                {% endif %}
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Total</td>
                <td class="govuk-table__cell">£250.00</td>

               <!--Sum of allowed additional cost 2-->                
                {% set allowedQuantity = data['additional2Quantity-adjusted'] | int or 5 %}
                {% set allowedRate = data['additional2Rate-adjusted'] | float or 50.00 %}

                {# Multiply by rate #}
                {% set allowedTotalAdditional2 = allowedQuantity * allowedRate %}

                {% if data['costsAdjusted'] == "Yes" %}
                  <td class="govuk-table__cell">£{{ allowedTotalAdditional2 | round(2) }}</td>

                {% else %}
                  <td class="govuk-table__cell"></td>
                {% endif %}
              </tr>
            </tbody>
          </table> 

<!--Primary quote - Total cost-->
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-third">Total cost</th>
                <td class="govuk-table__cell govuk-!-width-one-third"><strong>£1300.00</strong></td>

                {% set allowedTotalAdjusted = allowedTotalService + allowedTotalTravel + allowedTotalAdditional1 + allowedTotalAdditional2 %}

                {% if data['costsAdjusted'] == "Yes" %}
                  <td class="govuk-table__cell govuk-!-width-one-third"><strong>£{{ allowedTotalAdjusted | round(2) }}</strong></td>
                {% else %}
                  <td class="govuk-table__cell govuk-!-width-one-third"><strong></strong></td>
                {% endif%}
              </tr>
            </tbody>
          </table>

        </div>
      </div>