<!--Alternative quote 1-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title" id="review-quote">Alternative quote 1</h3>
          {% if data['costsAdjusted'] == "Yes" or data['quoteGranted'] == "Rejected" or data['cwAppStatus'] == "Part granted" or data['cwAppStatus'] == "Granted" %}
          {% elseif data['quoteGranted'] == "Yes" and data['alternativeQuote'] == "No" %}
          {% elseif data['quoteGranted'] == "Yes" and data['alternativeQuote'] == "Yes" and data['cwAppStatus'] == "In progress" %}
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="application-details-adjust?quoteGranted=No&alternativeQuote=No">Undo selection<span class="govuk-visually-hidden"> alternative quote 1</span></a>
            </li>
          </ul>
          {% else %}
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Adjust costs<span class="govuk-visually-hidden"> alternative quote 1</span></a>
            </li>
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="reason-for-decision?quoteGranted=Yes&alternativeQuote=Yes">Grant quote<span class="govuk-visually-hidden">alternative quote 1</span></a>
            </li>
          </ul>
          {% endif %}
        </div>
        <div class="govuk-summary-card__content">
          
          <dl class="govuk-summary-list govuk-!-margin-bottom-6">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Service provider details
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['expert-first-name'] or "Joanna" }} {{data['expert-last-name'] or "White" }}<br>
                {{data['expert-org-name'] or "DNA Plc" }}, 
                {{data['expert-town'] or "Stepney"}},
                {{data['expert-postcode'] or "E2"}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Quote upload
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="">myquote2.pdf</a>
              </dd>
            </div>

            {% if data['detained'] == "Yes" or data['prisonLaw'] == "Yes" %}
              {% else %}
            {% endif %}
          </dl>

<!--Alt quote 1 - Service cost-->
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Service cost</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Details</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Requested</th>
                {% if data['quoteGranted'] == "Yes" and data['alternativeQuote'] == "Yes" %}
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Allowed</th>
                {% else %}
                <th scope="col" class="govuk-table__header govuk-!-width-one-third"></th>
                {% endif %}
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Amount</td>
                {% if data['serviceType'] == "Transcription" %}
                  <td class="govuk-table__cell">10 minutes</td>
                  {% elseif data['serviceType'] == "Translation and transcription"%}
                  <td class="govuk-table__cell">10 minutes</td>
                  {% elseif data['serviceType'] == "Translation"%}
                  <td class="govuk-table__cell">10000 words</td>
                  {% elseif data['serviceType'] == "Photocopying"%}
                  <td class="govuk-table__cell">100 pages</td>
                  {% elseif data['serviceType'] == "Other" and data['otherChargeType'] =="Charged by the hour"%}
                  <td class="govuk-table__cell">1 hour 0 minutes</td>
                  {% elseif data['serviceType'] == "Other" %}
                  <td class="govuk-table__cell">1 items</td>
                  {% elseif data['serviceType'] == "DNA report" %}
                  <td class="govuk-table__cell">1 reports</td>
                  {% else %}
                  <td class="govuk-table__cell">2 hours 30 minutes</td>
                {% endif %}
                {% if data['quoteGranted'] == "Yes" and data['alternativeQuote'] == "Yes" %}
                  <td class="govuk-table__cell">2 hours 30 minutes</td>
                {% else %}
                  <td class="govuk-table__cell"></td>
                {% endif %}
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rate</td>
                {% if data['serviceType'] == "Transcription" %}
                  <td class="govuk-table__cell">20 minutes</td>
                  {% elseif data['serviceType'] == "Translation and transcription"%}
                  <td class="govuk-table__cell">20 minutes</td>
                  {% elseif data['serviceType'] == "Translation"%}
                  <td class="govuk-table__cell">20000 words</td>
                  {% elseif data['serviceType'] == "Photocopying"%}
                  <td class="govuk-table__cell">200 pages</td>
                  {% elseif data['serviceType'] == "Other" and data['otherChargeType'] =="Charged by the hour"%}
                  <td class="govuk-table__cell">2 hours 0 minutes</td>
                  {% elseif data['serviceType'] == "Other" %}
                  <td class="govuk-table__cell">2 items</td>
                  {% elseif data['serviceType'] == "DNA report" %}
                  <td class="govuk-table__cell">2 reports</td>
                  {% else %}
                  <td class="govuk-table__cell">£200.00 per hour</td>
                {% endif %}
                {% if data['quoteGranted'] == "Yes" and data['alternativeQuote'] == "Yes" %}
                  <td class="govuk-table__cell">£200.00 per hour</td>
                {% else %}
                  <td class="govuk-table__cell"></td>
                {% endif %}
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Total</td>
                {% if data['primaryTravel'] == "No" %}
                  <td class="govuk-table__cell">£500.00</td>
                  <td class="govuk-table__cell"></td>
                  {% else %}
                  <td class="govuk-table__cell">£500.00</td>
                {% endif %}
                {% if data['quoteGranted'] == "Yes" and data['alternativeQuote'] == "Yes" %}
                  <td class="govuk-table__cell">£500.00</td>
                {% else %}
                  <td class="govuk-table__cell"></td>
                {% endif %}
              </tr>
            </tbody>
          </table> 

 <!--Alt quote 1 - Travel cost-->
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <caption class="govuk-table__caption govuk-table__caption--m">Travel cost</caption>
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Details</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Requested</th>
                {% if data['quoteGranted'] == "Yes" and data['alternativeQuote'] == "Yes" %}
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Allowed</th>
                {% else %}
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third"></th>
                {% endif %}
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Amount</td>
                <td class="govuk-table__cell">3 hours 0 minutes</td>
                {% if data['quoteGranted'] == "Yes" and data['alternativeQuote'] == "Yes" %}
                  <td class="govuk-table__cell">3 hours 0 minutes</td>
                {% else %}
                  <td class="govuk-table__cell"></td>
                {% endif %}
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rate</td>
                <td class="govuk-table__cell">£40.00 per hour</td>
                {% if data['quoteGranted'] == "Yes" and data['alternativeQuote'] == "Yes" %}
                  <td class="govuk-table__cell">£40.00 per hour</td>
                {% else %}
                  <td class="govuk-table__cell"></td>
                {% endif %}
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Total</td>
                <td class="govuk-table__cell">£120.00</td>
                {% if data['quoteGranted'] == "Yes" and data['alternativeQuote'] == "Yes" %}
                  <td class="govuk-table__cell">£120.00</td>
                {% else %}
                  <td class="govuk-table__cell"></td>
                {% endif %}
              </tr>
            </tbody>
          </table> 

<!--Alt quote 1 - Additional cost 1-->
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Additional cost 1</caption>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-third">Description</th>
                <td class="govuk-table__cell">Mileage, plane ticket, taxi, car parking</td>
              </tr>
            </tbody>
          </table>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Details</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Requested</th>
                {% if data['quoteGranted'] == "Yes" and data['alternativeQuote'] == "Yes" %}
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Allowed</th>
                {% else %}
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third"></th>
                {% endif %}
              </tr>
            </thead>
            <tbody class="govuk-table__body">             
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Total</td>
                <td class="govuk-table__cell">£30.00</td>
                {% if data['quoteGranted'] == "Yes" and data['alternativeQuote'] == "Yes" %}
                  <td class="govuk-table__cell">£30.00</td>
                {% else %}
                  <td class="govuk-table__cell"></td>
                {% endif %}
              </tr>
            </tbody>
          </table>

<!--Alt quote 1 - Total cost-->
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-third">Total cost</th>
                <td class="govuk-table__cell"><strong>£650.00</strong></td>
                {% if data['quoteGranted'] == "Yes" and data['alternativeQuote'] == "Yes" %}
                  <td class="govuk-table__cell govuk-!-width-one-third"><strong>£650.00</strong></td>
                {% else %}
                  <td class="govuk-table__cell govuk-!-width-one-third"><strong></strong></td>
                {% endif %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>