<span class="govuk-caption-xl">{{data['client-first--name'] or "Roger" }} {{data['client-last--name'] or "Blackbeard" }}</span>
<h1 class="govuk-heading-xl">{{data['laa-ref'] or "LAA-5a7d3c"}}</h1>
{% if data['cwAppStatus'] == "New" or data['cwAppStatus'] == null %}
  {% else %}
  {% if data['cwAppStatus'] == "In progress" %}
    {% else %}
    {% if data['cwAppStatus'] == "Granted" %}
      <strong class="govuk-tag govuk-tag--green">Granted</strong>
      {% else %}
      {% if data['cwAppStatus'] == "Rejected" %}
        <strong class="govuk-tag govuk-tag--red">Rejected</strong>
        {% else %}
        {% if data['cwAppStatus'] == "Review" %}
          <strong class="govuk-tag govuk-tag--yellow">Further information required</strong>
          {% else %}
          {% if data['cwAppStatus'] == "Part granted" %}
            <strong class="govuk-tag govuk-tag--green">Part granted</strong>
            {% else %}
            {% if data['cwAppStatus'] == "Amended" %}
              <strong class="govuk-tag govuk-tag--green">Further information returned</strong>
              {% else %}
              {% if data['cwAppStatus'] == "Referred" %}
                <strong class="govuk-tag govuk-tag--yellow">Referred</strong>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endif %}
<br><br>

<p>
  <span class="govuk-body-l"><strong>Requested:</strong> £{{data['actualdistTotalCost'] or "640"}}.00<br>
  {% if data['cwAppStatus'] == "Part granted" %}
    <span class="govuk-body-l"><strong>Allowed: </strong>£520.00
    {% else %}
    <span class="govuk-body-l"><strong>Allowed: </strong>
    {% if data['cwAppStatus'] == "Granted" %}
      £{{data['actualdistTotalCost'] or "640"}}.00
      {% else %}
      {% if data['cwAppStatus'] == "Rejected" %}
        N/A
      {% endif %}
    {% endif %}
  {% endif %}
</p> 
<p><span class="govuk-body-m"><strong>Assigned to:</strong> {{data['caseworker1']}}</span>
  <br><span class="govuk-body-m"><strong>Date received:</strong> 17th October 2023</span>
  {% if data['cwAppStatus'] == "Granted" or data['cwAppStatus'] == "Part granted" or data ['cwAppStatus'] == "Rejected" %}
    <br><span class="govuk-body-m"><strong>Date assessed:</strong> 21st October 2023</span>
  {% endif %}
</p>
{% if data['cwAppStatus'] == "Granted" or data['cwAppStatus'] == "Part granted" or data ['cwAppStatus'] == "Rejected" %}
  {% else %}
  {{ govukButton({
    text: "Assign application to me",
    href: "application-details-assign"
  }) }}
{% endif %}