<div class="govuk-grid-column-one-third">
  <aside class="app-related-items" role="complementary">
    <h2 class="govuk-heading-s" id="subsection-title">Related applications</h2>
    <nav role="navigation" aria-labelledby="subsection-title">
      <h3><a class="govuk-link govuk-link--no-visited-state" href="application-details-readonly?laa-ref=LAA-2c5g2d&serviceType=Transcription & translation">LAA-2c5g2d</a></h3>
      <p>Cell phone site analysis<br>
        Submitted<br>
        14 Nov 2023
      </p>

      <h3><a class="govuk-link govuk-link--no-visited-state" href="application-details-readonly?laa-ref=LAA-2c5g2d&serviceType=Transcription & translation">LAA-2c5g2d</a></h3>
      <p>Transcription & translation<br>
          Granted<br>
          12 Nov 2023
      </p>

      <h3><a class="govuk-link govuk-link--no-visited-state" href="application-details-readonly?laa-ref=LAA-2c5g2d&serviceType=Transcription & translation">LAA-2c5g2d</a></h3>
      <p>DNA Report<br>
        Part ganted<br>
        31 Oct 2023
      </p>
    </nav>
  </aside>
</div>