<div class="govuk-button-group">
  {{ govukButton({
    text: "Make a decision",
    href: "application-details-confirm-assess"
  }) }}

  {{ govukButton({
    text: "Send back to provider",
    classes: "govuk-button--secondary",
    href: "application-details-confirm-moreinfo"
  }) }}

  {{ govukButton({
    text: "Refer to ICA",
    classes: "govuk-button--secondary",
    href: "application-details-confirm-refer"
  }) }}
</div>

<div class="govuk-button-group">
  {{ govukButton({
    text: "Save and exit",
    classes: "govuk-button--secondary",
    href: "../crm-assess?cwAppState=all"
  }) }}

  {{ govukButton({
    text: "Return to work queue",
    classes: "govuk-button--secondary",
    href: "../crm-assess?cwAppState=all"
  }) }}
</div>