<div class="govuk-form-group">
  <label class="govuk-heading-m" for="expend-type">
    Type of expenditure
  </label>
  <select class="govuk-select" id="expend-type" name="expend-type">
    <option></option>
    <option value="here" {{ "selected" if data["expend-type"] == "here" }}>A&amp;E Consultant</option>
    <option value="there" {{ "selected" if data["expend-type"] == "there" }}>Accident Reconstruction</option>
    <option value="Accountant's report" {{ "selected" if data["expend-type"] == "Accountant's report" }}>Accountant's report</option>
    <option value="Anaesthetist" {{ "selected" if data["expend-type"] == "Anaesthetist" }}>Anaesthetist</option>
    <option value="Animal Behaviourist" {{ "selected" if data["expend-type"] == "Animal Behaviourist" }}>Animal Behaviourist</option>
    <option value="Architect" {{ "selected" if data["expend-type"] == "Architect" }}>Architect</option>
    <option value="Back Calculation" {{ "selected" if data["expend-type"] == "Back Calculation" }}>Back Calculation</option>
    <option value="Benefit Expert" {{ "selected" if data["expend-type"] == "Benefit Expert" }}>Benefit Expert</option>
    <option value="Cardiologist" {{ "selected" if data["expend-type"] == "Cardiologist" }}>Cardiologist</option>
    
    <option value="Child Psychiatrist" {{ "selected" if data["expend-type"] == "Child Psychiatrist" }}>Child Psychiatrist</option>
    <option value="Computer Expert" {{ "selected" if data["expend-type"] == "Computer Expert" }}>Computer Expert</option>
    <option value="Consultant Engineer" {{ "selected" if data["expend-type"] == "Consultant Engineer" }}>Consultant Engineer</option>
    <option value="Court transcription" {{ "selected" if data["expend-type"] == "Court transcription" }}>Court transcription</option>
    <option value="Dentist" {{ "selected" if data["expend-type"] == "Dentist" }}>Dentist</option>
    <option value="Dermatologist" {{ "selected" if data["expend-type"] == "Dermatologist" }}>Dermatologist</option>
    <option value="Disability Consultant" {{ "selected" if data["expend-type"] == "Disability Consultant" }}>Disability Consultant</option>
    <option value="DNA report" {{ "selected" if data["expend-type"] == "DNA report" }}>DNA report</option>
    <option value="Doctor (GP)" {{ "selected" if data["expend-type"] == "Doctor (GP)" }}>Doctor (GP)</option>
    <option value="Drug Expert's report" {{ "selected" if data["expend-type"] == "Drug Expert's report" }}>Drug Expert's report</option>
    <option value="Employment Consultant" {{ "selected" if data["expend-type"] == "Employment Consultant" }}>Employment Consultant</option>
    <option value="Engineer's report" {{ "selected" if data["expend-type"] == "Engineer's report" }}>Engineer's report</option>
    <option value="Enquiry Agent" {{ "selected" if data["expend-type"] == "Enquiry Agent" }}>Enquiry Agent</option>
    <option value="ENT Surgeon" {{ "selected" if data["expend-type"] == "ENT Surgeon" }}>ENT Surgeon</option>
    <option value="Enviromental expert" {{ "selected" if data["expend-type"] == "nviromental expert" }}>Enviromental expert</option>
    <option value="Facial Mapping expert" {{ "selected" if data["expend-type"] == "Facial Mapping expert" }}>Facial Mapping expert</option>
    <option value="Fingerprint Expert" {{ "selected" if data["expend-type"] == "Fingerprint Expert" }}>Fingerprint Expert</option>
    <option value="Fire Investigation report" {{ "selected" if data["expend-type"] == "Fire Investigation report" }}>Fire Investigation report</option>
    <option value="Firearms report" {{ "selected" if data["expend-type"] == "Firearms report" }}>Firearms report</option>
    <option value="Forensic Psychiatrist" {{ "selected" if data["expend-type"] == "Forensic Psychiatrist" }}>Forensic Psychiatrist</option>
    <option value="Forensic Scientist" {{ "selected" if data["expend-type"] == "Forensic Scientist" }}>Forensic Scientist</option>
    <option value="General Surgeon" {{ "selected" if data["expend-type"] == "General Surgeon" }}>General Surgeon</option>
    <option value="Geneticist" {{ "selected" if data["expend-type"] == "Geneticist" }}>Geneticist</option>
    <option value="GP's report" {{ "selected" if data["expend-type"] == "GP's report" }}>GP's report</option>
    <option value="Gynaecologist" {{ "selected" if data["expend-type"] == "Gynaecologist" }}>Gynaecologist</option>
    <option value="Haematologist"{{ "selected" if data["expend-type"] == "Haematologist" }}>Haematologist</option>
    <option value="Handwriting Expert" {{ "selected" if data["expend-type"] == "Handwriting Expert" }}>Handwriting Expert</option>
    <option value="Independent Social Worker" {{ "selected" if data["expend-type"] == "Independent Social Worker" }}>Independent Social Worker</option>
    <option value="Intermediary" {{ "selected" if data["expend-type"] == "Intermediary" }}>Intermediary</option>
    <option value="Interpreter" {{ "selected" if data["expend-type"] == "Interpreter" }}>Interpreter</option>
    <option value="Jewellery valuation" {{ "selected" if data["expend-type"] == "Jewellery valuation" }}>Jewellery valuation</option>
    <option value="Jewellery Valuer / Gemmologist" {{ "selected" if data["expend-type"] == "Jewellery Valuer / Gemmologist" }}>Jewellery Valuer / Gemmologist</option>
    <option value="Lab Fees" {{ "selected" if data["expend-type"] == "Lab Fees" }}>Lab Fees</option>
    <option value="Legal/Prison expert" {{ "selected" if data["expend-type"] == "Legal/Prison expert" }}>Legal/Prison expert</option>
    <option value="Lip-Reader / Signer" {{ "selected" if data["expend-type"] == "Lip-Reader / Signer" }}>Lip-Reader / Signer</option>
    <option value="Obstetrician" {{ "selected" if data["expend-type"] == "Obstetrician" }}>Obstetrician</option>
    <option value="Occupational Therapist" {{ "selected" if data["expend-type"] == "Occupational Therapist" }}>Occupational Therapist</option>
    <option value="Other" {{ "selected" if data["expend-type"] == "Other" }}>Other</option>
    <option value="Oncologist" {{ "selected" if data["expend-type"] == "Oncologist" }}>Oncologist</option>
    <option value="Opthalmologist" {{ "selected" if data["expend-type"] == "Opthalmologist" }}>Opthalmologist</option>
    <option value="Orthopaedic Surgeon" {{ "selected" if data["expend-type"] == "Orthopaedic Surgeon" }}>Orthopaedic Surgeon</option>
    <option value="Mediators Fees" {{ "selected" if data["expend-type"] == "Mediators Fees" }}>Mediators Fees</option>
    <option value="Medical Consultant" {{ "selected" if data["expend-type"] == "Medical Consultant" }}>Medical Consultant</option>
    <option value="Medical Microbiologist" {{ "selected" if data["expend-type"] == "Medical Microbiologist" }}>Medical Microbiologist</option>
    <option value="Medical Report" {{ "selected" if data["expend-type"] == "Medical Report" }}>Medical Report</option>
    <option value="Meteorological report" {{ "selected" if data["expend-type"] == "Meteorological report" }}>Meteorological report</option>
    <option value="Midwife" {{ "selected" if data["expend-type"] == "Midwife" }}>Midwife</option>
    <option value="Mobile phone site analysis" {{ "selected" if data["expend-type"] == "Mobile phone site analysis" }}>Mobile phone site analysis</option>
    <option value="Mortgage Expert's report" {{ "selected" if data["expend-type"] == "Mortgage Expert's report" }}>Mortgage Expert's report</option>
    <option value="Neonatologist" {{ "selected" if data["expend-type"] == "Neonatologist" }}>Neonatologist</option>
    <option value="Neurologist's report" {{ "selected" if data["expend-type"] == "Neurologist's report" }}>Neurologist's report</option>
    <option value="Neuropathologist" {{ "selected" if data["expend-type"] == "Neuropathologist" }}>Neuropathologist</option>
    <option value="Neuropsychiatrist" {{ "selected" if data["expend-type"] == "Neuropsychiatrist" }}>Neuropsychiatrist</option>
    <option value="Neuropsychologist" {{ "selected" if data["expend-type"] == "Neuropsychologist" }}>Neuropsychologist</option>
    <option value="Neuroradiologist" {{ "selected" if data["expend-type"] == "Neuroradiologist" }}>Neuroradiologist</option>
    <option value="Neurosurgeon" {{ "selected" if data["expend-type"] == "Neurosurgeon" }}>Neurosurgeon</option>
    <option value="Nursing Expert" {{ "selected" if data["expend-type"] == "Nursing Expert" }}>Nursing Expert</option>
    <option value="Paediatrician's report" {{ "selected" if data["expend-type"] == "Paediatrician's report" }}>Paediatrician's report</option>
    <option value="Pathologist's report" {{ "selected" if data["expend-type"] == "Pathologist's report" }}>Pathologist's report</option>
    <option value="Pharmacologist" {{ "selected" if data["expend-type"] == "Pharmacologist" }}>Pharmacologist</option>
    <option value="Photocopying" {{ "selected" if data["expend-type"] == "Photocopying" }}>Photocopying</option>
    <option value="Photographer" {{ "selected" if data["expend-type"] == "Photographer" }}>Photographer</option>
    <option value="Physiotherapist" {{ "selected" if data["expend-type"] == "Physiotherapist" }}>Physiotherapist</option>
    <option value="Plastic Surgeon" {{ "selected" if data["expend-type"] == "Plastic Surgeon" }}>Plastic Surgeon</option>
    <option value="Private Investigator" {{ "selected" if data["expend-type"] == "Private Investigator" }}>Private Investigator</option>
    <option value="Process Server" {{ "selected" if data["expend-type"] == "Process Server" }}>Process Server</option>
    <option value="Psychiatric report (Prison Law)" {{ "selected" if data["expend-type"] == "Psychiatric report (Prison Law)" }}>Psychiatric report (Prison Law)</option>
    <option value="Psychiatrist" {{ "selected" if data["expend-type"] == "Psychiatrist" }}>Psychiatrist</option>
    <option value="Psychological report (Prison Law)" {{ "selected" if data["expend-type"] == "Psychological report (Prison Law)" }}>Psychological report (Prison Law)</option>
    <option value="Psychologist" {{ "selected" if data["expend-type"] == "Psychologist" }}>Psychologist</option>
    <option value="Psychologist - Child" {{ "selected" if data["expend-type"] == "Psychologist - Child" }}>Psychologist - Child</option>
    <option value="Radiologist" {{ "selected" if data["expend-type"] == "Radiologist" }}>Radiologist</option>
    <option value="Rheumatologist" {{ "selected" if data["expend-type"] == "Rheumatologist" }}>Rheumatologist</option>
    <option value="Risk Assessment Expert" {{ "selected" if data["expend-type"] == "Risk Assessment Expert" }}>Risk Assessment Expert</option>
    <option value="Sleep expert" {{ "selected" if data["expend-type"] == "Sleep expert" }}>Sleep expert</option>
    <option value="Specialist Barrister (Land, Property, Chancery Law)" {{ "selected" if data["expend-type"] == "Specialist Barrister (Land, Property, Chancery Law)" }}>Specialist Barrister (Land, Property, Chancery Law)</option>
    <option value="Speech Therapist" {{ "selected" if data["expend-type"] == "Speech Therapist" }}>Speech Therapist</option>
    <option value="Surgeon" {{ "selected" if data["expend-type"] == "16" }}>Surgeon</option>
    <option value="Surveyor's report" {{ "selected" if data["expend-type"] == "Surgeon" }}>Surveyor's report</option>
    <option value="Tachograph Expert" {{ "selected" if data["expend-type"] == "Tachograph Expert" }}>Tachograph Expert</option>
    <option value="Telecommunications Expert" {{ "selected" if data["expend-type"] == "Telecommunications Expert" }}>Telecommunications Expert</option>
    <option value="Toxicologist's report" {{ "selected" if data["expend-type"] == "Toxicologist's report" }}>Toxicologist's report</option>
    <option value="Transcription" {{ "selected" if data["expend-type"] == "Transcription" }}>Transcription</option>
    <option value="Translation and Transcription" {{ "selected" if data["expend-type"] == "Translation and Transcription" }}>Translation and Transcription</option>
    <option value="Translator" {{ "selected" if data["expend-type"] == "Translator" }}>Translator</option>
    <option value="Travel / Accommodation" {{ "selected" if data["expend-type"] == "Travel / Accommodation" }}>Travel / Accommodation</option>
    <option value="Urologist" {{ "selected" if data["expend-type"] == "Urologist" }}>Urologist</option>
    <option value="Veterinary report" {{ "selected" if data["expend-type"] == "Veterinary report" }}>Veterinary report</option>
    <option value="Voice Recognition" {{ "selected" if data["expend-type"] == "Voice Recognition" }}>Voice Recognition</option>=
  </select>
</div>