<div class="govuk-form-group">
  <label class="govuk-heading-s" for="main-offence">
    What was the main offence?
  </label>
  <div id="offence-hint" class="govuk-hint">
    Enter the name of an offence, or select one from the suggestions that appear when you start to enter the name.
  </div>
  <select class="govuk-select autocomplete-select" id="main-offence" name="main-offence" aria-describedby="offence-hint">
    <option {{ "selected" if data["main-offence"] == "0" }} value=""></option>
    <option {{ "selected" if data["main-offence"] == "1" }} value="1">Offences against the person</option>
    <option {{ "selected" if data["main-offence"] == "2" }} value="2">Homicide and related grave offences</option>
    <option {{ "selected" if data["main-offence"] == "3" }} value="3">Sexual offences and associated offences against children</option>
    <option {{ "selected" if data["main-offence"] == "4" }} value="4">Burglary</option>
    <option {{ "selected" if data["main-offence"] == "5" }} value="5">Robbery</option>
    <option {{ "selected" if data["main-offence"] == "6" }} value="6">Criminal damage</option>
    <option {{ "selected" if data["main-offence"] == "7" }} value="7">Theft (including taking vehicle without consent)</option>
    <option {{ "selected" if data["main-offence"] == "8" }} value="8">Fraud and forgery and other offences of dishonesty not otherwise categorised</option>
    <option {{ "selected" if data["main-offence"] == "9" }} value="9">Public order offences</option>
    <option {{ "selected" if data["main-offence"] == "10" }} value="10">Drug offences</option>
    <option {{ "selected" if data["main-offence"] == "11" }} value="11">Driving and motor vehicle offences (other than those covered by codes 1, 6 & 7)</option>
    <option {{ "selected" if data["main-offence"] == "12" }} value="12">Other offences</option>
    <option {{ "selected" if data["main-offence"] == "13" }} value="13">Terrorism</option>
    <option {{ "selected" if data["main-offence"] == "14" }} value="14">Anti-social behaviour orders (for applications made prior to 23rd March 2015)</option>
    <option {{ "selected" if data["main-offence"] == "15" }} value="15">Sexual offender orders</option>
    <option {{ "selected" if data["main-offence"] == "16" }} value="16">Other prescribed proceedings</option>

  </select>
</div>