<div class="govuk-form-group">
  <label class="govuk-heading-s" for="main-offence">
    What was the main offence?
  </label>
  <div id="offence-hint" class="govuk-hint">
    Enter the name of an offence, or select one from the suggestions that appear when you start to enter the name.
  </div>
  <select class="govuk-select autocomplete-select" id="main-offence" name="main-offence" aria-describedby="offence-hint">
    <option {{ "selected" if data["main-offence"] == "0" }} value=""></option>
    <option {{ "selected" if data["main-offence"] == "Offences against the person" }} value="Offences against the person">Offences against the person</option>
    <option {{ "selected" if data["main-offence"] == "Homicide and related grave offences" }} value="Homicide and related grave offences">Homicide and related grave offences</option>
    <option {{ "selected" if data["main-offence"] == "Sexual offences and associated offences against children" }} value="Sexual offences and associated offences against children">Sexual offences and associated offences against children</option>
    <option {{ "selected" if data["main-offence"] == "Burglary" }} value="Burglary">Burglary</option>
    <option {{ "selected" if data["main-offence"] == "Robbery" }} value="Robbery">Robbery</option>
    <option {{ "selected" if data["main-offence"] == "Criminal damage" }} value="Criminal damage">Criminal damage</option>
    <option {{ "selected" if data["main-offence"] == "Theft (including taking vehicle without consent)" }} value="Theft (including taking vehicle without consent)">Theft (including taking vehicle without consent)</option>
    <option {{ "selected" if data["main-offence"] == "Fraud and forgery and other offences of dishonesty not otherwise categorised" }} value="Fraud and forgery and other offences of dishonesty not otherwise categorised">Fraud and forgery and other offences of dishonesty not otherwise categorised</option>
    <option {{ "selected" if data["main-offence"] == "Public order offences" }} value="Public order offences">Public order offences</option>
    <option {{ "selected" if data["main-offence"] == "Drug offences" }} value="Drug offences">Drug offences</option>
    <option {{ "selected" if data["main-offence"] == "Driving and motor vehicle offences (other than those covered by codes 1, 6 & 7)" }} value="Driving and motor vehicle offences (other than those covered by codes 1, 6 & 7)">Driving and motor vehicle offences (other than those covered by codes 1, 6 & 7)</option>
    <option {{ "selected" if data["main-offence"] == "Other offences" }} value="Other offences">Other offences</option>
    <option {{ "selected" if data["main-offence"] == "Terrorism" }} value="Terrorism">Terrorism</option>
    <option {{ "selected" if data["main-offence"] == "Anti-social behaviour orders (for applications made prior to 23rd March 2015)" }} value="Anti-social behaviour orders (for applications made prior to 23rd March 2015)">Anti-social behaviour orders (for applications made prior to 23rd March 2015)</option>
    <option {{ "selected" if data["main-offence"] == "Sexual offender orders" }} value="Sexual offender orders">Sexual offender orders</option>
    <option {{ "selected" if data["main-offence"] == "ther prescribed proceedings" }} value="ther prescribed proceedings">Other prescribed proceedings</option>

  </select>
</div>