<nav class="moj-pagination" aria-label="Pagination navigation">
  <ul class="moj-pagination__list">
    <li class="govuk-pagination__item govuk-pagination__item--current"><a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1 of 3">1</a></li>
    <li class="govuk-pagination__item"><a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2 of 3">2</a></li>
    <li class="govuk-pagination__item "><a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3 of 3">3</a></li>
    <li class="govuk-pagination__item  govuk-pagination__next">
      <a class="govuk-link govuk-pagination__link" href="#" rel="next">
      <span class="govuk-pagination__link-title">
        Next<span class="govuk-visually-hidden"> page</span>
      </span>
      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
    </a>
    </li>
  </ul>
  <p class="moj-pagination__results">Showing <b>1</b> to <b>10</b> of <b>22</b> items</p>
</nav> 