<div class="govuk-form-group">
 <label class="govuk-heading-s" for="prisons">
    Where is your client detained?
 </label>
 <select class="govuk-select autocomplete-select" id="prisons" name="prisons" autocomplete-placeholder="Search by prison name">
   <option></option> 
   <option {{ "selected" if data["prisons"] == "Acklington" }} value="Acklington">Acklington</option>
   <option {{ "selected" if data["prisons"] == "Albany" }} value="Albany">Albany</option>
   <option {{ "selected" if data["prisons"] == "Altcourse" }} value="Altcourse">Altcourse</option>
   <option {{ "selected" if data["prisons"] == "Ashfield" }} value="Ashfield">Ashfield</option>
   <option {{ "selected" if data["prisons"] == "Ashwell" }} value="Ashwell">Ashwell</option>
   <option {{ "selected" if data["prisons"] == "Askham Grange" }} value="Askham Grange">Askham Grange</option>
   <option {{ "selected" if data["prisons"] == "Aylesbury" }} value="Aylesbury">Aylesbury</option>
   <option {{ "selected" if data["prisons"] == "Bedford" }} value="Bedford">Bedford</option>
   <option {{ "selected" if data["prisons"] == "Belmarsh" }} value="Belmarsh">Belmarsh</option>
   <option {{ "selected" if data["prisons"] == "Birmingham" }} value="Birmingham">Birmingham</option>
   <option {{ "selected" if data["prisons"] == "Blantyre House" }} value="Blantyre House">Blantyre House</option>
   <option {{ "selected" if data["prisons"] == "Blundeston" }} value="Blundeston">Blundeston</option>
   <option {{ "selected" if data["prisons"] == "Brinsford" }} value="Brinsford">Brinsford</option>
   <option {{ "selected" if data["prisons"] == "Bristol" }} value="Bristol">Bristol</option>
   <option {{ "selected" if data["prisons"] == "Brixton" }} value="Brixton">Brixton</option>
   <option {{ "selected" if data["prisons"] == "Bronzefield" }} value="Bronzefield">Bronzefield</option>
   <option {{ "selected" if data["prisons"] == "Buckley Hall" }} value="Buckley Hall">Buckley Hall</option>
   <option {{ "selected" if data["prisons"] == "Bullingdon" }} value="Bullingdon">Bullingdon</option>
   <option {{ "selected" if data["prisons"] == "Bullwood Hall" }} value="Bullwood Hall">Bullwood Hall</option>
   <option {{ "selected" if data["prisons"] == "Bure" }} value="Bure">Bure</option>
   <option {{ "selected" if data["prisons"] == "Camp Hill" }} value="Camp Hill">Camp Hill</option>
   <option {{ "selected" if data["prisons"] == "Canterbury" }} value="Canterbury">Canterbury</option>
   <option {{ "selected" if data["prisons"] == "Cardiff" }} value="Cardiff">Cardiff</option>
   <option {{ "selected" if data["prisons"] == "Castington" }} value="Castington">Castington</option>
   <option {{ "selected" if data["prisons"] == "Channings Wood" }} value="Channings Wood">Channings Wood</option>
   <option {{ "selected" if data["prisons"] == "Chelmsford" }} value="Chelmsford">Chelmsford</option>
   <option {{ "selected" if data["prisons"] == "Coldingley" }} value="Coldingley">Coldingley</option>
   <option {{ "selected" if data["prisons"] == "Cookham Wood" }} value="Cookham Wood">Cookham Wood</option>
   <option {{ "selected" if data["prisons"] == "Dartmoor" }} value="Dartmoor">Dartmoor</option>
   <option {{ "selected" if data["prisons"] == "Deerbolt" }} value="Deerbolt">Deerbolt</option>
   <option {{ "selected" if data["prisons"] == "Doncaster" }} value="Doncaster">Doncaster</option>
   <option {{ "selected" if data["prisons"] == "Dorchester" }} value="Dorchester">Dorchester</option>
   <option {{ "selected" if data["prisons"] == "Dovegate" }} value="Dovegate">Dovegate</option>
   <option {{ "selected" if data["prisons"] == "Dover(Irc)" }} value="Dover(Irc)">Dover(Irc)</option>
   <option {{ "selected" if data["prisons"] == "Downview" }} value="Downview">Downview</option>
   <option {{ "selected" if data["prisons"] == "Drake Hall" }} value="Drake Hall">Drake Hall</option>
   <option {{ "selected" if data["prisons"] == "Durham" }} value="Durham">Durham</option>
   <option {{ "selected" if data["prisons"] == "East Sutton Park" }} value="East Sutton Park">East Sutton Park</option>
   <option {{ "selected" if data["prisons"] == "Eastwood Park" }} value="Eastwood Park">Eastwood Park</option>
   <option {{ "selected" if data["prisons"] == "Edmunds Hill" }} value="Edmunds Hill">Edmunds Hill</option>
   <option {{ "selected" if data["prisons"] == "Elmley" }} value="Elmley">Elmley</option>
   <option {{ "selected" if data["prisons"] == "Erlestoke" }} value="Erlestoke">Erlestoke</option>
   <option {{ "selected" if data["prisons"] == "Everthorpe" }} value="Everthorpe">Everthorpe</option>
   <option {{ "selected" if data["prisons"] == "Exeter" }} value="Exeter">Exeter</option>
   <option {{ "selected" if data["prisons"] == "Featherstone" }} value="Featherstone">Featherstone</option>
   <option {{ "selected" if data["prisons"] == "Feltham" }} value="Feltham">Feltham</option>
   <option {{ "selected" if data["prisons"] == "Ford" }} value="Ford">Ford</option>
   <option {{ "selected" if data["prisons"] == "Forest Bank" }} value="Forest Bank">Forest Bank</option>
   <option {{ "selected" if data["prisons"] == "Foston Hall" }} value="Foston Hall">Foston Hall</option>
   <option {{ "selected" if data["prisons"] == "Frankland" }} value="Frankland">Frankland</option>
   <option {{ "selected" if data["prisons"] == "Full Sutton" }} value="Full Sutton">Full Sutton</option>
   <option {{ "selected" if data["prisons"] == "Garth" }} value="Garth">Garth</option>
   <option {{ "selected" if data["prisons"] == "Gartree" }} value="Gartree">Gartree</option>
   <option {{ "selected" if data["prisons"] == "Glen Parva" }} value="Glen Parva">Glen Parva</option>
   <option {{ "selected" if data["prisons"] == "Gloucester" }} value="Gloucester">Gloucester</option>
   <option {{ "selected" if data["prisons"] == "Grendon" }} value="Grendon">Grendon</option>
   <option {{ "selected" if data["prisons"] == "Guys Marsh" }} value="Guys Marsh">Guys Marsh</option>
   <option {{ "selected" if data["prisons"] == "Haslar(Irc)" }} value="Haslar(Irc)">Haslar(Irc)</option>
   <option {{ "selected" if data["prisons"] == "Haverigg" }} value="Haverigg">Haverigg</option>
   <option {{ "selected" if data["prisons"] == "Hewell" }} value="Hewell">Hewell</option>
   <option {{ "selected" if data["prisons"] == "Highdown" }} value="Highdown">Highdown</option>
   <option {{ "selected" if data["prisons"] == "Highpoint South" }} value="Highpoint South">Highpoint South</option>
   <option {{ "selected" if data["prisons"] == "Hindley" }} value="Hindley">Hindley</option>
   <option {{ "selected" if data["prisons"] == "Hollesley Bay" }} value="Hollesley Bay">Hollesley Bay</option>
   <option {{ "selected" if data["prisons"] == "Holloway" }} value="Holloway">Holloway</option>
   <option {{ "selected" if data["prisons"] == "Holme House" }} value="Holme House">Holme House</option>
   <option {{ "selected" if data["prisons"] == "Hull" }} value="Hull">Hull</option>
   <option {{ "selected" if data["prisons"] == "Huntercombe" }} value="Huntercombe">Huntercombe</option>
   <option {{ "selected" if data["prisons"] == "Kennet" }} value="Kennet">Kennet</option>
   <option {{ "selected" if data["prisons"] == "Kingston" }} value="Kingston">Kingston</option>
   <option {{ "selected" if data["prisons"] == "Kirkham" }} value="Kirkham">Kirkham</option>
   <option {{ "selected" if data["prisons"] == "Kirklevington" }} value="Kirklevington">Kirklevington</option>
   <option {{ "selected" if data["prisons"] == "Lancaster Castle" }} value="Lancaster Castle">Lancaster Castle</option>
   <option {{ "selected" if data["prisons"] == "Lancaster Farms" }} value="Lancaster Farms">Lancaster Farms</option>
   <option {{ "selected" if data["prisons"] == "Latchmere House" }} value="Latchmere House">Latchmere House</option>
   <option {{ "selected" if data["prisons"] == "Leeds" }} value="Leeds">Leeds</option>
   <option {{ "selected" if data["prisons"] == "Leicester" }} value="Leicester">Leicester</option>
   <option {{ "selected" if data["prisons"] == "Lewes" }} value="Lewes">Lewes</option>
   <option {{ "selected" if data["prisons"] == "Leyhill" }} value="Leyhill">Leyhill</option>
   <option {{ "selected" if data["prisons"] == "Lincoln" }} value="Lincoln">Lincoln</option>
   <option {{ "selected" if data["prisons"] == "Lindholme(Irc)" }} value="Lindholme(Irc)">Lindholme(Irc)</option>
   <option {{ "selected" if data["prisons"] == "Lindholme(Irc)" }} value="Lindholme(Irc)">Littlehey</option>
   <option {{ "selected" if data["prisons"] == "Lindholme(Irc)" }} value="Lindholme(Irc)">Liverpool</option>
   <option {{ "selected" if data["prisons"] == "Long Lartin" }} value="Long Lartin">Long Lartin</option>
   <option {{ "selected" if data["prisons"] == "Low Newton" }} value="Low Newton">Low Newton</option>
   <option {{ "selected" if data["prisons"] == "Lowdham Grange" }} value="Lowdham Grange">Lowdham Grange</option>
   <option {{ "selected" if data["prisons"] == "Maidstone" }} value="Maidstone">Maidstone</option>
   <option {{ "selected" if data["prisons"] == "Manchester" }} value="Manchester">Manchester</option>
   <option {{ "selected" if data["prisons"] == "Moorland (Closed)" }} value="Moorland (Closed)">Moorland (Closed)</option>
   <option {{ "selected" if data["prisons"] == "Moorland (Open)" }} value="Moorland (Open)">Moorland (Open)</option>
   <option {{ "selected" if data["prisons"] == "AcklingtMorton Hallon" }} value="Morton Hall">Morton Hall</option>
   <option {{ "selected" if data["prisons"] == "Mount" }} value="Mount">Mount</option>
   <option {{ "selected" if data["prisons"] == "New Hall" }} value="New Hall">New Hall</option>
   <option {{ "selected" if data["prisons"] == "North Sea Camp" }} value="North Sea Camp">North Sea Camp</option>
   <option {{ "selected" if data["prisons"] == "Northallerton" }} value="Northallerton">Northallerton</option>
   <option {{ "selected" if data["prisons"] == "Norwich" }} value="Norwich">Norwich</option>
   <option {{ "selected" if data["prisons"] == "Acklington" }} value="Nottingham">Nottingham</option>
   <option {{ "selected" if data["prisons"] == "Onley" }} value="Onley">Onley</option>
   <option {{ "selected" if data["prisons"] == "Parc" }} value="Parc">Parc</option>
   <option {{ "selected" if data["prisons"] == "Parkhurst" }} value="Parkhurst">Parkhurst</option>
   <option {{ "selected" if data["prisons"] == "Pentonville" }} value="Pentonville">Pentonville</option>
   <option {{ "selected" if data["prisons"] == "Peterborough" }} value="Peterborough">Peterborough</option>
   <option {{ "selected" if data["prisons"] == "Portland" }} value="Portland">Portland</option>
   <option {{ "selected" if data["prisons"] == "Prescoed" }} value="Prescoed">Prescoed</option>
   <option {{ "selected" if data["prisons"] == "Preston" }} value="Preston">Preston</option>
   <option {{ "selected" if data["prisons"] == "Ranby" }} value="Ranby">Ranby</option>
   <option {{ "selected" if data["prisons"] == "Acklington" }} value="Reading">Reading</option>
   <option {{ "selected" if data["prisons"] == "Risley" }} value="Risley">Risley</option>
   <option {{ "selected" if data["prisons"] == "Rochester" }} value="Rochester">Rochester</option>
   <option {{ "selected" if data["prisons"] == "Rye Hill" }} value="Rye Hill">Rye Hill</option>
   <option {{ "selected" if data["prisons"] == "Send" }} value="Send">Send</option>
   <option {{ "selected" if data["prisons"] == "Shepton Mallet" }} value="Shepton Mallet">Shepton Mallet</option>
   <option {{ "selected" if data["prisons"] == "Shrewsbury" }} value="Shrewsbury">Shrewsbury</option>
   <option {{ "selected" if data["prisons"] == "Spring Hill" }} value="Spring Hill">Spring Hill</option>
   <option {{ "selected" if data["prisons"] == "Stafford" }} value="Stafford">Stafford</option>
   <option {{ "selected" if data["prisons"] == "Standford Hill" }} value="Standford Hill">Standford Hill</option>
   <option {{ "selected" if data["prisons"] == "Stocken" }} value="Stocken">Stocken</option>
   <option {{ "selected" if data["prisons"] == "Stoke Heath" }} value="Stoke Heath">Stoke Heath</option>
   <option {{ "selected" if data["prisons"] == "Styal" }} value="Styal">Styal</option>
   <option {{ "selected" if data["prisons"] == "Sudbury" }} value="Sudbury">Sudbury</option>
   <option {{ "selected" if data["prisons"] == "Swaleside" }} value="Swaleside">Swaleside</option>
   <option {{ "selected" if data["prisons"] == "Swansea" }} value="Swansea">Swansea</option>
   <option {{ "selected" if data["prisons"] == "Swinfen Hall" }} value="Swinfen Hall">Swinfen Hall</option>
   <option {{ "selected" if data["prisons"] == "Thorn Cross" }} value="Thorn Cross">Thorn Cross</option>
   <option {{ "selected" if data["prisons"] == "Usk" }} value="Usk">Usk</option>
   <option {{ "selected" if data["prisons"] == "Verne" }} value="Verne">Verne</option>
   <option {{ "selected" if data["prisons"] == "Wakefield" }} value="Wakefield">Wakefield</option>
   <option {{ "selected" if data["prisons"] == "Wandsworth" }} value="Wandsworth">Wandsworth</option>
   <option {{ "selected" if data["prisons"] == "Warren Hill" }} value="Warren Hill">Warren Hill</option>
   <option {{ "selected" if data["prisons"] == "Wayland" }} value="Wayland">Wayland</option>
   <option {{ "selected" if data["prisons"] == "Wealstun" }} value="Wealstun">Wealstun</option>
   <option {{ "selected" if data["prisons"] == "Wellingborough" }} value="Wellingborough">Wellingborough</option>
   <option {{ "selected" if data["prisons"] == "Werrington" }} value="Werrington">Werrington</option>
   <option {{ "selected" if data["prisons"] == "Wetherby" }} value="Wetherby">Wetherby</option>
   <option {{ "selected" if data["prisons"] == "Whatton" }} value="Whatton">Whatton</option>
   <option {{ "selected" if data["prisons"] == "Whitemoor" }} value="Whitemoor">Whitemoor</option>
   <option {{ "selected" if data["prisons"] == "Winchester" }} value="Winchester">Winchester</option>
   <option {{ "selected" if data["prisons"] == "Wolds" }} value="Wolds">Wolds</option>
   <option {{ "selected" if data["prisons"] == "Woodhill" }} value="Woodhill">Woodhill</option>
   <option {{ "selected" if data["prisons"] == "Wormwood" }} value="Wormwood">Wormwood</option>
 </select> 
</div>
    
