{{ mojPrimaryNavigation({
  label: 'Primary navigation',
  items: [
    {
      text: 'Your applications',
      href: '/' + version + '/caseworker/crm-assess',
      active: + activePrimeNav[0] | default('true')
    },
    {
      text: 'Open applications',
      href: '/' + version + '/caseworker/crm-assess-open',
      active: + activePrimeNav[1]
    },
    {
      text: 'Open appeals',
      href: '/' + version + '/caseworker/crm-assess-appeals',
      active: + activePrimeNav[2]
    },
    {
      text: 'Closed applications',
      href: '/' + version + '/caseworker/crm-assess-closed',
      active: + activePrimeNav[3]
    },
    {
      text: 'Search',
      href: '/' + version + '/caseworker/crm-assess-search',
      active: + activePrimeNav[4]
    }
  ]
}) }}