{% extends "layouts/main.html" %}
{% set version = "latest-nsm" %}

{% block header %}
  {% include version +"/includes/header2.html"%}
{% endblock %}

{% block pageTitle %}
  What stage has been reached? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['changeClaim'] =="change" %}
        <form class="form" action="/change-stageProvider" method="post">
        {% else %}
        <form class="form" action="/question-stageProvider" method="post">
      {% endif %}

      
        {{ govukRadios({
          name: "stageProvider",
          fieldset: {
            legend: {
              text: "Was this case worked on in an office in an undesignated area?",
              classes: "govuk-fieldset__legend--xl",
              isPageHeading: true            
              }
          },
          hint: {
            text: "You may be able to claim travel time and waiting time if the office is in an undesignated area."
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("stageProvider", "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: checked("stageProvider", "No")
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

        </div>

      </form>

    </div>
  </div>

{% endblock %}