{% extends "layouts/main.html" %}
{% set version = "latest-nsm" %}

{% block header %}
  {% include version +"/includes/header-provider.html"%}
{% endblock %}


{% block pageTitle %}
  Work items- {{data['laa-ref'] or "LAA-5a7d3c"}} – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <!-- Header -->
    {% if data['add3'] =="4" %}
      <h1 class="govuk-heading-xl">Check your work items</h1>
      {{ govukButton({
        text: "Add another work item",
        classes: "govuk-button--secondary",
        href: ""
      }) }}
      {% elseif data['add3'] =="3" %}
        <h1 class="govuk-heading-xl">Check your work items</h1>
        {{ govukButton({
          text: "Add another work item",
          classes: "govuk-button--secondary",
          href: "add-work-item3?add3=4"
        }) }}
      {% elseif data['add3'] =="2" %}
        <h1 class="govuk-heading-xl">Check your work items</h1>
        {{ govukButton({
          text: "Add another work item",
          classes: "govuk-button--secondary",
          href: "add-work-item3?add3=3"
        }) }}
      {% elseif data['add3'] =="1" %}
        <h1 class="govuk-heading-xl">Check your work items</h1>
        {{ govukButton({
            text: "Add another work item",
            classes: "govuk-button--secondary",
            href: "add-work-item3?add3=2"
          }) }}
    {% endif %}

    <!-- Table -->
    {% if data['add3'] =="4"%}
      <table class="govuk-table" data-module="moj-sortable-table">
        <caption class="govuk-visually-hidden">Claimed work items</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col" aria-sort="ascending" id="itemTitle">Item</th>
            <th class="govuk-table__header" scope="col" aria-sort="none">Cost type</th>
            <th class="govuk-table__header" scope="col" aria-sort="none">Date</th>
            <th class="govuk-table__header" scope="col" aria-sort="none">Fee earner</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col" aria-sort="none">Time </th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" id="item1">1</th>
            <th scope="row" class="govuk-table__header"><a href="add-work-item3-view?view3=1" id="workType1" aria-labelledby="itemTitle item1 workTypeA">{{data['workTypeA'] or "Waiting"}}</a></th>
            <td class="govuk-table__cell">{{data['completionDateA-day'] or "1"}} January {{data['completionDateA-year'] or "2024"}}</td>
            <td class="govuk-table__cell">{{data['feeEarnerA'] or "ET"}}</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">{{data['otherNoHoursA-hours'] or "1"}}:{{data['otherNoHoursA-mins'] or "00"}}</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="duplicate itemTitle item1 workTypeA" id="duplicate" class="govuk-link" href="add-work-item3?duplicate3=1">Duplicate</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="delete itemTitle item1 workTypeA" id="delete" class="govuk-link" href="add-work-item3?delete3=1">Delete</a>
                </li>
              </ul>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" id="item2">2</th>
            <th scope="row" class="govuk-table__header"><a href="add-work-item3-view?view3=2" id="workType2" aria-labelledby="itemTitle item2 workTypeB">{{data['workTypeB'] or "Travel"}}</a></th>
            <td class="govuk-table__cell">{{data['completionDateB-day'] or "23"}} March {{data['completionDateB-year'] or "2024"}}</td>
            <td class="govuk-table__cell">{{data['feeEarnerB'] or "ET"}}</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">{{data['otherNoHoursB-hours'] or "1"}}:{{data['otherNoHoursB-mins'] or "00"}}</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="duplicate itemTitle item2 workTypeB" id="duplicate" class="govuk-link" href="add-work-item3">Duplicate</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="delete itemTitle item2 workTypeB" id="delete" class="govuk-link" href="add-work-item3?delete3=2">Delete</a>
                </li>
              </ul>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" id="item3">3</th>
            <th scope="row" class="govuk-table__header"><a href="add-work-item3-view?view3=3" id="workType3" aria-labelledby="itemTitle item3 workTypeC">{{data['workTypeC'] or "Preparation"}}</a></th>
            <td class="govuk-table__cell">{{data['completionDateC-day'] or "4"}} May {{data['completionDateC-year'] or "2024"}}</td>
            <td class="govuk-table__cell">{{data['feeEarnerC'] or "ET"}}</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">{{data['otherNoHoursC-hours'] or "1"}}:{{data['otherNoHoursC-mins'] or "00"}}</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="duplicate itemTitle item3 workTypeC" id="duplicate" class="govuk-link" href="add-work-item3">Duplicate</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="delete itemTitle item3 workTypeC" id="delete" class="govuk-link" href="add-work-item3?delete3=3">Delete</a>
                </li>
              </ul>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" id="itemN">4</th>
            <th scope="row" class="govuk-table__header"><a href="4" id="workTypeN" aria-labelledby="itemTitle itemN workTypeN">Travel</a></th>
            <td class="govuk-table__cell">7 Jan 2024</td>
            <td class="govuk-table__cell">GL</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2:00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="duplicate itemTitle itemN workTypeN" id="duplicate" class="govuk-link" href="#">Duplicate</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="delete itemTitle itemN workTypeN" id="delete" class="govuk-link" href="#">Delete</a>
                </li>
              </ul>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" id="itemN">5</td>
            <th scope="row" class="govuk-table__header"><a href="5" id="workTypeN" aria-labelledby="itemTitle itemN workTypeN">Attendance without counsel </a></th>
            <td class="govuk-table__cell">23 Jan 2024</td>
            <td class="govuk-table__cell">RT</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">4:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="duplicate itemTitle itemN workTypeN" id="duplicate" class="govuk-link" href="#">Duplicate</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="delete itemTitle itemN workTypeN" id="delete" class="govuk-link" href="#">Delete</a>
                </li>
              </ul>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" id="itemN">6</td>
            <th scope="row" class="govuk-table__header"><a href="6" id="workTypeN" id="workTypeN" aria-labelledby="itemTitle itemN workTypeN">Attendance with counsel </a></td>
            <td class="govuk-table__cell">23 Jan 2024</td>
            <td class="govuk-table__cell">RT</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">4:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="duplicate itemTitle itemN workTypeN" id="duplicate" class="govuk-link" href="#">Duplicate</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="delete itemTitle itemN workTypeN" id="delete" class="govuk-link" href="#">Delete</a>
                </li>
              </ul>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" id="itemN">7</td>
              <th scope="row" class="govuk-table__cell"><a href="7" id="workTypeN" aria-labelledby="itemTitle itemN workTypeN">Preparation</a></th>
            <td class="govuk-table__cell">23 Jan 2024</td>
            <td class="govuk-table__cell">RT</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">4:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="duplicate itemTitle itemN workTypeN" id="duplicate" class="govuk-link" href="#">Duplicate</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="delete itemTitle itemN workTypeN" id="delete" class="govuk-link" href="#">Delete</a>
                </li>
              </ul>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" id="itemN">8</th>
            <th scope="row" class="govuk-table__header"><a href="8" id="workTypeN" aria-labelledby="itemTitle itemN workTypeN">Attendance without counsel </a></th>
            <td class="govuk-table__cell">23 Jan 2024</td>
            <td class="govuk-table__cell">RT</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">4:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="duplicate itemTitle itemN workTypeN" id="duplicate" class="govuk-link" href="#">Duplicate</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="delete itemTitle itemN workTypeN" id="delete" class="govuk-link" href="#">Delete</a>
                </li>
              </ul>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" id="itemN">9</th>
            <th scope="row" class="govuk-table__cell"><a href="9" id="workTypeN" aria-labelledby="itemTitle itemN workTypeN">Preparation</a></th>
            <td class="govuk-table__cell">23 Jan 2024</td>
            <td class="govuk-table__cell">RT</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">4:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="duplicate itemTitle itemN workTypeN" id="duplicate" class="govuk-link" href="#">Duplicate</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="delete itemTitle itemN workTypeN" id="delete" class="govuk-link" href="#">Delete</a>
                </li>
              </ul>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" id="itemN">10</th>
            <th scope="row" class="govuk-table__header"><a href="10" id="workTypeN" aria-labelledby="itemTitle itemN workTypeN">Attendance with counsel </a></th>
            <td class="govuk-table__cell">25 Jan 2024</td>
            <td class="govuk-table__cell">RT</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">4:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="duplicate itemTitle itemN workTypeN" id="duplicate" class="govuk-link" href="#">Duplicate</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="delete itemTitle itemN workTypeN" id="delete" class="govuk-link" href="#">Delete</a>
                </li>
              </ul>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" id="itemN">11</th>
            <th scope="row" class="govuk-table__header"><a href="11" id="workTypeN" aria-labelledby="itemTitle itemN workTypeN">Attendance with counsel </a></th>
            <td class="govuk-table__cell">25 Jan 2024</td>
            <td class="govuk-table__cell">RT</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">4:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="duplicate itemTitle itemN workTypeN" id="duplicate" class="govuk-link" href="#">Duplicate</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="delete itemTitle itemN workTypeN" id="delete" class="govuk-link" href="#">Delete</a>
                </li>
              </ul>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" id="itemN">12</th>
            <th scope="row" class="govuk-table__header"><a href="#" id="workTypeN" aria-labelledby="itemTitle itemN workTypeN">Attendance with counsel </a></td>
            <td class="govuk-table__cell">25 Jan 2024</td>
            <td class="govuk-table__cell">RT</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">4:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="duplicate itemTitle itemN workTypeN" id="duplicate" class="govuk-link" href="#">Duplicate</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="delete itemTitle itemN workTypeN" id="delete" class="govuk-link" href="#">Delete</a>
                </li>
              </ul>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" id="itemN">13</th>
            <th scope="row" class="govuk-table__header"><a href="13" id="workTypeN" aria-labelledby="itemTitle itemN workTypeN">Attendance with counsel </a></td>
            <td class="govuk-table__cell">25 Jan 2024</td>
            <td class="govuk-table__cell">RT</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">4:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="duplicate itemTitle itemN workTypeN" id="duplicate" class="govuk-link" href="#">Duplicate</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="delete itemTitle itemN workTypeN" id="delete" class="govuk-link" href="#">Delete</a>
                </li>
              </ul>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" id="itemN">14</th>
            <th scope="row" class="govuk-table__header"><a href="14" id="workTypeN" aria-labelledby="itemTitle itemN workTypeN">Advocacy</a></td>
            <td class="govuk-table__cell">30 Jan 2024</td>
            <td class="govuk-table__cell">RT</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">4:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="duplicate itemTitle itemN workTypeN" id="duplicate" class="govuk-link" href="#">Duplicate</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="delete itemTitle itemN workTypeN" id="delete" class="govuk-link" href="#">Delete</a>
                </li>
              </ul>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" id="itemN">15</th>
            <th scope="row" class="govuk-table__header"><a href="15" id="workTypeN" aria-labelledby="itemTitle itemN workTypeN">Attendance with counsel </a></td>
            <td class="govuk-table__cell">30 Jan 2024</td>
            <td class="govuk-table__cell">RT</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">4:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="duplicate itemTitle itemN workTypeN" id="duplicate" class="govuk-link" href="#">Duplicate</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="delete itemTitle itemN workTypeN" id="delete" class="govuk-link" href="#">Delete</a>
                </li>
              </ul>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" id="itemN">16</th>
            <th scope="row" class="govuk-table__header"><a href="16" id="workTypeN" aria-labelledby="itemTitle itemN workTypeN">Attendance with counsel </a></th>
            <td class="govuk-table__cell">30 Jan 2024</td>
            <td class="govuk-table__cell">RT</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">4:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="duplicate itemTitle itemN workTypeN" id="duplicate" class="govuk-link" href="#">Duplicate</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="delete itemTitle itemN workTypeN" id="delete" class="govuk-link" href="#">Delete</a>
                </li>
              </ul>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" id="itemN">17</th>
            <th scope="row" class="govuk-table__header"><a href="17" id="workTypeN" aria-labelledby="itemTitle itemN workTypeN">Attendance without counsel </a></th>
            <td class="govuk-table__cell">01 Feb 2024</td>
            <td class="govuk-table__cell">RT</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">4:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="duplicate itemTitle itemN workTypeN" id="duplicate" class="govuk-link" href="#">Duplicate</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="delete itemTitle itemN workTypeN" id="delete" class="govuk-link" href="#">Delete</a>
                </li>
              </ul>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" id="itemN">18</th>
            <th scope="row" class="govuk-table__header"><a href="18" id="workTypeN" aria-labelledby="itemTitle itemN workTypeN">Attendance without counsel </a></th>
            <td class="govuk-table__cell">04 Feb 2024</td>
            <td class="govuk-table__cell">RT</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">4:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="duplicate itemTitle itemN workTypeN" id="duplicate" class="govuk-link" href="#">Duplicate</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="delete itemTitle itemN workTypeN" id="delete" class="govuk-link" href="#">Delete</a>
                </li>
              </ul>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" id="itemN">19</th>
            <th scope="row" class="govuk-table__header"><a href="19" id="workTypeN" aria-labelledby="itemTitle itemN workTypeN">Attendance without counsel </a></th>
            <td class="govuk-table__cell">04 Feb 2024</td>
            <td class="govuk-table__cell">RT</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">4:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="duplicate itemTitle itemN workTypeN" id="duplicate" class="govuk-link" href="#">Duplicate</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="delete itemTitle itemN workTypeN" id="delete" class="govuk-link" href="#">Delete</a>
                </li>
              </ul>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" id="itemN">20</th>
            <th scope="row" class="govuk-table__header"><a href="20" id="workTypeN" aria-labelledby="itemTitle itemN workTypeN">Advocacy</a></th>
            <td class="govuk-table__cell">04 Feb 2024</td>
            <td class="govuk-table__cell">RT</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">4:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="duplicate itemTitle itemN workTypeN" id="duplicate" class="govuk-link" href="#">Duplicate</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="delete itemTitle itemN workTypeN" id="delete" class="govuk-link" href="#">Delete</a>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <nav class="moj-pagination" aria-label="Pagination navigation">
        <ul class="moj-pagination__list">
          <li class="govuk-pagination__item govuk-pagination__item--current"><a class="govuk-link govuk-pagination__link" href="review-all-work-items3a" aria-label="Page 1 of 2">1</a></li>
          <li class="govuk-pagination__item"><a class="govuk-link govuk-pagination__link" href="review-all-work-items3b" aria-label="Page 2 of 2">2</a></li>
          <li class="govuk-pagination__item  govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="review-all-work-items3b" rel="next">
            <span class="govuk-pagination__link-title">
              Next<span class="govuk-visually-hidden"> page</span>
            </span>
            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </a>
          </li>
        </ul>
        <p class="moj-pagination__results">Showing <b>1</b> to <b>20</b> of <b>24</b> work items</p>
      </nav>

      {% else %}
      <table class="govuk-table" data-module="moj-sortable-table">
        <caption class="govuk-visually-hidden">Claimed work items</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col" aria-sort="ascending" id="itemTitle">Item</th>
            <th class="govuk-table__header" scope="col" aria-sort="none">Cost type</th>
            <th class="govuk-table__header" scope="col" aria-sort="none">Date</th>
            <th class="govuk-table__header" scope="col" aria-sort="none">Fee earner</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col" aria-sort="none">Time </th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" id="item1">1</th>
            <th scope="row" class="govuk-table__header"><a href="add-work-item3-view?view3=1" id="workType1" aria-labelledby="itemTitle item1 workTypeA">{{data['workTypeA'] or "Waiting"}}</a></th>
            <td class="govuk-table__cell">{{data['completionDateA-day'] or "1"}} January {{data['completionDateA-year'] or "2024"}}</td>
            <td class="govuk-table__cell">{{data['feeEarnerA'] or "ET"}}</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">{{data['otherNoHoursA-hours'] or "1"}}:{{data['otherNoHoursA-mins'] or "00"}}</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="duplicate itemTitle item1 workTypeA" id="duplicate" class="govuk-link" href="add-work-item3?duplicate3=1">Duplicate</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="delete itemTitle item1 workTypeA" id="delete" class="govuk-link" href="add-work-item3?delete3=1">Delete</a>
                </li>
              </ul>
            </td>
          </tr>
          {% if data['add3'] =="3" %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" id="item2">2</th>
              <th scope="row" class="govuk-table__header"><a href="add-work-item3-view?view3=2" id="workType2" aria-labelledby="itemTitle item2 workTypeB">{{data['workTypeB'] or "Travel"}}</a></th>
              <td class="govuk-table__cell">{{data['completionDateB-day'] or "23"}} March {{data['completionDateB-year'] or "2024"}}</td>
              <td class="govuk-table__cell">{{data['feeEarnerB'] or "ET"}}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">{{data['otherNoHoursB-hours'] or "1"}}:{{data['otherNoHoursB-mins'] or "00"}}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item">
                    <a aria-labelledby="duplicate itemTitle item2 workTypeB" id="duplicate" class="govuk-link" href="add-work-item3">Duplicate</a>
                  </li>
                  <li class="govuk-summary-list__actions-list-item">
                    <a aria-labelledby="delete itemTitle item2 workTypeB" id="delete" class="govuk-link" href="add-work-item3?delete3=2">Delete</a>
                  </li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" id="item3">3</th>
              <th scope="row" class="govuk-table__header"><a href="add-work-item3-view?view3=3" id="workType3" aria-labelledby="itemTitle item3 workTypeC">{{data['workTypeC'] or "Preparation"}}</a></th>
              <td class="govuk-table__cell">{{data['completionDateC-day'] or "4"}} May {{data['completionDateC-year'] or "2024"}}</td>
              <td class="govuk-table__cell">{{data['feeEarnerC'] or "ET"}}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">{{data['otherNoHoursC-hours'] or "1"}}:{{data['otherNoHoursC-mins'] or "00"}}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item">
                    <a aria-labelledby="duplicate itemTitle item3 workTypeC" id="duplicate" class="govuk-link" href="add-work-item3">Duplicate</a>
                  </li>
                  <li class="govuk-summary-list__actions-list-item">
                    <a aria-labelledby="delete itemTitle item3 workTypeC" id="delete" class="govuk-link" href="add-work-item3?delete3=3">Delete</a>
                  </li>
                </ul>
              </td>
            </tr>
            {% elseif data['add3'] =="2" %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" id="item2">2</th>
              <th scope="row" class="govuk-table__header"><a href="add-work-item3-view?view3=2" id="workType2" aria-labelledby="itemTitle item2 workTypeB">{{data['workTypeB'] or "Travel"}}</a></th>
              <td class="govuk-table__cell">{{data['completionDateB-day'] or "23"}} March {{data['completionDateB-year'] or "2024"}}</td>
              <td class="govuk-table__cell">{{data['feeEarnerB'] or "ET"}}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">{{data['otherNoHoursB-hours'] or "1"}}:{{data['otherNoHoursB-mins'] or "00"}}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item">
                    <a aria-labelledby="duplicate itemTitle item2 workTypeB" id="duplicate" class="govuk-link" href="add-work-item3">Duplicate</a>
                  </li>
                  <li class="govuk-summary-list__actions-list-item">
                    <a aria-labelledby="delete itemTitle item2 workTypeB" id="delete" class="govuk-link" href="add-work-item3?delete3=2">Delete</a>
                  </li>
                </ul>
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    {% endif %}
    
    <form class="form" action="task-list3?question2-work=complete" method="post">
      
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save and come back later",
          classes: "govuk-button--secondary",
          href: ""
        }) }}

      </div>
    </form>


  </div>
</div>



{% endblock %}

