{% extends "layouts/main.html" %}

{% set version = "latest-nsm" %}
{% set activePrimeNav = [true, false] %}

{% block header %}
  {% include version +"/includes/header-provider.njk"%}  
{% endblock %}

{% block pageTitle %}
  Defendant 1 (lead defendant) – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Defendant 1 (lead defendant)</h1>
    
    {% if data['addDef'] =="import"%}
      <form class="form" action="review-all-defendants" method="post">
       {% else %}
       <form class="form" action="review-all-defendants?addDef=1" method="post">
    {% endif %}

      {{ govukInput({
        label: {
          text: "First name",
          classes: "govuk-label--s"
        },
        classes: "govuk-input--width-20",
        id: "defendant1-first-name",
        name: "defendant1-first-name",
        value: data['defendant1-last-name']
      }) }}

      {{ govukInput({
        label: {
          text: "Last name",
          classes: "govuk-label--s"
        },
        classes: "govuk-input--width-20",
        id: "defendant1-last-name",
        name: "defendant1-last-name",
        value: data['defendant1-last-name']
      }) }}

      {{ govukInput({
        label: {
          text: "MAAT ID",
          classes: "govuk-label--s"
        },
        hint: {
        text: "This is a 7 digit number, for example 1234567"
        },
        classes: "govuk-input--width-10",
        id: "defendant1-MAAT",
        name: "defendant1-MAAT",
        value: data['defendant1-MAAT']
      }) }}  
     

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
            text: "Save and come back later",
            classes: "govuk-button--secondary",
            href: "task-list"
          }) }}
      </div>

    </form>

  </div>
</div>

{% endblock %}
