//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

//Page

//New LAA header and serice navigation 

@media (min-width: 40.0625em) {
  /* Service switch navigation */
  .service-switch-navigation_flex-grow {
    flex-grow: 2 ;
  }

  /* Service switch navigation */
  .service-switch-navigation_item {
    margin-left: auto;
    font-size: 1rem;
  }
}


