//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

//Page

//New LAA header and serice navigation 
.moj-header {
  padding-top: 15px;
  border-bottom: 1px solid #1d70b8;
  background-color: #1d70b8;
}

@media (min-width: 40.0625em) {

  /* Making the account navigation smaller */
  .moj-header__navigation-item {
    font-size: 1rem;
  }

  .header-navigation-link {
    border-left: 1px solid white;
    padding-left: 20px;
    }

  /* Service switch navigation */
  .service-switch-navigation_flex-grow {
    flex-grow: 2 ;
  }

  /* Service switch navigation */
  .service-switch-navigation_item {
    margin-left: auto;
    font-size: 1rem;
  }
}


