<!--Key info-->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Key information</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Main offence
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['main-offence'] or "Anti-social behaviour orders (for applications made prior to 23rd March 2015)" }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Service provider location
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['expert-town'] or "Stepney"}},
                  {{data['expert-postcode'] or "E2"}}
        </dd>
      </div>
    </dl>
  </div>
</div>