{% extends "layouts/main.html" %}
{% set version = "latest-pa" %}
{% set activePrimeNav = [false, false, true, false, false] %}

{% block header %}
  {% include version + "/includes/header-cw.html"%}
{% endblock %}


{% block pageTitle %}
  All open applications – {{data['serviceName1'] }} - GOV.UK
{% endblock %}



{% block beforeContent %}
  {% include "includes/banner.html"%}
  {% include version + "/includes/nav-prime-cw.njk" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Open appeals
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="none">LAA reference</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Firm name</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Client</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Caseworker</th>
          <th scope="col" class="govuk-table__header" aria-sort="descending">Last updated</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Appeal status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">                
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="assess/application-details?laa-ref=LAA-1z5f7w&cwAppStatus=Referred&Appeal=Yes&serviceAdjust=Yes&travelAdjust=Yes" class="govuk-link--no-visited-state" data-sort-value="1z5f7w">LAA-1z5f7w</a></td>
          <td class="govuk-table__cell">Law Fans</td>
          <td class="govuk-table__cell">Roger Catapult</td>
          <td class="govuk-table__cell">Not assigned</td>
          <td class="govuk-table__cell" data-sort-value="250502">2 May 2025</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Referred</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="assess/application-details?laa-ref=LAA-9p4f0e&cwAppStatus=Review&Appeal=Yes&icaDecision=Yes&serviceAdjust=Yes&travelAdjust=Yes" class="govuk-link--no-visited-state" data-sort-value="9p4f0e">LAA-9p4f0e</a></td>
          <td class="govuk-table__cell">Legal Aiders Ltd</td>
          <td class="govuk-table__cell">Jamie Innes</td>
          <td class="govuk-table__cell">Not assigned</td>
          <td class="govuk-table__cell" data-sort-value="250516">16 May 2025</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Sent back</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="assess/application-details?laa-ref=LAA-6p4f0r&cwAppStatus=New&Appeal=Yes&appealStatus=&serviceAdjust=Yes&travelAdjust=Yes" class="govuk-link--no-visited-state" data-sort-value="6p4f0r">LAA-6p4f0r</a></td>
          <td class="govuk-table__cell">Crime Busters Legal</td>
          <td class="govuk-table__cell">Dami Olu</td>
          <td class="govuk-table__cell">Not assigned</td>
          <td class="govuk-table__cell" data-sort-value="250521">21 May 2025</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Not assigned</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="assess/application-details?laa-ref=LAA-6j4k6k&cwAppStatus=In progress&Appeal=Yes&appealStatus=&serviceAdjust=Yes&travelAdjust=Yes" class="govuk-link--no-visited-state" data-sort-value="6j4k6k">LAA-6j4k6k</a></td>
          <td class="govuk-table__cell">Griffins Grifting Grifters Law</td>
          <td class="govuk-table__cell">Melanie Longname Griffins</td>
          <td class="govuk-table__cell">{{data['caseworker3']}}</td>
          <td class="govuk-table__cell" data-sort-value="250522">22 May 2025</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--purple">In progress</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="assess/application-details?laa-ref=LAA-7j8s9s&cwAppStatus=Returned&Appeal=Yes&appealStatus=&serviceAdjust=Yes&travelAdjust=Yes" class="govuk-link--no-visited-state" data-sort-value="7j8s9s">LAA-7j8s9s</a></td>
          <td class="govuk-table__cell">Music Solicitors</td>
          <td class="govuk-table__cell">Alecia Pink</td>
          <td class="govuk-table__cell">Not assigned</td>
          <td class="govuk-table__cell" data-sort-value="250517">17 May 2025</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Updated</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="assess/application-details?laa-ref=LAA-4m4m4m&cwAppStatus=Review&Appeal=Yes&appealStatus=&icaDecision=No&serviceAdjust=Yes&travelAdjust=Yes" class="govuk-link--no-visited-state" data-sort-value="4m4m4m">LAA-4m4m4m</a></td>
          <td class="govuk-table__cell">Griffins Grifting Grifters Law</td>
          <td class="govuk-table__cell">Simone Gutter</td>
          <td class="govuk-table__cell">Not assigned</td>
          <td class="govuk-table__cell" data-sort-value="250511">11 May 2025</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Sent back</strong></td>
        </tr>
      </body>
    </table>      
    {% include "includes/pagination.html"%}
  </div>
  <div class="govuk-grid-column-one-third">
      
  </div>
</div>

{% endblock %}