{% extends "layouts/main-latest.html" %}

{% set version = "latest-portal" %}
{% set activePrimeNav = [true, false] %}
{% set activeSubNav = [true, false, false] %}


{% block header %}
  {% include version +"/includes/header-portal-payments.njk"%}  
{% endblock %}

{% block pageTitle %}
  {{data['laa-ref'] or "LAA-5a7d3c"}} - Payment details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include version +"/includes/app-info-payments.html"%}
      
      <!-- Nav -->
      {% include version +"/includes/nav-sub-payments.html"%}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-l">Payment details</h2>

      <!--Cost summary -->
      {% set paymentJulyCostHtml %}
        <h3 class="govuk-heading-m">30 June 2025</h3> 
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--s">Supplemental claimed and allowed costs</caption>
          <thead class="govuk-table__head">
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Claimed</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Allowed</th>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Profit costs</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['claimedProfit'] or "0.00"}}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedProfit'] or "0.00"}}</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Travel</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['claimedTravel'] or "0.00"}}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['claimedTravel'] or "0.00"}}</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Waiting</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedWaiting'] or "0.00"}}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedWaiting'] or "0.00"}}</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Disbursements</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedDisbursement'] or "120.00"}}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedDisbursement'] or "90.00"}}</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Total</th>
              <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Total cost claimed </span><strong>£120.00</strong></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Total cost allowed </span><strong>£90.00</strong></td>
            </tr>
          </tbody>
        </table> 
      {% endset%}
            
      {% set paymentMayCostHtml %}
        <h3 class="govuk-heading-m">28 June 2025</h3> 
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--s">Amended allowed costs</caption>
          <thead class="govuk-table__head">
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Allowed</th>
          </thead>
          <tbody class="govuk-table__body">
            {% if data['paymentType'] =="Assigned counsel" or data['paymentType'] =="Amendment to assigned counsel" %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Counsel's fee</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedCounselNet'] or "3000.00"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Counsel's fee VAT</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedCounselVAT'] or "600.00"}}</td>
              </tr> 
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total</th>
                <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Total cost allowed </span><strong>£4872.20</strong></td>
              </tr>      
              {% else %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Profit costs</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedProfit'] or "342.20"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Travel</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['claimedTravel'] or "50.00"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Waiting</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedWaiting'] or "0.00"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Disbursements</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedDisbursement'] or "890.00"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total</th>
                <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Total cost allowed </span><strong>£1282.00</strong></td>
              </tr>
            {% endif %}
          </tbody>
        </table> 
      {% endset%}

      {% set paymentAprilCostHtml %}
        <h3 class="govuk-heading-m">26 June 2025</h3> 
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--s">Claimed and allowed costs</caption>
          <thead class="govuk-table__head">
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Claimed</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Allowed</th>
          </thead>
          <tbody class="govuk-table__body">
            {% if data['paymentType'] =="Assigned counsel" or data['paymentType'] =="Amendment to assigned counsel" %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Counsel's fee</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['claimedCounselNet'] or "3000.00"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedCounselNet'] or "3000.00"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Counsel's fee VAT</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['claimedCounselVAT'] or "600.00"}}</td> 
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedCounselVAT'] or "600.00"}}</td>
              </tr> 
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total</th>
                <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Total cost claimed </span><strong>£4892.00</strong></td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Total cost allowed </span><strong>£4872.20</strong></td>
              </tr>      
              {% else %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Profit costs</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['claimedProfit'] or "342.00"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedProfit'] or "331.20"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Travel</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['claimedTravel'] or "0.00"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['claimedTravel'] or "50.00"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Waiting</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedWaiting'] or "60.00"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedWaiting'] or "0.00"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Disbursements</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedDisbursement'] or "890.00"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedDisbursement'] or "890.00"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total</th>
                <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Total cost claimed </span><strong>£1292.00</strong></td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Total cost allowed </span><strong>£1271.20</strong></td>
              </tr>
            {% endif %}
          </tbody>
        </table> 
      {% endset%}

      {% if data['paymentType'] == "Assigned counsel"%}
        <h3 class="govuk-heading-m">26 June 2025</h3> 
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--s">Claimed and allowed costs</caption>
          <thead class="govuk-table__head">
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Claimed</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Allowed</th>
          </thead>
          <tbody class="govuk-table__body">
            {% if data['paymentType'] =="Assigned counsel" or data['paymentType'] =="Amendment to assigned counsel" %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Counsel's fee</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['claimedCounselNet'] or "3000.00"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedCounselNet'] or "3000.00"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Counsel's fee VAT</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['claimedCounselVAT'] or "600.00"}}</td> 
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedCounselVAT'] or "600.00"}}</td>
              </tr> 
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total</th>
                <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Total cost claimed </span><strong>£4892.00</strong></td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Total cost allowed </span><strong>£4872.20</strong></td>
              </tr>      
              {% else %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Profit costs</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['claimedProfit'] or "342.00"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedProfit'] or "331.20"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Travel</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['claimedTravel'] or "0.00"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['claimedTravel'] or "50.00"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Waiting</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedWaiting'] or "60.00"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedWaiting'] or "0.00"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Disbursements</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedDisbursement'] or "890.00"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedDisbursement'] or "890.00"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total</th>
                <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Total cost claimed </span><strong>£1292.00</strong></td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Total cost allowed </span><strong>£1271.20</strong></td>
              </tr>
            {% endif %}
          </tbody>
        </table> 
        {% else %}
          {{ govukTabs({
            items: [
              {
                label: "30 June 2025",
                id: "paymentJulyCost",
                panel: {
                  html: paymentJulyCostHtml
                }
              },
              {
                label: "28 June 2025",
                id: "paymentMayCost",
                panel: {
                  html: paymentMayCostHtml
                }
              },
              {
                label: "26 June 2025",
                id: "paymentAprilCost",
                panel: {
                  html: paymentAprilCostHtml
                }
              }
            ]
          }) }}
      {% endif %}
      
     
      <!--Claim details-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Claim details</h2>
          <!--<ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="payment-type">Change <span class="govuk-visually-hidden"> claim details</span></a>
            </li>
          </ul>
          -->
        </div>
        <div class="govuk-summary-card__content">
          {% if data['paymentType'] =="Assigned counsel" or data['paymentType'] =="Amendment to assigned counsel" %}
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Claim type
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['paymentType'] or "Non-standard magistrates'"}}
                </dd>
              </div>
              {% if data['existingRef'] !== "No"%}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    LAA reference of original claim
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['laa-ref'] or "LAA-5a7d3c"}}
                  </dd>
                </div>
              {% endif %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date claim received
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['dateReceived'] or "20 June 2025"}}
                </dd>
              </div>            
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Solicitor office account number
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['officeAccount'] or "1A33E4" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Unique file number
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['ufn'] or "100323/234"}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Defendant name
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['defendantLastName'] or "Blackbeard" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Counsel firm account number
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['counselOfficeAccount'] or "4A33E9" }}
                </dd>
              </div>
            </dl>
            {% else %}
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Claim type
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['paymentType']}}
                </dd>
              </div>
              {% if data['paymentType'] !== "Non-standard Magistrates'" and data['existingRef'] !== "No"%}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    LAA reference of original claim or payment
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['laa-ref'] or "LAA-5a7d3c"}}
                  </dd>
                </div>
              {% endif %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date claim received
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['dateReceived'] or "24 July 2025"}}
                </dd>
              </div>            
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Firm office account number
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['officeAccount'] or "1A3B23E4" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Unique file number
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['ufn'] or "100323/234"}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Stage reached
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['stageReached'] or "PROM" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Defendant name
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['defendantFirstName'] or "Roger" }} {{data['defendantLastName'] or "Blackbeard" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Number of defendants
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['defendants'] or "2" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Number of hearing attendances
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['attendances'] or "5" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Hearing outcome code
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['hearingOutcome'] or "CP02 - Change of solicitor"}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Matter type
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['matterType'] or "12 - Theft (including taking vehicle without consent)"}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Court
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['hearingCourt'] or "Conwy - C3062" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Youth court matter
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['youthCourt'] or "No"}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date work was completed
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['date-completed'] or "24 June 2025"}}
                </dd>
              </div>
            </dl>
          {% endif %}
        </div>
      </div>



    </div>
  </div>

{% endblock %}