{% extends "layouts/main-latest.html" %}
{% set version = "latest-portal" %}
{% set activePrimeNav = [true, false] %}

{% block header %}
    {% include version + "/includes/header-portal-payments.html"%}
{% endblock %}

{% block pageTitle %}
  LAA Online Portal – Assess a crime form - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner2.html"%}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Payment requests</h1>

      {{ govukButton({
        text: "Create payment request",
        href: "add/payment-type"
      }) }}
     
      <table class="govuk-table" id="table-header" data-module="moj-sortable-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" aria-sort="none">LAA reference</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Firm name</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Client</th>
            <th scope="col" class="govuk-table__header" aria-sort="descending">Payment submitted</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Payment</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">                
          <tr class="govuk-table__row  all part-granted Medium highValue">
            <td class="govuk-table__cell"><a href="payment-details?laa-ref=LAA-5a7d3c&cwAppStatus=Part granted" class="govuk-link--no-visited-state" data-sort-value="1z5f7w">LAA-5a7d3c</a></td>
            <td class="govuk-table__cell">Laywers Inc</td>
            <td class="govuk-table__cell">Roger Blackbeard</td>
            <td class="govuk-table__cell" data-sort-value="250630">30 June 2025</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£4872.20</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Part granted</strong></td>
          </tr>
          <tr class="govuk-table__row  all none Not Medium">
            <td class="govuk-table__cell"><a href="payment-details?laa-ref=LAA-9p4f0e&cwAppStatus=Part granted" class="govuk-link--no-visited-state" data-sort-value="9p4f0e">LAA-9p4f0e</a></td>
            <td class="govuk-table__cell">Legal Aiders Ltd</td>
            <td class="govuk-table__cell">Jamie Innes</td>
            <td class="govuk-table__cell" data-sort-value="231029">29 June 2025</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£345.00</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Part granted</strong></td>
          </tr>
          <tr class="govuk-table__row  all none Not Medium">
            <td class="govuk-table__cell"><a href="payment-details?laa-ref=LAA-6p4f0r&cwAppStatus=Part granted" class="govuk-link--no-visited-state" data-sort-value="6p4f0r">LAA-6p4f0r</a></td>
            <td class="govuk-table__cell">Crime Busters Legal</td>
            <td class="govuk-table__cell">Dami Olu</td>
            <td class="govuk-table__cell" data-sort-value="250629">29 June 2025</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£6345.77</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Part granted</strong></td>
          </tr>
          <tr class="govuk-table__row  all Granted Wolf Medium">
            <td class="govuk-table__cell"><a href="payment-details?laa-ref=LAA-8p3h0e&cwAppStatus=Granted" class="govuk-link--no-visited-state" data-sort-value="8p3h0e">LAA-8p3h0e</a></td>
            <td class="govuk-table__cell">Legal Aiders Ltd</td>
            <td class="govuk-table__cell">Bobby Brownie</td>
            <td class="govuk-table__cell" data-sort-value="250628">28 June 2025</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£2385.68</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Granted</strong></td>
          </tr>
          <tr class="govuk-table__row  all none Not Low">
            <td class="govuk-table__cell"><a href="payment-details?laa-ref=LAA-1z5f76&cwAppStatus=New" class="govuk-link--no-visited-state" data-sort-value="1z5f76">LAA-1z5f76</a></td>
            <td class="govuk-table__cell">Big Law</td>
            <td class="govuk-table__cell">Ishia Melta</td>
            <td class="govuk-table__cell" data-sort-value="250627">27 June 2025</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£2345.78</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Granted</strong></td>
          </tr>
          <tr class="govuk-table__row  all in-progress Wolf High highValue">
            <td class="govuk-table__cell"><a href="payment-details?laa-ref=LAA-2d9t4j&cwAppStatus=Granted" class="govuk-link--no-visited-state" data-sort-value="2d9t4j">LAA-2d9t4j</a></td>          
            <td class="govuk-table__cell">Boss Lawyers Inc</td>
            <td class="govuk-table__cell">Arnie Swartz</td>
            <td class="govuk-table__cell" data-sort-value="250627">27 June 2025</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£2311.33</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Granted</strong></td>
          </tr>
          <tr class="govuk-table__row  all auto-granted Justice Medium">
            <td class="govuk-table__cell"><a href="payment-details?laa-ref=LAA-1z5f76&cwAppStatus=Granted" class="govuk-link--no-visited-state" data-sort-value="1z5f76">LAA-1z5f76</a></td>  
            <td class="govuk-table__cell">Big Law</td>          
            <td class="govuk-table__cell">Bob Holness</td>
            <td class="govuk-table__cell" data-sort-value="250626">26 June 2025</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£2345.78</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Part granted</strong></td>
          </tr>
          <tr class="govuk-table__row  all rejected Hussein Low">
            <td class="govuk-table__cell"><a href="payment-details?laa-ref=LAA-6j4k6k&cwAppStatus=Granted" class="govuk-link--no-visited-state" data-sort-value="6j4k6k">LAA-6j4k6k</a></td>
            <td class="govuk-table__cell">Griffins Grifting Grifters Law</td>
            <td class="govuk-table__cell">Melanie Longname Griffins</td>
            <td class="govuk-table__cell" data-sort-value="250626">26 June 2025</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£22345.45</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Granted</strong></td>
          </tr>
          <tr class="govuk-table__row  all cancelled Not Low">
            <td class="govuk-table__cell"><a href="payment-details?laa-ref=LAA-7j8s9s&cwAppStatus=Granted" class="govuk-link--no-visited-state" data-sort-value="7j8s9s">LAA-7j8s9s</a></td>
            <td class="govuk-table__cell">Music Solicitors</td>
            <td class="govuk-table__cell">Alecia Pink</td>
            <td class="govuk-table__cell" data-sort-value="250625">25 June 2025</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£23123.00</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Granted</strong></td>
          </tr>
          <tr class="govuk-table__row  all sent-back Not High">
            <td class="govuk-table__cell"><a href="payment-details?laa-ref=LAA-4m4m4m&cwAppStatus=Granted" class="govuk-link--no-visited-state" data-sort-value="4m4m4m">LAA-4m4m4m</a></td>
            <td class="govuk-table__cell">Griffins Grifting Grifters Law</td>
            <td class="govuk-table__cell">Simone Gutter</td>
            <td class="govuk-table__cell" data-sort-value="250621">21 June 2025</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£345.78</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Granted</strong></td>
          </tr>
        </body>
      </table>    
    </div>
  </div>
  {% set pageNo ="3" %}        

  {% include "includes/pagination-search.html"%}

   

{% endblock %}


