{% extends "layouts/main.html" %}
{% set version = "latest-portal" %}
{% set activePrimeNav = [true, false] %}

{% block header %}
    {% include version + "/includes/header-portal-payments.html"%}
{% endblock %}

{% block pageTitle %}
  LAA Online Portal – Assess a crime form - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner2.html"%}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Payment requests</h1>

      {{ govukButton({
        text: "Create payment request",
        href: "add/payment-type"
      }) }}
     
      <table class="govuk-table generic-filter" id="table-header" data-module="moj-sortable-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" aria-sort="none">LAA reference</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Firm name</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Defendant</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Payment type</th>
            <th scope="col" class="govuk-table__header" aria-sort="descending">Submitted</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">                
          <tr class="govuk-table__row  all NSM">
           <td class="govuk-table__cell"><a href="payment-details?laa-ref=LAA-5a7d3c&paymentType=Non-standard magistrates'&date=30 June 2025&officeAccount=Legal Eagles" class="govuk-link--no-visited-state">LAA-5a7d3c</a></td> 
            <td class="govuk-table__cell">Legal Eagles</td>
            <td class="govuk-table__cell">Blackbeard</td>
            <td class="govuk-table__cell">Non-standard magistrates' - appeal</td>
            <td class="govuk-table__cell" data-sort-value="250630">30 June 2025</td>
          </tr>
          <tr class="govuk-table__row  all NSM">
            <td class="govuk-table__cell"><a href="payment-details?laa-ref=LAA-5a7d3c&paymentType=Non-standard magistrates'&date=30 June 2025&officeAccount=Legal Eagles" class="govuk-link--no-visited-state">LAA-5a7d3c</a></td> 
            <td class="govuk-table__cell">Legal Eagles</td>
            <td class="govuk-table__cell">Blackbeard</td>
            <td class="govuk-table__cell">Non-standard magistrates' - supplemental</td>
            <td class="govuk-table__cell" data-sort-value="250628">28 June 2025</td>
          </tr>
          <tr class="govuk-table__row  all AC">
            <td class="govuk-table__cell"><a href="payment-details?laa-ref=LAA-1z5f76&paymentType=Assigned counsel&defendantLastName=Blackbeard&date=30 June 2025&officeAccount=Legal Eagles">LAA-1z5f76</a></td>
            <td class="govuk-table__cell">Legal Eagles</td>
            <td class="govuk-table__cell">Blackbeard</td>
            <td class="govuk-table__cell">Assigned counsel - amendment</td>
            <td class="govuk-table__cell" data-sort-value="300626">30 June 2025</td>
          </tr>
          <tr class="govuk-table__row  all AC">
            <td class="govuk-table__cell"><a href="payment-details?laa-ref=LAA-2d9t4j&paymentType=Assigned counsel&defendantLastName=Blackbeard&date=26 June 2025&officeAccount=Legal Eagles" class="govuk-link--no-visited-state">LAA-2d9t4j</a></td>          
            <td class="govuk-table__cell">Legal Eagles</td>
            <td class="govuk-table__cell">Blackbeard</td>
            <td class="govuk-table__cell">Assigned counsel</td>
            <td class="govuk-table__cell" data-sort-value="250626">26 June 2025</td>
          </tr>
          <tr class="govuk-table__row  all NSM">
            <td class="govuk-table__cell"><a href="payment-details?laa-ref=LAA-5a7d3c&paymentType=Non-standard magistrates'&date=26 June 2025&officeAccount=Legal Eagles" class="govuk-link--no-visited-state">LAA-5a7d3c</a></td>  
            <td class="govuk-table__cell">Legal Eagles</td>          
            <td class="govuk-table__cell">Blackbeard</td>
            <td class="govuk-table__cell">Non-standard magistrates'</td>
            <td class="govuk-table__cell" data-sort-value="250626">26 June 2025</td>
          </tr>
           <tr class="govuk-table__row  all NMS">
            <td class="govuk-table__cell"><a href="payment-details?laa-ref=LAA-9p4f0e&paymentType=Non-standard magistrates'&date=29 June 2025&officeAccount=5T6H7J">LAA-9p4f0e</a></td>
            <td class="govuk-table__cell">Law at Law Ltd</td>
            <td class="govuk-table__cell">Innes</td>
            <td class="govuk-table__cell">Non-standard magistrates' </td>
            <td class="govuk-table__cell" data-sort-value="250629">29 June 2025</td>
          </tr>
          <tr class="govuk-table__row  all NSM">
            <td class="govuk-table__cell"><a href="payment-details?laa-ref=LAA-6p4f0r&paymentType=Non-standard magistrates'&date=29 June 2025&officeAccount=Counsel 4U">LAA-6p4f0r</a></td>
            <td class="govuk-table__cell">Counsel 4U</td>
            <td class="govuk-table__cell">Olu</td>
            <td class="govuk-table__cell">Non-standard magistrates'</td>
            <td class="govuk-table__cell" data-sort-value="250629">29 June 2025</td>
          </tr>
          <tr class="govuk-table__row  all AC">
            <td class="govuk-table__cell"><a href="payment-details?laa-ref=LAA-6j4k6k&paymentType=Assigned counsel&date=26 June 2025&officeAccount=LA Law" class="govuk-link--no-visited-state">LAA-6j4k6k</a></td>
            <td class="govuk-table__cell">LA Law</td>
            <td class="govuk-table__cell">Chiclue</td>
            <td class="govuk-table__cell">Assigned counsel - appeal</td>
            <td class="govuk-table__cell" data-sort-value="250626">26 June 2025</td>
          </tr>
          <tr class="govuk-table__row  all NSM">
            <td class="govuk-table__cell"><a href="payment-details?laa-ref=LAA-7j8s9s&paymentType=Non-standard magistrates'&date=25 June 2025&officeAccount=Laywers Ltd" class="govuk-link--no-visited-state">LAA-7j8s9s</a></td>
            <td class="govuk-table__cell">Laywers Ltd</td>
            <td class="govuk-table__cell">Pink</td>
            <td class="govuk-table__cell">Non-standard magistrates'</td>
            <td class="govuk-table__cell" data-sort-value="250625">25 June 2025</td>
          </tr>
          <tr class="govuk-table__row  all NMS">
            <td class="govuk-table__cell"><a href="payment-details?laa-ref=LAA-4m4m4m&paymentType=Non-standard magistrates'&date=21 June 2025&officeAccount=5R5R4R" class="govuk-link--no-visited-state">LAA-4m4m4m</a></td>
            <td class="govuk-table__cell">Law at Law Ltd</td>
            <td class="govuk-table__cell">Gutter</td>
            <td class="govuk-table__cell">Non-standard magistrates'</td>
            <td class="govuk-table__cell" data-sort-value="250621">21 June 2025</td>
          </tr>
        </body>
      </table>    
    </div>
  </div>
  {% set pageNo ="3" %}        

  {% include "includes/pagination-search.html"%}

   

{% endblock %}


