{% extends "layouts/main.html" %}

{% set version = "latest-pa" %}
{% set activePrimeNav = [true, false] %}
{% set activeSubNav = [false, true, false] %}


{% block header %}
  {% include version +"/includes/header-cw.njk"%}  
{% endblock %}

{% block pageTitle %}
  {{data['laa-ref'] or "LAA-5a7d3c"}} - Decision sent to provider – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
  {% include "includes/banner.html"%}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!--If it was 'Send back to Provider' request--->
      {{ govukPanel({
          titleText: "Payment request sent"
          
        }) }}
        <p>Your payment request for this claim has been sent.</p>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claim reference
          </dt>
            <dd class="govuk-summary-list__value">
            {{data['laa-ref'] or "LAA-5a7d3c"}}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Allowed costs
          </dt>
          <dd class="govuk-summary-list__value">
            £{{data['paymentAllowedTotal'] or "4872.20" }}
          </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">What happens next</h2>
      <p>You must complete the payment request for assign counsel.</p>
      
      <div class="govuk-button-group">
          {{ govukButton({
            text: "Create assigned counsel payment request",
            href: "add/existing-claim-question-counsel?paymentType=Non-standard magistrates'&dateReceived=17/7/2025&officeAccount=1A33E4&ufn=100323&defendantLastName=Blackbeard&counselOfficeAccount=4A33E9"
          }) }}

        <a class="govuk-link" href="../payment-details?paymentType=Non-standard magistrates'">Return to the claim</a>
      </div>      
    </div>
  </div>

{% endblock %}