<div class="govuk-form-group">
  <label class="govuk-heading-xl" for="laaRef">
    LAA reference
  </label>
  <div id="laaRef-hint" class="govuk-hint">
     Enter the LAA reference or the client name, or select one from the suggestions that appear when you start typing
  </div>
  <select class="govuk-select autocomplete-select" id="laaRef" name="laaRef" aria-describedby="offence-hint">
    <option {{ "selected" if data["laaRef"] == "0" }} value=""></option>
    <option {{ "selected" if data["laaRef"] == "LAA-1aaAAA - Blackhorse"}} value="LAA-1aaAAA - Blackhorse">LAA-1aaAAA - Blackhorse</option>
    <option {{ "selected" if data["laaRef"] == "LAA-1bbAAA - Jumper" }} value="LAA-1bbAAA - Jumper">LAA-1bbAAA - Jumper</option>
    <option {{ "selected" if data["laaRef"] == "LAA-1ddAAA - Goodboy" }} value="LAA-1ddAAA - Goodboy">LAA-1ddAAA - Goodboy</option>
    <option {{ "selected" if data["laaRef"] == "LAA-1ccAAA -Stallion" }} value="LAA-1ccAAA -Stallion">LAA-1ccAAA -Stallion</option>
    <option {{ "selected" if data["laaRef"] == "LAA-1eeAAA - Giddy" }} value="LAA-1eeAAA - Giddy">LAA-1eeAAA - Giddy</option>
    <option {{ "selected" if data["laaRef"] == "LAA-1ffAAA - Horsey" }} value="LAA-1ffAAA - Horsey">LAA-1ffAAA - Horsey</option>
  </select>
</div>