<div class="govuk-form-group">
  <label class="govuk-heading-xl" for="laa-ref">
    {% if data['paymentType'] == "Assigned counsel - amendment" or data['paymentType'] == "Assigned counsel - appeal" %}
      LAA reference for the assigned counsel claim 
      {% else %}
       LAA reference for the original claim 
    {% endif %}
  </label>
  <div id="laa-ref-hint" class="govuk-hint">
     Enter the LAA reference or the defendant name, or select one from the suggestions that appear when you start typing
  </div>
  <select class="govuk-select autocomplete-select" id="laa-ref" name="laa-ref" aria-describedby="offence-hint">
    <option {{ "selected" if data["laa-ref"] == "0" }} value=""></option>
    <option {{ "selected" if data["laa-ref"] == "LAA-1aaAAA"}} value="LAA-1aaAAA">LAA-1aaAAA - Defendant Blackhorse</option>
    <option {{ "selected" if data["laa-ref"] == "LAA-1bbAAA" }} value="LAA-1bbAAA">LAA-1bbAAA - Defendant Jumper</option>
    <option {{ "selected" if data["laa-ref"] == "LAA-1ddAAA" }} value="LAA-1ddAAA">LAA-1ddAAA - Defendant Goodboy</option>
    <option {{ "selected" if data["laa-ref"] == "LAA-1ccAAA" }} value="LAA-1ccAAA">LAA-1ccAAA - Defendant Stallion</option>
    <option {{ "selected" if data["laa-ref"] == "LAA-1eeAAA" }} value="LAA-1eeAAA">LAA-1eeAAA - Defendant Giddy</option>
    <option {{ "selected" if data["laa-ref"] == "LAA-1ffAAA" }} value="LAA-1ffAAA">LAA-1ffAAA - Defendant Horsey</option>
  </select>
</div>