<div class="govuk-form-group">
  <label class="govuk-heading-s" for="hearingCourt">
    Court
  </label>
  <div id="hearingCourt-hint" class="govuk-hint">
      Start typing the court and select one of the suggestions that appear
  </div>
  <select class="govuk-select autocomplete-select" id="hearingCourt" name="hearingCourt" aria-describedby="offence-hint">
    <option {{ "selected" if data["hearingCourt"] == "0" }} value=""></option>
    <option {{ "selected" if data["hearingCourt"] == "Acton - C2723"}} value="Acton - C2723">Acton - C2723</option>
    <option {{ "selected" if data["hearingCourt"] == "Alton - C1780A" }} value="Alton - C1780A">Alton - C1780A</option>
    <option {{ "selected" if data["hearingCourt"] == "Bangor - C3222" }} value="Bangor - C3222">Bangor - C3222</option>
    <option {{ "selected" if data["hearingCourt"] == "Bexley - C2728" }} value="Bexley - C2728">Bexley - C2728</option>
    <option {{ "selected" if data["hearingCourt"] == "Conwy - C3062" }} value="Conwy - C3062">Conwy - C3062</option>
    <option {{ "selected" if data["hearingCourt"] == "Diss - C1446A" }} value="Diss - C1446A">Diss - C1446A</option>
  </select>
</div>