<!-- Sub-Nav -->

  {{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'Overview',
    href: 'payment-details',
    active: + activeSubNav[0] | default('true')
  }, 
  {
    text: 'Related payments',
    href: 'related-payments',
    active: + activeSubNav[1]
  } 
  ]
}) }}