<!-- Sub-Nav -->

  {{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'Payment details',
    href: 'payment-details',
    active: + activeSubNav[0] | default('true')
  },
  {
    text: 'Related payments',
    href: 'payment-related',
    active: + activeSubNav[1]
  }
  ]
}) }}