<!-- Sub-Nav -->

  {{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'Payment request',
    href: 'payment-details',
    active: + activeSubNav[0] | default('true')
  },
  {
    text: 'Claim details',
    href: 'payment-claim',
    active: + activeSubNav[1]
  },
  {
    text: 'Related payment requests',
    href: 'payment-related',
    active: + activeSubNav[2]
  }
  ]
}) }}