{% extends "layouts/main.html" %}

{% set version = "pa-1-2" %}
{% if data['cwAppStatus'] == "In progress"%}
  {% set activePrimeNav = [true, false, false, false] %}
  {% else %}
  {% if data['cwAppStatus'] == "New" or data['cwAppStatus'] == "Returned" or data['cwAppStatus'] == "Review" %}
    {% set activePrimeNav = [false, true, false, false] %}
    {% else %}
    {% set activePrimeNav = [false, false, true, false] %}
  {% endif %}
{% endif %}

{% block header %}
  {% include version + "/includes/header-cw.html"%}
{% endblock %}

{% block pageTitle %}
  {{data['laa-ref'] or "LAA-5a7d3c"}} - Application history note – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form class="form" action="application-details-history" method="post">

        {{ govukTextarea({
          name: "moreDetail",
          id: "more-detail",
          label: {
            text: "Add a note to the application history",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "This information is for internal use only"
          }
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
