{% extends "layouts/main-old.html" %}

{% set version = "nsm-1-2" %}
{% set activePrimeNav = [true, false] %}

{% block header %}
  {% include version +"/includes/header-provider.njk"%}  
{% endblock %}

{% block pageTitle %}
  Contact details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  {% include version +"/includes/nav-prime-provider"%}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Contact details</h1>
    <p>We’ll use these contact details if we need to ask you for more information or to tell you the outcome of your application.</p>
    
    {% if data['question-client'] == "inProgress" %}
      <form class="form" action="review-all-defendants?question-org=complete" method="post">
      {% else %}
      <form class="form" action="add-defendant1-details?question-org=complete" method="post">
    {% endif %}

      {{ govukInput({
        label: {
          text: "First name",
          classes: "govuk-label--s"
        },
        classes: "govuk-input--width-20",
        id: "contact-first-name",
        name: "contact-first-name",
        value: data['contact-last-name']
      }) }}

      {{ govukInput({
        label: {
          text: "Last name",
          classes: "govuk-label--s"
        },
        classes: "govuk-input--width-20",
        id: "contact-last-name",
        name: "contact-last-name",
        value: data['contact-last-name']
      }) }}

      {{ govukInput({
        label: {
          text: "Email address",
          classes: "govuk-label--s"
        },
        classes: "govuk-input--width-20",
        id: "contact-email",
        name: "contact-email",
        autocomplete: "email",
        type: "email",
        value: data['contact-email']
      }) }}  
     

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
            text: "Save and come back later",
            classes: "govuk-button--secondary",
            href: "task-list"
          }) }}
      </div>

    </form>

  </div>
</div>

{% endblock %}
