{% extends "layouts/main.html" %}
{% set version = "pa-1-0" %}

{% block header %}
  {% include version + "/includes/header-cw.html"%}
{% endblock %}

{% block pageTitle %}
  {{data['laa-ref'] or "LAA-5a7d3c"}} - Application history – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  {% if data['cwAppStatus'] == "In progress" or data['cwAppStatus'] == "New" %}
    {% include version + "/includes/cw-nav-open.html"%}
    {% else %}
    {% include version + "/includes/cw-nav-assessed.html"%}
  {% endif %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      {% include version + "/includes/app-info-readonly.html"%}

      {{ mojSubNavigation({
        label: 'Sub navigation',
        items: [{
          text: 'Overview',
          href: 'application-details-readonly',
          active: false
        }, {
          text: 'Adjustments',
          href: 'application-details-adjust-readonly',
          active: false
        }, {
          text: 'Related applications',
          href: 'application-details-related-readonly',
          active: false
        }, {
          text: 'Application history',
          href: 'application-details-history-readonly',
          active: true
        }]
      }) }}

      <h2 class="govuk-heading-m">Application history</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
            <th scope="col" class="govuk-table__header">Caseworker</th>
            <th scope="col" class="govuk-table__header">Update</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">14 Nov 2023 <br>04:00pm</td>
            <td class="govuk-table__cell">{{data['caseworker1']}}</td>
            <td class="govuk-table__cell"><strong>Received</strong><br>Received from Provider with further information and changes to data.</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">14 Nov 2023 <br>09:14am</td>
            <td class="govuk-table__cell">{{data['caseworker1']}}</td>
            <td class="govuk-table__cell"><strong>Sent back</strong><br>Sent back to Provider for further information and for changes to data.</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">13 Nov 2023 <br>03:23</td>
            <td class="govuk-table__cell">{{data['caseworker1']}}</td>
            <td class="govuk-table__cell"><strong>Received</strong><br>Received from Provider with further information.</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">10 Nov 2023 <br>01:47pm</td>
            <td class="govuk-table__cell">{{data['caseworker1']}}</td>
            <td class="govuk-table__cell"><strong>Sent back</strong><br>Sent back to Provider for further information.</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">7 Nov 2023 <br>01:43pm</td>
            <td class="govuk-table__cell">{{data['caseworker1']}}</td>
            <td class="govuk-table__cell"><strong>Self assigned by {{data['caseworker1']}}</strong><br>The magistrate on this case requested this application</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">7 Nov 2023 <br>11:02am</td>
            <td class="govuk-table__cell">{{data['caseworker2']}}</td>
            <td class="govuk-table__cell"><strong>Unassigned by {{data['caseworker2']}}</strong><br>Unable to assess as the application is Prison Law
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">7 Mar 2023 <br>11:01am</td>
            <td class="govuk-table__cell">{{data['caseworker2']}}</td>
            <td class="govuk-table__cell"><strong>Assigned to {{data['caseworker2']}}</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">5 Mar 2023 <br>09:00</td>
            <td class="govuk-table__cell">N/A</td>
            <td class="govuk-table__cell"><strong>Received</strong></td>
          </tr>
        </tbody>
      </table>

      {{ mojPagination({
        items: [{
          text: '1',
          href: '#',
          selected: true
        }, {
          text: '2',
          href: '#',
          selected: false
        }, {
          text: '3',
          href: '#'
        }, {
          type: 'dots'
        }, {
          text: '5',
          href: '#'
        }],
        results: {
          count: 6,
          from: 1,
          to: 5,
          text: 'pages'
        },
        next: {
          text: 'Next'
        }
      }) }}        

    </div>

  </div>

{% endblock %}