
.govuk-header__logo {
  width: auto;
}

.govuk-header__content {
  width: auto;
}

/* Account Navigation */
/* Account Navigation */
/* Account Navigation */
/* Account Navigation */
.govuk-header__account {
  float: right;
}

.login-nav__list {
  @include govuk-clearfix;
  padding: 0;
  margin: 8px 0 8px 0;
  list-style-type: none;
}

.login-nav__list-item {
    position: relative;
    margin-bottom: govuk-spacing(1);
    padding-right: govuk-spacing(1);
    padding-left: 0;
    float: left;
  }

  #profile .profile, #account .account {
    text-decoration: none;
    font-weight: 600;
  }

  .login-nav__link {
    margin-right: govuk-spacing(1);
  }

/*** Account nav small viewports ***/
@media all and (max-width: 40.0625em) {
  .govuk-header__account {
    float: left;
  }
}

 /*  Main Navigation */
 /*  Main Navigation */
 /*  Main Navigation */

 #main-nav .govuk-link {
  color: #fff;
  text-underline-offset: 0.3em;
}

.main-nav__list {
  @include govuk-clearfix;
  padding: 0;
  margin: 8px 0 8px 0;
  list-style-type: none;
}

.govuk-header__nav {
  float: left;
  clear: left;
  width: 100%;
}

.app-navigation__list-item {
  float: left;
  margin: 0.4em 1.2em 0em 0em;
}

/* Main nav active states*/
.dash-nav .app-navigation__list-item--dash, .cases-nav .app-navigation__list-item--cases, .notices-nav .app-navigation__list-item--notices, .org-nav .app-navigation__list-item--orgs, .invest-nav .app-navigation__list-item--invest, .user-nav .app-navigation__list-item--users {
  border-bottom: 2px solid #fff;
  border-left: 0px;
  padding: 0;
}

/*** Main nav small viewports ***/
@media all and (max-width: 40.0625em) {

  /*.app-navigation__list-item {
    float: left;
  }

  /* Main nav active states
  .dash-nav .app-navigation__list-item--dash, .cases-nav .app-navigation__list-item--cases, .notices-nav .app-navigation__list-item--notices, .org-nav .app-navigation__list-item--orgs {
    border-left: 2px solid #fff;
    border-bottom: none;
    padding-left: 10px;
  }
  */
 }

/* Secondary Navigation */
/* Secondary Navigation */
/* Secondary Navigation */

.secondary-navigation {
  border-bottom: 1px solid #b1b4b6;
  margin-bottom: 20px;
  display: block;
}

.secondary-navigation .govuk-list > li {
  margin-bottom: 0px;
}

.secondary-navigation .govuk-link {
  text-underline-offset: 0.9em;
}

.secondary-navigation__list {
  position: relative;
  left: -15px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.secondary-navigation__list-item {
  margin: 0 15px;
  float: left;
  line-height: 2.63158;
}

/* Case active nav */
.case-nav .secondary-navigation__list-item--case, .party-nav .secondary-navigation__list-item--party, .submission-nav .secondary-navigation__list-item--submission, .file-nav .secondary-navigation__list-item--file, .workflow-nav .secondary-navigation__list-item--workflow,  .notice-nav .secondary-navigation__list-item--notice,  .milestone-nav .secondary-navigation__list-item--milestone {
  border-bottom: 2px solid #1d70b8;
}

/* Org active nav */
.org-overview-nav .secondary-navigation__list-item--overview, .org-cases-nav .secondary-navigation__list-item--cases, .org-users-nav .secondary-navigation__list-item--users {
  border-bottom: 2px solid #1d70b8;
}

/* Mobile viewport */
@media all and (max-width: 40.0625em) {

  .secondary-navigation__list-item {
    float: none;
    padding: 5px 0 5px 0;
    line-height: 1.25;
  }

  .secondary-navigation .govuk-link {
    text-underline-offset: 0.1em;
  }

  /* Secondary nav active states*/
  .case-nav .secondary-navigation__list-item--case, .party-nav .secondary-navigation__list-item--party, .submission-nav .secondary-navigation__list-item--submission, .file-nav .secondary-navigation__list-item--file, .workflow-nav .secondary-navigation__list-item--workflow,  .notice-nav .secondary-navigation__list-item--notice,  .milestone-nav .secondary-navigation__list-item--milestone {
    border-left: 2px solid #1d70b8;
    border-bottom: none;
    padding-left: 10px;
  }
}