{% extends "layouts/main.html" %}
{% set version = "latest-pa" %}

{% block header %}
  {% include version + "/includes/header1.html" %}
{% endblock %}

{% block pageTitle %}
  Case contact – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Contact details</span>
    {% if data['changeOrg'] == "change" %}
      <form class="form" action="check-answers" method="post">
      {% else %}
      <form class="form" action="task-list?question1-org=complete" method="post">
    {% endif %}

      {{ govukRadios({
        name: "firmAC",
        fieldset: {
          legend: {
            text: "Which firm account number is this application for?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
          },
          hint: {
            text: "Your sign in details give you access to these firm account numbers. To get access to a different firm account number contact your firm's LAA account administrator."
          },
        items: [
          {
            value: "A1B2C3",
            text: "A1B2C3"
          },
          {
            value: "B1B2C3",
            text: "B1B2C3"
          }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {% if data['claims-state'] =="empty" or data['claims-state'] ==null %}
      
          {{ govukButton({
            text: "Save and come back later",
            classes: "govuk-button--secondary",
            href: "../crm-apps?claims-state=draft"
          }) }}

          {% else %}

          {{ govukButton({
            text: "Save and come back later",
            classes: "govuk-button--secondary",
            href: "../crm-apps?claims-state=all"
          }) }}

        {% endif %}
      </div>

    </form>

  </div>
</div>

{% endblock %}
