{% if data['cwAppStatus'] == "Part granted"%}
    <article class="moj-ticket-panel" aria-label="Sub navigation 1">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h3 class="govuk-heading-m">Part granted</h3>
        {% if data['partConfirm'] == null %}
          <p>This application was part granted due to disallowed travel costs.</p>
          {% else %}
          <p>{{data['partConfirm']}}</p>
        {% endif %}
        <ul class="govuk-list">
          <li>
            <a href="claim-details-adjust-readonly#workItems" class="govuk-link--no-visited-state">Review adjustments to work items</a>
          </li>
          <li>
            <a href="claim-details-adjust-readonly#lettersCalls" class="govuk-link--no-visited-state">Review adjustments to letters and calls</a>
          </li>
          <li>
            <a href="claim-details-adjust-readonly#disbursements" class="govuk-link--no-visited-state">Review adjustments to disbursements</a>
          </li>
          <li>
            <a href="claim-details-adjust-readonly#additionalFee" class="govuk-link--no-visited-state">Review adjustments to additional fees</a>
          </li>
        </ul>
        {{ govukButton({
          text: "Create payment request",
          href: "/latest-portal/payments/add/check-answers?paymentType=Non-standard magistrates'&digitalPaper=started&claimedProfit=342.00&claimedTravel=0.00&claimedWaiting=10.00&claimedDisbursement=890.00&paymentClaimedTotal=1242.00&allowedProfit=342.00&allowedTravel=0.00&allowedWaiting=10.00&allowedDisbursement=890.00&paymentAllowedTotal=1242.00"
        }) }}
      </section>
    </article>
  {% elseif data['cwAppStatus'] == "Rejected"%}
    <article class="moj-ticket-panel" aria-label="Sub navigation 1">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h3 class="govuk-heading-m">Rejected</h3>
      {% if data['rejectedConfirm'] == null %}
        <p>This application has been rejected as the correct form has not been used. Please use CRM5.</p>
      {% else %}
      <p>{{data['rejectedConfirm']}}</p>        
      {% endif %}
      </section>
    </article>
  {% elseif data['cwAppStatus'] == "Referred"%}
   <article class="moj-ticket-panel" aria-label="Sub navigation 1">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h3 class="govuk-heading-m">Referred</h3>
      {% if data['referredConfirm'] == null %}
        <p>Referred to ICA due to questions over the expert used and rates requested by provider.</p>
        {% else %}
        <p>{{data['referredConfirm']}}</p>
      {% endif %}
      </section>
    </article>
  {% elseif data['cwAppStatus'] == "Returned" %}
    <article class="moj-ticket-panel" aria-label="Sub navigation 1">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h3 class="govuk-heading-m">Provider updated 20 Oct 2024</h3>
      <ul class="govuk-list">
        <li>
          <a href="#review-further-info2" class="govuk-link--no-visited-state">Further information</a>
        </li>
      </ul>
      </section>
    </article>
  {% elseif data['cwAppStatus'] == "Review" or data['cwAppStatus'] == "Expired"%}
    <article class="moj-ticket-panel" aria-label="Sub navigation 1">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h3 class="govuk-heading-m">Sent back to provider 7 Oct 2024</h3>

        <h4 class="govuk-heading-s">Further information request</h4>
      <p>{{data['fieldFurtherInfo'] or "There is little justification within the application regarding the amount of preparation requested, as this much higher than we would expect for a report from this type of expert. Please provide detailed justification why this work requires such a lengthy amount of time. "}}
      </p>   
      </section>
    </article>
  {% elseif data['cwAppStatus'] == "Granted" %}
    <article class="moj-ticket-panel" aria-label="Sub navigation 1">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h3 class="govuk-heading-m">Granted</h3>
        <p>{{data['grantedConfirm'] or "This is an optional comment from the caseworker"}}</p>
        {{ govukButton({
          text: "Create payment request",
          href: "/latest-portal/payments/add/check-answers?paymentType=Non-standard magistrates'&digitalPaper=started&claimedProfit=342.00&claimedTravel=0.00&claimedWaiting=10.00&claimedDisbursement=890.00&paymentClaimedTotal=1242.00&allowedProfit=342.00&allowedTravel=0.00&allowedWaiting=10.00&allowedDisbursement=890.00&paymentAllowedTotal=1242.00"
        }) }}
      </section>
    </article>
{% endif %}
