{{ mojPrimaryNavigation({
  label: 'Primary navigation',
  items: [
    {
      text: 'Your claims',
      href: 'crm-claims-reviewed',
      active: + activePrimeNav[0] | default('true')
    },
    {
      text: 'Search',
      href: 'crm-claims-search',
       active: + activePrimeNav[1]
    }
  ]
}) }}