{{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: [
      {
        text: 'Your claims',
        href: '/' + version + '/caseworker/crm-assess',
        active: + activePrimeNav[0] | default('true')
      },
      {
        text: 'Open claims',
        href: '/' + version + '/caseworker/crm-assess-open',
        active: + activePrimeNav[1]
      },
      {
        text: 'Closed claims',
        href: '/' + version + '/caseworker/crm-assess-closed',
        active: + activePrimeNav[2]
      },
      {
        text: 'Search',
        href: '/' + version + '/caseworker/crm-assess-search',
        active: + activePrimeNav[3]
      }
    ]
  }) }}