{% extends "layouts/main.html" %}
{% set version = "portal-1-1" %}

{% block header %}
  {% include version + "/includes/header-portal-provider.html"%}
{% endblock %}

{% block pageTitle %}
  LAA Online Portal – Submit a crime form - GOV.UK
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Submit a crime form
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-s"><a href="/latest-pa/provider/crm-apps-reviewed" class="govuk-link--no-visited-state">Apply for prior authority to incur disbursements, previously CRM4</a></h2>   
    <p>Complete applications for prior authority to incur disbursements in criminal cases in relation to magistrates, crown and prison law work.</p>      
    <h2 class="govuk-heading-s"><a href="#" class="govuk-link--no-visited-state">Apply for extension of upper limits, previously CRM5</a></h2>   
    <p>Complete applications for solicitors to increase funding limits in investigations, appeals and parole matters for ongoing criminal cases.</p>        
    <h2 class="govuk-heading-s"><a href="/latest-nsm/provider/crm-claims-reviewed" class="govuk-link--no-visited-state">Claim a non-standard magistrates' court payment, previously CRM7</a></h2>   
    <p>Submit a claim for a non-standard magistrates fee or for a breach of injunction.</p>        
  </div>
</div>

{% endblock %}