{% extends "layouts/main.html" %}
{% set version = "portal-1-1" %}

{% block header %}
  {% include version + "/includes/header-portal-cw.html"%}
{% endblock %}

{% block pageTitle %}
  There is a problem – Assess a crime form - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner2.html"%}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">There is a problem</h1>
	  <p>You do not have permission to view this page. </p>
    <p>If you think this is incorrect, please speak to your supervisor.</p>
	</div>
</div>
    
    
        
{% endblock %}