{% extends "layouts/main-latest.html" %}

{% set version = "latest-portal" %}
{% set activePrimeNav = [true, false] %}
{% set activeSubNav = [true, false, false] %}


{% block header %}
  {% include version +"/includes/header-portal-payments.njk"%}  
{% endblock %}

{% block pageTitle %}
  {{data['laa-ref'] or "LAA-5a7d3c"}} - Payment details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Check your answers</h1>

      <!--Claim summmary-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Claim details</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="payment-type">Change <span class="govuk-visually-hidden"> claim details</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          {% if data['paymentType'] =="Assigned counsel" or data['paymentType'] =="Amendment to assigned counsel" %}
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Claim type
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['paymentType'] or "Non-standard magistrates'"}}
                </dd>
              </div>
              {% if data['existingRef'] !== "No"%}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    LAA reference of original claim
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['laa-ref'] or "LAA-5a7d3c"}}
                  </dd>
                </div>
              {% endif %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date claim received
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['dateReceived'] or "24 July 2025"}}
                </dd>
              </div>            
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Solicitor office account number
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['officeAccount'] or "1A33E4" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Unique file number
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['ufn'] or "100323/234"}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Defendant name
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['defendantLastName'] or "Blackbeard" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Counsel firm account number
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['counselOfficeAccount'] or "4A33E9" }}
                </dd>
              </div>
            </dl>
            {% else %}
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Claim type
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['paymentType']}}
                </dd>
              </div>
              {% if data['paymentType'] !== "Non-standard Magistrates'" and data['existingRef'] !== "No"%}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    LAA reference of original claim or payment
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['laa-ref'] or "LAA-5a7d3c"}}
                  </dd>
                </div>
              {% endif %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date claim received
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['dateReceived'] or "20 June 2025"}}
                </dd>
              </div>            
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Firm office account number
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['officeAccount'] or "1A3BE4" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Unique file number
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['ufn'] or "100323/234"}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Stage reached
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['stageReached'] or "PROM" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Defendant name
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['defendantFirstName'] or "Roger" }} {{data['defendantLastName'] or "Blackbeard" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Number of defendants
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['defendants'] or "2" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Number of hearing attendances
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['attendances'] or "5" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Hearing outcome code
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['hearingOutcome'] or "CP02 - Change of solicitor"}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Matter type
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['matterType'] or "12 - Theft (including taking vehicle without consent)"}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Court
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['hearingCourt'] or "Conwy - C3062" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Youth court matter
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['youthCourt'] or "No"}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date work was completed
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['date-completed'] or "24 June 2025"}}
                </dd>
              </div>
            </dl>
          {% endif %}
        </div>
      </div>

       <!--Cost summary -->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Cost summary</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="costs-claimed">Change <span class="govuk-visually-hidden"> costs</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--s">Claimed and allowed costs</caption>
            <thead class="govuk-table__head">
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Claimed</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Allowed</th>
            </thead>
            <tbody class="govuk-table__body">
              {% if data['paymentType'] =="Assigned counsel" or data['paymentType'] =="Amendment to assigned counsel" %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Counsel's fee</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['claimedCounselNet'] or "3000.00"}}</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedCounselNet'] or "3000.00"}}</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Counsel's fee VAT</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['claimedCounselVAT'] or "600.00"}}</td> 
                  <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedCounselVAT'] or "600.00"}}</td>
                </tr> 
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Total</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Total cost claimed </span><strong>£{{data['paymentClaimedTotal'] or "4892.00"}}</strong></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Total cost allowed </span><strong>£{{data['paymentAllowedTotal'] or "4872.20"}}</strong></td>
                </tr>      
                {% else %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Profit costs</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['claimedProfit'] or "342.00"}}</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedProfit'] or "331.20"}}</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Travel</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['claimedTravel'] or "0.00"}}</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['claimedTravel'] or "50.00"}}</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Waiting</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedWaiting'] or "60.00"}}</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedWaiting'] or "0.00"}}</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Disbursements</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedDisbursement'] or "890.00"}}</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedDisbursement'] or "890.00"}}</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Total</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Total cost claimed </span><strong>£{{data['paymentClaimedTotal'] or "1292.00"}}</strong></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Total cost allowed </span><strong>£{{data['paymentAllowedTotal'] or "1271.20"}}</strong></td>
                </tr>
              {% endif %}
            </tbody>
          </table> 
        </div>
      </div>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Submit payment request",
          href: "submit-confirmation"
        }) }}

        {{ govukButton({
          text: "Save and come back later",
          classes: "govuk-button--secondary",
          href: "../crm-apps-reviewed?cwAppState=all"
        }) }}
      </div>

    </div>
  </div>

{% endblock %}