{% extends "layouts/main-latest.html" %}

{% set version = "latest-portal" %}
{% set activePrimeNav = [true, false] %}
{% set activeSubNav = [true, false, false] %}


{% block header %}
  {% include version +"/includes/header-portal-payments.njk"%}  
{% endblock %}

{% block pageTitle %}
  {{data['laa-ref'] or "LAA-5a7d3c"}} - Payment details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Check your answers</h1>

      <!--Claim summmary-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Claim summary</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="claim-details">Change <span class="govuk-visually-hidden"> costs</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                LAA reference
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['laa-ref'] or "LAA-5a7d3c"}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Unique file number
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['ufnNSM'] or "100323/234"}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Firm office account number
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['org-acc'] or "1A3B23E4" }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Stage reached
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['stage'] or "PROM" }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Defendant last name
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['defendant-last-name'] or "Blackbeard" }}<br>
              </dd>
            </div>
             <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                MAAT number
              </dt>
              <dd class="govuk-summary-list__value">
                1234567
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Number of defendants
              </dt>
              <dd class="govuk-summary-list__value">
                2
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Outcome code
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['hearingOutcome'] or "CP02 - Change of solicitor"}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Matter type
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['matterType'] or "12 - Theft (including taking vehicle without consent)"}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date work was completed
              </dt>
              <dd class="govuk-summary-list__value">
                24 June 2025
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Court
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['mag-court'] or "Aberconwy PSD - C3237" }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Number of attendances
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['no-hearings'] or "5" }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Youth court matter
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['youthCourt'] or "No"}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Assigned counsel
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['counselAssigned'] or "Yes"}}
              </dd>
            </div>
          </dl>
        </div>
      </div>

    
      {% if data['counselAssigned'] == "No"%}
      {% else %}
        <!--Counsel details-->
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Assigned counsel</h3>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="assigned-counsel">Change <span class="govuk-visually-hidden"> costs</span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Firm office account number
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['counsel-acc'] or "1A3B23E4" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Full name
                </dt>
                <dd class="govuk-summary-list__value">
                  Judge Judy
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Telephone number
                </dt>
                <dd class="govuk-summary-list__value">
                  0171 345 3456
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Email
                </dt>
                <dd class="govuk-summary-list__value">
                  thejudge@judy.com
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address
                </dt>
                <dd class="govuk-summary-list__value">
                  54 Doughty Street
                  London 
                  WC1N 2LS 
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Counsel's own reference
                </dt>
                <dd class="govuk-summary-list__value">
                  1234RF456
                </dd>
              </div>
            </dl>
          </div>
        </div>
      {% endif %}

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">Claim decision</h3>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="claim-decision">Change <span class="govuk-visually-hidden"> costs</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            {% if data['paymentType'] == "Amendment" or data['paymentType'] =="Supplemental" %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  {% if data['paymentType'] == "Appeal" %}
                    Claim decision being appealed
                    {% elseif data['paymentType'] =="Supplemental" %}
                      Original claim decision
                  {% endif %}
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['originalClaimDecision'] or "Part granted" }}
                </dd>
              </div>
            {% endif %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {% if data['paymentType'] == "Amendment" %}
                  Appealed claim decision
                  {% elseif data['paymentType'] =="Supplemental" %}
                  Supplemental claim decision
                  {% else %}
                  Claim decision
                {% endif %}
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['claimDecision'] or "Part granted"}}
              </dd>
            </div>
          </dl>
        </div>
      </div>

       <!--Cost summary -->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Cost summary</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="claimed-costs">Change <span class="govuk-visually-hidden"> costs</span></a>
            </li>
          </ul>
        </div>
        
        <div class="govuk-summary-card__content">
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--s">Claimed and allowed costs</caption>
            <thead class="govuk-table__head">
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Claimed</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Allowed</th>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Profit costs</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['claimedProfit1'] or "342.00"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedProfit'] or "331.20"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Disbursements</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['claimedTravel'] or "890.00"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedTravel'] or "890.00"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Travel</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['claimedWaiting'] or "0.00"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedWaiting'] or "50.00"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Waiting</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['claimedDisbursement'] or "60.00"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedDisbursement'] or "0.00"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Counsel's fee</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['claimedCounselNet'] or "3000.00"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedCounselNet'] or "3000.00"}}</td>
              </tr>
              {% if data['counselAssigned'] == "No" %}
                {% else %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Counsel's fee VAT</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['claimedCounselVAT'] or "600.00"}}</td> 
                  <td class="govuk-table__cell govuk-table__cell--numeric">£{{data['allowedCounselVAT'] or "600.00"}}</td>
                </tr>       
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Total</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Total cost claimed </span><strong>£{{data['paymentClaimedTotal'] or "4892.00"}}</strong></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Total cost allowed </span><strong>£{{data['paymentAllowedTotal'] or "4872.20"}}</strong></td>
                </tr>
              {% endif %}
            </tbody>
          </table> 
        </div>
      </div>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Submit payment request",
          href: "submit-confirmation"
        }) }}

        {{ govukButton({
          text: "Save and come back later",
          classes: "govuk-button--secondary",
          href: "../crm-apps-reviewed?cwAppState=all"
        }) }}
      </div>

    </div>
  </div>

{% endblock %}