{% extends "layouts/main-latest.html" %}

{% set version = "latest-portal" %}
{% set activePrimeNav = [true, false] %}
{% set activeSubNav = [false, true, false] %}


{% block header %}
  {% include version +"/includes/header-portal-payments.njk"%}  
{% endblock %}

{% block pageTitle %}
  Type of payment – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/{{version}}/question-payment-type" method="post">

        {{ govukRadios({
          name: "paymentType",
          fieldset: {
            legend: {
              text: "Claim type",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Non-standard Magistrates'",
              text: "Non-standard Magistrates'",
              checked: checked("paymentType", "Non-standard Magistrates'")
            },
            {
              value: "Supplemental Non-standard Magistrates'",
              text: "Supplemental Non-standard Magistrates'",
              checked: checked("paymentType", "Supplemental Non-standard Magistrates'")
            },
            {
              value: "Amendment to Non-standard Magistrates'",
              text: "Amendment to Non-standard Magistrates'",
              checked: checked("paymentType", "Amendment to Non-standard Magistrates'")
            },
            {
              divider: "or"
            },
            {
              value: "Assigned counsel",
              text: "Assigned counsel",
              checked: checked("paymentType", "Assigned counsel")
            },
            {
              value: "Amendment to assigned counsel",
              text: "Amendment to assigned counsel",
              checked: checked("paymentType", "Amendment to assigned counsel")
            }
          ]
        }) }}  

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

        </div>

      </form>

    </div>
  </div>

{% endblock %}