{% extends "layouts/main.html" %}

{% set version = "latest-portal" %}
{% set activePrimeNav = [true, false] %}
{% set activeSubNav = [false, true, false] %}


{% block header %}
  {% include version +"/includes/header-portal-payments.njk"%}  
{% endblock %}

{% block pageTitle %}
  {{data['laa-ref'] or "LAA-5a7d3c"}} - Payment request complete – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
  {% include "includes/banner.html"%}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Payment request complete
        </h1>
        <div class="govuk-panel__body">
          Reference: {{data['laa-ref'] or "LAA-1z5f76"}}
        </div>
      </div>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Payment type
          </dt>
            <dd class="govuk-summary-list__value">
            {{data['paymentType'] or "Non-standard magistrates'"}}
          </dd>
        </div>
         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Allowed costs
          </dt>
          <dd class="govuk-summary-list__value">
            £{{data['paymentAllowedTotal'] or "4872.20" }}
          </dd>
        </div>
      </dl>
      
      <div class="govuk-button-group">
          {{ govukButton({
            text: "Create new payment request",
            href: "payment-type"
          }) }}
         
        <a class="govuk-link" href="/latest-nsm/caseworker/crm-assess">Return to Your claims</a>
      </div>      
    </div>
  </div>

{% endblock %}