{% extends "layouts/main.html" %}
{% set version = "latest-pa" %}
{% set activePrimeNav = [true, false] %}

{% block header %}
{% include version + "/includes/header-provider.html" %}
{% endblock %}


{% block pageTitle %}
Applications details: {{data['laa-ref'] or "LAA-5a7d3c"}} – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/banner.html"%}


{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<!--Stage 2 - app appealed - no response yet > (part granted, following RFI)-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Application details
    </h1>
  </div>

  <!--Status of application-->

  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Application status</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">
              <p><strong class="govuk-tag govuk-tag--grey">Appealed</strong></p>
              <p>22 May 2025</p>
              <p>Awaiting LAA response</p>
              <p>£5,000 requested</p>
              <p>£4,100 allowed</p>

            </dd>
          </div>
          <div class="govuk-summary-list__row">
                 </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Previous appeal decision
            </dt>
            <dd class="govuk-summary-list__value">

              <p><strong class="govuk-tag govuk-tag--blue">Part granted</strong> </p>
              <p><a href="">See reason for part grant</a>.</p>
   
            </dd>
          </div>
        </dl>
      </div>

    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="subsection-title">Email the LAA case team</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link govuk-body-s govuk-link--no-visited-state"
            href="mailto:magsbilling@justice.gov.uk">magsbilling@justice.gov.uk</a>
        </li>
      </ul>

      <h2 class="govuk-heading-s" id="subsection-title">Print a PDF of this claim</h2>
      <p class="govuk-body-s">It will include the answers you input into this claim and its current status.</p>

      <a href="claim-details-print3" role="button" draggable="false" class="govuk-button govuk-button--secondary"
        data-module="govuk-button" data-govuk-button-init="">
        Create a printable PDF
      </a>

    </aside>
  </div>

    <div class="govuk-grid-column-two-thirds" id="nav">

      <nav class="moj-sub-navigation" aria-label="Sub navigation">

        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="#1">Appeal</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#2">Overview</a>
          </li>
         
        
        </ul>
      
      </nav>

    <h2 class="govuk-heading-l" id="appeal-details">Appeal details</h2>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h4 class="govuk-summary-card__title" id="review-provider-appeal">Appeal overview</h4>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-6">
          {% if data['appealStatus'] == "" or data['appealStatus'] == null  %}
          {% else %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {% if data['icaDecision']== "Yes"%}
                  ICA decision
                  {% else %}
                  Decision
                {% endif %}
              </dt>
              <dd class="govuk-summary-list__value">
                <p>{{data['appealStatus']}} 21 May 2025</p>
                <p>
                  {% if data['appealStatus']== "Upheld"%}
                    {{data['upheldConfirm'] or "We have upheld your appeal due to supporting evidence."}}
                    {% elseif data['appealStatus']== "Part upheld"%}
                      {{data['partUpheldConfirm'] or "We have parially upheld your appeal due to supporting evidence and made appropriate adjustments to some of your costs."}}
                    {% elseif data['appealStatus']== "Dismissed"%}
                      {{data['dismissedConfirm'] or "Your appeal has been dismissed as the travel costs are not permissionable for this type of expert."}}
                  {% endif %}
                </p>
              </dd>
            </div>
          {% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reason for appeal
            </dt>
            <dd class="govuk-summary-list__value">
              <p>Appealed 18 May 2025
              <p>I still disagree with the part grant of my application and have provided further evidence to prove the need for travel cost.
              </p>
              <ul class="govuk-list">
                <li><a href="">even-more-evidence.pdf</a></li>
              </ul>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Decision being appealed
            </dt>
            <dd class="govuk-summary-list__value">
              <p>Part granted 7 May 2025</p>
              <p>This application was part granted due to disallowed travel costs. The new submission does not materially change the requirement for travel.</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Previous appeals
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list">
                <li><a href="application-details-appeal-previous">Appeal 2 May 2025</a></li>
                <li><a href="">Appeal 14 April 2025</a></li>
              </ul>
            </dd>
          </div>
        </dl>       
      </div>
    </div>

    {% include version + "/includes/further-info-appeal-cw.html"%}
    {% include version + "/includes/application-buttons.html"%}

  </div>
</div>

{% endblock %}