{% extends "layouts/main.html" %}
{% set version = "pa-1-0" %}

{% block header %}
  {% include version + "/includes/header-provider.html" %}
{% endblock %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Service name goes here
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 3 of 8 sections.</p>

      <ol class="govuk-prototype-kit-task-list">
        <li>
          <h2 class="govuk-heading-m govuk-!-margin-top-5">
            <span class="govuk-heading-m govuk-!-margin-top-5-number">1. </span> Check before you start
          </h2>
          <ul class="govuk-task-list">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Check eligibility
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Read declaration
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="read-declaration-status">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="govuk-heading-m govuk-!-margin-top-5">
            <span class="govuk-heading-m govuk-!-margin-top-5-number">2. </span> Prepare application
          </h2>
          <ul class="govuk-task-list">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">
                  Company information
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="company-information-status">Completed</strong>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="contact-details-status">
                  Your contact details
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="contact-details-status">In progress</strong>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="list-convictions-status">
                  List convictions
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue" id="list-convictions-status">Not yet started</strong>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <span class="govuk-prototype-kit-task-list__task-name">
                Provide financial evidence
              </span>
              <strong class="govuk-tag govuk-tag--blue" id="financial-evidence-status">Cannot start yet</strong>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <span class="govuk-prototype-kit-task-list__task-name">
                Give medical information
              </span>
              <strong class="govuk-tag govuk-tag--blue" id="medical-information-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="govuk-heading-m govuk-!-margin-top-5">
            <span class="govuk-heading-m govuk-!-margin-top-5-number">3. </span> Apply
          </h2>
          <ul class="govuk-task-list">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <span class="govuk-prototype-kit-task-list__task-name">
                Submit and pay
              </span>
              <strong class="govuk-tag govuk-tag--blue" id="submit-pay-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>

{% endblock %}
