{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Application complete
          </h1>
          <div class="govuk-panel__body">
            Your LAA reference number<br><strong>{{data['laa-ref'] or "LAA-5a7d3c"}}</strong>
          </div>
        </div>

      <p>We have sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>We'll assess your claim.</p>
      <p>We’ll send you an email to let you know the outcome of your claim, or to ask for more information.</p>
      <p>
        <a href="#">
          What did you think of this service?
        </a> (takes 30 seconds)
      </p>

       <div class="govuk-button-group">
          {{ govukButton({
            text: "View my applications",
            href: "../crm-apps?app-state=saved"

          }) }}
        
          {{ govukButton({
            text: "Start new application",
            classes: "govuk-button--secondary",
            href: "question-prison"
          }) }}

        </div>


    </div>
  </div>

{% endblock %}
