{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}

{% block pageTitle %}
  Do you want add other expenditures? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">3. About your request </span>

      <h1 class="govuk-heading-xl moj-add-another__heading" tabindex="-1">Add an alternative quote</h1>

      <form class="form" action="question3-alt-quote-summary" method="post">

        {% if data['addAltQuote'] == "1" or data['showAltQuote'] == "1"  %}

          <p>Add up to 3 alternative quotes</p>

          {% call govukFieldset({
            legend: {
              text: "Expert's details",
              classes: "govuk-fieldset__legend--m"
            }
          }) %}
          
            {{ govukInput({
              label: {
                text: "Full name",
                classes: "govuk-label--s"
              },
              classes: "govuk-input--width-20",
              id: "expertNameAlt1",
              name: "eexpertNameAlt1",
              value: data['expertNameAlt1']
            }) }}

            {{ govukInput({
              label: {
                text: "Organisation",
                classes: "govuk-label--s"
              },
              classes: "govuk-input--width-20",
              id: "expertOrgAlt1",
              name: "expertOrgAlt1",
              value: data['expertOrgAlt1']
            }) }}

            {{ govukInput({
              label: {
                text: "Postcode",
                classes: "govuk-label--s"
              },
              classes: "govuk-input--width-10",
              id: "expertPostcodeAlt1",
              name: "expertPostcodeAlt1",
              value: data['eexpertPostcodeAlt1']
            }) }}

          {% endcall %}

          {% call govukFieldset({
            legend: { 
              text: "Disbursement details",
              classes: "govuk-fieldset__legend--m"
            }
          }) %}

            {{ govukTextarea({
              label: {
                text: "Describe the disbursement required",
                classes: "govuk-label--s"
              },
                name: "disburseAltQuote1",
                id: "disburseAltQuote1",
                value: data['disburseAltQuote1']
            }) }}

            {% set hourlyHtml %}
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group">
                  <legend class="govuk-fieldset__legend">
                    Number of hours
                  </legend>
                  <div class="govuk-date-input" id="altTime1">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="altTime1-hours">
                          Hours
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="altTime1-hours" name="altTime1-hours" type="text" inputmode="numeric" value="{{data['altTime1-hours']}}">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="altTime1-mins">
                          Minutes
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="altTime1-mins" name="altTime1-mins" type="text" inputmode="numeric" value="{{data['altTime1-mins']}}">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>

              {{ govukInput({
                id: "altHourlyRate1",
                name: "altHourlyRate1",
                value: data['altHourlyRate1'],
                label: {
                  text: "What is the hourly cost?"
                },
                prefix: {
                  text: "£"
                },
                classes: "govuk-input--width-5",
                spellcheck: false
              }) }}
    
            {% endset %}

            {% set nonhourHtml %}
              <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label" for="altQuantity1">
                    Number of items
                  </label>
                </h1>
                <div class="govuk-input__wrapper">
                  <input class="govuk-input govuk-input--width-5" id="altQuantity1" name="altQuantity1" type="text" spellcheck="false" value="{{data['altQuantity1']}}">
                </div>
              </div>
            
              {{ govukInput({
                id: "altNonhourRate1",
                name: "altNonhourRate1",
                value: data['altNonhourRate1'],
                label: {
                  text: "Cost per item"
                },
                prefix: {
                  text: "£"
                },
                classes: "govuk-input--width-5",
                spellcheck: false
              }) }}
            {% endset %}

              {{ govukRadios({
                name: "altChargeType1",
                fieldset: {
                  legend: {
                    text: "What is the cost basis?",
                    classes: "govuk-fieldset__legend--s"
                  }
                },
                items: [
                  {
                    value: "Charged by the hour",
                    text: "Charged by the hour",
                    checked: checked("altChargeType1", "Charged by the hour"),
                    conditional: {
                      html: hourlyHtml
                    }
                  },
                  {
                    value: "Charged per item",
                    text: "Charged per item",
                    checked: checked("altChargeType1", "Charged per item"),
                    conditional: {
                      html: nonhourHtml
                    }
                  }
                ]
              }) }}

          {% endcall %}

          {% call govukFieldset({
            legend: { 
              text: "Travel costs",
              classes: "govuk-fieldset__legend--m"
            }
          }) %}

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" role="group" >
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    Travel time
                </legend>
                <div class="govuk-date-input" id="altQuoteTravel1">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="altQuoteTravel1-hours">
                        Hours
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="altQuoteTravel1-hours" name="altQuoteTravel1-hours" type="text" inputmode="numeric" value="{{data['altQuoteTravel1-hours']}}">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="altQuoteTravel1-mins">
                        Minutes
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="altQuoteTravel1-mins" name="altQuoteTravel1-mins" type="text" inputmode="numeric" value="{{data['altQuoteTravel1-mins']}}">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
        
            {{ govukInput({
              id: "altTravelRate2",
              name: "altTravelRate2",
              value: data['altTravelRate2'],
              label: {
                text: "Travel hourly rate",
                classes: "govuk-label--s"
              },
              prefix: {
                text: "£"
              },
              classes: "govuk-input--width-5",
              spellcheck: false
            }) }}
         
          {% endcall %}  

          <h2 class="govuk-heading-l">
            <span class="govuk-caption-l">Total cost for the quote</span>
            £0.00
          </h2>

          {% else %}
          {% if data['addAltQuote'] == "2" or data['showAltQuote'] == "2"  %}
            <p>Add up to 3 alternative quotes</p>

            {% call govukFieldset({
              legend: {
                text: "Expert's details",
                classes: "govuk-fieldset__legend--m"
              }
            }) %}
            
              {{ govukInput({
                label: {
                  text: "Full name",
                  classes: "govuk-label--s"
                },
                classes: "govuk-input--width-20",
                id: "expertNameAlt2",
                name: "eexpertNameAlt2",
                value: data['expertNameAlt2']
              }) }}

              {{ govukInput({
                label: {
                  text: "Organisation",
                  classes: "govuk-label--s"
                },
                classes: "govuk-input--width-20",
                id: "expertOrgAlt2",
                name: "expertOrgAlt2",
                value: data['expertOrgAlt2']
              }) }}

              {{ govukInput({
                label: {
                  text: "Postcode",
                  classes: "govuk-label--s"
                },
                classes: "govuk-input--width-10",
                id: "expertPostcodeAlt2",
                name: "expertPostcodeAlt2",
                value: data['eexpertPostcodeAlt2']
              }) }}

            {% endcall %}

            {% call govukFieldset({
              legend: { 
                text: "Disbursement details",
                classes: "govuk-fieldset__legend--m"
              }
            }) %}

              {{ govukTextarea({
                label: {
                  text: "Describe the disbursement required",
                  classes: "govuk-label--s"
                },
                  name: "disburseAltQuote1",
                  id: "disburseAltQuote1",
                  value: data['disburseAltQuote2']
              }) }}

              {% set hourlyHtml %}
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" role="group">
                    <legend class="govuk-fieldset__legend">
                      Number of hours
                    </legend>
                    <div class="govuk-date-input" id="altTime2">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="altTime2-hours">
                            Hours
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="altTime2-hours" name="altTime2-hours" type="text" inputmode="numeric" value="{{data['altTime2-hours']}}">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="altTime2-mins">
                            Minutes
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="altTime2-mins" name="altTime2-mins" type="text" inputmode="numeric" value="{{data['altTime2-mins']}}">
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>

                {{ govukInput({
                  id: "altHourlyRate2",
                  name: "altHourlyRate2",
                  value: data['altHourlyRate2'],
                  label: {
                    text: "What is the hourly cost?"
                  },
                  prefix: {
                    text: "£"
                  },
                  classes: "govuk-input--width-5",
                  spellcheck: false
                }) }}
        
              {% endset %}

              {% set nonhourHtml %}
                <div class="govuk-form-group">
                  <h1 class="govuk-label-wrapper">
                    <label class="govuk-label" for="altQuantity2">
                      Number of items
                    </label>
                  </h1>
                  <div class="govuk-input__wrapper">
                    <input class="govuk-input govuk-input--width-5" id="altQuantity2" name="altQuantity2" type="text" spellcheck="false" value="{{data['altQuantity2']}}">
                  </div>
                </div>
                
                {{ govukInput({
                  id: "altNonhourRate2",
                  name: "altNonhourRate2",
                  value: data['altNonhourRate2'],
                  label: {
                    text: "Cost per item"
                  },
                  prefix: {
                    text: "£"
                  },
                  classes: "govuk-input--width-5",
                  spellcheck: false
                }) }}
              {% endset %}

              {{ govukRadios({
                name: "altChargeType2",
                fieldset: {
                  legend: {
                    text: "What is the cost basis?",
                    classes: "govuk-fieldset__legend--s"
                  }
                },
                items: [
                  {
                    value: "Charged by the hour",
                    text: "Charged by the hour",
                    checked: checked("altChargeType2", "Charged by the hour"),
                    conditional: {
                      html: hourlyHtml
                    }
                  },
                  {
                    value: "Charged per item",
                    text: "Charged per item",
                    checked: checked("altChargeType2", "Charged per item"),
                    conditional: {
                      html: nonhourHtml
                    }
                  }
                ]
              }) }}

            {% endcall %}

            {% call govukFieldset({
              legend: { 
                text: "Travel costs",
                classes: "govuk-fieldset__legend--m"
              }
            }) %}

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" >
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      Travel time
                  </legend>
                  <div class="govuk-date-input" id="altQuoteTravel2">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="altQuoteTravel2-hours">
                          Hours
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="altQuoteTravel2-hours" name="altQuoteTravel2-hours" type="text" inputmode="numeric" value="{{data['altQuoteTravel2-hours']}}">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="altQuoteTravel2-mins">
                          Minutes
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="altQuoteTravel2-mins" name="altQuoteTravel2-mins" type="text" inputmode="numeric" value="{{data['altQuoteTravel2-mins']}}">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
          
              {{ govukInput({
                id: "altTravelRate2",
                name: "altTravelRate2",
                value: data['altTravelRate2'],
                label: {
                  text: "Travel hourly rate",
                  classes: "govuk-label--s"
                },
                prefix: {
                  text: "£"
                },
                classes: "govuk-input--width-5",
                spellcheck: false
              }) }}
          
              
            {% endcall %} 
            <h2 class="govuk-heading-l">
              <span class="govuk-caption-l">Total cost for the quote</span>
              £0.00
            </h2>    

          {% endif %}
        {% endif %}
      
        <div class="govuk-button-group">
          {% if data['changeAltQuote1'] =="change" or data['changeAltQuote2'] =="change" or data['changeAltQuote3'] =="change"  %}
              {{ govukButton({
                text: "Update"
              }) }}
              
              {% else %}

              {{ govukButton({
                text: "Save and continue"
              }) }}
            {% endif %}

          {% if data['claims-state'] =="empty" or data['claims-state'] ==null %}
        
            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?claims-state=saved"
            }) }}

            {% else %}

            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?claims-state=all"
            }) }}

          {% endif %}
        </div>

      </form>
    </div>
  </div>

{% endblock %}
