{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}

{% block pageTitle %}
  Primary quote – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">3. About the request </span>
      <h1 class="govuk-heading-xl">Primary quote</h1>

      
      <form class="form" action="question3-quote-prep" method="post">

        {% call govukFieldset({
          legend: {
            text: "Service provider",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}
        
          {{ govukInput({
            label: {
              text: "Full name",
              classes: "govuk-label--s"
            },
            id: "expert-name",
            name: "expert-name",
            value: data['expert-name']
          }) }}

          {{ govukInput({
            label: {
              text: "Organisation",
              classes: "govuk-label--s"
            },
            id: "expert-org-name",
            name: "expert-org-name",
            value: data['expert-org-name']
          }) }}

          {{ govukInput({
            label: {
              text: "Postcode",
              classes: "govuk-label--s"
            },
            classes: "govuk-input--width-10",
            id: "expert-postcode",
            name: "expert-postcode",
            value: data['expert-postcode']
          }) }}

        {% endcall %}

        {% include "includes/service-list.html" %}

        {{ govukFileUpload({
          id: "quote1Upload",
          name: "quote1Upload",
          isPageHeading: true,
          label: {
            text: "Upload the quote",
            classes: 'govuk-label--m'
          },
          hint: {
            text: 'The maximum file size of the quote is 70MB. Files must be a DOC, DOCX, XLSX, XLS, RTF, ODT, JPG, BMP, PNG, TIF or PDF.'
          }
        }) }}


        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          {% if data['app-state'] =="empty" or data['app-state'] ==null %}
        
            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?app-state=draft"
            }) }}

            {% else %}

            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?app-state=all#manage-drafts"
            }) }}

          {% endif %}
         
        </div>

      </form>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
    <script src="/public/javascripts/accessible-autocomplete.min.js"></script>

    <script>
      let selectElements = $('.autocomplete-select')
      let placeholder = ''


      selectElements.each(function (index) {
        let selectElement = $(this)
        if (selectElement.length) {
          if (selectElement.attr('autocomplete-placeholder')) {
              placeholder = selectElement.attr('autocomplete-placeholder')
            }
          
          accessibleAutocomplete.enhanceSelectElement({
            defaultValue: '',
            placeholder: placeholder,
            minLength: 1,
            showAllValues: true,
            autoselect: false,
            selectElement: selectElement[0],
          })
        }

      })
    
    </script>

{% endblock %}
