{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}

{% block pageTitle %}
  Travel costs – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">3. About your request </span>
      <h1 class="govuk-heading-xl">Travel costs</h1>
      {% if data['changeTravel'] =="change" %}
        <form class="form" action="question3-quote-summary?addTravel=Yes" method="post">
        {% else %}
        <form class="form" action="question3-quote-add-q?addTravel=Yes&show-add=1" method="post">
      {% endif %}

        {% if data['detained'] !== "no" %}

          {{ govukTextarea({
            name: "whyTravel",
            id: "whyTravel",
            value: data['whyTravel'],
            label: {
              text: "Why are travel costs being incured if your client is not detained?",
              classes: "govuk-label--s"
            }
          }) }}

        {% endif %}


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" >
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Travel time
            </legend>
            <div class="govuk-date-input" id="quoteTravel">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="quoteTravel-hours">
                    Hours
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="quoteTravel-hours" name="quoteTravel-hours" type="text" inputmode="numeric" value="{{data['quoteTravel-hours']}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="quoteTravel-mins">
                    Minutes
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="quoteTravel-mins" name="quoteTravel-mins" type="text" inputmode="numeric" value="{{data['quoteTravel-mins']}}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      
        {{ govukInput({
          id: "travelRate",
          name: "travelRate",
          value: data['travelRate'],
          label: {
            text: "Travel hourly rate",
            classes: "govuk-label--s"
          },
          prefix: {
            text: "£"
          },
          classes: "govuk-input--width-5",
          spellcheck: false
        }) }}
      
        <h2 class="govuk-heading-l">
          <span class="govuk-caption-l">Total travel costs</span>
          £0.00
        </h2>

        <div class="govuk-button-group">

          {% if data['changeTravel'] =="change" %}
            {{ govukButton({
              text: "Update"
            }) }}
            
            {% else %}

            {{ govukButton({
              text: "Save and continue"
            }) }}
          {% endif %}

          {% if data['claims-state'] =="empty" or data['claims-state'] ==null %}
        
            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?claims-state=saved"
            }) }}

            {% else %}

            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?claims-state=all"
            }) }}

          {% endif %}
        </div>

      </form>

    </div>
  </div>

{% endblock %}