{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}

{% block pageTitle %}
  Expert's contact details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">3. About your request </span>
      {% if data['addAltQuote'] =="3" %}
        <h1 class="govuk-heading-xl">You've added 3 alternative quotes</h1>
          {% else %}
        {% if data['addAltQuote'] =="2" %}
          <h1 class="govuk-heading-xl">You've added 2 alternative quotes</h1>
          {% else %}
          <h1 class="govuk-heading-xl">You've added 1 alternative quote</h1>
        {% endif %}
      {% endif %}
       
      {% if data['addAltQuote'] == 1 %}
        <form class="form" action="/question3-alt-quote-summary2" method="post">
        {% else %}
        {% if data['addAltQuote'] == 2 %}
          <form class="form" action="/question3-alt-quote-summary3" method="post">
          {% else %}
          {% if data['addAltQuote'] == 3 %}
            <form class="form" action="task-list?question3-alt-quote=complete" method="post">
            {% else %}
          {% endif %}
        {% endif %}
      {% endif %}


        <!--Alternative quote 1-->
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Alternative quote</h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <!--For the proto make links show as not yet selected until the user does the action-->
                {% if data['changeAlt1'] == "change" %}
                  <a class="govuk-link" href="question3-alt-quote-details?addAlt=Yes&addAltQuote=1&changeAlt1=change">
                  Change<span class="govuk-visually-hidden"> additional item</span></a>
                  {% else %}
                  <a class="govuk-link--no-visited-state" href="question3-alt-quote-details?addAlt=Yes&addAltQuote=1&changeAlt1=change">Change<span class="govuk-visually-hidden"> additional item</a>
                {% endif %} 
              </li>
              <li class="govuk-summary-card__action">
                <!--For the proto make links show as not selected until the user does the action-->
                {% if data['deleteAlt1'] == "delete" %}
                  <a class="govuk-link" href="question3-alt-quote-delete?altShow=1&deleteAlt1=delete">
                  Delete<span class="govuk-visually-hidden"> additional item</span></a>
                  {% else %}
                  <a class="govuk-link--no-visited-state" href="question3-alt-quote-delete?altShow=1&deleteAlt1=delete">Delete<span class="govuk-visually-hidden"> additional item</a>
                {% endif %}
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list govuk-!-margin-bottom-6">
               <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Quote upload
                </dt>
                <dd class="govuk-summary-list__value">
                  myquote1.pdf
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Expert details
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['expertNameAlt1']}}<br>
                  {{data['expertOrgAlt1']}}, 
                  {{data['expertPostcodeAlt1']}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Included in the quote
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['alt1Descript']}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Total cost
                </dt>
                <dd class="govuk-summary-list__value">
                    £{{data['alt1TotalCost']}}
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <!--Alternative quote 2-->
        {% if data['altShow'] =="2" or data['altShow'] =="3" %}
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Alternative quote</h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <!--For the proto make links show as not yet selected until the user does the action-->
                  {% if data['changeAlt2'] == "change" %}
                    <a class="govuk-link" href="question3-alt-quote-details?addAlt=Yes&addAltQuote=2&changeAlt2=change">
                    Change<span class="govuk-visually-hidden"> additional item</span></a>
                    {% else %}
                    <a class="govuk-link--no-visited-state" href="question3-alt-quote-details?addAlt=Yes&addAltQuote=2&changeAlt2=change">Change<span class="govuk-visually-hidden"> additional item</a>
                  {% endif %} 
                </li>
                <li class="govuk-summary-card__action">
                  <!--For the proto make links show as not selected until the user does the action-->
                  {% if data['deleteAlt1'] == "delete" %}
                    <a class="govuk-link" href="question3-alt-quote-delete?altShow=2&deleteAlt2=delete">
                    Delete<span class="govuk-visually-hidden"> additional item</span></a>
                    {% else %}
                    <a class="govuk-link--no-visited-state" href="question3-alt-quote-delete?altShow=2&deleteAlt1=delete">Delete<span class="govuk-visually-hidden"> additional item</a>
                  {% endif %}
                </li>
              </ul>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list govuk-!-margin-bottom-6">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Quote upload
                  </dt>
                  <dd class="govuk-summary-list__value">
                    myquote2.pdf
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Expert details
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['expertNameAlt2']}}<br>
                    {{data['expertOrgAlt2']}}, 
                    {{data['expertPostcodeAlt2']}}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Included in the quote
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['alt2Descript']}}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Total cost
                  </dt>
                  <dd class="govuk-summary-list__value">
                      £{{data['alt2TotalCost']}}
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        {% endif %}
         <!--Alternative quote 3-->
         {% if data['altShow'] =="3" %}
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Alternative quote</h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <!--For the proto make links show as not yet selected until the user does the action-->
                  {% if data['changeAlt3'] == "change" %}
                    <a class="govuk-link" href="question3-alt-quote-details?addAlt=Yes&addAltQuote=3&changeAlt3=change">
                    Change<span class="govuk-visually-hidden"> additional item</span></a>
                    {% else %}
                    <a class="govuk-link--no-visited-state" href="question3-alt-quote-details?addAlt=Yes&addAltQuote=3&changeAlt3=change">Change<span class="govuk-visually-hidden"> additional item</a>
                  {% endif %} 
                </li>
                <li class="govuk-summary-card__action">
                  <!--For the proto make links show as not selected until the user does the action-->
                  {% if data['deleteAlt1'] == "delete" %}
                    <a class="govuk-link" href="question3-alt-quote-delete?altShow=3&deleteAlt3=delete">
                    Delete<span class="govuk-visually-hidden"> additional item</span></a>
                    {% else %}
                    <a class="govuk-link--no-visited-state" href="question3-alt-quote-delete?altShow=3&deleteAlt3=delete">Delete<span class="govuk-visually-hidden"> additional item</a>
                  {% endif %}
                </li>
              </ul>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list govuk-!-margin-bottom-6">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Quote upload
                  </dt>
                  <dd class="govuk-summary-list__value">
                    myquote3.pdf
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Expert details
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['expertNameAlt3']}}<br>
                    {{data['expertOrgAlt3']}}, 
                    {{data['expertPostcodeAlt3']}}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Included in the quote
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['alt1Descript']}}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Total cost
                  </dt>
                  <dd class="govuk-summary-list__value">
                      £{{data['alt1TotalCost']}}
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        {% endif %}
        
        {% if data['addAltQuote'] == 1 %}
          {{ govukRadios({
            classes: "govuk-radios--inline",
            name: "altAddQuote1",
            fieldset: {
              legend: {
                text: "Do you want to add an additional cost?",
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "Yes",
                text: "Yes"
              },
              {
                value: "No",
                text: "No"
              }
            ]
          }) }}
          {% else %}
          {% if data['addAltQuote'] == 2 %}
            {{ govukRadios({
              classes: "govuk-radios--inline",
              name: "altAddQuote2",
              fieldset: {
                legend: {
                  text: "Do you want to add an additional quote?",
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "Yes",
                  text: "Yes"
                },
                {
                  value: "No",
                  text: "No"
                }
              ]
            }) }}
          {% endif %}
        {% endif %}

        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          {% if data['app-state'] =="empty" or data['app-state'] ==null %}
        
            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?app-state=saved"
            }) }}

            {% else %}

            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?app-state=all#manage-drafts"
            }) }}

          {% endif %}
         
        </div>

      </form>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}

    <script>

      window.onload = function(){  
      var actualAdd1Total = parseInt(document.getElementById("actualAdd1Total").value) | 0
      var actualAdd2Total = parseInt(document.getElementById("actualAdd2Total").value) | 0
      
      addTotalCost = Add1Cost + Add2Cost; 
      }
    
    </script>

{% endblock %}
