{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}

{% block pageTitle %}
  Alternative quote summary – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
      <span class="govuk-caption-xl">About the request </span>
      {% if data['addAltQuote'] =="3" %}
        <h1 class="govuk-heading-xl">You've added 3 alternative quotes</h1>
          {% else %}
        {% if data['addAltQuote'] =="2" %}
          <h1 class="govuk-heading-xl">You've added 2 alternative quotes</h1>
          {% else %}
          {% if data['addAltQuote'] =="1" %}
            <h1 class="govuk-heading-xl">You've added 1 alternative quote</h1>
            {% else %}
            <h1 class="govuk-heading-xl">You've added 0 alternative quotes</h1>
        {% endif %}
      {% endif %}
      {% endif %}

      {% if data['addAltQuote'] == "3" and data['changeAltQuote'] !== "change" %} 
        <form class="form" action="task-list?question3-alt-quote=complete" method="post">
        {% else %}
        {% if data['addAltQuote'] == "3" and data['changeAltQuote'] == "change" %} 
          <form class="form" action="check-answers" method="post">
          {% else %}
          {% if data['addAltQuote'] == "2" %}
            <form class="form" action="/question3-alt-quote-summary3" method="post">
            {% else %}
            {% if data['addAltQuote'] == "1" %}
              <form class="form" action="/question3-alt-quote-summary2" method="post">
              {% else %}
              <form class="form" action="/question3-alt-quotes-q" method="post">
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}

      

      <input type="hidden" id="actualTravelTotal" name="actualTravelTotal" value="{{data['actualalt1TravelTotal']}}" />
      <input type="hidden" id="actualAdd1Total" name="actualAdd1Total" value="{{data['actualalt1AddTotal']}}" />
      <input type="hidden" id="actualTransTotal" name="actualTransTotal" value="{{data['actualalt1TransTotal']}}" />
      <input type="hidden" id="actualTransTransTotal" name="actualTransTransTotal" value="{{data['actualalt1TransTransTotal']}}" />
      <input type="hidden" id="actualTranslatorTotal" name="actualTranslatorTotal" value="{{data['actualalt1TranslatorTotal']}}" />
      <input type="hidden" id="actualPhotoTotal" name="actualPhotoTotal" value="{{data['actualalt1PhotoTotal']}}" />
      <input type="hidden" id="actualDNATotal" name="actualDNATotal" value="{{data['actualalt1DNATotal']}}" />
      <input type="hidden" id="actualGeneralTotal" name="actualGeneralTotal" value="{{data['actualalt1GeneralTotal']}}" />
      <input type="hidden" id="actualOtherTotal" name="actualOtherTotal" value="{{data['actualalt1OtherTotal']}}" />



        <!--Alternative quote 1-->
        {% if data['deleteAlt1'] == "1" %}
          {% else %}
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Alternative quote</h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <!--For the proto make links show as not yet selected until the user does the action-->
                  {% if data['changeAlt1'] == "change" %}
                    <a class="govuk-link" href="question3-alt-quote-details?addAlt=Yes&showAltQuote=1&changeAlt1=change">
                    Change<span class="govuk-visually-hidden"> additional item</span></a>
                    {% else %}
                    <a class="govuk-link--no-visited-state" href="question3-alt-quote-details?addAlt=Yes&showAltQuote=1&changeAlt1=change">Change<span class="govuk-visually-hidden"> additional item</a>
                  {% endif %} 
                </li>
                <li class="govuk-summary-card__action">
                  <!--For the proto make links show as not selected until the user does the action-->
                  {% if data['deleteAlt1'] == "delete" %}
                    <a class="govuk-link" href="question3-alt-quote-delete?altShow=1&deleteAlt1=delete">
                    Delete<span class="govuk-visually-hidden"> additional item</span></a>
                    {% else %}
                    <a class="govuk-link--no-visited-state" href="question3-alt-quote-delete?altShow=1&deleteAlt1=delete">Delete<span class="govuk-visually-hidden"> additional item</a>
                  {% endif %}
                </li>
              </ul>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list govuk-!-margin-bottom-6">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Service details
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['alt1ExpertName'] or "Jame Jones"}}<br>
                    {{data['alt1ExpertOrg'] or "Jones Law"}}, 
                    {{data['alt1ExpertPostcode'] or "E1"}}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Quote upload
                  </dt>
                  <dd class="govuk-summary-list__value">
                    myquote1.pdf
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Additional items
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['alt1Descript'] or "None"}}
                  </dd>
                </div>
              </dl>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Costs</th>
                    <th scope="col" class="govuk-table__header">Total</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Service</td>
                    <td class="govuk-table__cell">
                      <!--Service cost-->
                      {% if data['serviceType'] == "Transcription" %}
                          £{{data['alt1actualTransTotalCost'] or "760"}}.00
                          {% else %}
                          {% if data['serviceType'] == "Translation and transcription" %}
                            £{{data['alt1actualTransTotalCost'] or "760"}}.00
                            {% else %}
                            {% if data['serviceType'] == "Translator" %}
                              £{{data['alt1actualTransTotalCost'] or "760"}}.00
                              {% else %}
                              {% if data['serviceType'] == "Photocopying" %}
                                £{{data['alt1actualTransTotalCost'] or "760"}}.00
                                {% else %}
                                {% if data['serviceType'] == "DNA report" %}
                                  £{{data['alt1actualTransTotalCost'] or "760"}}.00
                                  {% else %}
                                  {% if data['serviceType'] == "Other" %}
                                    £{{data['alt1actualTransTotalCost'] or "760"}}.00
                                    {% else %}
                                    £{{data['alt1actualTransTotalCost'] or "760"}}.00
                                  {% endif %}
                                {% endif %}
                              {% endif %}
                            {% endif %}
                          {% endif %}
                        {% endif %}
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Travel</td>
                    <td class="govuk-table__cell">£{{data['actualalt1TravelTotal'] or "0"}}.00</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Additional</td>
                    <td class="govuk-table__cell">£{{data['alt1AddCost'] or "0"}}.00</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-table__header">Total cost</td>
                    <td class="govuk-table__cell"><strong>£{{data['actualalt1TotalCost'] or "760"}}.00</strong></td>
                  </tr>          
              </tbody>
              </table>  
            </div>
          </div>
        {% endif %}

        <!--Alternative quote 2-->

        {% if data['addAltQuote'] =="2" or data['addAltQuote'] =="3" or data['showAltQuote'] =="2" %}
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Alternative quote</h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <!--For the proto make links show as not yet selected until the user does the action-->
                  {% if data['changeAlt2'] == "change" %}
                    <a class="govuk-link" href="question3-alt-quote-details?addAlt=Yes&showAltQuote=2&changeAlt2=change">
                    Change<span class="govuk-visually-hidden"> additional item</span></a>
                    {% else %}
                    <a class="govuk-link--no-visited-state" href="question3-alt-quote-details?addAlt=Yes&showAltQuote=2&changeAlt2=change">Change<span class="govuk-visually-hidden"> additional item</a>
                  {% endif %} 
                </li>
                <li class="govuk-summary-card__action">
                  <!--For the proto make links show as not selected until the user does the action-->
                  {% if data['deleteAlt1'] == "delete" %}
                    <a class="govuk-link" href="question3-alt-quote-delete?altShow=2&deleteAlt1=delete">
                    Delete<span class="govuk-visually-hidden"> additional item</span></a>
                    {% else %}
                    <a class="govuk-link--no-visited-state" href="question3-alt-quote-delete?altShow=2&deleteAlt1=delete">Delete<span class="govuk-visually-hidden"> additional item</a>
                  {% endif %}
                </li>
              </ul>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list govuk-!-margin-bottom-6">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Service details
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['alt2ExpertName'] or "Belinda Cartright"}}<br>
                    {{data['alt2ExpertOrg'] or "Cartright Ltd"}}, 
                    {{data['alt2ExpertPostcode'] or "E2"}}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Quote upload
                  </dt>
                  <dd class="govuk-summary-list__value">
                    myquote2.pdf
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Additional items
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['alt2Descript'] or "None"}}
                  </dd>
                </div>
              </dl>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Costs</th>
                    <th scope="col" class="govuk-table__header">Total</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Service</td>
                    <td class="govuk-table__cell">
                      <!--Service cost-->
                      {% if data['serviceType'] == "Transcription" %}
                          £{{data['alt2actualTransTotalCost'] or "825"}}.00
                          {% else %}
                          {% if data['serviceType'] == "Translation and transcription" %}
                            £{{data['alt2actualTransTotalCost'] or "825"}}.00
                            {% else %}
                            {% if data['serviceType'] == "Translator" %}
                              £{{data['alt2actualTransTotalCost'] or "825"}}.00
                              {% else %}
                              {% if data['serviceType'] == "Photocopying" %}
                                £{{data['alt2actualTransTotalCost'] or "825"}}.00
                                {% else %}
                                {% if data['serviceType'] == "DNA report" %}
                                  £{{data['alt2actualTransTotalCost'] or "825"}}.00
                                  {% else %}
                                  {% if data['serviceType'] == "Other" %}
                                    £{{data['alt2actualTransTotalCost'] or "825"}}.00
                                    {% else %}
                                    £{{data['alt2actualTransTotalCost'] or "825"}}.00
                                  {% endif %}
                                {% endif %}
                              {% endif %}
                            {% endif %}
                          {% endif %}
                        {% endif %}
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Travel</td>
                    <td class="govuk-table__cell">£{{data['actualalt2TravelTotal'] or "0"}}.00</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Additional</td>
                    <td class="govuk-table__cell">£{{data['alt2AddCost'] or "0"}}.00</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-table__header">Total cost</td>
                    <td class="govuk-table__cell"><strong>£{{data['actualalt2TotalCost'] or "825"}}.00</strong></td>
                  </tr>
                </tbody>
              </table>  
            </div>
          </div>
        {% endif %}

         <!--Alternative quote 3-->

        {% if data['addAltQuote'] =="3" or data['showAltQuote'] =="3" %}
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Alternative quote</h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <!--For the proto make links show as not yet selected until the user does the action-->
                  {% if data['changeAlt3'] == "change" %}
                    <a class="govuk-link" href="question3-alt-quote-details?addAlt=Yes&showAltQuote=3&changeAlt3=change">
                    Change<span class="govuk-visually-hidden"> additional item</span></a>
                    {% else %}
                    <a class="govuk-link--no-visited-state" href="question3-alt-quote-details?addAlt=Yes&showAltQuote=3&changeAlt3=change">Change<span class="govuk-visually-hidden"> additional item</a>
                  {% endif %} 
                </li>
                <li class="govuk-summary-card__action">
                  <!--For the proto make links show as not selected until the user does the action-->
                  {% if data['deleteAlt1'] == "delete" %}
                    <a class="govuk-link" href="question3-alt-quote-delete?altShow=3&deleteAlt3=delete">
                    Delete<span class="govuk-visually-hidden"> additional item</span></a>
                    {% else %}
                    <a class="govuk-link--no-visited-state" href="question3-alt-quote-delete?altShow=3&deleteAlt3=delete">Delete<span class="govuk-visually-hidden"> additional item</a>
                  {% endif %}
                </li>
              </ul>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list govuk-!-margin-bottom-6">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Service details
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['alt3ExpertName'] or "Roger Monied"}}<br>
                    {{data['alt3ExpertOrg'] or "Moniedboy Ltd"}}, 
                    {{data['alt3ExpertPostcode'] or "WC1"}}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Quote upload
                  </dt>
                  <dd class="govuk-summary-list__value">
                    myquote3.pdf
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Additional items
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['alt3Descript'] or "None"}}
                  </dd>
                </div>
              </dl>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Costs</th>
                    <th scope="col" class="govuk-table__header">Total</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Service</td>
                    <td class="govuk-table__cell">
                      <!--Service cost-->
                      {% if data['serviceType'] == "Transcription" %}
                          £{{data['alt3actualTransTotalCost'] or "780"}}.00
                          {% else %}
                          {% if data['serviceType'] == "Translation and transcription" %}
                            £{{data['alt3actualTransTotalCost'] or "780"}}.00
                            {% else %}
                            {% if data['serviceType'] == "Translator" %}
                              £{{data['alt3actualTransTotalCost'] or "780"}}.00
                              {% else %}
                              {% if data['serviceType'] == "Photocopying" %}
                                £{{data['alt3actualTransTotalCost'] or "780"}}.00
                                {% else %}
                                {% if data['serviceType'] == "DNA report" %}
                                  £{{data['alt3actualTransTotalCost'] or "780"}}.00
                                  {% else %}
                                  {% if data['serviceType'] == "Other" %}
                                    £{{data['alt3actualTransTotalCost'] or "780"}}.00
                                    {% else %}
                                    £{{data['alt3actualTransTotalCost'] or "780"}}.00
                                  {% endif %}
                                {% endif %}
                              {% endif %}
                            {% endif %}
                          {% endif %}
                        {% endif %}
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Travel</td>
                    <td class="govuk-table__cell">£{{data['actualalt3TravelTotal'] or "0"}}.00</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Additional</td>
                    <td class="govuk-table__cell">£{{data['alt3AddCost'] or "0"}}.00</td>
                  </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-table__header">Total cost</td>
                      <td class="govuk-table__cell"><strong>£{{data['actualalt3TotalCost'] or "780"}}.00</strong></td>
                    </tr>
                </tbody>
              </table>  
            </div>
          </div>
        {% endif %}
        
        {% if data['addAltQuote'] == "1"  %}
          {{ govukRadios({
            name: "altAddQuote1",
            fieldset: {
              legend: {
                text: "Do you want to add an additional quote?",
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "Yes",
                text: "Yes"
              },
              {
                value: "No",
                text: "No"
              }
            ]
          }) }}
          {% else %}
          {% if data['addAltQuote'] == "2"%}
            {{ govukRadios({
              name: "altAddQuote2",
              fieldset: {
                legend: {
                  text: "Do you want to add an additional quote?",
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "Yes",
                  text: "Yes"
                },
                {
                  value: "No",
                  text: "No"
                }
              ]
            }) }}
          
            {% else %}
            {% set noHtml %}
              {{ govukTextarea({
                name: "no-alt-quotes-info",
                id: "no-alt-quotes-info",
                value: data['no-alt-quotes-info'],
                label: {
                  text: "Why did you not get other quotes?"
                }
              }) }}
            {% endset -%}

            {% if data['addAltQuote'] == "0" or data['addAltQuote'] == null %}
              {{ govukRadios({
                name: "altAddQuote0",
                fieldset: {
                  legend: {
                    text: "Do you want to add an additional quote?",
                    classes: "govuk-fieldset__legend--s"
                  }
                },
                items: [
                  {
                    value: "Yes",
                    text: "Yes"
                  },
                  {
                    value: "No",
                    text: "No",
                    conditional: {
                      html: noHtml
                    }
                  }
                ]
              }) }}
            {% endif %}
          {% endif %}
        {% endif %}

        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          {% if data['app-state'] =="empty" or data['app-state'] ==null %}
        
            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?app-state=draft"
            }) }}

            {% else %}

            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?app-state=all#manage-drafts"
            }) }}

          {% endif %}
         
        </div>

      </form>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}

  

{% endblock %}
