{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}

{% block pageTitle %}
  Travel costs – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">3. About the request </span>
      <h1 class="govuk-heading-xl">Travel costs</h1>
      {% if data['changeTravel'] =="change" %}
        <form class="form" action="question3-quote-summary?addTravel=Yes" method="post">
        {% else %}
        <form class="form" action="question3-quote-add-q?addTravel=Yes&show-add=1" method="post">
      {% endif %}

        {% if data['detained'] == "No" or data['prisonLaw'] !== "No" %}

          {{ govukTextarea({
            name: "whyTravel",
            id: "whyTravel",
            value: data['whyTravel'],
            label: {
              text: "Why are there travel costs if your client is not detained?",
              classes: "govuk-label--s"
            }
          }) }}

        {% endif %}


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" >
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Travel time
            </legend>
            <div class="govuk-date-input" id="travelTime">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="travelTime-hours">
                    Hours
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="travelTime-hours" name="travelTime-hours" type="text" inputmode="numeric" value="{{data['travelTime-hours']}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="travelTime-mins">
                    Minutes
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="travelTime-mins" name="travelTime-mins" type="text" inputmode="numeric" value="{{data['travelTime-mins']}}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      
        {{ govukInput({
          id: "travelCostTime",
          name: "travelCostTime",
          value: data['travelCostTime'],
          label: {
            text: "Hourly cost",
            classes: "govuk-label--s"
          },
          prefix: {
            text: "£"
          },
          hint: {
            text: "Costs should be exclusive of VAT "
          },
          classes: "govuk-input--width-5",
          spellcheck: false
        }) }}
      
        <input type="hidden" id="actualTravelTotal" name="actualTravelTotal" value="{{data['actualTravelTotal']}}" />
                    
        <button class="govuk-button govuk-button--secondary" type="button" onclick="calTravelCost()">Update calculation</button>

        <h2 class="govuk-heading-l">
          <span class="govuk-caption-l">Total cost</span> £
          <span id="showTravelTotal">0</span>.00
        </h2>

        <div class="govuk-button-group">

          {% if data['changeTravel'] =="change" %}
            {{ govukButton({
              text: "Update"
            }) }}
            
            {% else %}

            {{ govukButton({
              text: "Save and continue"
            }) }}
          {% endif %}

          {% if data['claims-state'] =="empty" or data['claims-state'] ==null %}
        
            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?claims-state=saved"
            }) }}

            {% else %}

            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?claims-state=all#manage-drafts"
            }) }}

          {% endif %}
        </div>

      </form>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/calculate.js"></script>
{% endblock %}