{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}

{% block pageTitle %}
  Type of court – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">2. About the case</span>
      
      {% if data['changeHearing'] == "change" %}
        <form class="form" action="check-answers" method="post">
        {% else %}
        <form class="form" action="task-list?question2-case=complete" method="post">      
      {% endif %}
      

        {% if data['courtType'] == "Magistrates' court" %}
          {{ govukRadios({
            name: "youthCourt",
            fieldset: {
              legend: {
                text: "Is this a youth court matter?",
                classes: "govuk-fieldset__legend--xl",
                isHeading: true                
              }
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: checked("youthCourt", "Yes")
              },
              {
                value: "No",
                text: "No",
                checked: checked("youthCourt", "No")
              }
            ]
          }) }}

          {% else %}

          {% set noHtml %}
            {{ govukTextarea({
              name: "psychmoreDetail",
              id: "psychmoreDetail",
              value: data['psychmoreDetail'],
              label: {
                text: "Explain why you did not access this service"
              }
            }) }}
          {% endset %}

          {{ govukRadios({
            name: "psychLiaison",
            fieldset: {
              legend: {
                text: "Have you accessed the psychiatric liaison service?",
                classes: "govuk-fieldset__legend--xl",
                isHeading: true              
              }
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: checked("psychLiaison", "Yes")
              },
              {
                value: "No",
                text: "No",
                checked: checked("psychLiaison", "No"),
                conditional: {
                  html: noHtml
                }
              }
            ]
          }) }}

        {% endif %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          {% if data['app-state'] =="empty" or data['app-state'] ==null %}
        
            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?app-state=draft"
            }) }}

            {% else %}

            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?app-state=all#manage-drafts"
            }) }}

          {% endif %}
        </div>

      </form>

    </div>
  </div>

{% endblock %}