{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}

{% block pageTitle %}
  Do you want to add hourly rate travel costs?? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">About the request </span>
      
      <form class="form" action="/question3-add-travel" method="post">

        {{ govukRadios({
          name: "addTravel",
          fieldset: {
            legend: {
              text: "Do you want to add hourly rate travel costs?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Other travel-related costs can be added as additional costs later, for example mileage, parking charges and travel fares."
            },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("addTravel", "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: checked("addTravel", "No")
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          {% if data['claims-state'] =="empty" or data['claims-state'] == null %}
        
            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?claims-state=draft"
            }) }}

            {% else %}

            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?claims-state=all#manage-drafts"
            }) }}

          {% endif %}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
