{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}

{% block pageTitle %}
  Do you want add other expenditures? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">3. About the request </span>

      {% if data['changeNoAlts'] == "change" %}
        <form class="form" action="check-answers" method="post">
        {% else %}
        <form class="form" action="/question3-alt-quotes-q" method="post">
      {% endif %}
      

        {% set noHtml %}
          {{ govukTextarea({
            name: "no-alt-quotes-info",
            id: "no-alt-quotes-info",
            value: data['no-alt-quotes-info'],
            label: {
              text: "Why did you not get other quotes?"
            }
          }) }}
        {% endset -%}

        {{ govukRadios({
          name: "altQuotesQ",
          fieldset: {
            legend: {
              text: "Have you got other quotes?",
              classes: "govuk-label--xl",
              isPageHeading: true
            }
          },
          items: [
          {
            value: "No",
            text: "No",
            checked: checked("altQuotesQ", "No"),
            conditional: {
              html: noHtml
            }
          },
          {
              value: "Yes",
              text: "Yes",
              checked: checked("altQuotesQ", "Yes") 
            }
            
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          {% if data['app-state'] =="empty" or data['app-state'] ==null %}
        
            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?app-state=draft"
            }) }}

            {% else %}

            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?app-state=all#manage-drafts"
            }) }}

          {% endif %}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
