{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}

{% block pageTitle %}
  Your details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">2. About you</span>
    <h1 class="govuk-heading-xl">Your details</h1>

    <form class="form" action="task-list?question2-org=complete" method="post">

      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Firm name
          </dt>
          <dd class="govuk-summary-list__value">
            Big Law Ltd
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Account number
          </dt>
          <dd class="govuk-summary-list__value">
            XD469298
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Provider number
          </dt>
          <dd class="govuk-summary-list__value">
            XD469298
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            72 Guild Street<br>London<br>SE23 6FH
          </dd>
        </div>
      </dl>

      {{ govukInput({
        label: {
          text: "Contact at firm",
          classes: "govuk-label--s"
        },
        classes: "govuk-input--width-20",
        id: "firm-contact",
        name: "firm-contact",
        value: data['firm-contact']
      }) }}

      {{ govukInput({
        label: {
          text: "Contact number",
          classes: "govuk-label--s"
        },
        classes: "govuk-input--width-20",
        id: "firm-number",
        name: "firm-number",
        autocomplete: "tel",
        value: data['firm-number']
      }) }}
    
      {{ govukInput({
        label: {
          text: "What is the URN?",
          classes: "govuk-label--s"
        },
        hint: {
          text: "The Unique Reference Number is an alphanumeric reference assigned to a case used within the Common Platform. It is a non-mandatory field, however where one is available it should be input here."
        },
        classes: "govuk-input--width-10",
        id: "urn",
        name: "urn",
        value: data['urn']
      }) }}
    
      
      {% call govukFieldset({
        legend: {
          text: "Firm address",
          classes: "govuk-fieldset__legend--m"
        }
      }) %}
      
        {{ govukInput({
          label: {
            text: "Address line 1"
          },
          classes: "govuk-input--width-20",
          id: "address-line-1",
          name: "address-line-1",
          autocomplete: "address-line1",
          value: data['address-line-1']
        }) }}
      
        {{ govukInput({
          label: {
            text: "Address line 2 (optional)"
          },
          classes: "govuk-input--width-20",
          id: "address-line-2",
          name: "address-line-2",
          autocomplete: "address-line2",
          value: data['address-line-2']
        }) }}
      
        {{ govukInput({
          label: {
            text: "Town or city"
          },
          classes: "govuk-input--width-10",
          id: "address-town",
          name: "address-town",
          autocomplete: "address-town",
          value: data['address-town']
        }) }}
      
        {{ govukInput({
          label: {
            text: "Postcode"
          },
          classes: "govuk-input--width-10",
          id: "address-postcode",
          name: "address-postcode",
          autocomplete: "postal-code",
          value: data['address-postcode']
        }) }}
      
      {% endcall %}

      
    
      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
