{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}

{% block pageTitle %}
  Add additional items summary – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">3. About your request </span>
      {% if data['addCost'] =="2" %}
        <h1 class="govuk-heading-xl">You've added 2 additional costs</h1>
        {% else %}
        <h1 class="govuk-heading-xl">You've added 1 additional cost</h1>
      {% endif %}

           
      <form class="form" action="/question3-quote-add-summary" method="post">

        <!--Additional cost 1-->
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Additional cost</h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <!--For the proto make links show as not yet selected until the user does the action-->
                {% if data['changeAdd1'] == "change" %}
                  <a class="govuk-link" href="question3-quote-add?addAdd=Yes&addCost=1&changeAdd1=change">
                  Change<span class="govuk-visually-hidden"> additional item</span></a>
                  {% else %}
                  <a class="govuk-link--no-visited-state" href="question3-quote-add?addAdd=Yes&addCost=1&changeAdd1=change">Change<span class="govuk-visually-hidden"> additional item</a>
                {% endif %} 
              </li>
              <li class="govuk-summary-card__action">
                <!--For the proto make links show as not selected until the user does the action-->
                {% if data['deleteAdd1'] == "delete" %}
                  <a class="govuk-link" href="question3-quote-delete?addShow=1&deleteAdd1=delete">
                  Delete<span class="govuk-visually-hidden"> additional item</span></a>
                  {% else %}
                  <a class="govuk-link--no-visited-state" href="question3-quote-delete?addShow=1&deleteAdd1=delete">Delete<span class="govuk-visually-hidden"> additional item</a>
                {% endif %}
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list govuk-!-margin-bottom-6">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Description
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['addCost1']}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Why required
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['whyAdd1']}}
                </dd>
              </div>
            </dl>
            {% if data['addChargeType1'] == "Charged by the hour" %}
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Number of hours</th>
                    <th scope="col" class="govuk-table__header">Rate per hour</th>
                    <th scope="col" class="govuk-table__header">Total</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{data['addTime1-hours']}} hours {{data['addTime1-mins']}} minutes</td>
                    <td class="govuk-table__cell">£{{data['addCostTime1']}} per hour</td>
                    <td class="govuk-table__cell">£{{data['actualAdd1Total']}}.00</td>
                  </tr>
                </tbody>
              </table>
              {% else %}
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Quantity</th>
                    <th scope="col" class="govuk-table__header">Rate</th>
                    <th scope="col" class="govuk-table__header">Total</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{data['addQuantity1']}}</td>
                    <td class="govuk-table__cell">£{{data['addNonhourRate1']}}</td>
                    <td class="govuk-table__cell">£0.00</td>
                  </tr>
                </tbody>
              </table>
            {% endif %}
          </div>
        </div>
        <!--Additional cost 2-->
        {% if data['addShow'] =="2" %}
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Additional cost</h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <!--For the proto make links show as not yet selected until the user does the action-->
                  {% if data['changeAdd2'] == "change" %}
                    <a class="govuk-link" href="question3-quote-add?addAdd=Yes&addCost=2&changeAdd2=change">
                    Change<span class="govuk-visually-hidden"> additional item</span></a>
                    {% else %}
                    <a class="govuk-link--no-visited-state" href="question3-quote-add?addAdd=Yes&addCost=2&changeAdd2=change">Change<span class="govuk-visually-hidden"> additional item</a>
                  {% endif %} 
                </li>
                <li class="govuk-summary-card__action">
                  <!--For the proto make links show as not selected until the user does the action-->
                  {% if data['deleteAdd2'] == "delete" %}
                    <a class="govuk-link" href="question3-quote-delete?addShow=2&deleteAdd2=delete">
                    Delete<span class="govuk-visually-hidden"> additional item</span></a>
                    {% else %}
                    <a class="govuk-link--no-visited-state" href="question3-quote-delete?addShow=2&deleteAdd2=delete">Delete<span class="govuk-visually-hidden"> additional item</a>
                  {% endif %}
                </li>
              </ul>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list govuk-!-margin-bottom-6">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Description
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['addCost2']}}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Why required
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['whyAdd2']}}
                  </dd>
                </div>
              </dl>
              {% if data['addChargeType2'] == "Charged by the hour" %}
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Number of hours</th>
                      <th scope="col" class="govuk-table__header">Rate per hour</th>
                      <th scope="col" class="govuk-table__header">Total</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">{{data['addTime2-hours']}} hours {{data['addTime2-mins']}} minutes</td>
                      <td class="govuk-table__cell">£{{data['addCostTime2']}} per hour</td>
                      <td class="govuk-table__cell">£{{data['actualAdd2Total']}}.00</td>
                    </tr>
                  </tbody>
                </table>
                {% else %}
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Quantity</th>
                      <th scope="col" class="govuk-table__header">Rate</th>
                      <th scope="col" class="govuk-table__header">Total</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">{{data['addQuantity2']}}</td>
                      <td class="govuk-table__cell">£{{data['addNonhourRate2']}}</td>
                      <td class="govuk-table__cell">£0.00</td>
                    </tr>
                  </tbody>
                </table>
              {% endif %}
            </div>
          </div>
        {% endif %}
        
        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "quoteAddOther",
          fieldset: {
            legend: {
              text: "Do you want to add an additional cost?",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}
        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          {% if data['app-state'] =="empty" or data['app-state'] ==null %}
        
            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?app-state=saved"
            }) }}

            {% else %}

            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?app-state=all"
            }) }}

          {% endif %}
         
        </div>

      </form>

    </div>
  </div>

{% endblock %}
