{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}

{% block pageTitle %}
  You do not need to apply – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">You do not need to apply</h1>
      
      <p>You do not need to apply for prior authority to incur disbursements if the total authority is less than 
        {% if data['prisonLaw'] =="Yes" %}
          £500.
          {% else %}
          £100.
        {% endif %}
      
      </p>

        {{ govukButton({
        text: "Finished",
        href: "../crm-apps"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
