{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}

{% block pageTitle %}
What is your unique reference number? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if data['interrupt'] == "serviceChange" %}
      
        <div class="govuk-panel govuk-panel--interruption">
          <h1 class="govuk-heading-l">
            Are you sure you want to continue?
          </h1>
          <h2 class="govuk-heading-m">
            You've changed a question that impacts another section in your application     
          </h2>
          <p>Question: Service required</p>
          <ul class="govuk-list">
            <li>Previous answer - Translation</li>
            <li>New answer - {{data['serviceType'] or "Transcription"}} </li>
          </ul>
          <p>If you wish to continue:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>all existing alternative quotes information will be automatically deleted</li>
            <li>you must to complete the alternative quote section again for the new service</li>
          </ul>
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Save changes and continue",
              classes: "govuk-button--inverse",
              href: "question3-quote-prep?question3-alt-quote=draft&changeQuote=no"
            }) }}
            <a class="govuk-link govuk-link--inverse" href="question3-quote?serviceType=Translation">Revert changes</a>
          </div>
        </div>

        {% else %}
        {% if data['interrupt'] == "detainedYestoNo" %}

          <div class="govuk-panel govuk-panel--interruption">
            <h1 class="govuk-heading-l">
              Are you sure you want to continue?
            </h1>
            <h2 class="govuk-heading-m">
              You've changed a question that impacts another section in your application     
            </h2>
            <h3 class="govuk-heading-s">Question: Is your client detained?</h3>
            <ul class="govuk-list">
              <li>Previous answer - Yes </li>
              <li>New answer - {{data['detained'] or "No"}} </li>
            </ul>
            <p>If you wish to continue:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>review your travel costs in the primary quote</li>
              <li>you must explain why you need travel costs if your client is not detained</li>
            </ul>
            <div class="govuk-button-group">
              {{ govukButton({
                text: "Save changes and continue",
                classes: "govuk-button--inverse",
                href: "question2-case-hearing?question3-quote=draft&changeQuote=no"
              }) }}
              <a class="govuk-link govuk-link--inverse" href="question2-case?detained=Yes&prisons=HMP Brixton">Revert changes</a>
            </div>
          </div>

          {% else %}
          {% if data['interrupt'] == "detainedNotoYes" %}

            <div class="govuk-panel govuk-panel--interruption">
              <h1 class="govuk-heading-l">
                Are you sure you want to continue?
              </h1>
              <h2 class="govuk-heading-m">
                You've changed a question that impacts another section in your application     
              </h2>
              <h3 class="govuk-heading-s">Question: Is your client detained?</h3>
              <ul class="govuk-list">
                <li>Previous answer - No </li>
                <li>New answer - {{data['detained'] or "Yes"}} </li>
              </ul>
              <p>If you wish to continue:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>the question "Why do you need travel costs if your client is not detained?" is no longer required</li>
                <li>we will delete the answer to this question from your application</li>
              </ul>
              <div class="govuk-button-group">
                {{ govukButton({
                  text: "Save changes and continue",
                  classes: "govuk-button--inverse",
                  href: "question2-case-hearing&changeQuote=no"
                }) }}
                <a class="govuk-link govuk-link--inverse" href="question2-case?detained=No">Revert changes</a>
              </div>
          {% endif %}
        {% endif %}
      {% endif %}
    </div>
  </div>

{% endblock %}
