{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}

{% block pageTitle %}
  Do you want add other expenditures? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">3. About the request </span>

      <h1 class="govuk-heading-xl" tabindex="-1">Add alternative quotes</h1>
      <p>You can add up to 3 alternative quotes. We only need to see the top line info and travel detials or something.</p>
        
        
      <form class="form" action="question3-alt-quote-summary" method="post">
       

        <h2 class="govuk-heading-l">Alternative quote</h2>

        {% if data['addAltQuote'] == "1" or data['showAltQuote'] == "1" %}

          {{ govukFileUpload({
            id: "alt1Upload",
            name: "alt1Upload",
            isPageHeading: true,
            label: {
              text: "Upload the quote (optional)",
              classes: 'govuk-label--m'
            },
            hint: {
              text: 'The maximum file size is 7MB. Files must be a DOC, DOCX, RTF, ODT, JPG, BMP, PNG, TIF or PDF.'
            }
          }) }}

          <!--Alt quote 1-->

          {% call govukFieldset({
            legend: {
              text: "Expert details",
              classes: "govuk-fieldset__legend--m"
            }
          }) %}
          
            {{ govukInput({
              label: {
                text: "Full name",
                classes: "govuk-label--s"
              },
              id: "expertNameAlt1",
              name: "expertNameAlt1",
              value: data['expertNameAlt1']
            }) }}

            {{ govukInput({
              label: {
                text: "Organisation",
                classes: "govuk-label--s"
              },
              id: "expertOrgAlt1",
              name: "expertOrgAlt1",
              value: data['expertOrgAlt1']
            }) }}

            {{ govukInput({
              label: {
                text: "Postcode",
                classes: "govuk-label--s"
              },
              classes: "govuk-input--width-10",
              id: "expertPostcodeAlt1",
              name: "expertPostcodeAlt1",
              value: data['expertPostcodeAlt1']
            }) }}

          {% endcall %}

          <!--Disbursement 1 details -->

          {% call govukFieldset({
            legend: { 
              text: "Quote details",
              classes: "govuk-fieldset__legend--m"
            }
          }) %}

            {{ govukTextarea({
              label: {
                text: "What is included in the quote costs?",
                classes: "govuk-label--s"
              },
              hint: {
                text: "Include the service required, any travel or additional costs"
              },
                name: "alt1Descript",
                id: "alt1Descript",
                value: data['alt1Descript']
            }) }}

            {{ govukInput({
              id: "alt1TotalCost",
              name: "alt1TotalCost",
              value: data['alt1TotalCost'],
              label: {
                text: "What is the total quote cost?",
                classes: "govuk-label--s"
              },
              prefix: {
                text: "£"
              },
              classes: "govuk-input--width-5",
              spellcheck: false
            }) }}


          {% endcall %}

          {% else %}
          {% if data['addAltQuote'] == "2" or data['showAltQuote'] == "2"  %}

            <!--Alt quote 2-->

            {{ govukFileUpload({
              id: "alt2Upload",
              name: "alt2Upload",
              isPageHeading: true,
              label: {
                text: "Upload the quote (optional)",
                classes: 'govuk-label--m'
              },
              hint: {
                text: 'Files must be a DOC, DOCX, RTF, ODT, JPG, BMP, PNG, TIF or PDF.'
              }
            }) }}

            {% call govukFieldset({
              legend: {
                text: "Expert details",
                classes: "govuk-fieldset__legend--m"
              }
            }) %}
            
              {{ govukInput({
                label: {
                  text: "Full name",
                  classes: "govuk-label--s"
                },
                id: "expertNameAlt2",
                name: "expertNameAlt2",
                value: data['expertNameAlt2']
              }) }}

              {{ govukInput({
                label: {
                  text: "Organisation",
                  classes: "govuk-label--s"
                },
                id: "expertOrgAlt2",
                name: "expertOrgAlt2",
                value: data['expertOrgAlt2']
              }) }}

              {{ govukInput({
                label: {
                  text: "Postcode",
                  classes: "govuk-label--s"
                },
                classes: "govuk-input--width-10",
                id: "expertPostcodeAlt2",
                name: "expertPostcodeAlt2",
                value: data['expertPostcodeAlt2']
              }) }}

            {% endcall %}

            <!--Disbursement 2 details -->

            {% call govukFieldset({
              legend: { 
                text: "Quote details",
                classes: "govuk-fieldset__legend--m"
              }
            }) %}

              {{ govukTextarea({
                label: {
                  text: "What is included in the quote costs?",
                  classes: "govuk-label--s"
                },
                hint: {
                  text: "Include the service required, any travel or additional costs"
                },
                  name: "alt2Descript",
                  id: "alt2Descript",
                  value: data['alt2Descript']
              }) }}

              {{ govukInput({
                id: "alt2TotalCost",
                name: "alt2TotalCost",
                value: data['alt2TotalCost'],
                label: {
                  text: "What is the total quote cost?",
                  classes: "govuk-label--s"
                },
                prefix: {
                  text: "£"
                },
                classes: "govuk-input--width-5",
                spellcheck: false
              }) }}

            {% endcall %}

            
           
            {% else %}
            {% if data['addAltQuote'] == "3" or data['showAltQuote'] == "3"  %}

              <!--Alt quote 3-->

              {{ govukFileUpload({
                id: "alt3Upload",
                name: "alt3Upload",
                isPageHeading: true,
                label: {
                  text: "Upload the quote (optional)",
                  classes: 'govuk-label--m'
                },
                hint: {
                  text: 'Files must be a DOC, DOCX, RTF, ODT, JPG, BMP, PNG, TIF or PDF.'
                }
              }) }}

              {% call govukFieldset({
                legend: {
                  text: "Expert details",
                  classes: "govuk-fieldset__legend--m"
                }
              }) %}
              
                {{ govukInput({
                  label: {
                    text: "Full name",
                    classes: "govuk-label--s"
                  },
                  id: "expertNameAlt3",
                  name: "expertNameAlt3",
                  value: data['expertNameAlt3']
                }) }}

                {{ govukInput({
                  label: {
                    text: "Organisation",
                    classes: "govuk-label--s"
                  },
                  id: "expertOrgAlt3",
                  name: "expertOrgAlt3",
                  value: data['expertOrgAlt3']
                }) }}

                {{ govukInput({
                  label: {
                    text: "Postcode",
                    classes: "govuk-label--s"
                  },
                  classes: "govuk-input--width-10",
                  id: "expertPostcodeAlt3",
                  name: "expertPostcodeAlt3",
                  value: data['expertPostcodeAlt3']
                }) }}

              {% endcall %}
            

              <!--Quote 3 details -->

              {% call govukFieldset({
                legend: { 
                  text: "Quote details",
                  classes: "govuk-fieldset__legend--m"
                }
              }) %}

                {{ govukTextarea({
                  label: {
                    text: "What is included in the quote costs?",
                    classes: "govuk-label--s"
                  },
                  hint: {
                    text: "Include the service required, any travel or additional costs"
                  },
                    name: "alt3Descript",
                    id: "alt3Descript",
                    value: data['alt3Descript']
                }) }}

                {{ govukInput({
                  id: "alt3TotalCost",
                  name: "alt3TotalCost",
                  value: data['alt3TotalCost'],
                  label: {
                    text: "What is the total quote cost?",
                    classes: "govuk-label--s"
                  },
                  prefix: {
                    text: "£"
                  },
                  classes: "govuk-input--width-5",
                  spellcheck: false
                }) }}

              {% endcall %}

   
            {% endif %}
          {% endif %}
        {% endif %}
            
      
        <div class="govuk-button-group">

          {{ govukButton({
            text: "Save and continue"
          }) }}
       

          {% if data['claims-state'] =="empty" or data['claims-state'] ==null %}
        
            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?claims-state=saved"
            }) }}

            {% else %}

            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?claims-state=all"
            }) }}

          {% endif %}
        </div>

      </form>
    </div>
  </div>

{% endblock %}
