{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}

{% block pageTitle %}
  Expert's contact details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">3. About the request </span>
      <h1 class="govuk-heading-xl">Primary quote summary</h1>
      
      <input type="hidden" id="actualTravelTotal" name="actualTravelTotal" value="{{data['actualTravelTotal']}}" />
      <input type="hidden" id="actualAdd1Total" name="actualAdd1Total" value="{{data['actualAdd1Total']}}" />
      <input type="hidden" id="actualAdd2Total" name="actualAdd2Total" value="{{data['actualAdd2Total']}}" />
      <input type="hidden" id="actualTransTotal" name="actualTransTotal" value="{{data['actualTransTotal']}}" />
      <input type="hidden" id="actualTransTransTotal" name="actualTransTransTotal" value="{{data['actualTransTransTotal']}}" />
      <input type="hidden" id="actualTranslatorTotal" name="actualTranslatorTotal" value="{{data['actualTranslatorTotal']}}" />
      <input type="hidden" id="actualPhotoTotal" name="actualPhotoTotal" value="{{data['actualPhotoTotal']}}" />
      <input type="hidden" id="dnaCost" name="dnaCost" value="{{data['dnaCost']}}" />
      <input type="hidden" id="actualGeneralTotal" name="actualGeneralTotal" value="{{data['actualGeneralTotal']}}" />
      <input type="hidden" id="actualOtherTotal" name="actualOtherTotal" value="{{data['actualOtherTotal']}}" />
      <input type="hidden" id="serviceType" name="serviceType" value="{{data['serviceType']}}" />
   


      <h2 class="govuk-heading-l">
        <span class="govuk-caption-l">Quote total cost</span> £
        <span id="showdistTotalCost">0</span>.00 
      </h2>

      {% if data['changeQuote'] == "change" %}
        <form class="form" action="check-answers" onclick="primaryTotals()" method="post">
        {% else %}
        <form class="form" action="task-list?question3-quote=complete" method="post">
      {% endif %}

        <input type="hidden" id="actualdistTotalCost" name="actualdistTotalCost" value="{{data['actualdistTotalCost']}}" />
        <input type="hidden" id="actualaddFinalTotal" name="actualaddFinalTotal" value="{{data['actualaddFinalTotal']}}" />

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Service costs</h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <!--For the proto make links show as not yet selected until the user does the action-->
                {% if data['changeQuote'] == "change" %}
                  <a class="govuk-link" href="question3-quote?changeQuote=change">Change<span class="govuk-visually-hidden"> service costs </span></a>
                  {% else %}
                  <a class="govuk-link--no-visited-state" href="question3-quote?changeQuote=change&add">Change<span class="govuk-visually-hidden"> service costs </span></a>
                {% endif %} 
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list govuk-!-margin-bottom-6">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Expert details
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['expert-name']}}<br>
                  {{data['expert-org-name']}}, 
                  {{data['expert-postcode']}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Service required 
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['serviceType']}}
                  {% if data['serviceType'] == "Other" %}
                    <br>
                    {{data['otherExpert']}}
                  {% endif %}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Quote upload
                </dt>
                <dd class="govuk-summary-list__value">
                  myquote1.pdf
                </dd>
              </div>
               {% if data['serviceType'] == "Psychiatric report (Prison Law)" or data['serviceType'] == "Psychological report (Prison Law)" or data['serviceType'] == "Interpreter" %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Ordered by court
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['courtOrdered']}}
                  </dd>
                </div>
              {% endif %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Existing prior authority granted
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['existingAuth']}}
                </dd>
              </div>
              <!--If type is DNA show costs here-->
              {% if data['serviceType'] == "DNA report" %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Cost of report
                  </dt>
                  <dd class="govuk-summary-list__value">
                    £{{data['dnaCost']}}.00
                  </dd>
                </div>
              {% endif %}
            </dl>

            <!--Tables for services-->
            {% if data['serviceType'] == "Transcription" %}
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Number of minutes</th>
                    <th scope="col" class="govuk-table__header">Cost per minute</th>
                    <th scope="col" class="govuk-table__header">Total</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{data['transNoMins']}} minutes</td>
                    <td class="govuk-table__cell">£{{data['transCostMin']}} per minute</td>
                    <td class="govuk-table__cell">£{{data['actualTransTotal']}}.00</td>
                  </tr>
                </tbody>
              </table> 
              {% else %}
              {% if data['serviceType'] == "Translation and transcription" %}
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Number of minutes</th>
                      <th scope="col" class="govuk-table__header">Cost per minute</th>
                      <th scope="col" class="govuk-table__header">Total</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">{{data['transtransNoMins']}} minutes</td>
                      <td class="govuk-table__cell">£{{data['transtransCostMin']}} per minute</td>
                      <td class="govuk-table__cell">£{{data['actualTransTransTotal']}}.00</td>
                    </tr>
                  </tbody>
                </table>
                {% else %}
                {% if data['serviceType'] == "Translator" %} 
                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Number of words</th>
                        <th scope="col" class="govuk-table__header">Cost per word</th>
                        <th scope="col" class="govuk-table__header">Total</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">{{data['translatorWords']}} words</td>
                        <td class="govuk-table__cell">£{{data['translatorCostWord']}} per word</td>
                        <td class="govuk-table__cell">£{{data['actualTranslatorTotal']}}.00</td>
                      </tr>
                    </tbody>
                  </table>
                  {% else %}
                  {% if data['serviceType'] == "Photocopying" %} 
                    <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header">Number of pages</th>
                          <th scope="col" class="govuk-table__header">Cost per page</th>
                          <th scope="col" class="govuk-table__header">Total</th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">{{data['photoNoPages']}} pages</td>
                          <td class="govuk-table__cell">£{{data['photoCostPage']}} per page</td>
                          <td class="govuk-table__cell">£{{data['actualPhotoTotal']}}.00</td>
                        </tr>
                      </tbody>
                    </table>
                    {% else %}
                    {% if data['serviceType'] == "Other" and  data['otherChargeType'] =="Charged by the hour"%} 
                      <table class="govuk-table">
                        <thead class="govuk-table__head">
                          <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Time</th>
                            <th scope="col" class="govuk-table__header">Cost per hour</th>
                            <th scope="col" class="govuk-table__header">Total</th>
                          </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{data['otherNoHours-hours']}} hours {{data['otherNoHours-mins']}}</td>
                            <td class="govuk-table__cell">£{{data['otherCost']}} per hour</td>
                            <td class="govuk-table__cell">£{{data['actualOtherTotal']}}.00</td>
                          </tr>
                        </tbody>
                      </table> 
                      {% else %}
                      {% if data['serviceType'] == "Other" and data['otherChargeType'] =="Charged per item"%} 
                        <table class="govuk-table">
                          <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header">Number of items</th>
                              <th scope="col" class="govuk-table__header">Cost per item</th>
                              <th scope="col" class="govuk-table__header">Total</th>
                            </tr>
                          </thead>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell">{{data['otherNoItems']}} items</td>
                              <td class="govuk-table__cell">£{{data['otherItemsCost']}} per item</td>
                              <td class="govuk-table__cell">£{{data['actualOtherTotal']}}.00</td>
                            </tr>
                          </tbody>
                        </table> 
                        {% else %}
                        {% if data['serviceType'] !== "DNA report" %}
                          <!--All other service types-->
                          <table class="govuk-table">
                            <thead class="govuk-table__head">
                              <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Time</th>
                                <th scope="col" class="govuk-table__header">Cost per hour</th>
                                <th scope="col" class="govuk-table__header">Total</th>
                              </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell">{{data['generalNoHours-hours']}} hours {{data['generalNoHours-mins']}} minutes</td>
                                <td class="govuk-table__cell">£{{data['generalCost']}} per hour</td>
                                <td class="govuk-table__cell">£{{data['actualGeneralTotal']}}.00</td>
                              </tr>
                            </tbody>
                          </table> 
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Travel costs</h2>
            <ul class="govuk-summary-card__actions">
              {% if data['addTravel'] !=="Yes" %}
                <li class="govuk-summary-card__action"> 
                  <a class="govuk-link--no-visited-state" href="question3-quote-travel?changeTravel=change">Change <span class="govuk-visually-hidden"> travel costs</span></a>
                </li>
                {% else %}
                {% if data['addTravel'] =="Yes" %}
                  <li class="govuk-summary-card__action"> 
                    <!--For the proto make links show as not yet selected until the user does the action-->
                    {% if data['changeTravel'] == "change" %}
                      <a class="govuk-link" href="question3-quote-travel?changeTravel=change">Change<span class="govuk-visually-hidden"> additional item</span></a>
                      {% else %}
                      <a class="govuk-link--no-visited-state" href="question3-quote-travel?addAdd=Yes&addCost=1&changeTravel=change">Change<span class="govuk-visually-hidden"> additional item</a>
                    {% endif %} 
                  </li>
                {% endif %} 
              {% endif %} 
              {% if data['addTravel'] =="Yes" %}
                <li class="govuk-summary-card__action">
                  <!--For the proto make links show as not selected until the user does the action-->
                  {% if data['deleteTravel'] == "delete" %}
                    <a class="govuk-link" href="question3-travel-delete?deleteTravel=delete">
                    Delete<span class="govuk-visually-hidden"> travel</span></a>
                    {% else %}
                    <a class="govuk-link--no-visited-state" href="question3-travel-delete?deleteTravel=delete">Delete<span class="govuk-visually-hidden"> travel</a>
                  {% endif %}
                </li>
              {% endif %}
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            {% if data['addTravel'] =="Yes" %}
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Travel time</th>
                    <th scope="col" class="govuk-table__header">Hourly cost</th>
                    <th scope="col" class="govuk-table__header">Total</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{data['travelTime-hours']}} hours {{data['travelTime-mins']}} minutes</td>
                    <td class="govuk-table__cell">£{{data['travelCostTime']}} per hour</td>
                    <td class="govuk-table__cell">£{{data['actualTravelTotal']}}.00</td>
                  </tr>
                </tbody>
              </table>
              {% else %}
              <p>No travel costs added</p>
            {% endif %}
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Additional costs</h2>
            <ul class="govuk-summary-card__actions">
              {% if data['addAdd'] !=="Yes" %}
                <li class="govuk-summary-card__action"> 
                  <a class="govuk-link--no-visited-state" href="question3-quote-add?addAdd=Yes&addCost=1">Change <span class="govuk-visually-hidden"> additional item</span></a>
                </li>
                {% else %}
                {% if data['addAdd'] =="Yes" %}
                  <li class="govuk-summary-card__action"> 
                    <!--For the proto make links show as not yet selected until the user does the action-->
                    {% if data['changeAdd1'] == "change" %}
                    <a class="govuk-link" href="question3-quote-add-summary?addAdd=Yes&changeAdd=change">
                    Change<span class="govuk-visually-hidden"> additional item</span></a>
                    {% else %}
                    <a class="govuk-link--no-visited-state" href="question3-quote-add?addAdd=Yes&addCost=1&changeAdd=change">Change<span class="govuk-visually-hidden"> additional item</a>
                  {% endif %} 
                  </li>
                {% endif %} 
              {% endif %} 
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            {% if data['addAdd'] =="Yes" %}
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Cost</th>
                    <th scope="col" class="govuk-table__header">Total</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{data['addCost1']}}</td>
                    <td class="govuk-table__cell">£{{data['actualAdd1Total']}}.00</td>
                  </tr>
                  {% if data['addCost'] == "2" %}
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">{{data['addCost2']}}</td>
                      <td class="govuk-table__cell">£{{data['actualAdd2Total']}}.00 </td>
                    </tr>
                  {% endif %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-table__header">Total</td>
                    <td class="govuk-table__cell govuk-table__header">£<span id="showaddFinalTotal">0</span>.00 </td>
                  </tr>
                </tbody>
              </table>
              {% else %}
              <p>No additional costs added</p>
            {% endif %}
          </div>
        </div>
   
        <div class="govuk-button-group">

          {{ govukButton({
            text: "Save and continue"
          }) }}

          {% if data['app-state'] =="empty" or data['app-state'] ==null %}
        
            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?app-state=draft"
            }) }}

            {% else %}

            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?app-state=all#manage-drafts"
            }) }}

          {% endif %}
         
        </div>

      </form>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}

    <script>

        var actualTravelTotal = parseInt(document.getElementById("actualTravelTotal").value) | 0
        var actualAdd1Total = parseInt(document.getElementById("actualAdd1Total").value) | 0
        var actualAdd2Total = parseInt(document.getElementById("actualAdd2Total").value) | 0
        var actualTransTransTotal = parseInt(document.getElementById("actualTransTransTotal").value) | 0
        var actualTransTotal = parseInt(document.getElementById("actualTransTotal").value) | 0
        var actualTranslatorTotal = parseInt(document.getElementById("actualTranslatorTotal").value) | 0
        var actualPhotoTotal = parseInt(document.getElementById("actualPhotoTotal").value) | 0
        var dnaCost = parseInt(document.getElementById("dnaCost").value) | 0
        var actualGeneralTotal = parseInt(document.getElementById("actualGeneralTotal").value) | 0
        var actualOtherTotal = parseInt(document.getElementById("actualOtherTotal").value) | 0
        var serviceType1 = document.getElementById("serviceType").value

      primaryTotals = function(){  
        if (serviceType1 === "Other"){   
          distTotalCost = actualTravelTotal + actualAdd1Total + actualAdd2Total + actualOtherTotal;
          document.getElementById("actualdistTotalCost").value = distTotalCost;
        } else
        if (serviceType1 === "Photocopying"){   
          distTotalCost = actualTravelTotal + actualAdd1Total + actualAdd2Total + actualPhotoTotal;
          document.getElementById("actualdistTotalCost").value = distTotalCost;
        } else
        if (serviceType1 === "Transcription"){   
          distTotalCost = actualTravelTotal + actualAdd1Total + actualAdd2Total + actualTransTotal;
          document.getElementById("actualdistTotalCost").value = distTotalCost;
        } else
        if (serviceType1 === "Translation and transcription"){   
          distTotalCost = actualTravelTotal + actualAdd1Total + actualAdd2Total + actualTransTransTotal;
          document.getElementById("showdistTotalCost").innerHTML = distTotalCost;
          document.getElementById("actualdistTotalCost").value = distTotalCost;
        } else
        if (serviceType1 === "Translator"){   
          distTotalCost = actualTravelTotal + actualAdd1Total + actualAdd2Total + actualTranslatorTotal;
          document.getElementById("actualdistTotalCost").value = distTotalCost;
        } else
        if (serviceType1 === "DNA report"){   
          distTotalCost = actualTravelTotal + actualAdd1Total + actualAdd2Total + dnaCost;
          document.getElementById("actualdistTotalCost").value = distTotalCost;
        } else {
          distTotalCost = actualTravelTotal + actualAdd1Total + actualAdd2Total + actualGeneralTotal;
          document.getElementById("actualdistTotalCost").value = distTotalCost;
        }
        
        addFinalTotal = actualAdd1Total + actualAdd2Total; 
        document.getElementById("actualaddFinalTotal").value = addFinalTotal;
      }

      window.onload = function(){  
        if (serviceType1 === "Other"){   
          distTotalCost = actualTravelTotal + actualAdd1Total + actualAdd2Total + actualOtherTotal;
          document.getElementById("showdistTotalCost").innerHTML = distTotalCost;
        } else
        if (serviceType1 === "Photocopying"){   
          distTotalCost = actualTravelTotal + actualAdd1Total + actualAdd2Total + actualPhotoTotal;
          document.getElementById("showdistTotalCost").innerHTML = distTotalCost;
        } else
        if (serviceType1 === "Transcription"){   
          distTotalCost = actualTravelTotal + actualAdd1Total + actualAdd2Total + actualTransTotal;
          document.getElementById("showdistTotalCost").innerHTML = distTotalCost;
        } else
        if (serviceType1 === "Translation and transcription"){   
          distTotalCost = actualTravelTotal + actualAdd1Total + actualAdd2Total + actualTransTransTotal;
          document.getElementById("showdistTotalCost").innerHTML = distTotalCost;
        } else
        if (serviceType1 === "Translator"){   
          distTotalCost = actualTravelTotal + actualAdd1Total + actualAdd2Total + actualTranslatorTotal;
          document.getElementById("showdistTotalCost").innerHTML = distTotalCost;
        } else
        if (serviceType1 === "DNA report"){   
          distTotalCost = actualTravelTotal + actualAdd1Total + actualAdd2Total + dnaCost;
          document.getElementById("showdistTotalCost").innerHTML = distTotalCost;
        } else {
          distTotalCost = actualTravelTotal + actualAdd1Total + actualAdd2Total + actualGeneralTotal;
          document.getElementById("showdistTotalCost").innerHTML = distTotalCost;
        }
        
        addFinalTotal = actualAdd1Total + actualAdd2Total; 
        document.getElementById("showaddFinalTotal").innerHTML = addFinalTotal;    
        document.getElementById("actualaddFinalTotal").value = addFinalTotal;
      }

        



   
    
    </script>

{% endblock %}

