{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header1.html"%}
{% endblock %}

{% block pageTitle %}
  Is this a Prison Law matter? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="question-eligibility" method="post">

        {{ govukRadios({
          name: "prisonLaw",
          fieldset: {
            legend: {
              text: "Is this a Prison Law matter?",
              classes: "govuk-fieldset__legend--xl",
              isPageHeading: true            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("prisonLaw", "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: checked("prisonLaw", "No")
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

        </div>

      </form>

    </div>
  </div>

{% endblock %}