{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}

{% block pageTitle %}
  Additional information – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">3. About your request </span>
      
      <form class="form" action="/question3-add-info" method="post">

        {{ govukTextarea({
          name: "why-pa",
          id: "why-pa",
          label: {
            text: "Additional information (optional)",
            classes: "govuk-label--xl",
            isPageHeading: true
          },
          hint: {
            text: "Add any additional information pertinent to this application. You can attach copies of any supporting documentation later. "
          }
        }) }}

        {{ govukRadios({
          name: "haveYouCompletedThisSection",
          fieldset: {
            legend: {
              text: "Have you completed this section?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes, I’ve completed this section"
            },
            {
              value: "No",
              text: "No, I’ll come back to it later"
            }
          ]
        }) }}

        

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
