{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}

{% block pageTitle %}
  Why is prior authority required? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">3. About the request </span>

      {% if data['changeWhyPA'] == "change" %}
        <form class="form" action="check-answers" method="post">
        {% else %}
        <form class="form" action="task-list?question3-why-pa=complete" method="post">
      {% endif %}       

        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="2000">
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="why-pa">
                Why is prior authority required?
              </label>
            </h1>
            <div id="why-pa-hint" class="govuk-hint">
              <p>Provide a summary of:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Why you are requesting this authority</li>
                <li>Details of the prosecution case</li>
                <li>The defence or mitigation</li>
              </ul>
            </div>
            <textarea class="govuk-textarea govuk-js-character-count" id="why-pa" name="why-pa" rows="16" aria-describedby="why-pa-info why-pa-hint"></textarea>
          </div>
          <div id="why-pa-info" class="govuk-hint govuk-character-count__message">
            You can enter up to 2000 characters
          </div>
        </div>

        <div class="moj-multi-file-upload">
          <div class="moj-multi-file__uploaded-files ">
            <h2 class="govuk-heading-m">Supporting documentation (optional)</h2>
            <p>Attach copies of any supporting documentation. The maximum file size is 70MB. Files must be a DOC, DOCX, XLSX, XLS, RTF, ODT, JPG, BMP, PNG, TIF or PDF.</p>
            <div class="govuk-summary-list moj-multi-file-upload__list">
            </div>
          </div>

          <div class="moj-multi-file-upload__upload">

            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--s" for="documents">
                Upload files
              </label>

              <input class="govuk-file-upload moj-multi-file-upload__input" id="documents" name="documents" type="file" multiple="">
            </div>

            <button class="govuk-button govuk-button--secondary moj-multi-file-upload__button" data-module="govuk-button">
              Upload file
            </button>

          </div>
        </div>
        
        

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          {% if data['app-state'] =="empty" or data['app-state'] ==null %}
        
            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?app-state=draft"
            }) }}

            {% else %}

            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?app-state=all#manage-drafts"
            }) }}

          {% endif %}
        </div>

      </form>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script>
    if (typeof MOJFrontend.MultiFileUpload !== "undefined") {
      new MOJFrontend.MultiFileUpload({
        container: $(".moj-multi-file-upload"),
        uploadUrl: "/ajax-upload",
        deleteUrl: "/ajax-delete",
      });
    }

  </script>
{% endblock %}
