{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}

{% block pageTitle %}
  Expert's contact details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">3. About your request </span>
      <h1 class="govuk-heading-xl">Expenditure summary</h1>

      <h2 class="govuk-heading-l">
        <span class="govuk-caption-l">Total cost</span>
        £1356.00
      </h2>

      
      <form class="form" action="task-list?question3-expend=complete" method="post">

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Expenditure details</h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> expenditure details</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Expert details
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['expert-name']}}, 
                  {{data['expert-org-name']}}, 
                  {{data['expert-postcode']}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Expenditure
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['expend-type']}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Previously granted
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['existing-auth']}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Ordered by court
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['court-order']}}
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Expenditure items</h2>
          </div>
          <div class="govuk-summary-card__content">

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Item</th>
                  <th scope="col" class="govuk-table__header">Total per item</th>
                  <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Action</span></th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-table__header">Preparation</td>
                  <td class="govuk-table__cell">£5.00</td>
                  <td class="govuk-table__cell"><a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> expenditure details</span>
                  </a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-table__header">Travel</td>
                  <td class="govuk-table__cell">£5.00</td>
                  <td class="govuk-table__cell"><a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> expenditure details</span>
                  </a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-table__header">Additional items</td>
                  <td class="govuk-table__cell">£5.00</td>
                  <td class="govuk-table__cell"><a class="govuk-link" href="question3-expend-add-summary">
                    Change<span class="govuk-visually-hidden"> additional items</span>
                  </a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-table__header">Total cost</td>
                  <td class="govuk-table__cell">£647.50</td>
                  <td class="govuk-table__cell"></td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
   
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          {% if data['app-state'] =="empty" or data['app-state'] ==null %}
        
            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?app-state=saved"
            }) }}

            {% else %}

            {{ govukButton({
              text: "Save and come back later",
              classes: "govuk-button--secondary",
              href: "../crm-apps?app-state=all"
            }) }}

          {% endif %}
         
        </div>

      </form>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
    <script src="/public/javascripts/accessible-autocomplete.min.js"></script>

    <script>

        


      let selectElements = $('#expend-type')

      selectElements.each(function (index) {
        let selectElement = $(this)
        if (selectElement.length) {
          
          accessibleAutocomplete.enhanceSelectElement({
            defaultValue: '',
            placeholder: 'Search for the expenditure or enter your own',
            minLength: 1,
            selectElement: selectElement[0],
            onConfirm: function (data) {

              //box1 - sets up box1
              let box1_wrapper_id = 'box1_wrapper'
              let box1_wrapper_element = $('#' + box1_wrapper_id)
              let box1_selected_element = box1_wrapper_element.find('div.govuk-inset-text')

              //box2 - sets up box2
              let box2_wrapper_id = 'box2_wrapper'
              let box2_wrapper_element = $('#' + box2_wrapper_id)
              let box2_selected_element = box2_wrapper_element.find('div.govuk-inset-text')

              if (data !== undefined) {
                // We only want to hide if the variable is defined
                if (data) {

                  //box1 - displays box1
                  box1_selected_element.html($('option:contains(' + data + ')').val())
                  box1_wrapper_element.show()

                  //box2 - displays box2
                  box2_selected_element.html($('option:contains(' + data + ')').val())
                  box2_wrapper_element.show()

                } else {
                  box1_wrapper_element.show()
                  box2_wrapper_element.hide()
                }
              }
            }
          })
        }

      })
    
    </script>

{% endblock %}
