{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}

{% block pageTitle %}
  Your application progress – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Your application progress
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <p class="govuk-body govuk-!-margin-bottom-7">If you leave this page before submitting, you can return later to complete the application.</p>

      <ol class="govuk-prototype-kit-task-list">
        <!--Section 0 - UFN-->
        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            Application details
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">
              {% if data['question-ufn'] =="complete" %}
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="question-ufn?question-ufn=complete" class="govuk-link"  aria-describedby="ufn-status">
                    Unique file number
                  </a>
                </span>
                {% else %}
                 <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="question-ufn?question-ufn=complete" class="govuk-link--no-visited-state"  aria-describedby="ufn-status">
                    Unique file number
                  </a>
                </span>
              {% endif %}
              <!--If question2-org is complete, show the status Complete-->
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="ufn-status">Complete</strong>
            </li>
          </ul>
        </li>

        <!--Section 1 - About you-->
        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">1. </span> About you
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">

            <!--Question 1 - your details-->
            <li class="govuk-prototype-kit-task-list__item">
              {% if data['question1-org'] == null or data['question1-org'] == "notStarted" %}
                <!--If question1-org has not been started show the status Not started AND for the proto I'm removing the visited link status for this link so it looks fresh each time-->
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="question1-org?question1-org=notStarted" class="govuk-link--no-visited-state"  aria-describedby="company-status">
                    Your details
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="company-status">Not started</strong>
                {% else %}
                <!--For all other states AND show visited link status-->
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="question1-org" aria-describedby="company-status">
                    Your details
                  </a>
                </span>
                {% if data['question1-org'] =="complete" %}
                  <!--If question2-org is complete, show the status Complete-->
                  <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="company-status">Complete</strong>
                  {% else %}
                  {% if data['question1-org'] =="draft" %}
                    <!--If question2-org is draft, show the status Draft-->
                    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="company-status">In progress</strong>
                  {% endif %}
                {% endif %}
              {% endif %}
            </li>
          </ul>
        </li>

        <!--Section 2 - client dets-->
        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">2. </span> About the case
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <!--Section 2 - Client details-->
            <li class="govuk-prototype-kit-task-list__item">
              {% if data['question2-client'] == null or data['question2-client'] == "notStarted" %}
                <!--If question2-org has not been started show the status Not started AND for the proto I'm removing the visited link status for this link so it looks fresh each time-->
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="question2-client?question2-client=notStarted" class="govuk-link--no-visited-state"  aria-describedby="client-status">
                    Client details
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="client-status">Not started</strong>
                {% else %}
                <!--For all other states AND show visited link status-->
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="question2-client" aria-describedby="client-status">
                    Client details
                  </a>
                </span>
                {% if data['question2-client'] =="complete" %}
                  <!--If question2-org is complete, show the status Complete-->
                  <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="client-status">Complete</strong>
                  {% else %}
                  {% if data['question2-client'] =="draft" %}
                    <!--If question2-org is draft, show the status Draft-->
                    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="client-status">In progress</strong>
                  {% endif %}
                {% endif %}
              {% endif %}
            </li>

            <!--Section 2 - Details of case-->
            <li class="govuk-prototype-kit-task-list__item">
              {% if data['question2-case'] == null or data['question2-case'] == "notStarted" %}
                <!--If question2-case has not been started show the status Not started AND for the proto I'm removing the visited link status for this link so it looks fresh each time-->
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="question2-case?question2-case=notStarted" class="govuk-link--no-visited-state"  aria-describedby="case-status">
                    Case and hearing details
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="case-status">Not started</strong>
                {% else %}
                <!--For all other states AND show visited link status-->
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="question2-case" aria-describedby="case-status">
                    Case and hearing details
                  </a>
                </span>
                {% if data['question2-case'] =="complete" %}
                  <!--If question2-casa is complete, show the status Complete-->
                  <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="case-status">Complete</strong>
                  {% else %}
                  {% if data['question2-case'] =="draft" %}
                    <!--If question2-case is draft, show the status Draft-->
                    <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="case-status">In progress</strong>
                  {% endif %}
                {% endif %}
              {% endif %}
            </li>
          </ul>
        </li>

        <!--Section 3 - Your request-->
        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">3. </span>About the request
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            

            <!--Section 3 - quote-->
            <li class="govuk-prototype-kit-task-list__item">

              {% if data['question2-case'] != "complete" and data['question2-hearing'] != "complete" %}
                <!--If the case questions are not complete, all of the other questions are the status Cannot start-->
                <span class="govuk-prototype-kit-task-list__task-name">
                  Primary quote
                </span>
                <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="quote-status">Cannot start yet</strong>
                {% else %}
                {% if data['question3-quote'] == null or data['question3-quote'] == "notStarted" %}
                  <!--If question3-quote has not been started show the status Not started AND for the proto I'm removing the visited link status for this link so it looks fresh each time-->
                  <span class="govuk-prototype-kit-task-list__task-name">
                    <a href="question3-quote?question3-quote=notStarted" class="govuk-link--no-visited-state"  aria-describedby="quote-status">
                      Primary quote
                    </a>
                  </span>
                  <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="quote-status">Not started</strong>
                  {% else %}
                  <!--For all other states AND show visited link status-->
                  <span class="govuk-prototype-kit-task-list__task-name">
                    <a href="question3-quote" aria-describedby="quote-status">
                      Primary quote
                    </a>
                  </span>
                  {% if data['question3-quote'] =="complete" %}
                    <!--If question3-quote is complete, show the status Complete-->
                    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="quote-status">Complete</strong>
                    {% else %}
                    {% if data['question3-quote'] =="draft" %}
                      <!--If question3-quote is draft, show the status Draft-->
                      <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="quote-status">In progress</strong>
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %}
            </li>
            <!--Section 3 - alternative quotes -->
            <li class="govuk-prototype-kit-task-list__item">
              {% if data['question2-case'] != "complete" and data['question2-hearing'] != "complete" %}
                <!--If the case question are not complete, all of the other questions are the status Cannot start-->
                <span class="govuk-prototype-kit-task-list__task-name">
                  Alternative quotes
                </span>
                <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="alt-quote-status">Cannot start yet</strong>
                {% else %}
                {% if data['question3-alt-quote'] == null or data['question3-alt-quote'] == "notStarted" %}
                  <!--If question3-alt-quote has not been started show the status Not started AND for the proto I'm removing the visited link status for this link so it looks fresh each time-->
                  <span class="govuk-prototype-kit-task-list__task-name">
                    <a href="question3-alt-quotes-q?question3-alt-quote=notStarted?serviceType=Other" class="govuk-link--no-visited-state"  aria-describedby="alt-quote-status">
                      Alternative quotes
                    </a>
                  </span>
                  <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="alt-quote-status">Not started</strong>
                  {% else %}
                  <!--For all other states AND show visited link status-->
                  <span class="govuk-prototype-kit-task-list__task-name">
                    <a href="question3-alt-quotes-q" aria-describedby="alt-quote-status">
                      Alternative quotes
                    </a>
                  </span>
                  {% if data['question3-alt-quote'] =="complete" %}
                    <!--If question3-alt-quote is complete, show the status Complete-->
                    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="alt-quote-status">Complete</strong>
                    {% else %}
                    {% if data['question3-alt-quote'] =="draft" %}
                      <!--If question3-alt-quote is draft, show the status Draft-->
                      <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="alt-quote-status">In progress</strong>
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %}
            </li>
            <!--Section 3 - why PA required?-->
            <li class="govuk-prototype-kit-task-list__item">
              {% if data['question2-case'] != "complete" and data['question2-hearing'] != "complete" %}
                <!--If the case question are not complete, all of the other questions are the status Cannot start-->
                <span class="govuk-prototype-kit-task-list__task-name">
                  Reason for prior authority
                </span>
                <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="why-status">Cannot start yet</strong>
                {% else %}
                {% if data['question3-why-pa'] == null or data['question3-why-pa'] == "notStarted" %}
                  <!--If question3-expert has not been started show the status Not started AND for the proto I'm removing the visited link status for this link so it looks fresh each time-->
                  <span class="govuk-prototype-kit-task-list__task-name">
                    <a href="question3-why-pa?question3-why-pa=notStarted" class="govuk-link--no-visited-state"  aria-describedby="why-status">
                      Reason for prior authority
                    </a>
                  </span>
                  <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="why-status">Not started</strong>
                  {% else %}
                  <!--For all other states AND show visited link status-->
                  <span class="govuk-prototype-kit-task-list__task-name">
                    <a href="question3-why-pa" aria-describedby="why-status">
                      Reason for prior authority
                    </a>
                  </span>
                  {% if data['question3-why-pa'] =="complete" %}
                    <!--If question3-why-pa is complete, show the status Complete-->
                    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="why-status">Complete</strong>
                    {% else %}
                    {% if data['question3-why-pa'] =="draft" %}
                      <!--If question3-why-pa is draft, show the status Draft-->
                      <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="why-status">In progress</strong>
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %}
            </li>
            <!--Section 3 - additional information 
            <li class="govuk-prototype-kit-task-list__item">
              {% if data['question2-case'] != "complete" and data['question2-hearing'] != "complete" %}

                <span class="govuk-prototype-kit-task-list__task-name">
                  Additional information
                </span>
                <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="add-info-status">Cannot start yet</strong>
                {% else %}
                {% if data['question3-add-info'] == null or data['question3-add-info'] == "notStarted" %}
 
                  <span class="govuk-prototype-kit-task-list__task-name">
                    <a href="question3-add-info?question3-add-info=notStarted" class="govuk-link--no-visited-state"  aria-describedby="add-info-status">
                      Additional information
                    </a>
                  </span>
                  <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="add-info-status">Not started</strong>
                  {% else %}
                  <span class="govuk-prototype-kit-task-list__task-name">
                    <a href="question3-add-info" aria-describedby="add-info-status">
                      Additional information
                    </a>
                  </span>
                  {% if data['question3-add-info'] =="complete" %}
                    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="add-info-status">Complete</strong>
                    {% else %}
                    {% if data['question3-add-info'] =="draft" %}
                      <strong class="govuk-tag govuk-tag--blue govuk-prototype-kit-task-list__tag" id="alt-add-info">In progress</strong>
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %}
            </li> -->
          </ul>
        </li>
        <!--Question 3-->
        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">3. </span> Apply
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            {% if data['question3-why-pa'] !== "complete" or data['question3-quote'] !== "complete" or data['question3-alt-quote'] !== "complete" %}
              <!--If the first question is not complete, all of the other questions are the status Cannot start-->
              <li class="govuk-prototype-kit-task-list__item">
                <span class="govuk-prototype-kit-task-list__task-name">
                  Submit application
                </span>
                <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-status">Cannot start yet</strong>
              </li>
              {% else %}
              {% if data['submit'] == null or data['submit'] == "notStarted" %}
                <li class="govuk-prototype-kit-task-list__item">
                  <span class="govuk-prototype-kit-task-list__task-name">
                    <a href="check-answers?submit=notStarted" aria-describedby="submit-status">
                      Submit application
                    </a>
                  </span>
                  {% if data['submit'] == "complete" %}
                    <!--If question2-org is complete, show the status Complete-->
                    <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="submit-status">Complete</strong>
                    {% else %}
                    {% if data['submit'] =="draft" %}
                      <!--If question2-org is draft, show the status Draft-->
                      <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-status">In progress</strong>
                      {% else %}
                      <!--If question2-org is not complete or draft, show the status Not started-->
                      <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-status">Not started</strong>
                    {% endif %}
                  {% endif %}
                </li>
              {% endif %}
            {% endif %}
          </ul>
        </li>
      </ol>
      {{ govukButton({
        text: "Back to your applications",
        classes: "govuk-button--secondary",
        href: "../crm-apps"
      }) }}
    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <strong>Unique file number</strong>   
            <br>{{data['ufn'] or "100323/234234"}}
          </li>
          <li>
            <strong>LAA reference</strong>   
            <br>{{data['laa-ref'] or "LAA-5a7d3c"}}
          </li>
          <li>
            <strong>Under Prison Law</strong>   
            <br>{{data['prisonLaw'] or "No"}}
          </li>
        </ul>
      </aside>
    </div>
  </div>

{% endblock %}
