{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}

{% block pageTitle %}
  Your application progress – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}

  {{ govukBackLink({
    text: "Back to Your applications",
    href: "../crm-apps"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Your application progress
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <p class="govuk-body govuk-!-margin-bottom-7">If you leave this page before submitting, you can return later to complete the application.</p>
      <ol class="govuk-prototype-kit-task-list">

        <!--Section 1 - About you-->
        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">1. </span> About you
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">

            <!--Question 1 - your details-->
            <li class="govuk-prototype-kit-task-list__item">
              {% if data['question1-org'] == null or data['question1-org'] == "not-started" %}
                <!--If question1-org has not been started show the status Not started AND for the proto I'm removing the visited link status for this link so it looks fresh each time-->
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="question1-org?question1-org=draft" class="govuk-link--no-visited-state"  aria-describedby="company-status">
                    Your details
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="company-status">Not started</strong>
                {% else %}
                <!--For all other states AND show visited link status-->
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="question1-org" aria-describedby="company-status">
                    Your details
                  </a>
                </span>
                {% if data['question1-org'] =="complete" %}
                  <!--If question2-org is complete, show the status Complete-->
                  <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="company-status">Complete</strong>
                  {% else %}
                  {% if data['question1-org'] =="draft" %}
                    <!--If question2-org is draft, show the status Draft-->
                    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="company-status">In progress</strong>
                  {% endif %}
                {% endif %}
              {% endif %}
            </li>
          </ul>
        </li>

        <!--Section 2 - client dets-->
        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">2. </span> About your client
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <!--Section 2 - Client details-->
            <li class="govuk-prototype-kit-task-list__item">
              {% if data['question2-client'] == null or data['question2-client'] == "not-started" %}
                <!--If question2-org has not been started show the status Not started AND for the proto I'm removing the visited link status for this link so it looks fresh each time-->
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="question2-client?question2-client=draft" class="govuk-link--no-visited-state"  aria-describedby="client-status">
                    Client details
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="client-status">Not started</strong>
                {% else %}
                <!--For all other states AND show visited link status-->
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="question2-client" aria-describedby="client-status">
                    Client details
                  </a>
                </span>
                {% if data['question2-client'] =="complete" %}
                  <!--If question2-org is complete, show the status Complete-->
                  <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="client-status">Complete</strong>
                  {% else %}
                  {% if data['question2-client'] =="draft" %}
                    <!--If question2-org is draft, show the status Draft-->
                    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="client-status">In progress</strong>
                  {% endif %}
                {% endif %}
              {% endif %}
            </li>

            <!--Section 2 - Details of case-->
            <li class="govuk-prototype-kit-task-list__item">
              {% if data['question2-case'] == null or data['question2-case'] == "not-started" %}
                <!--If question2-case has not been started show the status Not started AND for the proto I'm removing the visited link status for this link so it looks fresh each time-->
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="question2-case-prison?question2-case=draft" class="govuk-link--no-visited-state"  aria-describedby="case-status">
                    Case details
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="case-status">Not started</strong>
                {% else %}
                <!--For all other states AND show visited link status-->
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="question2-case-prison" aria-describedby="case-status">
                    Case details
                  </a>
                </span>
                {% if data['question2-case'] =="complete" %}
                  <!--If question2-casa is complete, show the status Complete-->
                  <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="case-status">Complete</strong>
                  {% else %}
                  {% if data['question2-case'] =="draft" %}
                    <!--If question2-case is draft, show the status Draft-->
                    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="case-status">In progress</strong>
                  {% endif %}
                {% endif %}
              {% endif %}
            </li>
          </ul>
        </li>

        <!--Section 3 - Your request-->
        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">3. </span>About your request
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <!--Section 3 - why PA required?-->
            <li class="govuk-prototype-kit-task-list__item">
              {% if data['question3-why-pa'] == null or data['question3-why-pa'] == "not-started" %}
                <!--If question3-expert has not been started show the status Not started AND for the proto I'm removing the visited link status for this link so it looks fresh each time-->
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="question3-why-pa?question3-why-pa=draft" class="govuk-link--no-visited-state"  aria-describedby="why-status">
                    Reason for prior authority
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="why-status">Not started</strong>
                {% else %}
                <!--For all other states AND show visited link status-->
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="question3-why-pa" aria-describedby="why-status">
                    Reason for prior authority
                  </a>
                </span>
                {% if data['question3-why-pa'] =="complete" %}
                  <!--If question3-why-pa is complete, show the status Complete-->
                  <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="why-expert">Complete</strong>
                  {% else %}
                  {% if data['question3-why-pa'] =="draft" %}
                    <!--If question3-why-pa is draft, show the status Draft-->
                    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="why-expert">In progress</strong>
                  {% endif %}
                {% endif %}
              {% endif %}
            </li>
            <!--Section 3 - expert contact details-->
            <li class="govuk-prototype-kit-task-list__item">
              {% if data['question3-expert'] == null or data['question3-expert'] == "not-started" %}
                <!--If question3-expert has not been started show the status Not started AND for the proto I'm removing the visited link status for this link so it looks fresh each time-->
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="question3-expert?question3-expert=draft" class="govuk-link--no-visited-state"  aria-describedby="expert-status">
                    Expert's contact details
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="expert-status">Not started</strong>
                {% else %}
                <!--For all other states AND show visited link status-->
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="question3-expert" aria-describedby="expert-status">
                    Expert's contact details
                  </a>
                </span>
                {% if data['question3-expert'] =="complete" %}
                  <!--If question3-expert is complete, show the status Complete-->
                  <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="expend-expert">Complete</strong>
                  {% else %}
                  {% if data['question3-expert'] =="draft" %}
                    <!--If question3-expert is draft, show the status Draft-->
                    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="expend-expert">In progress</strong>
                  {% endif %}
                {% endif %}
              {% endif %}
            </li>

            <!--Section 3 - quote-->
            <li class="govuk-prototype-kit-task-list__item">
              {% if data['question3-quote'] == null or data['question3-quote'] == "not-started" %}
                <!--If question3-quote has not been started show the status Not started AND for the proto I'm removing the visited link status for this link so it looks fresh each time-->
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="question3-quote?question3-quote=draft" class="govuk-link--no-visited-state"  aria-describedby="quote-status">
                    Expenditure quote
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="quote-status">Not started</strong>
                {% else %}
                <!--For all other states AND show visited link status-->
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="question3-quote" aria-describedby="quote-status">
                    Expenditure quote
                  </a>
                </span>
                {% if data['question3-quote'] =="complete" %}
                  <!--If question3-quote is complete, show the status Complete-->
                  <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="quote-status">Complete</strong>
                  {% else %}
                  {% if data['question3-quote'] =="draft" %}
                    <!--If question3-quote is draft, show the status Draft-->
                    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="quote-status">In progress</strong>
                  {% endif %}
                {% endif %}
              {% endif %}
            </li>
            <!--Section 3 - alternative quotes -->
            <li class="govuk-prototype-kit-task-list__item">
              {% if data['question3-alt-quote'] == null or data['question3-alt-quote'] == "not-started" %}
                <!--If question3-alt-quote has not been started show the status Not started AND for the proto I'm removing the visited link status for this link so it looks fresh each time-->
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="question3-alt-quotes?question3-alt-quote=draft" class="govuk-link--no-visited-state"  aria-describedby="alt-quote-status">
                    Alternative quotes
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="alt-quote-status">Not started</strong>
                {% else %}
                <!--For all other states AND show visited link status-->
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="question3-alt-quotes" aria-describedby="alt-quote-status">
                    Alternative quotes
                  </a>
                </span>
                {% if data['question3-alt-quote'] =="complete" %}
                  <!--If question3-quote is complete, show the status Complete-->
                  <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="alt-quote-status">Complete</strong>
                  {% else %}
                  {% if data['question3-alt-quote'] =="draft" %}
                    <!--If question3-quote is draft, show the status Draft-->
                    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="alt-quote-status">In progress</strong>
                  {% endif %}
                {% endif %}
              {% endif %}
            </li>

          </ul>
        </li>
        <!--Question 3-->
        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">3. </span> Apply
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            {% if data['question1'] != "complete" %}
              <!--If the first question is not complete, all of the other questions are the status Cannot start-->
              <li class="govuk-prototype-kit-task-list__item">
                <span class="govuk-prototype-kit-task-list__task-name">
                  Submit and pay
                </span>
                <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
              </li>

              {% else %}

              <li class="govuk-prototype-kit-task-list__item">
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="check-answers" aria-describedby="contact-details-status">
                    Submit and pay
                  </a>
                </span>
                {% if data[''] =="complete" %}
                  <!--If question2-org is complete, show the status Complete-->
                  <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="company-information-status">Complete</strong>
                  {% else %}
                  {% if data[''] =="draft" %}
                    <!--If question2-org is draft, show the status Draft-->
                    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="company-information-status">In progress</strong>
                    {% else %}
                    <!--If question2-org is not complete or draft, show the status Not started-->
                    <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="company-information-status">Not started</strong>
                  {% endif %}
                {% endif %}
              </li>
            {% endif %}
          </ul>
        </li>
      </ol>
    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <strong>Unique file reference</strong>   
            <br>{{data['ufn'] or "100323/234234"}}
          </li>
          <li>
            <strong>LAA reference</strong>   
            <br>{{data['laa-ref'] or "LAA-5a7d3c"}}
          </li>
        </ul>
      </aside>
    </div>
  </div>

{% endblock %}
