{% if data['cwAppStatus'] == "New" or data['cwAppStatus'] == null %}
  {% else %}
  {% if data['cwAppStatus'] == "In progress" %}
   <strong class="govuk-tag govuk-tag--purple">In progress</strong><br><br>
    {% else %}
    {% if data['cwAppStatus'] == "Granted" %}
      <strong class="govuk-tag govuk-tag--green">Granted</strong><br><br>
      {% else %}
      {% if data['cwAppStatus'] == "Rejected" %}
        <strong class="govuk-tag govuk-tag--red">Rejected</strong><br><br>
        {% else %}
        {% if data['cwAppStatus'] == "Review" %}
          <strong class="govuk-tag govuk-tag--yellow">Sent back</strong><br><br>
          {% else %}
          {% if data['cwAppStatus'] == "Part granted" %}
            <strong class="govuk-tag govuk-tag--blue">Part granted</strong><br><br>
            {% else %}
            {% if data['cwAppStatus'] == "Returned" %}
              <strong class="govuk-tag govuk-tag--grey">Provider updated</strong><br><br>
              {% else %}
              {% if data['cwAppStatus'] == "Referred" %}
                <strong class="govuk-tag govuk-tag--yellow">Referred</strong><br><br>
                {% else %}
                {% if data['cwAppStatus'] == "Auto granted" %}
                  <strong class="govuk-tag govuk-tag--green">Auto granted</strong><br><br>
                    {% else %}
                  {% if data['cwAppStatus'] == "Expired" %}
                    <strong class="govuk-tag govuk-tag--red">Expired</strong><br><br>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endif %}
<span class="govuk-caption-xl">{{data['laa-ref'] or "LAA-5a7d3c"}}</span>
<h1 class="govuk-heading-xl">{{data['client'] or "Roger Blackbeard"}}</h1>
<p>
  <span class="govuk-body-l"><strong>Claimed:</strong> £{{data['actualdistTotalCost'] or "1135"}}.00<br>
  {% if data['cwAppStatus'] == "Part granted" %}
    <span class="govuk-body-l"><strong>Allowed: </strong>£1192.80
    {% else %}
    {% if data['cwAppStatus'] == "Granted" or data['cwAppStatus'] == "Auto granted" %}
      <span class="govuk-body-l"><strong>Allowed: </strong>£{{data['actualdistTotalCost'] or "1135"}}.00
      {% else %}
      {% if data['cwAppStatus'] == "Rejected" %}
        <span class="govuk-body-l"><strong>Allowed: </strong>£0.00
      {% endif %}
    {% endif %}
  {% endif %}
</p> 
<p>
  <span class="govuk-body-l">High risk</span>
</p>
{% if data['cwAppStatus'] == "New"%}
  <p><span class="govuk-body-m"><strong>Assigned to:</strong> Unassigned</span></p>
  {% else %}
  <p><span class="govuk-body-m"><strong>Assigned to:</strong> {{data['caseworker1']}}</span></p>
{% endif %}
<p>
  <span class="govuk-body-m"><strong>Date received:</strong> 17 October 2023</span>
  {% if data['cwAppStatus'] == "Granted" or data['cwAppStatus'] == "Part granted" or data ['cwAppStatus'] == "Rejected" or data['cwAppStatus'] == "Auto granted" %}
    <br><span class="govuk-body-m"><strong>Date assessed:</strong> 21 October 2023</span>
    {% else %}
    {% if data['cwAppStatus'] == "Referred" %}
      <br><span class="govuk-body-m"><strong>Date referred:</strong> 21 October 2023</span>
      {% else %}
      {% if data['cwAppStatus'] == "Review" %}
        <br><span class="govuk-body-m"><strong>Date sent back to provider:</strong> 21 October 2023</span>
        {% else %}
        {% if data['cwAppStatus'] == "Returned" %}
          <br><span class="govuk-body-m"><strong>Date amended:</strong> 21 October 2023</span>
          {% else %}
          {% if data['cwAppStatus'] == "Expired" %}
            <br><span class="govuk-body-ms"><strong>Date expired</strong> 5 November 2023</span>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
  
</p>
<div class="govuk-button-group">

  {% if data['cwAppStatus'] == "In progress" or data ['cwAppStatus'] == "Referred" or data['cwAppStatus'] == "Returned" %}
    {{ govukButton({
      text: "Remove from list",
      href: "claim-details-unassign",
      classes: "govuk-button--secondary"
    }) }}
    {% else %}
    {% if data['cwAppStatus'] == "New" %}
    {{ govukButton({
      text: "Add to my list",
      href: "claim-details-assign",
      classes: "govuk-button--secondary"
    }) }}
  {% endif %}
  {% endif %}

</div>