{% extends "layouts/main.html" %}

{% set version = "nsm-1-4" %}
{% set activePrimeNav = [true, false] %}
{% set activeSubNav = [false, false, true] %}


{% block header %}
  {% include version +"/includes/header-portal-payments.njk"%}  
{% endblock %}

{% block pageTitle %}
  {{data['laa-ref'] or "LAA-5a7d3c"}} - Related payment requests – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include version +"/includes/app-info-payments.html"%}
      
      <!-- Nav -->
      {% include version +"/includes/nav-sub-payments.html"%}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-l">Related payment requests</h2>

      <!--Related payments -->
      <table class="govuk-table" id="table-header" data-module="moj-sortable-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" aria-sort="none">LAA reference</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Firm name</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Client</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Claim</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Payment request</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">                
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="payment-details?laa-ref=LAA-1z5f76&officeAccount=9E3R6E&paymentType=Assigned counsel&defendantLastName=Blackbeard&officeAccount=1A3BE4">LAA-1z5f76</a></td>
            <td class="govuk-table__cell">1A3BE4</td>
            <td class="govuk-table__cell">Blackbeard</td>
            <td class="govuk-table__cell">Assigned counsel</td>
            <td class="govuk-table__cell">26 June 2025</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="payment-details?laa-ref=LAA-2d9t4j&paymentType=Assigned counsel - appeal&defendantLastName=Blackbeard&officeAccount=1A3BE4" class="govuk-link--no-visited-state" data-sort-value="2d9t4j">LAA-2d9t4j</a></td>          
            <td class="govuk-table__cell">1A3BE4</td>
            <td class="govuk-table__cell">Blackbeard</td>
            <td class="govuk-table__cell">Assigned counsel - appeal</td>
            <td class="govuk-table__cell">30 June 2025</td>
          </tr>
          {% if data['paymentType'] == "Assigned counsel"%}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="payment-details?laa-ref=LAA-5a7d3c&officeAccount=1A3BE4&paymentType=Non-standard magistrates'&defendantLastName=Blackbeard" class="govuk-link--no-visited-state">LAA-5a7d3c</a></td>
            <td class="govuk-table__cell">1A3BE4</td>
            <td class="govuk-table__cell">Blackbeard</td>
            <td class="govuk-table__cell">Non-standard magistrates'</td>
            <td class="govuk-table__cell">26 June 2025</td>
          </tr>
          {% endif %}
        </body>
      </table>  
    </div>
  </div>

{% endblock %}