{{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: [
      {
        text: 'Your claims',
        href: '/' + version + '/caseworker/crm-assess',
        active: true
      },
      {
        text: 'Open claims',
        href: '/' + version + '/caseworker/crm-assess-open',
        active: false
      },
      {
        text: 'Closed claims',
        href: '/' + version + '/caseworker/crm-assess-closed',
        active: false
      },
      {
        text: 'Search',
        href: '/' + version + '/caseworker/crm-assess-search',
        active: false
      }
    ]
  }) }}

  