{% extends "layouts/main-latest.html" %}
{% set version = "latest-portal" %}
{% set activePrimeNav = [false, true, false] %}

{% block header %}
    {% include version + "/includes/header-portal-cw3.html"%}
{% endblock %}

{% block pageTitle %}
  LAA Online Portal – Assess a crime form - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner2.html"%}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Non-standard magistrates</h1>     
      <table role="presentation" width="100%" style="border-collapse: collapse;min-width: 100%;width: 100% !important;" cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr align="center">
          <td><img src="/public/images/metabase-image2.png" width="100%"></td> 
        </tr>
      </tbody>
    </table>
    </div>
  </div>

   

{% endblock %}


