{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header1.html"%}
{% endblock %}

{% block pageTitle %}
  Are you sure you want to delete the comments? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  {% include "includes/cw-nav-your.html"%}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Are you sure you want to delete the comments?</h1>

      <div class="govuk-inset-text">
        {{data['checkWhyPA']}}
      </div>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Yes, delete it",
          classes: "govuk-button--warning",
          href: "application-details-mvp?checkWhyPA="
        }) }}

        {{ govukButton({
          text: "No, do not delete it",
          classes: "govuk-button--secondary",
          href: "review-why-pa"
        }) }}
      </div>
      
    </div>
  </div>

{% endblock %}