{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header-cw.html"%}
{% endblock %}

{% block pageTitle %}
  Review alternative quote – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {% include "includes/cw-nav-your.html"%}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{data['laa-ref'] or "LAA-5a7d3c"}}</span>
      <h1 class="govuk-heading-xl">Review alternative quote</h1>
      <p>Complete this form if you need more information from the provider about this alternative quote.</p>


      {% if data['changeAltQuote'] == "change" %}
        <form class="form" action="check-answers-moreinfo" method="post">
        {% else %}
        <form class="form" action="application-details-mvp?reviewAltQuote1=complete" method="post">
      {% endif %}
      
        <!--Alternative quote 1-->
        {% if data['showAltQuote'] == "1" %}
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Alternative quote 1</h2>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list govuk-!-margin-bottom-6">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Service provider details
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['alt1Expert-first-name'] or "Jame"}} {{data['alt1Expert-last-name'] or "Jones"}}<br>
                    {{data['alt1ExpertOrg'] or "Jones Law"}}, 
                    {{data['alt1ExpertPostcode'] or "E1"}}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Quote upload
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <a href="">myquote1.pdf</a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Additional items
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['alt1Descript'] or "None"}}
                  </dd>
                </div>
              </dl>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Cost type</th>
                    <th scope="col" class="govuk-table__header">Alternative quote</th>
                    <th scope="col" class="govuk-table__header">Primary quote</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Service</td>
                    <!--Service cost-->
                    <td class="govuk-table__cell">
                      <!--Service cost-->
                      {% if data['serviceType'] == "Transcription" %}
                        £{{data['alt1actualTransTotalCost'] or "760"}}.00
                        {% else %}
                        {% if data['serviceType'] == "Translation and transcription" %}
                          £{{data['alt1actualTransTotalCost'] or "760"}}.00
                          {% else %}
                          {% if data['serviceType'] == "Translator" %}
                            £{{data['alt1actualTransTotalCost'] or "760"}}.00
                            {% else %}
                            {% if data['serviceType'] == "Photocopying" %}
                              £{{data['alt1actualTransTotalCost'] or "760"}}.00
                              {% else %}
                              {% if data['serviceType'] == "DNA report" %}
                                £{{data['alt1actualTransTotalCost'] or "760"}}.00
                                {% else %}
                                {% if data['serviceType'] == "Other" %}
                                  £{{data['alt1actualTransTotalCost'] or "760"}}.00
                                  {% else %}
                                  £{{data['alt1actualTransTotalCost'] or "760"}}.00
                                {% endif %}
                              {% endif %}
                            {% endif %}
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    </td>
                    <td class="govuk-table__cell">
                      {% if data['serviceType'] == "DNA report" %}
                        £{{data['dnaCost'] or "400" }}.00
                        {% else %}
                        {% if data['serviceType'] == "Transcription" %}
                          £{{data['actualTransTotal'] or "400" }}.00
                          {% else %}
                          {% if data['serviceType'] == "Translation and transcription" %}
                            £{{data['actualTransTransTotal'] or "400" }}.00
                            {% else %}
                            {% if data['serviceType'] == "Translator" %} 
                              £{{data['actualTranslatorTotal'] or "400" }}.00
                              {% else %}
                              {% if data['serviceType'] == "Photocopying" %} 
                                £{{data['actualPhotoTotal'] or "400" }}.00
                                {% else %}
                                {% if data['serviceType'] == "Other" and data['otherChargeType'] =="Charged by the hour"%} 
                                  £{{data['actualOtherTotal'] or "400" }}.00
                                  {% else %}
                                  {% if data['serviceType'] == "Other" and data['otherChargeType'] =="Charged per item"%} 
                                    >£{{data['actualOtherTotal'] or "400" }}.00
                                    {% else %}
                                    {% if data['serviceType'] !== "DNA report" %}
                                      £{{data['actualGeneralTotal'] or "400" }}.00
                                    {% endif %}
                                  {% endif %}
                                {% endif %}
                              {% endif %}
                            {% endif %}
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Travel</td>
                    <td class="govuk-table__cell">£{{data['actualalt1TravelTotal'] or "0"}}.00</td>
                    <td class="govuk-table__cell">£{{data['actualTravelTotal'] or "120" }}.00</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Additional</td>
                    <td class="govuk-table__cell">£{{data['alt1AddCost'] or "0"}}.00</td>
                    <td class="govuk-table__cell">£{{data['actualaddFinalTotal'] or "120" }}.00</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-table__header">Total cost</td>
                    <td class="govuk-table__cell"><strong>£{{data['actualalt1TotalCost'] or "760"}}.00</strong></td>
                    <td class="govuk-table__cell"><strong>£{{data['actualdistTotalCost'] or "640"}}.00</strong></td>
                  </tr>          
                </tbody>
              </table>  
            </div>
          </div>
        
          {{ govukTextarea({
            name: "checkAltQuote1",
            id: "checkAltQuote1",
            value: data['checkAltQuote1'],
            label: {
              text: "What further information do you need from the provider?",
              classes: "govuk-label--s"
            },
            hint: {
              text: "Summarise the actions the provider needs to take."
            }
          }) }}    

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Save comments"
            }) }}

            {% if data['checkAltQuote1'] == "" or data['checkAltQuote1'] == null %}
              {% else %}
                {{ govukButton({
                  text: "Delete comments",
                  classes: "govuk-button--secondary",
                  href: "review-alt-quote-delete?"
                }) }}
            {% endif %}

            <a class="govuk-link" href="javascript:window.history.back()">Cancel</a>
          </div>
        {% endif %}

        <!--Alternative quote 2-->

        {% if data['showAltQuote'] =="2" %}
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Alternative quote 2</h2>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list govuk-!-margin-bottom-6">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Service provider details
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['alt2Expert-first-name'] or "Belinda"}} {{data['alt2Expert-last-name'] or "Cartright"}}<br>
                    {{data['alt2ExpertOrg'] or "Cartright Ltd"}}, 
                    {{data['alt2ExpertPostcode'] or "E2"}}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Quote upload
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <a href="">myquote2.pdf</a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Additional items
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['alt2Descript'] or "None"}}
                  </dd>
                </div>
              </dl>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Costs</th>
                    <th scope="col" class="govuk-table__header">Total</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Service</td>
                    <td class="govuk-table__cell">
                      <!--Service cost-->
                      {% if data['serviceType'] == "Transcription" %}
                          £{{data['alt2actualTransTotalCost'] or "825"}}.00
                          {% else %}
                          {% if data['serviceType'] == "Translation and transcription" %}
                            £{{data['alt2actualTransTotalCost'] or "825"}}.00
                            {% else %}
                            {% if data['serviceType'] == "Translator" %}
                              £{{data['alt2actualTransTotalCost'] or "825"}}.00
                              {% else %}
                              {% if data['serviceType'] == "Photocopying" %}
                                £{{data['alt2actualTransTotalCost'] or "825"}}.00
                                {% else %}
                                {% if data['serviceType'] == "DNA report" %}
                                  £{{data['alt2actualTransTotalCost'] or "825"}}.00
                                  {% else %}
                                  {% if data['serviceType'] == "Other" %}
                                    £{{data['alt2actualTransTotalCost'] or "825"}}.00
                                    {% else %}
                                    £{{data['alt2actualTransTotalCost'] or "825"}}.00
                                  {% endif %}
                                {% endif %}
                              {% endif %}
                            {% endif %}
                          {% endif %}
                        {% endif %}
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Travel</td>
                    <td class="govuk-table__cell">£{{data['actualalt2TravelTotal'] or "0"}}.00</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Additional</td>
                    <td class="govuk-table__cell">£{{data['alt2AddCost'] or "0"}}.00</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-table__header">Total cost</td>
                    <td class="govuk-table__cell"><strong>£{{data['actualalt2TotalCost'] or "825"}}.00</strong></td>
                  </tr>
                </tbody>
              </table>  
            </div>
          </div>
        {% endif %}

          <!--Alternative quote 3-->

        {% if data['showAltQuote'] =="3" %}
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Alternative quote 3</h2>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list govuk-!-margin-bottom-6">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Service provider details
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['alt3Expert-first-name'] or "Roger"}} {{data['alt3Expert-last-name'] or "Monied"}}<br>
                    {{data['alt3ExpertOrg'] or "Moniedboy Ltd"}}, 
                    {{data['alt3ExpertPostcode'] or "WC1"}}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Quote upload
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <a href="">myquote3.pdf</a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Additional items
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['alt3Descript'] or "None"}}
                  </dd>
                </div>
              </dl>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Costs</th>
                    <th scope="col" class="govuk-table__header">Total</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Service</td>
                    <td class="govuk-table__cell">
                      <!--Service cost-->
                      {% if data['serviceType'] == "Transcription" %}
                          £{{data['alt3actualTransTotalCost'] or "780"}}.00
                          {% else %}
                          {% if data['serviceType'] == "Translation and transcription" %}
                            £{{data['alt3actualTransTotalCost'] or "780"}}.00
                            {% else %}
                            {% if data['serviceType'] == "Translator" %}
                              £{{data['alt3actualTransTotalCost'] or "780"}}.00
                              {% else %}
                              {% if data['serviceType'] == "Photocopying" %}
                                £{{data['alt3actualTransTotalCost'] or "780"}}.00
                                {% else %}
                                {% if data['serviceType'] == "DNA report" %}
                                  £{{data['alt3actualTransTotalCost'] or "780"}}.00
                                  {% else %}
                                  {% if data['serviceType'] == "Other" %}
                                    £{{data['alt3actualTransTotalCost'] or "780"}}.00
                                    {% else %}
                                    £{{data['alt3actualTransTotalCost'] or "780"}}.00
                                  {% endif %}
                                {% endif %}
                              {% endif %}
                            {% endif %}
                          {% endif %}
                        {% endif %}
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Travel</td>
                    <td class="govuk-table__cell">£{{data['actualalt3TravelTotal'] or "0"}}.00</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Additional</td>
                    <td class="govuk-table__cell">£{{data['alt3AddCost'] or "0"}}.00</td>
                  </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-table__header">Total cost</td>
                      <td class="govuk-table__cell"><strong>£{{data['actualalt3TotalCost'] or "780"}}.00</strong></td>
                    </tr>
                </tbody>
              </table>  
            </div>
          </div>
        {% endif %}


      </form>

    </div>
  </div>

{% endblock %}