{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header-cw.html"%}
{% endblock %}

{% block pageTitle %}
  Prior authority Start Now – {{data['serviceName1'] }} - GOV.UK
{% endblock %}

{% set bodyClasses = 'caseworker-width caseworker-pink' %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{data['serviceName1'] }}
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p>Use this service to assess applications for prior authority to incur disbursements in criminal cases in relation to magistrates, crown and prison law work.</p>
        <p>Only caseworkers who have received an email invitation will have access. </p>
        <p>If you do not have access, you should continue using <a href="">eForms</a>.</p>

        {{ govukButton({
          text: "Start now",
          href: "/caseworker/crm-assess",
          isStartButton: true
        }) }}
       
      </div>
      <div class="govuk-grid-column-one-third">
          
      </div>
    </div>

{% endblock %}