{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header-cw2.html"%}
{% endblock %}


{% block pageTitle %}
  Your claims – {{data['serviceName1'] }} - GOV.UK
{% endblock %}

<!-- {% set bodyClasses = 'caseworker-width caseworker-pink' %} -->

{% block beforeContent %}
  {% include "includes/banner.html"%}

  {{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: [
      {
        text: 'Your claims',
        active: true
      },
      {
        text: 'Open claims',
        active: false
      },
      {
        text: 'Assessed claims',
        active: false
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">
      Your claims
    </h1>
    {{ govukButton({
      text: "Assess next claim",
      href: "assess/application-details?cwAppStatus=In progress"
    }) }}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <p>There are not any applications for you to assess.</p>
  </div>
  <div class="govuk-grid-column-one-third">
      
  </div>
</div>

{% endblock %}