{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header-cw.html"%}
{% endblock %}


{% block pageTitle %}
  Your applications – {{data['serviceName1'] }} - GOV.UK
{% endblock %}

<!-- {% set bodyClasses = 'caseworker-width caseworker-pink' %} -->

{% block beforeContent %}
  {% include "includes/banner.html"%}

  {{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: [
      {
        text: 'Your applications',
        href: '/caseworker/crm-assess',
        active: true
      },
      {
        text: 'Open applications',
        href: '/caseworker/crm-assess-open',
        active: false
      },
      {
        text: 'Closed applications',
        href: '/caseworker/crm-assess-closed',
        active: false
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">
      Your applications
    </h1>
    {{ govukButton({
      text: "Assess next application",
      href: "assess/application-details?cwAppStatus=In progress"
    }) }}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="moj-filter-layout">

  <div class="moj-filter-layout__filter">

    <div class="moj-filter">

      <div class="moj-filter__header">

        <div class="moj-filter__header-title">
          <h2 class="govuk-heading-m">Filter</h2>
        </div>

        <div class="moj-filter__header-action">

        </div>

      </div>

      <div class="moj-filter__content">

        <div class="moj-filter__selected">

          <div class="moj-filter__selected-heading">

            <div class="moj-filter__heading-title">
              <h2 class="govuk-heading-m">Selected filters</h2>
            </div>

            <div class="moj-filter__heading-action">
              <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
            </div>

          </div>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Colour</h3>

          <ul class="moj-filter-tags">

            <li><a class="moj-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> Blue</a></li>

            <li><a class="moj-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> Yellow</a></li>

          </ul>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Status</h3>

          <ul class="moj-filter-tags">

            <li><a class="moj-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> Complete</a></li>

          </ul>

        </div>

        <div class="moj-filter__options">

          <button type="submit" class="govuk-button" data-module="govuk-button">
            Apply filters
          </button>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="keywords">
              Keywords
            </label>

            <input class="govuk-input" id="keywords" name="keywords" type="text">

          </div>

          <div class="govuk-form-group">

            <fieldset class="govuk-fieldset">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

                Colour

              </legend>

              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="type">
                    Blue (18)
                  </label>

                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="type-2">
                    Yellow (5)
                  </label>

                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                  <label class="govuk-label govuk-checkboxes__label" for="type-3">
                    Red (2)
                  </label>

                </div>

              </div>

            </fieldset>

          </div>

          <div class="govuk-form-group">

            <fieldset class="govuk-fieldset">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

                Status

              </legend>

              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="1" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="status">
                    Complete (5)
                  </label>

                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="2">
                  <label class="govuk-label govuk-checkboxes__label" for="status-2">
                    Incomplete (3)
                  </label>

                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="3">
                  <label class="govuk-label govuk-checkboxes__label" for="status-3">
                    In progress (13)
                  </label>

                </div>

              </div>

            </fieldset>

          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="moj-filter-layout__content">

    <div class="moj-action-bar">

      <div class="moj-action-bar__filter"></div>

      <div class="moj-button-menu">
        <div class="moj-button-menu__wrapper">

          <button type="submit" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
            Action 1
          </button>

          <button type="submit" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
            Action 2
          </button>

        </div>
      </div>

    </div>

    <div class="moj-scrollable-pane">
      <table class="govuk-table">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">

            <th scope="col" class="govuk-table__header">Reference</th>

            <th scope="col" class="govuk-table__header">Person</th>

            <th scope="col" class="govuk-table__header">Colour</th>

            <th scope="col" class="govuk-table__header">Status</th>

            <th scope="col" class="govuk-table__header">Date of last event</th>

          </tr>
        </thead>

        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">44455453</a></th>

            <td class="govuk-table__cell">John Smith</td>

            <td class="govuk-table__cell">Blue</td>

            <td class="govuk-table__cell">Complete</td>

            <td class="govuk-table__cell">25 Jan 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">12323212</a></th>

            <td class="govuk-table__cell">Warren Sutton</td>

            <td class="govuk-table__cell">Yellow</td>

            <td class="govuk-table__cell">In progress</td>

            <td class="govuk-table__cell">25 Jan 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">45678765</a></th>

            <td class="govuk-table__cell">Alan Jones</td>

            <td class="govuk-table__cell">Yellow</td>

            <td class="govuk-table__cell">In progress</td>

            <td class="govuk-table__cell">9 May 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">12345678</a></th>

            <td class="govuk-table__cell">Jennifer Langley</td>

            <td class="govuk-table__cell">Yellow</td>

            <td class="govuk-table__cell">In progress</td>

            <td class="govuk-table__cell">9 May 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">89009800</a></th>

            <td class="govuk-table__cell">Susan Francis</td>

            <td class="govuk-table__cell">Red</td>

            <td class="govuk-table__cell">Incomplete</td>

            <td class="govuk-table__cell">9 May 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">44455453</a></th>

            <td class="govuk-table__cell">John Smith</td>

            <td class="govuk-table__cell">Blue</td>

            <td class="govuk-table__cell">Complete</td>

            <td class="govuk-table__cell">25 Jan 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">12323212</a></th>

            <td class="govuk-table__cell">Warren Sutton</td>

            <td class="govuk-table__cell">Yellow</td>

            <td class="govuk-table__cell">In progress</td>

            <td class="govuk-table__cell">25 Jan 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">45678765</a></th>

            <td class="govuk-table__cell">Alan Jones</td>

            <td class="govuk-table__cell">Yellow</td>

            <td class="govuk-table__cell">In progress</td>

            <td class="govuk-table__cell">9 May 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">12345678</a></th>

            <td class="govuk-table__cell">Jennifer Langley</td>

            <td class="govuk-table__cell">Yellow</td>

            <td class="govuk-table__cell">In progress</td>

            <td class="govuk-table__cell">9 May 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">89009800</a></th>

            <td class="govuk-table__cell">Susan Francis</td>

            <td class="govuk-table__cell">Red</td>

            <td class="govuk-table__cell">Incomplete</td>

            <td class="govuk-table__cell">9 May 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">45456765</a></th>

            <td class="govuk-table__cell">John Smith</td>

            <td class="govuk-table__cell">Red</td>

            <td class="govuk-table__cell">Incomplete</td>

            <td class="govuk-table__cell">9 May 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">88675411</a></th>

            <td class="govuk-table__cell">Margaret Blake</td>

            <td class="govuk-table__cell">Red</td>

            <td class="govuk-table__cell">Incomplete</td>

            <td class="govuk-table__cell">9 May 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">44455453</a></th>

            <td class="govuk-table__cell">John Smith</td>

            <td class="govuk-table__cell">Blue</td>

            <td class="govuk-table__cell">Complete</td>

            <td class="govuk-table__cell">25 Jan 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">12323212</a></th>

            <td class="govuk-table__cell">Warren Sutton</td>

            <td class="govuk-table__cell">Yellow</td>

            <td class="govuk-table__cell">In progress</td>

            <td class="govuk-table__cell">25 Jan 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">45678765</a></th>

            <td class="govuk-table__cell">Alan Jones</td>

            <td class="govuk-table__cell">Yellow</td>

            <td class="govuk-table__cell">In progress</td>

            <td class="govuk-table__cell">9 May 2018</td>

          </tr>

          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link">12345678</a></th>

            <td class="govuk-table__cell">Jennifer Langley</td>

            <td class="govuk-table__cell">Yellow</td>

            <td class="govuk-table__cell">In progress</td>

            <td class="govuk-table__cell">9 May 2018</td>

          </tr>

        </tbody>
      </table>

    </div>
  </div>


    {% if data['cwAppState'] == "empty"  %}
      <p>There are not any applications for you to assess.</p>
      {% else %}
      {% if data['cwAppState'] == "all" %}
        <table class="govuk-table" data-module="moj-sortable-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" aria-sort="none">LAA reference</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Firm name</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Client</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Last updated</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">                
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="assess/application-details?laa-ref=LAA-1z5f7w&cwAppStatus=In progress" class="govuk-link--no-visited-state" data-sort-value="1z5f7w">LAA-1z5f7w</a></td>
              <td class="govuk-table__cell">Law Fans</td>
              <td class="govuk-table__cell">Roger Catapult</td>
              <td class="govuk-table__cell" data-sort-value="230801">1 Aug 2023</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="assess/application-details?laa-ref=LAA-6p4f0r&cwAppStatus=In progress" class="govuk-link--no-visited-state" data-sort-value="6p4f0r">LAA-6p4f0r</a></td>
              <td class="govuk-table__cell">Crime Busters Legal</td>
              <td class="govuk-table__cell">Dami Olu</td>
              <td class="govuk-table__cell" data-sort-value="230913">13 Sept 2023</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="assess/application-details?laa-ref=LAA-8p3h0e&cwAppStatus=In progress" class="govuk-link--no-visited-state" data-sort-value="8p3h0e">LAA-8p3h0e</a></td>
              <td class="govuk-table__cell">Legal Aiders Ltd</td>
              <td class="govuk-table__cell">Bobby Brownie</td>
              <td class="govuk-table__cell" data-sort-value="230703">3 July 2023</td>
            </tr>
          </body>
        </table>     
      {% endif %} 
    {% endif %}    
    
  </div>
  <div class="govuk-grid-column-one-third">
      
  </div>
</div>

{% endblock %}

<script>
  new MOJFrontend.FilterToggleButton({
  bigModeMediaQuery: "(min-width: 48.063em)",
  startHidden: false,
  toggleButton: {
    container: document.querySelector(".moj-action-bar__filter"),
    showText: "Show filter",
    hideText: "Hide filter",
    classes: "govuk-button--secondary",
  },
  closeButton: {
    container: document.querySelector(".moj-filter__header-action"),
    text: "Close",
  },
  filter: {
    container: document.querySelector(".moj-filter"),
  },
});
</script>