{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header-cw1.html"%}
{% endblock %}

{% block pageTitle %}
  LAA Online Portal – Assess a crime form - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner2.html"%}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Assess a crime form
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p>You can only use these services if you have been invited to take part in the private pilot. If you do not have access continue using <a href="">eForms</a> </p>
        <p><a href="crm-assess" class="govuk-link--no-visited-state">Assess prior authority to incur disbursements, previously CRM4</a></p>       
        <p><a href="crm-assess-nsm" class="govuk-link--no-visited-state">Assess a non-standard magistrates' court payment, previously CRM7</a></p>   
      </div>
    </div>

{% endblock %}