{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header2.html"%}
{% endblock %}


{% block pageTitle %}
  Claims details - Adjusted costs {{data['laa-ref'] or "LAA-5a7d3c"}} – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  {% include "includes/app-status-NSM.html"%}
  <div class="govuk-grid-column-full" id="nav">
    
    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [{
        text: 'Overview',
        href: 'claim-details#nav',
        active: false
      }, 
      {
        text: 'Costs',
        href: 'all-costs#nav',
        active: false
      }, 
      {
        text: 'Adjusted costs',
        href: 'adjusted-costs#nav',
        active: true
      }
      ]
    }) }}

    <table class="govuk-table"  >
      <caption class="govuk-table__caption govuk-table__caption--m">Adjusted costs summary</caption>
      <thead class="govuk-table__head">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Item</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Net cost claimed</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">VAT on claimed</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total claimed</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Net cost allowed</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">VAT on allowed</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total allowed</th>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">Profit costs</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£285.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£57.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£342.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£244.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£48.80</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£292.80</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">Waiting</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£10.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£60.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£10.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£60.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">Travel</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£10.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£60.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">Disbursements</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£750.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£140.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£890.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£700.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£140.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£840.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">Total</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1135.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£217.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1352.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£994.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£198.80</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1192.80</strong></td>
        </tr>
      </tbody>
    </table> 
    <!--
    <table class="govuk-table"  >
      <caption class="govuk-table__caption govuk-table__caption--m">Your adjusted costs summary</caption>
      <thead class="govuk-table__head">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Item</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Net cost</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Net cost</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">VAT</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Net cost allowed</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">VAT for allowed</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total allowed</th>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item1'] or "Without counsel assigned"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£100.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£75.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£15.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£90.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item2'] or "With counsel assigned"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£120.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£120.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£24.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£144.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item4'] or "Preparation"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£25.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£25.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£5.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£30.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item4'] or "Advocacy"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item1'] or "Letters"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£20.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£12.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£2.40</td>  
          <td class="govuk-table__cell govuk-table__cell--numeric">£14.40</td>          
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item1'] or "Calls"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£20.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£12.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£2.40</td>  
          <td class="govuk-table__cell govuk-table__cell--numeric">£14.40</td>          
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item3'] or "Waiting"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£10.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£60.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item4'] or "Travel"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item6'] or "Disbursements"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£750.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£700.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£140.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£840.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">Total</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1135.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£994.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£198.80</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1192.80</strong></td>
        </tr>
      </tbody>
    </table> 

    <table class="govuk-table"  >
      <caption class="govuk-table__caption govuk-table__caption--m">Your costs summary (not reg VAT firm)</caption>
      <thead class="govuk-table__head">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Item</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-fifth govuk-table__header--numeric">Net cost</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-fifth govuk-table__header--numeric">Net cost allowed</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-fifth govuk-table__header--numeric">VAT for allowed</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-fifth govuk-table__header--numeric">Total allowed</th>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item1'] or "Without counsel assigned"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£100.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£75.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£75.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item2'] or "With counsel assigned"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£120.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£120.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£120.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item4'] or "Preparation"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£25.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£25.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£25.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item4'] or "Advocacy"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item1'] or "Letters"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£20.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£12.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>  
          <td class="govuk-table__cell govuk-table__cell--numeric">£12.00</td>          
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item1'] or "Calls"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£20.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£12.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>  
          <td class="govuk-table__cell govuk-table__cell--numeric">£12.00</td>       
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item3'] or "Waiting"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item4'] or "Travel"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item6'] or "Disbursements"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£750.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£700.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£140.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£840.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">Total</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1135.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1044.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£140.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1134.00</strong></td>
        </tr>
      </tbody>
    </table>
    
    <table class="govuk-table"  >
      <caption class="govuk-table__caption govuk-table__caption--m">Your costs summary (not reg VAT firm)</caption>
      <thead class="govuk-table__head">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Item</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-fifth govuk-table__header--numeric">Net cost</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-fifth govuk-table__header--numeric">Net cost allowed</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-fifth govuk-table__header--numeric">VAT for allowed</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-fifth govuk-table__header--numeric">Total allowed</th>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item1'] or "Profit costs"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£285.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£244.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£244.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item3'] or "Waiting"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item4'] or "Travel"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item6'] or "Disbursements"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£750.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£700.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£140.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£840.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">Total</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1135.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£994.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£140.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1134.00</strong></td>
        </tr>
      </tbody>
    </table> 
    -->

    <!--TAbs items -->
     {% set workItemsHtml %} 
      <h2 class="govuk_header--l">Adjusted work items</h3>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Adjusted work items summary
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Item</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Time claimed</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Net cost claimed</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Time allowed</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Net cost allowed</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['item1'] or "Without counsel assigned"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">4 hours 0 minutes</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">100.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">3 hours 0 minutes</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">75.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['item2'] or "With counsel assigned"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">6 hours 0 minutes</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">120.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">6 hours 0 minutes</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">120.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['item3'] or "Advocacy"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">0 hours 0 minutes</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">0 hours 0 minutes</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['item4'] or "Preparation"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">1 hours 0 minutes</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£25.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">1 hours 0 minutes</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£25.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['item5'] or "Waiting"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">1 hours 0 minutes</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">0 hours 0 minutes</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['item6'] or "Travel"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">1 hours 0 minutes</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">1 hours 0 minutes</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">Total</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£345.00</strong></td>
                <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£270.00</strong></td>
              </tr>
            </tbody>
          </table> 
        </div>
      </details>
      
      <table class="govuk-table"><caption class="govuk-table__caption govuk-table__caption--m">31 January 2024</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-fifth" scope="col">Item</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Time claimed </th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Uplift claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net cost claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Time allowed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Uplift allowed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net cost allowed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Without counsel assigned</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">4 hours<br> 0 minutes</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>  
            <td class="govuk-table__cell govuk-table__cell--numeric">£100.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">3 hours<br> 0 minutes</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>  
            <td class="govuk-table__cell govuk-table__cell--numeric">£75.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="view-work-item?adjustedClaim=Yes&workItem=Without counsel assigned&workTime=4&workCost=100&workAdjustTime=3&workAdjustCost=75">View</a></td>
          </tr>  
        </tbody>
      </table>

      <table class="govuk-table"><caption class="govuk-table__caption govuk-table__caption--m">1 January 2024</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-fifth" scope="col">Item</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Time claimed </th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Uplift claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net cost claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Time allowed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Uplift allowed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net cost allowed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Travel</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2 hours<br>0 minutes</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0 hours<br>0 minutes</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="view-work-item?adjustedClaim=Yes&workItem=Travel&workTime=2&workCost=50&&workAdjustTime=0&workAdjustCost=0">View</a></td>
          </tr>
        </tbody>
      </table>
      
    {% endset %}

    {% set lettersCallsHtml %}
      <h2 class="govuk_header--l">Adjusted letters and calls</h3>
      <!--<p>There are no adjusted letters and calls</p>-->
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Item</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Number claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Uplift claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net cost claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Uplift allowed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net cost allowed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Letters</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">5</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£20.00</td> 
            <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£12.00</td>              
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="view-letters">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Calls</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">5</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" >£20.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£12.00</td>  
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="view-calls">View</a></td>
          </tr>
        </tbody>
      </table>
    {% endset %}

    {% set disbursementsHtml %} 
    
      <h2 class="govuk_header--l">Adjusted disbursements</h3>

      <table class="govuk-table"><caption class="govuk-table__caption govuk-table__caption--m">1 January 2024</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-fifth" scope="col">Item</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net cost claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">VAT on claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Total claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net cost allowed </th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">VAT on allowed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Total allowed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Car</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="view-disbursement?adjustedClaim=Yes&disbursementType=Car&disbursementNet=50&disbursementVAT=0&disbursementTotal=50">View</a></td>
          </tr>
        </tbody>
      </table>
    {% endset %}
   

    {{ govukTabs({
      items: [
        {
          label: "Adjusted work items",
          id: "workItems",
          panel: {
            html: workItemsHtml
          }
        },
        {
          label: "Adjusted letters and calls",
          id: "lettersCalls",
          panel: {
            html: lettersCallsHtml
          }
        },
        {
          label: "Adjusted disbursements",
          id: "disbursements",
          panel: {
            html: disbursementsHtml
          }
        }
      ]
    }) }}
   
  <!-- 
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="subsection-title">Email the LAA case team</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <p><a class="govuk-link govuk-link--no-visited-state" href="mailto:magsbilling@justice.gov.uk">magsbilling@justice.gov.uk</a></p>
          </li> 
        </ul>
      </nav>
    </aside>
  </div>
  -->

  <script>
    const date = new Date();
    const formattedDate = date.toLocaleDateString('en-GB', {
      day: '2-digit', month: 'short', year: 'numeric'
    }).replace(/ /g, ' ');
    document.getElementById("date").innerHTML = formattedDate;
  </script>  

{% endblock %}

