{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header2.html"%}
{% endblock %}


{% block pageTitle %}
  Claims details - Adjusted costs {{data['laa-ref'] or "LAA-5a7d3c"}} – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  {% include "includes/app-info-NSM.html"%}
  <div class="govuk-grid-column-full" id="nav">
    
    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [{
        text: 'Overview',
        href: 'claim-details#nav',
        active: false
      }, 
      {
        text: 'Costs',
        href: 'all-costs#nav',
        active: false
      }, 
      {
        text: 'Adjusted costs',
        href: 'adjusted-costs#nav',
        active: true
      }
      ]
    }) }}

    <!--TAbs items -->
     {% set workItemsHtml %} 
      <h3 class="govuk_header--m" id="workItems">Adjusted work items summary</h3>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Item</th>
            <th scope="col" class="govuk-table__header">Time</th>
            <th scope="col" class="govuk-table__header">Net cost</th>
            <th scope="col" class="govuk-table__header">Time allowed</th>
            <th scope="col" class="govuk-table__header">Net cost allowed</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">{{data['item1'] or "Without counsel assigned"}}</td>
            <td class="govuk-table__cell">4 hours 0 minutes</td>
            <td class="govuk-table__cell">100.00</td>
            <td class="govuk-table__cell">3 hours 0 minutes</td>
            <td class="govuk-table__cell">75.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">{{data['item2'] or "With counsel assigned"}}</td>
            <td class="govuk-table__cell">6 hours 0 minutes</td>
            <td class="govuk-table__cell">120.00</td>
            <td class="govuk-table__cell">6 hours 0 minutes</td>
            <td class="govuk-table__cell">120.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">{{data['item3'] or "Advocacy"}}</td>
            <td class="govuk-table__cell">0 hours 0 minutes</td>
            <td class="govuk-table__cell">£0.00</td>
            <td class="govuk-table__cell">0 hours 0 minutes</td>
            <td class="govuk-table__cell">£0.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">{{data['item4'] or "Preparation"}}</td>
            <td class="govuk-table__cell">1 hours 0 minutes</td>
            <td class="govuk-table__cell">£25.00</td>
            <td class="govuk-table__cell">1 hours 0 minutes</td>
            <td class="govuk-table__cell">£25.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">{{data['item5'] or "Waiting"}}</td>
            <td class="govuk-table__cell">1 hours 0 minutes</td>
            <td class="govuk-table__cell">£50.00</td>
            <td class="govuk-table__cell">0 hours 0 minutes</td>
            <td class="govuk-table__cell">£0.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">{{data['item6'] or "Travel"}}</td>
            <td class="govuk-table__cell">1 hours 0 minutes</td>
            <td class="govuk-table__cell">£50.00</td>
            <td class="govuk-table__cell">1 hours 0 minutes</td>
            <td class="govuk-table__cell">£50.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">Total</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"><strong>£345.00</strong></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"><strong>£270.00</strong></td>
          </tr>
        </tbody>
      </table>   
      
      <h3 class="govuk_header--m" id="workItems">Adjusted work items detail</h3>
      <table class="govuk-table"><caption class="govuk-table__caption govuk-table__caption--s">31 January 2024</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-fifth" scope="col">Item</th>
            <th class="govuk-table__header" scope="col">Time </th>
            <th class="govuk-table__header" scope="col">Uplift</th>
            <th class="govuk-table__header" scope="col">Net cost</th>
            <th class="govuk-table__header" scope="col">Time allowed</th>
            <th class="govuk-table__header" scope="col">Uplift allowed</th>
            <th class="govuk-table__header" scope="col">Net cost allowed</th>
            <th class="govuk-table__header" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Without counsel assigned</td>
            <td class="govuk-table__cell">4 hours<br> 0 minutes</td>
            <td class="govuk-table__cell">0%</td>  
            <td class="govuk-table__cell">£100.00</td>
            <td class="govuk-table__cell">3 hours<br> 0 minutes</td>
            <td class="govuk-table__cell">0%</td>  
            <td class="govuk-table__cell">£75.00</td>
            <td class="govuk-table__cell"><a href="view-work-item?adjustedClaim=Yes&workItem=Without counsel assigned&workTime=4&workCost=100&workAdjustTime=3&workAdjustCost=75">View</a></td>  
        </tbody>
      </table>

      <table class="govuk-table"><caption class="govuk-table__caption govuk-table__caption--s">1 January 2024</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-fifth" scope="col">Item</th>
            <th class="govuk-table__header" scope="col">Time </th>
            <th class="govuk-table__header" scope="col">Uplift</th>
            <th class="govuk-table__header" scope="col">Net cost</th>
            <th class="govuk-table__header" scope="col">Time allowed</th>
            <th class="govuk-table__header" scope="col">Uplift allowed</th>
            <th class="govuk-table__header" scope="col">Net cost allowed</th>
            <th class="govuk-table__header" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Travel</td>
            <td class="govuk-table__cell">2 hours<br>0 minutes</td>
            <td class="govuk-table__cell">0%</td>
            <td class="govuk-table__cell">£50.00</td>
            <td class="govuk-table__cell">0 hours<br>0 minutes</td>
            <td class="govuk-table__cell">0%</td>
            <td class="govuk-table__cell">£0.00</td>
            <td class="govuk-table__cell"><a href="view-work-item?adjustedClaim=Yes&workItem=Travel&workTime=2&workCost=50&&workAdjustTime=0&workAdjustCost=0">View</a></td>
          </tr>
        </tbody>
      </table>
      
    {% endset %}
    {% set lettersCallsHtml %}
      <h3 class="govuk_header--m" id="lettersCalls">Adjusted letters and calls</h3>
      <!--<p>There are no adjusted letters and calls</p>-->
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Item</th>
            <th class="govuk-table__header" scope="col">Number</th>
            <th class="govuk-table__header" scope="col">Uplift</th>
            <th class="govuk-table__header" scope="col">Net cost</th>
            <th class="govuk-table__header" scope="col">Uplift allowed</th>
            <th class="govuk-table__header" scope="col">Net cost allowed</th>
            <th class="govuk-table__header" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Letters</td>
            <td class="govuk-table__cell">5</td>
            <td class="govuk-table__cell">0%</td>
            <td class="govuk-table__cell">£20.00</td>
            <td class="govuk-table__cell">0%</td>
            <td class="govuk-table__cell">£12.00</td>              
            <td class="govuk-table__cell"><a href="view-letters">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Calls</td>
            <td class="govuk-table__cell">5</td>
            <td class="govuk-table__cell">0%</td>
            <td class="govuk-table__cell">£20.00</td>
            <td class="govuk-table__cell">0%</td>
            <td class="govuk-table__cell">£12.00</td>  
            <td class="govuk-table__cell"><a href="view-calls">View</a></td>
          </tr>
        </tbody>
      </table>
    {% endset %}
    {% set disbursementsHtml %} 
    
      <h3 class="govuk_header--m" id="disbursements">Disbursement detail</h3>

      <table class="govuk-table"><caption class="govuk-table__caption govuk-table__caption--s">1 January 2024</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-fifth" scope="col">Item</th>
            <th class="govuk-table__header" scope="col">Net cost </th>
            <th class="govuk-table__header" scope="col">VAT</th>
            <th class="govuk-table__header" scope="col">Total</th>
            <th class="govuk-table__header" scope="col">Net cost allowed </th>
            <th class="govuk-table__header" scope="col">VAT on allowed</th>
            <th class="govuk-table__header" scope="col">Total allowed</th>
            <th class="govuk-table__header" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Car</td>
            <td class="govuk-table__cell">£50.00</td>
            <td class="govuk-table__cell">£0.00</td>
            <td class="govuk-table__cell">£50.00</td>
            <td class="govuk-table__cell">£0.00</td>
            <td class="govuk-table__cell">£0.00</td>
            <td class="govuk-table__cell">£0.00</td>
            <td class="govuk-table__cell"><a href="view-disbursement?adjustedClaim=Yes&disbursementType=Car&disbursementNet=50&disbursementVAT=0&disbursementTotal=50">View</a></td>
          </tr>
        </tbody>
      </table>
    {% endset %}
   

    {{ govukTabs({
      items: [
        {
          label: "Adjusted work items",
          id: "workItems",
          panel: {
            html: workItemsHtml
          }
        },
        {
          label: "Adjusted letters and calls",
          id: "lettersCalls",
          panel: {
            html: lettersCallsHtml
          }
        },
        {
          label: "Adjusted disbursements",
          id: "disbursements",
          panel: {
            html: disbursementsHtml
          }
        }
      ]
    }) }}
   

    

  <!-- 
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="subsection-title">Email the LAA case team</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <p><a class="govuk-link govuk-link--no-visited-state" href="mailto:magsbilling@justice.gov.uk">magsbilling@justice.gov.uk</a></p>
          </li> 
        </ul>
      </nav>
    </aside>
  </div>
  -->

  <script>
    const date = new Date();
    const formattedDate = date.toLocaleDateString('en-GB', {
      day: '2-digit', month: 'short', year: 'numeric'
    }).replace(/ /g, ' ');
    document.getElementById("date").innerHTML = formattedDate;
  </script>  

{% endblock %}

