{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header2.html"%}
{% endblock %}


{% block pageTitle %}
  Claims details - All costs {{data['laa-ref'] or "LAA-5a7d3c"}} – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  {% include "includes/app-info-NSM.html"%}
  <div class="govuk-grid-column-full">

    {% if data['app-task'] =="Part granted"%}
      {{ mojSubNavigation({
        label: 'Sub navigation',
        items: [{
          text: 'Overview',
          href: 'claim-details#nav',
          active: false
        }, 
        {
          text: 'Costs',
          href: 'all-costs#costs#nav',
          active: true
        }, 
        {
          text: 'Adjusted costs',
          href: 'adjusted-costs#nav',
          active: false
        }
        ]
      }) }}
      {% else %}
      {{ mojSubNavigation({
        label: 'Sub navigation',
        items: [{
          text: 'Overview',
          href: 'claim-details#nav',
          active: false
        }, 
        {
          text: 'Costs',
          href: 'all-costs#costs#nav',
          active: true
        }
        ]
      }) }}
    {% endif %}
        
    <!--Tabs work items -->
    {% set workItemsHtml %} 
      <h3 class="govuk_header--m" id="workItems">Work items summary</h3>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Item</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Time</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Net cost</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">{{data['item1'] or "Without counsel assigned"}}</td>
            <td class="govuk-table__cell">4 hours 0 minutes</td>
            <td class="govuk-table__cell">£100.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">{{data['item2'] or "With counsel assigned"}}</td>
            <td class="govuk-table__cell">5 hours 0 minutes</td>
            <td class="govuk-table__cell">£120.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">{{data['item4'] or "Preparation"}}</td>
            <td class="govuk-table__cell">1 hours 0 minutes</td>
            <td class="govuk-table__cell">£25.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">{{data['item5'] or "Travel"}}</td>
            <td class="govuk-table__cell">1 hours 0 minutes</td>
            <td class="govuk-table__cell">£50.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">{{data['item6'] or "Waiting"}}</td>
            <td class="govuk-table__cell">1 hours 0 minutes</td>
            <td class="govuk-table__cell">£50.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">Total</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"><strong>£345.00</strong></td>
          </tr>
        </tbody>
      </table>   

      <h3 class="govuk_header--m" id="workItems">Work items detail</h3>

      <table class="govuk-table"><caption class="govuk-table__caption govuk-table__caption--s">31 January 2024</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Item</th>
            <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Time </th>
            <th class="govuk-table__header" scope="col">Uplift</th>
            <th class="govuk-table__header" scope="col">Net cost</th>
            <th class="govuk-table__header" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Without counsel assigned</td>
            <td class="govuk-table__cell">4 hours<br>0 minutes</td>
            <td class="govuk-table__cell">0%</td>
            <td class="govuk-table__cell">£100.00</td>
            <td class="govuk-table__cell"><a href="view-work-item?adjustedClaim=No&workItem=Without counsel assigned&workTime=4&workCost=100">View</a></td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table"><caption class="govuk-table__caption govuk-table__caption--s">1 January 2024</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Item</th>
            <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Time </th>
            <th class="govuk-table__header" scope="col">Uplift</th>
            <th class="govuk-table__header" scope="col">Net cost</th>
            <th class="govuk-table__header" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Preparation</td>
            <td class="govuk-table__cell">2 hour<br>0 minutes</td>
            <td class="govuk-table__cell">0%</td>
            <td class="govuk-table__cell">£25.00</td>
            <td class="govuk-table__cell"><a href="view-work-item?adjustedClaim=NoworkItem=Preparation&workTime=2&workCost=25">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">With counsel assigned</td>
            <td class="govuk-table__cell">5 hours<br>0 minutes</td>
            <td class="govuk-table__cell">0%</td>
            <td class="govuk-table__cell">£120.00</td>
            <td class="govuk-table__cell"><a href="view-work-item?adjustedClaim=No&workItem=With counsel assigned&workTime=5&workCost=120">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Travel</td>
            <td class="govuk-table__cell">1 hours<br>0 minutes</td>
            <td class="govuk-table__cell">0%</td>
            <td class="govuk-table__cell">£50.00</td>
            <td class="govuk-table__cell"><a href="view-work-item?adjustedClaim=No&workItem=Travel&workTime=1&workCost=50">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Waiting</td>
            <td class="govuk-table__cell">1 hours<br>0 minutes</td>
            <td class="govuk-table__cell">0%</td>
            <td class="govuk-table__cell">£50.00</td>
            <td class="govuk-table__cell"><a href="view-work-item?adjustedClaim=No&workItem=Waiting&workTime=1&workCost=50">View</a></td>
          </tr>
        </tbody>
      </table>

    {% endset %}
    
    <!--Tabs letters -->
    {% set lettersCallsHtml %}
      <h3 class="govuk_header--m" id="lettersCalls">Letters and calls</h3>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-fifth" scope="col">Item</th>
            <th class="govuk-table__header govuk-!-width-one-fifth" scope="col">Number</th>
            <th class="govuk-table__header govuk-!-width-one-fifth" scope="col">Uplift</th>
            <th class="govuk-table__header govuk-!-width-one-fifth" scope="col">Net cost</th>
            <th class="govuk-table__header govuk-!-width-one-fifth" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Letters</td>
            <td class="govuk-table__cell">5</td>
            <td class="govuk-table__cell">0%</td>
            <td class="govuk-table__cell">£20.00</td>            
            <td class="govuk-table__cell"><a href="view-letters">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Calls</td>
            <td class="govuk-table__cell">5</td>
            <td class="govuk-table__cell">0%</td>
            <td class="govuk-table__cell">£20.00</td>
            <td class="govuk-table__cell"><a href="view-calls">View</a></td>
          </tr>
        </tbody>
      </table>
      
    {% endset %}

    <!--Tabs Disbursements -->
    {% set disbursementsHtml %} 
     
      <h3 class="govuk_header--m" id="disbursements">Disbursement detail</h3>

      <table class="govuk-table"><caption class="govuk-table__caption govuk-table__caption--s">31 January 2024</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Item</th>
            <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Net cost</th>
            <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">VAT</th>
            <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Total</th>
            <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header"">Psychologist</td>
            <td class="govuk-table__cell">£400.00</td>
            <td class="govuk-table__cell">£80.00</td>
            <td class="govuk-table__cell">£480.00</td>
            <td class="govuk-table__cell"><a href="view-disbursement?disbursementType=Psychologist">View</a></td>  
        </tbody>
      </table>
      <table class="govuk-table"><caption class="govuk-table__caption govuk-table__caption--s">1 January 2024</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Item</th>
            <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Net cost </th>
            <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">VAT</th>
            <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Total</th>
            <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Car</td>
            <td class="govuk-table__cell">£50.00</td>
            <td class="govuk-table__cell">£0.00</td>
            <td class="govuk-table__cell">£50.00</td>
            <td class="govuk-table__cell"><a href="view-disbursement?disbursementType=Car">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Translator</td>
            <td class="govuk-table__cell">£300.00</td>
            <td class="govuk-table__cell">£60.00</td>
            <td class="govuk-table__cell">£360.00</td>
            <td class="govuk-table__cell"><a href="view-disbursement?disbursementType=Translator">View</a></td>
          </tr>
        </tbody>
      </table>
    {% endset %}

    {{ govukTabs({
      items: [
        {
          label: "Work items",
          id: "workItems",
          panel: {
            html: workItemsHtml
          }
        },
        {
          label: "Letters and calls",
          id: "lettersCalls",
          panel: {
            html: lettersCallsHtml
          }
        },
        {
          label: "Disbursements",
          id: "disbursements",
          panel: {
            html: disbursementsHtml
          }
        }
      ]
    }) }}

   

    

  <!-- 
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="subsection-title">Email the LAA case team</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <p><a class="govuk-link govuk-link--no-visited-state" href="mailto:magsbilling@justice.gov.uk">magsbilling@justice.gov.uk</a></p>
          </li> 
        </ul>
      </nav>
    </aside>
  </div>
  -->

  <script>
    const date = new Date();
    const formattedDate = date.toLocaleDateString('en-GB', {
      day: '2-digit', month: 'short', year: 'numeric'
    }).replace(/ /g, ' ');
    document.getElementById("date").innerHTML = formattedDate;
  </script>  

{% endblock %}

