{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header2.html"%}
{% endblock %}


{% block pageTitle %}
  Claims details - All costs {{data['laa-ref'] or "LAA-5a7d3c"}} – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  {% include "includes/app-status-NSM.html"%}
  <div class="govuk-grid-column-full" id="nav">

    {% if data['app-task'] =="Part granted"%}
      {{ mojSubNavigation({
        label: 'Sub navigation',
        items: [{
          text: 'Overview',
          href: 'claim-details#nav',
          active: false
        }, 
        {
          text: 'Costs',
          href: 'all-costs#costs#nav',
          active: true
        }, 
        {
          text: 'Adjusted costs',
          href: 'adjusted-costs#nav',
          active: false
        }
        ]
      }) }}
      {% else %}
      {{ mojSubNavigation({
        label: 'Sub navigation',
        items: [{
          text: 'Overview',
          href: 'claim-details#nav',
          active: false
        }, 
        {
          text: 'Costs',
          href: 'all-costs#costs#nav',
          active: true
        }
        ]
      }) }}
    {% endif %}
    <h2 class="govuk-heading-l">Costs</h2>
    <table class="govuk-table"  >
      <caption class="govuk-table__caption govuk-table__caption--m">Costs summary</caption>
      <thead class="govuk-table__head">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Item</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric">Net cost claimed </th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric">VAT on claimed</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric">Total claimed</th>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item1'] or "Profit costs"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£285.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£57.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£342.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item3'] or "Waiting"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£10.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£60.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item4'] or "Travel"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£10.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£60.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item6'] or "Disbursements"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£750.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£140.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£890.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">Total</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1135.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£217.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1352.00</strong></td>
        </tr>
      </tbody>
    </table> 

    <!--
    <table class="govuk-table"  >
      <caption class="govuk-table__caption govuk-table__caption--m">Your costs summary</caption>
      <thead class="govuk-table__head">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Item</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric">Net cost </th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric">VAT</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric">Total</th>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item1'] or "Without counsel assigned"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£100.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£20.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£120.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item2'] or "With counsel assigned"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£120.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£24.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£144.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item4'] or "Preparation"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£25.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£5.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£30.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item4'] or "Advocacy"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item1'] or "Letters"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£20.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£4.00</td>  
          <td class="govuk-table__cell govuk-table__cell--numeric">£24.00</td>          
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item1'] or "Calls"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£20.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£4.00</td>  
          <td class="govuk-table__cell govuk-table__cell--numeric">£24.00</td>          
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item3'] or "Waiting"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£10.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£60.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item4'] or "Travel"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£10.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£60.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item6'] or "Disbursements"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£750.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£140.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£890.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">Total</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1135.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£217.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1352.00</strong></td>
        </tr>
      </tbody>
    </table> 
      
    <table class="govuk-table"  >
      <caption class="govuk-table__caption govuk-table__caption--m">Your costs summary (reg VAT firm)</caption>
      <thead class="govuk-table__head">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Item</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric">Net cost </th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric">VAT</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric">Total</th>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item1'] or "Profit costs"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£285.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£57.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£342.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item3'] or "Waiting"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£10.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£60.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item4'] or "Travel"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£10.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£60.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item6'] or "Disbursements"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£750.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£140.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£890.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">Total</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1135.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£217.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1352.00</strong></td>
        </tr>
      </tbody>
    </table> 
      
    <table class="govuk-table"  >
      <caption class="govuk-table__caption govuk-table__caption--m">Your costs summary (not reg VAT firm)</caption>
      <thead class="govuk-table__head">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Item</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric">Net cost </th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric">VAT</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric">Total</th>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item1'] or "Without counsel assigned"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£100.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£100.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item2'] or "With counsel assigned"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£120.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£120.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item4'] or "Preparation"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£25.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£25.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item4'] or "Advocacy"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item1'] or "Letters"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£20.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>  
          <td class="govuk-table__cell govuk-table__cell--numeric">£20.00</td>          
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item1'] or "Calls"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£20.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>  
          <td class="govuk-table__cell govuk-table__cell--numeric">£20.00</td>          
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item3'] or "Waiting"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item4'] or "Travel"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item6'] or "Disbursements"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£750.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£140.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£890.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">Total</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1135.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£140.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1275.00</strong></td>
        </tr>
      </tbody>
    </table>

    <table class="govuk-table"  >
      <caption class="govuk-table__caption govuk-table__caption--m">Your costs summary (not reg VAT firm)</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Item</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric">Net cost </th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric">VAT</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric">Total</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item1'] or "Profit costs"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£285.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£285.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item3'] or "Waiting"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item4'] or "Travel"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item6'] or "Disbursements"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£750.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£140.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£890.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">Total</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1135.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£140.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1275.00</strong></td>
        </tr>
      </tbody>
    </table> 
    -->
        
    <!--Tabs work items -->
    {% set workItemsHtml %} 
      <h3 class="govuk-heading-m">Work items</h3>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Work items summary
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Item</th>
                 <th scope="col" class="govuk-table__header govuk-table__header--numeric">Time claimed</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Net cost claimed</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['item1'] or "Without counsel assigned"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">4 hours 0 minutes</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£100.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['item2'] or "With counsel assigned"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">6 hours 0 minutes</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£120.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['item4'] or "Preparation"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">1 hours 0 minutes</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£25.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['item4'] or "Advocacy"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">0 hours 0 minutes</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['item5'] or "Waiting"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">2 hours 0 minutes</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['item6'] or "Travel"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">2 hours 0 minutes</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">Total</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£345.00</strong></td>
              </tr>
            </tbody>
          </table> 
        </div>
      </details>

      <table class="govuk-table"><caption class="govuk-table__caption govuk-table__caption--s">31 January 2024</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Item</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Time claimed </th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Uplift claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net cost claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Without counsel assigned</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">4 hours<br>0 minutes</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£100.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="view-work-item?adjustedClaim=Yes&workItem=Without counsel assigned&workTime=4&workCost=100">View</a></td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table"><caption class="govuk-table__caption govuk-table__caption--s">1 January 2024</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Item</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Time claimed </th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Uplift claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net cost claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Preparation</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">1 hour<br>0 minutes</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£25.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="view-work-item?adjustedClaim=No&workItem=Preparation&workTime=2&workCost=25">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">With counsel assigned</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">6 hours<br>0 minutes</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£120.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="view-work-item?adjustedClaim=No&workItem=With counsel assigned&workTime=6&workCost=120">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Waiting</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2 hours<br>0 minutes</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="view-work-item?adjustedClaim=No&workItem=Waiting&workTime=2&workCost=50">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Travel</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2 hours<br>0 minutes</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="view-work-item?adjustedClaim=Yes&workItem=Travel&workTime=2&workCost=50">View</a></td>
          </tr>
        </tbody>
      </table>

    {% endset %}
    
    <!--Tabs letters -->
    {% set lettersCallsHtml %}
      <h3 class="govuk-heading-m">Letters and calls</h3>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Item</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Number claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Uplift claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net cost claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Letters</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">5</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£20.00</td>            
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="view-letters">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Calls</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">5</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" >£20.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="view-calls">View</a></td>
          </tr>
        </tbody>
      </table>
      
    {% endset %}

    <!--Tabs Disbursements -->
    {% set disbursementsHtml %} 
     
      <h3 class="govuk-heading-m">Disbursements</h3>

      <table class="govuk-table"><caption class="govuk-table__caption govuk-table__caption--s">31 January 2024</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Item</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net cost claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">VAT on claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Total claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Psychologist</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£400.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£80.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£480.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="view-disbursement?adjustedClaim=No&disbursementType=Psychologist&disbursementNet=400&disbursementVAT=80&disbursementTotal=480">View</a></td>  
          </tr>
        </tbody>
      </table>

      <table class="govuk-table"><caption class="govuk-table__caption govuk-table__caption--s">1 January 2024</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Item</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net cost claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">VAT on claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Total claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Car</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="view-disbursement?adjustedClaim=Yes&disbursementType=Car&disbursementNet=50&disbursementVAT=0&disbursementTotal=50">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Translator</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£300.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£60.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£360.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="view-disbursement?adjustedClaim=No&disbursementType=Translator&disbursementNet=300&disbursementVAT=60&disbursementTotal=360">View</a></td>
          </tr>
        </tbody>
      </table>
    {% endset %}

    {{ govukTabs({
      items: [
        {
          label: "Work items",
          id: "workItems",
          panel: {
            html: workItemsHtml
          }
        },
        {
          label: "Letters and calls",
          id: "lettersCalls",
          panel: {
            html: lettersCallsHtml
          }
        },
        {
          label: "Disbursements",
          id: "disbursements",
          panel: {
            html: disbursementsHtml
          }
        }
      ]
    }) }}

   

    

  <!-- 
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="subsection-title">Email the LAA case team</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <p><a class="govuk-link govuk-link--no-visited-state" href="mailto:magsbilling@justice.gov.uk">magsbilling@justice.gov.uk</a></p>
          </li> 
        </ul>
      </nav>
    </aside>
  </div>
  -->

  <script>
    const date = new Date();
    const formattedDate = date.toLocaleDateString('en-GB', {
      day: '2-digit', month: 'short', year: 'numeric'
    }).replace(/ /g, ' ');
    document.getElementById("date").innerHTML = formattedDate;
  </script>  

{% endblock %}

