{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header2.html"%}
{% endblock %}


{% block pageTitle %}
  Claims details: {{data['laa-ref'] or "LAA-5a7d3c"}} – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Claim details
    </h1>  

    <!--Claim status-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Claim status</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['app-task'] == "Submitted" or data['app-task'] == "Re-submitted" %}
                <p><strong class="govuk-tag govuk-tag--green">Submitted</strong></p>
                <p>09 March 2024</p>
                <p>Awaiting LAA review</p>
                <br>
                <p>£{{data['actualdistTotalCost'] or ('640')}}.00 requested</p>
                {% else %}
                {% if data['app-task'] == "Granted" %}
                  <p><strong class="govuk-tag govuk-tag--green">Granted</strong></p>
                  <p>1 Sept 2023</p>
                  <br>
                  <p>£{{data['actualdistTotalCost'] or ('640')}}.00 requested</p>
                  <p>£640.00 allowed</p>
                  {% else %}
                  {% if data['app-task'] == "Rejected" %}
                    <p><strong class="govuk-tag govuk-tag--red">Rejected</strong></p>
                    <p>21 August 2023</p>
                    <br>
                    <p>£{{data['actualdistTotalCost'] or ('640')}}.00 requested</p>
                    <p>£0.00 allowed</p>
                    {% else %}
                    {% if data['app-task'] == "Referred" %}
                      <p><strong class="govuk-tag govuk-tag--yellow">Referred</strong></p>
                      <p>22 August 2023</p>
                      <br>
                      <p>£{{data['actualdistTotalCost'] or ('640')}}.00 requested</p>
                      {% else %}
                      {% if data['app-task'] == "Part granted" %}
                        <p><strong class="govuk-tag govuk-tag--green">Part granted</strong></p>
                        <p>22 August 2023</p>
                        <br>
                        <p>£{{data['actualdistTotalCost'] or ('640')}}.00 requested</p>
                        <p>£520.00 allowed</p>
                        {% else %}
                        {% if data['app-task'] == "Review" %}
                          <p><strong class="govuk-tag govuk-tag--yellow">Update needed</strong></p>
                          <p>7 March 2024</p>
                          <br>
                          <p>£{{data['actualdistTotalCost'] or ('640')}}.00 requested</p>
                          {% else %}
                          {% if data['app-task'] == "Returned" %}
                            <p><strong class="govuk-tag govuk-tag--green">Re-submitted</strong></p>
                            <p><span id="date"></span></p>
                            <br>
                            <p>£{{data['actualdistTotalCost'] or ('640')}}.00 requested</p>
                            {% else %}
                            {% if data['app-task'] == "Expired" %}
                              <p><strong class="govuk-tag govuk-tag--red">Expired</strong></p>
                              <p>22 March 2024</p>
                              <br>
                              <p>£{{data['actualdistTotalCost'] or ('640')}}.00 requested</p>
                            {% endif %}
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %} 
            </dd>
          </div>
          {% if data['app-task'] == "Submitted" or data['app-task'] == "Returned" %}
            {% else %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                LAA response
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['app-task'] == "Granted" %}
                  <p>The claim has been fully granted.</p>
                  {% else %}
                  {% if data['app-task'] == "Referred" %}
                    <p>The claim has been refered to the ICA.</p>
                    {% else %}
                    {% if data['app-task'] == "Part granted" %}
                      <p>This claim was part granted due to disallowed travel costs. </p>
                      <div class="govuk-error-summary__body">
                          <ul class="govuk-list govuk-list--bullet">
                            <li>
                              <a href="application-details-adjust" class="govuk-link--no-visited-state">Review travel cost adjustments</a>
                            </li>
                          </ul>
                        </div>
                        {{ govukButton({
                          text: "How to appeal this decision",
                          href: "appeal-offline"
                        }) }}
                      {% else %}
                      {% if data['app-task'] == "Rejected" %}
                        <p> This claim has been fully rejected as the correct form has not been used. Please use CRM5.</p>
                        {{ govukButton({
                          text: "How to appeal this decision",
                          href: "appeal-offline"
                        }) }}
                      {% else %}
                        {% if data['app-task'] == "Review" %}
                          <p>Updates are needed to proceed with your claim.<p>
                          <p>Review the requests and resubmit your claim by <strong>21 March 2024</strong>. </p>
                          <p>After this date your claim will be automatically closed.</p>
                          {{ govukButton({
                            text: "Update claim",
                            href: "form/question3-further-info?changeFI=change&ufn=301222/003&laa-ref=LAA-6p4f0r&first-use=no&app-state=all&question-ufn=complete&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=complete&question3-quote=complete&question3-alt-quote=complete&question3-further-info=notStarted&app-task=Review&serviceType=Translation&expert-first-name=John&expert-last-name=Smith&expert-org-name=Walkers Crips&expert-postcode=BS6 4RF&rep-order-day=12&rep-order-month=04&rep-order-year=2024&maat=123456578&detained=No&prisons=&poca=No&main-offence=Conspire to supply a class A controlled drug - cocaine&hearing=No&plea=Not guilty&courtType=Crown court (excluding Central Criminal Court)&&addTravel=Yes&addAdd=No&travelTime-hours=2&travelTime-mins=0&travelCostTime=12&client-first-name=Dami&client-last-name=Olu&client-dob-day=12&client-dob-month=June&client-dob-year=2001"
                          }) }}
                          {% else %}
                          {% if data['app-task'] == "Expired" %}
                            <p>On 7 March 2024 we asked you to update your claim before we could complete the assessment. This was due by 21 March 2024.</p>
                            <p>As this update was not made by the required date this claim has been automatically closed.</p>
                            <p>If you make a new claim you should include the requested update.</p>
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              </dd>
            </div>
          {% endif %}
        </dl>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-full">

    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [{
        text: 'Overview',
        href: 'claim-details',
        active: true
      }, 
      {
        text: 'All costs',
        href: 'all-costs',
        active: false
      }, 
      {
        text: 'Adjusted costs',
        href: 'adjusted-costs',
        active: false
      }
      ]
    }) }}

    <!--App ref-->
    <h2 class="govuk-heading-m">What you are claiming for</h2>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Claim details</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              LAA reference
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['laa-ref'] or "LAA-5a7d3c"}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Unique file number
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['ufn'] or "100323/234234"}}
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of claim
            </dt>
            <dd class="govuk-summary-list__value">
              Non-standard magistrates' court payment
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of representation order
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['rep-order-day'] or "19" }} {{data['rep-order-month'] or "April" }} {{data['rep-order-year'] or "2023" }}
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <h2 class="govuk-heading-m">About you</h2>
    <!--Case contact-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title">Your details</h3>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Firm name
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['org-name'] or "Laywers Inc" }}        
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Firm account number
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['org-acc'] or "1A3B23E4" }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Firm address
            </dt>
            <dd class="govuk-summary-list__value">
              Address line 1<br>
              Address line 2<br>
              Town or city<br>
              Postcode
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Solicitor details
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['sol-first-name'] or "Dami" }} {{data['sol-last-name'] or "Olu" }}<br>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Solicitor reference details
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['sol-ref-no'] or "347543" }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Alternative contact full name
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['contact-first-name'] or "Gemma" }} {{data['contact-last-name'] or "Smith" }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Alternative contact email address
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['contact-email'] or "gemme.smith@law.com" }}
            </dd>
          </div>
          
        </dl>
      </div>
    </div>

    <h2 class="govuk-heading-m">About the defendant</h2>

    <!--Defendant details-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title">Defendant details</h3>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Main defendant full name
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['defendant-first-name'] or "Roger" }} {{data['defendant-last-name'] or "Blackbeard" }}<br>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Main defendant MAAT number
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['maat'] or "12345678" }}
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Additional defendant full name
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['defendant2-first-name'] or "Rufus" }} {{data['defendant2-last-name'] or "Blackbeard" }}<br>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Additional defendant MAAT number
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['maat'] or "12345678" }}
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <h2 class="govuk-heading-m">About the case</h2>
    <!--Case details-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title">Case details</h3>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Main offence
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['main-offence'] or "Anti-social behaviour orders (for claims made prior to 23rd March 2015)" }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Offence date
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['date-offence-day'] or "23" }} {{data['date-offence-month'] or "September" }} {{data['date-offence-year'] or "2023" }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Assigned counsel
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Unassigned counsel
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Instructed agent
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Case remitted from Crown Court to magistrates
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Remittal date
            </dt>
            <dd class="govuk-summary-list__value">
              27 March 2023
            </dd>
          </div>          
        </dl>
      </div>
    </div>

    <!--Hearing details-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title">Hearing details</h3>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of first hearing
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['date-hearing-day'] or "12"}} {{data['date-hearing-month'] or "July"}} {{data['date-hearing-year'] or "2024"}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Number of hearings
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['no-hearings'] or "5" }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Magistrates Court
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['mag-court'] or "Hendon Magistrates Court" }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Court in a designated area
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['courtDes'] or "Yes" }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Youth court matter
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['youthCourt'] or "No"}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Hearing outcome
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['hearingOutcome'] or "Change of solicitor"}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Matter type
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['matterType'] or "Theft (including taking vehicle without consent)"}}
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <!-- Case disposal-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Case disposal</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Category 1
            </dt>
            <dd class="govuk-summary-list__value">
              Guilty plea
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <!--About the request-->
    <h2 class="govuk-heading-m">About the claim</h2>

    <!-- Claim justification-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Claim justification</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Why are you claiming a non-standard magistrates' fee?
            </dt>
            <dd class="govuk-summary-list__value">
              Core costs exceed higher limit<br>
              Enhanced rates claimed<br>
              Extradition<br>
              Representation order withdrawn<br>
              Other details 
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Representation order date withdrawl date
            </dt>
            <dd class="govuk-summary-list__value">
               {{data['date-repWithdrawn-day'] or "12"}} {{data['date-repWithdrawn-month'] or "July"}} {{data['date-repWithdrawn-year'] or "2023"}}
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other details
            </dt>
            <dd class="govuk-summary-list__value">
               Some other important things added here
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <!--Work items-->
    <div class="govuk-summary-card" aria-describedby="review-quote">
      <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title" id="review-quote">Work items</h3>
      </div>
      <div class="govuk-summary-card__content">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-third">Items</th>
              <th scope="col" class="govuk-table__header">Total per item</th>
              <th scope="col" class="govuk-table__header">Total hours</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header">{{data['item1'] or "Attendance with counsel assigned"}}</td>
              <td class="govuk-table__cell">£{{data['totalPerItem1'] or "234"}}</td>
              <td class="govuk-table__cell">{{data['totalHours1'] or "3 hours 50 minutes"}}</td>
            </tr>
             <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header">{{data['item2'] or "Attendance without counsel assigned"}}</td>
              <td class="govuk-table__cell">£{{data['totalPerItem2'] or "234"}}</td>
              <td class="govuk-table__cell">{{data['totalHours2'] or "6 hours 30 minutes"}}</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header">{{data['item3'] or "Advocacy"}}</td>
              <td class="govuk-table__cell">£{{data['totalPerItem3'] or "234"}}</td>
              <td class="govuk-table__cell">{{data['totalHours3'] or "2 hours 30 minutes"}}</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header">{{data['item4'] or "Preparation"}}</td>
              <td class="govuk-table__cell">£{{data['totalPerItem4'] or "234"}}</td>
              <td class="govuk-table__cell">{{data['totalHours4'] or "20 hours 30 minutes"}}</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header">{{data['item5'] or "Travel"}}</td>
              <td class="govuk-table__cell">£{{data['totalPerItem5'] or "234"}}</td>
              <td class="govuk-table__cell">{{data['totalHours5'] or "7 hours 00 minutes"}}</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header">{{data['item6'] or "Writing"}}</td>
              <td class="govuk-table__cell">£{{data['totalPerItem6'] or "234"}}</td>
              <td class="govuk-table__cell">{{data['totalHours6'] or "9 hours 10 minutes"}}</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header">Total cost</td>
              <td class="govuk-table__cell"><strong>£{{data['totalCost'] or "2344.34"}}</strong></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header">Total including VAT</td>
              <td class="govuk-table__cell"><strong>£{{data['totalVATCost'] or "2344.34"}}</strong></td>
              <td class="govuk-table__cell"></td>
            </tr>
          </tbody>
        </table> 
      </div>
    </div>

    <!--Letters and phone calls-->
    <div class="govuk-summary-card" aria-describedby="review-quote">
      <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title" id="review-quote">Letters and phone calls</h3>
      </div>
      <div class="govuk-summary-card__content">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-third">Items</th>
              <th scope="col" class="govuk-table__header">Total per item</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header">{{data['letterItem1'] or "Number of letters"}}</td>
              <td class="govuk-table__cell">{{data['noLetter1'] or "3"}}</td>
            </tr>
             <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header">{{data['letterItem2'] or "Letters uplift applied"}}</td>
              <td class="govuk-table__cell">{{data['letterUplife'] or "0"}}%</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header">{{data['letterItem3'] or "Letters payment"}}</td>
              <td class="govuk-table__cell">£{{data['totalPerLetter3'] or "234"}}</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header">{{data['callsItem1'] or "Number of calls"}}</td>
              <td class="govuk-table__cell">{{data['noCalls1'] or "5"}}</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header">{{data['callsItem2'] or "Calls uplift applied"}}</td>
              <td class="govuk-table__cell">{{data['callUplife'] or "10"}}%</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header">{{data['callsItem3'] or "Calls payment"}}</td>
              <td class="govuk-table__cell">£{{data['totalPerCalls2'] or "234"}}</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header">Total</td>
              <td class="govuk-table__cell"><strong>£{{data['totalCostLetter'] or "2344.34"}}</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header">Total including VAT</td>
              <td class="govuk-table__cell"><strong>£{{data['totalCostVATLetter'] or "2344.34"}}</strong></td>
            </tr>
          </tbody>
        </table> 
      </div>
    </div>

     <!--Disbursement costs-->
    <div class="govuk-summary-card"">
      <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title" id="review-quote">Disbursement costs</h3>
      </div>
      <div class="govuk-summary-card__content">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-third">Items</th>
              <th scope="col" class="govuk-table__header">Total per item</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header">{{data['disbItem1'] or "Psychologist"}}</td>
              <td class="govuk-table__cell">£{{data['totalPerDisb1'] or "234"}}</td>
            </tr>
             <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header">{{data['disbItem2'] or "DNA Report"}}</td>
              <td class="govuk-table__cell">£{{data['totalPerDisb2'] or "234"}}</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header">Total cost</td>
              <td class="govuk-table__cell"><strong>£{{data['totalCost'] or "2344.34"}}</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__header">Total including VAT</td>
              <td class="govuk-table__cell"><strong>£{{data['totalVATCost'] or "2344.34"}}</strong></td>
            </tr>
          </tbody>
        </table> 
      </div>
    </div>

    <!-- Other info justification-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Other information</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Any other information
            </dt>
            <dd class="govuk-summary-list__value">
              Yes, some very interesting things go here
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Proceedings concluded over 3 months ago
            </dt>
            <dd class="govuk-summary-list__value">
               Yes
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reaons for not claiming within 3 months
            </dt>
            <dd class="govuk-summary-list__value">
               Some other very important infomration here about why.
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <!---Supporting evidence -->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Uploaded suported evidence</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Evidence
            </dt>
            <dd class="govuk-summary-list__value">
              doc1.doc<br>
              doc2.doc<br>
              doc3.doc
            </dd>
          </div>
        </dl>
      </div>
    </div>

     <!---EQ -->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Equality monitoring</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Willing to answer equality questions
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>

  <!-- 
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="subsection-title">Email the LAA case team</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <p><a class="govuk-link govuk-link--no-visited-state" href="mailto:magsbilling@justice.gov.uk">magsbilling@justice.gov.uk</a></p>
          </li> 
        </ul>
      </nav>
    </aside>
  </div>
  -->

  <script>
    const date = new Date();
    const formattedDate = date.toLocaleDateString('en-GB', {
      day: '2-digit', month: 'short', year: 'numeric'
    }).replace(/ /g, ' ');
    document.getElementById("date").innerHTML = formattedDate;
  </script>  

{% endblock %}

