<div class="govuk-form-group">
  <label class="govuk-heading-s" for="matterType">
    Matter type
  </label>
  <div id="matterType-hint" class="govuk-hint">
     Start typing the matter type and select one of the suggestions that appear
  </div>
  <select class="govuk-select autocomplete-select" id="matterType" name="matterType" aria-describedby="matterType-hint">
    <option {{ "selected" if data["matterType"] == "0" }} value=""></option>
    <option {{ "selected" if data["matterType"] == "1 - Offences against the person"}} value="1 - Offences against the person">1 - Offences against the person</option>
    <option {{ "selected" if data["matterType"] == "2 - Homicide and related grave offences" }} value="2 - Homicide and related grave offences">2 - Homicide and related grave offences</option>
    <option {{ "selected" if data["matterType"] == "3 - Sexual offences and associated offences against children" }} value="3 - Sexual offences and associated offences against children">3 - Sexual offences and associated offences against children</option>
    <option {{ "selected" if data["matterType"] == "4 - Robbery" }} value="4 - Robbery">4 - Robbery</option>
    <option {{ "selected" if data["matterType"] == "5 - Burglary" }} value="5 - Burglary">5 - Burglary</option>
    <option {{ "selected" if data["matterType"] == "6 - Criminal damage" }} value="6 - Criminal damage">6 - Criminal damage</option>
  </select>
</div>