{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header2.html"%}
{% endblock %}


{% block pageTitle %}
  Work items- {{data['laa-ref'] or "LAA-5a7d3c"}} – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">What work item are you claiming for?</h1>
    <form class="form" action="work-item-added3" method="post">

      {% if data['view3'] == "4" %}
        {{ govukRadios({
          name: "workTypeD",
          value: data['workTypeD'],
          fieldset: {
            legend: {
              text: "Work type",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Attendance with counsel",
              text: "Attendance with counsel",
              checked: checked('workTypeD','Attendance with counsel'),
              hint: {
                text: "£31.03 per hour"
              }
            },
            {
              value: "Attendance without counsel",
              text: "Attendance without counsel",
              checked: checked('workTypeD','Attendance without counsel'),
              hint: {
                text: "£45.35 per hour"
              }
            },
            {
              value: "Preparation",
              text: "Preparation",
              checked: checked('workTypeD','Preparation'),
              hint: {
                text: "£45.35 per hour"
              }
            },
            {
              value: "Advocacy",
              text: "Advocacy",
              checked: checked('workTypeD','Advocacy'),
              hint: {
                text: "£56.89 per hour "
              }
            },
            {
              value: "Travel",
              text: "Travel",
              checked: checked('workTypeD','Travel'),
              hint: {
                text: "£24.00 per hour"
              }
            },
            {
              value: "Waiting",
              text: "Waiting",
              checked: checked('workTypeD','Waiting'),
              hint: {
                text: "£24.00 per hour"
              }
            }
          ]
        }) }}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" >
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Time spent
            </legend>
            <div id="passport-issued-hint" class="govuk-hint">
              For example, 1 hour and 30 minutes
            </div>
            <div class="govuk-date-input" id="otherNoHoursD">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="otherNoHoursD-hours">
                    Hours
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="otherNoHoursD-hours" name="otherNoHoursD-hours" type="text" inputmode="numeric" value="{{data['otherNoHoursD-hours']}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="otherNoHoursD-mins">
                    Minutes
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="otherNoHoursD-mins" name="otherNoHoursD-mins" type="text" inputmode="numeric" value="{{data['otherNoHoursD-mins']}}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="completionDate-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Completion date
              </h1>
            <div id="completionDate-hint" class="govuk-hint">
              For example, 27 3 2024
            </div>
            <div class="govuk-date-input" id="completionDateD">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="completionDateD-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="completionDateD-day" name="completionDateD-day" type="text" inputmode="numeric" value="{{data['completionDateD-day']}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="completionDateD-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="completionDateD-month" name="completionDateD-month" type="text" inputmode="numeric" value="{{data['completionDateD-month']}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="completionDateD-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="completionDateD-year" name="completionDateD-year" type="text" inputmode="numeric" value="{{data['completionDateD-year']}}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="feeEarnerD">
            Fee earner initials
          </label>
          <input class="govuk-input govuk-input--width-5" id="width-5" name="feeEarnerD" type="text" aria-describedby="feeEarner-hint" value="{{data['feeEarnerD']}}">
        </div>

        {% elseif data['view3'] == "3" %}

          {{ govukRadios({
            name: "workTypeC",
            value: data['workTypeC'],
            fieldset: {
              legend: {
                text: "Work type",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "Attendance with counsel",
                text: "Attendance with counsel",
                checked: checked('workTypeC','Attendance with counsel'),
                hint: {
                  text: "£31.03 per hour"
                }
              },
              {
                value: "Attendance without",
                text: "Attendance without counsel",
                checked: checked('workTypeC','Attendance without counsel'),
                hint: {
                  text: "£45.35 per hour"
                }
              },
              {
                value: "Preparation",
                text: "Preparation",
                checked: checked('workTypeC','Preparation'),
                hint: {
                  text: "£45.35 per hour"
                }
              },
              {
                value: "Advocacy",
                text: "Advocacy",
                checked: checked('workTypeC','Advocacy'),
                hint: {
                  text: "£56.89 per hour "
                }
              },
              {
                value: "Travel",
                text: "Travel",
                checked: checked('workTypeC','Travel'),
                hint: {
                  text: "£24.00 per hour"
                }
              },
              {
                value: "Waiting",
                text: "Waiting",
                checked: checked('workTypeC','Waiting'),
                hint: {
                  text: "£24.00 per hour"
                }
              }
            ]
          }) }}

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" >
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Time spent
              </legend>
              <div id="passport-issued-hint" class="govuk-hint">
                For example, 1 hour and 30 minutes
              </div>
              <div class="govuk-date-input" id="otherNoHoursC">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="otherNoHoursC-hours">
                      Hours
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="otherNoHoursC-hours" name="otherNoHoursC-hours" type="text" inputmode="numeric" value="{{data['otherNoHoursC-hours']}}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="otherNoHoursC-mins">
                      Minutes
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="otherNoHoursC-mins" name="otherNoHoursC-mins" type="text" inputmode="numeric" value="{{data['otherNoHoursC-mins']}}">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="completionDate-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Completion date
                </h1>
              <div id="completionDate-hint" class="govuk-hint">
                For example, 27 3 2024
              </div>
              <div class="govuk-date-input" id="completionDateC">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="completionDateC-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="completionDateC-day" name="completionDateC-day" type="text" inputmode="numeric" value="{{data['completionDateC-day']}}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="completionDateC-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="completionDateC-month" name="completionDateC-month" type="text" inputmode="numeric" value="{{data['completionDateC-month']}}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="completionDateC-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="completionDateC-year" name="completionDateC-year" type="text" inputmode="numeric" value="{{data['completionDateC-year']}}">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="feeEarnerC">
              Fee earner initials
            </label>
            <input class="govuk-input govuk-input--width-5" id="width-5" name="feeEarnerC" type="text" aria-describedby="feeEarner-hint" value="{{data['feeEarnerC']}}">
          </div>

        {% elseif data['view3'] == "2" %}

          {{ govukRadios({
            name: "workTypeB",
            value: data['workTypeB'],
            fieldset: {
              legend: {
                text: "Work type",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "Attendance with counsel",
                text: "Attendance with counsel",
                checked: checked('workTypeB','Attendance with counsel'),
                hint: {
                  text: "£31.03 per hour"
                }
              },
              {
                value: "Attendance without counsel",
                text: "Attendance without counsel",
                checked: checked('workTypeB','Attendance without counsel'),
                hint: {
                  text: "£45.35 per hour"
                }
              },
              {
                value: "Preparation",
                text: "Preparation",
                checked: checked('workTypeB','Preparation'),
                hint: {
                  text: "£45.35 per hour"
                }
              },
              {
                value: "Advocacy",
                text: "Advocacy",
                checked: checked('workTypeB','Advocacy'),
                hint: {
                  text: "£56.89 per hour "
                }
              },
              {
                value: "Travel",
                text: "Travel",
                checked: checked('workTypeB','Travel'),
                hint: {
                  text: "£24.00 per hour"
                }
              },
              {
                value: "Waiting",
                text: "Waiting",
                checked: checked('workTypeB','Waiting'),
                hint: {
                  text: "£24.00 per hour"
                }
              }
            ]
          }) }}

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" >
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Time spent
              </legend>
              <div id="passport-issued-hint" class="govuk-hint">
                For example, 1 hour and 30 minutes
              </div>
              <div class="govuk-date-input" id="otherNoHoursB">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="otherNoHoursB-hours">
                      Hours
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="otherNoHoursB-hours" name="otherNoHoursB-hours" type="text" inputmode="numeric" value="{{data['otherNoHoursB-hours']}}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="otherNoHoursB-mins">
                      Minutes
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="otherNoHoursB-mins" name="otherNoHoursB-mins" type="text" inputmode="numeric" value="{{data['otherNoHoursB-mins']}}">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="completionDate-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Completion date
                </h1>
              <div id="completionDate-hint" class="govuk-hint">
                For example, 27 3 2024
              </div>
              <div class="govuk-date-input" id="completionDateB">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="completionDateB-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="completionDateB-day" name="completionDateB-day" type="text" inputmode="numeric" value="{{data['completionDateB-day']}}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="completionDateB-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="completionDateB-month" name="completionDateB-month" type="text" inputmode="numeric" value="{{data['completionDateB-month']}}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="completionDateB-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="completionDateB-year" name="completionDateB-year" type="text" inputmode="numeric" value="{{data['completionDateB-year']}}">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="feeEarnerB">
              Fee earner initials
            </label>
            <input class="govuk-input govuk-input--width-5" id="width-5" name="feeEarnerB" type="text" aria-describedby="feeEarner-hint" value="{{data['feeEarnerB']}}">
          </div>

        {% else %}

          {{ govukRadios({
            name: "workTypeA",
            value: data['workTypeA'],
            fieldset: {
              legend: {
                text: "Work type",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "Attendance with counsel",
                text: "Attendance with counsel",
                checked: checked('workTypeA','Attendance with counsel'),
                hint: {
                  text: "£31.03 per hour"
                }
              },
              {
                value: "Attendance without counsel",
                text: "Attendance without counsel",
                checked: checked('workTypeA','Attendance without counsel'),
                hint: {
                  text: "£45.35 per hour"
                }
              },
              {
                value: "Preparation",
                text: "Preparation",
                checked: checked('workTypeA','Preparation'),
                hint: {
                  text: "£45.35 per hour"
                }
              },
              {
                value: "Advocacy",
                text: "Advocacy",
                checked: checked('workTypeA','Advocacy'),
                hint: {
                  text: "£56.89 per hour"
                }
              },
              {
                value: "Travel",
                text: "Travel",
                checked: checked('workTypeA','Travel'),
                hint: {
                  text: "£24.00 per hour"
                }
              },
              {
                value: "Waiting",
                text: "Waiting",
                checked: checked('workTypeA','Waiting'),
                hint: {
                  text: "£24.00 per hour"
                }
              }
            ]
          }) }}

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" >
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Time spent
              </legend>
              <div id="passport-issued-hint" class="govuk-hint">
                For example, 1 hour and 30 minutes
              </div>
              <div class="govuk-date-input" id="otherNoHoursA">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="otherNoHoursA-hours">
                      Hours
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="otherNoHoursA-hours" name="otherNoHoursA-hours" type="text" inputmode="numeric" value="{{data['otherNoHoursA-hours']}}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="otherNoHoursA-mins">
                      Minutes
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="otherNoHoursA-mins" name="otherNoHoursA-mins" type="text" inputmode="numeric" value="{{data['otherNoHoursA-mins']}}">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="completionDate-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Completion date
                </h1>
              <div id="completionDate-hint" class="govuk-hint">
                For example, 27 3 2024
              </div>
              <div class="govuk-date-input" id="completionDateA">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="completionDateA-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="completionDateA-day" name="completionDateA-day" type="text" inputmode="numeric" value="{{data['completionDateA-day']}}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="completionDateA-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="completionDateA-month" name="completionDateA-month" type="text" inputmode="numeric" value="{{data['completionDateA-month']}}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="completionDateA-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="completionDateA-year" name="completionDateA-year" type="text" inputmode="numeric" value="{{data['completionDateA-year']}}">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="feeEarnerA">
              Fee earner initials
            </label>
            <input class="govuk-input govuk-input--width-5" id="width-5" name="feeEarnerA" type="text" aria-describedby="feeEarner-hint" value="{{data['feeEarnerA']}}">
          </div>
      {% endif %}

     <!--
      <button class="govuk-button govuk-button--secondary" type="button" onclick="calGeneralCost()">
        Update calculation
      </button> 

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Calculations</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"> Total</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"></td>
          </tr>
        </tbody>
      </table>
      -->

    
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save and come back later",
          classes: "govuk-button--secondary",
          href: ""
        }) }}

      </div>
    </form>

  </div>
</div>



{% endblock %}

