{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header2.html"%}
{% endblock %}


{% block pageTitle %}
  Work items- {{data['laa-ref'] or "LAA-5a7d3c"}} – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">What work item are you claiming for?</h1>
    
    <form class="form" action="review-all-work-items1a" method="post">
      {{ govukRadios({
        name: "workType",
        value: data['workType'],
        fieldset: {
          legend: {
            text: "Work type",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "Attendance with",
            text: "Attendance with counsel assigned",
            checked: checked('workType','Attendance with'),
            hint: {
              text: "£31.03 per hour"
            }
          },
          {
            value: "Attendance without",
            text: "Attendance without counsel assigned",
            checked: checked('workType','Attendance without'),
            hint: {
              text: "£45.35 per hour"
            }
          },
          {
            value: "Preparation",
            text: "Preparation",
            checked: checked('workType','Preparation'),
            hint: {
              text: "£45.35 per hour"
            }
          },
          {
            value: "Advocacy",
            text: "Advocacy",
            checked: checked('workType','Advocacy'),
            hint: {
              text: "£56.89 per hour "
            }
          },
          {
            value: "Travel",
            text: "Travel",
            checked: checked('workType','Travel'),
            hint: {
              text: "£24.00 per hour"
            }
          },
          {
            value: "Waiting",
            text: "Waiting",
            checked: checked('workType','Waiting'),
            hint: {
              text: "£24.00 per hour"
            }
          }
        ]
      }) }}

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" >
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Time spent
          </legend>
          <div id="passport-issued-hint" class="govuk-hint">
            For example, 1 hour and 30 minutes
          </div>
          <div class="govuk-date-input" id="otherNoHours">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="otherNoHours-hours">
                  Hours
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="otherNoHours-hours" name="otherNoHours-hours" type="text" inputmode="numeric" value="{{data['otherNoHours-hours']}}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="otherNoHours-mins">
                  Minutes
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="otherNoHours-mins" name="otherNoHours-mins" type="text" inputmode="numeric" value="{{data['otherNoHours-mins']}}">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="completionDate-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Completion date
            </h1>
          <div id="completionDate-hint" class="govuk-hint">
            For example, 27 3 2024
          </div>
          <div class="govuk-date-input" id="completionDate">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="completionDate-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="completionDate-day" type="text" inputmode="numeric" value="{{data['completionDate-day']}}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="completionDate-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="completionDate-month" type="text" inputmode="numeric" value="{{data['completionDate-month']}}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="completionDate-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="completionDate-year" type="text" inputmode="numeric" value="{{data['completionDate-year']}}">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="feeEarner">
          Fee earner initials
        </label>
       <!-- <div id="feeEarner-hint" class="govuk-hint">
          The name you’ll use on promotional material
        </div>
        -->
        <input class="govuk-input govuk-input--width-5" id="width-5" name="feeEarner" type="text" aria-describedby="feeEarner-hint" value="{{data['feeEarner']}}">
      </div>

      <!--

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">         
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="uplift" name="uplift" type="checkbox" value="email" data-aria-controls="conditional-uplift">
              <label class="govuk-label govuk-checkboxes__label" for="uplift">
                Apply an uplift to this work
              </label>
            </div>

            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-uplift">
              <div class="govuk-form-group">
                <label class="govuk-label" for="uplift-allowed">
                  Enter the percentage uplift
                </label>
                <div class="govuk-input__wrapper">
                  <input class="govuk-input govuk-input--width-5" id="uplift-allowed" name="uplift-allowed" type="text" spellcheck="false">
                  <div class="govuk-input__suffix" aria-hidden="true">%</div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      -->

      <button class="govuk-button govuk-button--secondary" type="button" onclick="calGeneralCost()">
        Update calculation
      </button> 

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Calculations</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"> Total</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">£45.35</td>
          </tr>
        </tbody>
      </table>
      <!--
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Calculations</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"> Before uplift</th>
            <th class="govuk-table__header" scope="col" >After uplift</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">£45.35</td>
            <td class="govuk-table__cell">£45.35</td>
          </tr>
        </tbody>
      </table>
      -->
    
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save and come back later",
          classes: "govuk-button--secondary",
          href: ""
        }) }}

      </div>
    </form>

  </div>
</div>



{% endblock %}

