{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header2.html"%}
{% endblock %}

{% block pageTitle %}
  What stage has been reached? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/question-stageCourt" method="post">

        {% set transHtml %}
          {{ govukRadios({
            name: "stageTrans",
            fieldset: {
              legend: {
                text: "Was the court transfered from a undesignated area?",
                isPageHeading: false            
                }
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: checked("stageTrans", "Yes")
              },
              {
                value: "No",
                text: "No",
                checked: checked("stageTrans", "No")
              }
            ]
          }) }}          
        {% endset %}

         {{ govukRadios({
          name: "stageCourt",
          fieldset: {
            legend: {
              text: "Is the court located in a designated area?",
              classes: "govuk-fieldset__legend--xl",
              isPageHeading: true            
              }
          },
          items: [
            {
              value: "Designated area",
              text: "Designated area",
              checked: checked("stageCourt", "Designated area"),
              conditional: {
              html: transHtml
              }
            },
            {
              value: "Undesignated area",
              text: "Undesignated area",
              checked: checked("stageCourt", "Undesignated area")
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

        </div>

      </form>

    </div>
  </div>

{% endblock %}