{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'Reviewed',
    href: 'crm-claims-reviewed',
    active: + activeSubNav[0] | default('true')
  }, {
    text: 'Submitted',
    href: 'crm-claims-submitted',
    active: + activeSubNav[1]
  }, {
    text: 'Drafts',
    href: 'crm-claims-drafts',
    active: + activeSubNav[2]
  }]
}) }}