{% extends "layouts/main.html" %}
{% set version = "latest-pa" %}
{% set activePrimeNav = [true, false] %}
{% set activeAppNav = [false, true, false] %}


{% block header %}
{% include version + "/includes/header-provider.html" %}
{% endblock %}


{% block pageTitle %}
Application details - history {{data['laa-ref'] or "LAA-5a7d3c"}} – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/banner.html"%}


{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Application details
    </h1>
  </div>

  <!--Status of application-->
  {% include version + "/includes/app-status-provider.html" %}

  <div class="govuk-grid-column-two-thirds" id="nav">
    <!--2nd nav-->
    {% include version + "/includes/nav-app-provider.njk" %}

    <h2 class="govuk-heading-l">Appeal</h2>

      {% if data['app-task'] == "Part granted" %}
        <!-- Show the version that has the appeal decision  - if there an ICA version will need to use an if statement--->
        {% else %}
        <!---all other appeals just show this --->
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Your appeal</dt>
              <dd class="govuk-summary-list__value">
                <p>Appealed 15 August 2025</p>
                <p>This expert is critical to the case and they are also the best dna expert in the land
                  available at short notice.</p><a class="govuk-link"
                  href="62a30fef-7908-42e2-9ea3-f9419ba0fa68">important-evidence.pdf</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Decision being appealed
              </dt>
              <dd class="govuk-summary-list__value">
                <p>Part granted 1 August 2025</p>
                <p>This application was part granted due to unrealistic costs claimed and an unregulated provider. </p>
                <p>£{{data['actualdistTotalCost'] or "640"}}.00 requested</p>
                <p>£480.00 allowed</p>
                <a href="application-details-adjusted.html">Review adjustments</a>
              </dd>
            </div>
          </dl>
      {%endif %}

      {% include version + "/includes/further-info-appeal-provider.html" %}

  </div>
</div>

{% endblock %}