{% extends "layouts/main.html" %}
{% set version = "latest-pa" %}
{% set activePrimeNav = [false, true] %}


{% block header %}
  {% include version + "/includes/header-provider.html"%}
{% endblock %}


{% block pageTitle %}
  Your applications – {{data['serviceName1'] }} - GOV.UK
{% endblock %}

<!-- {% set bodyClasses = 'caseworker-width caseworker-pink' %} -->

{% block beforeContent %}
  {% include "includes/banner.html"%}

  {% include version + "/includes/primary-nav-provider.njk" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">
      Search for an application
    </h1>
    <p>Enter at least one field to search</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="search-panel govuk-!-margin-bottom-6">

      <div class="govuk-form-group govuk-!-width-two-thirds" role="search">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="filterSearch">
            Application details
          </label>
        </h2>
        <div id="search-hint" class="govuk-hint">
          Search for a client name, UFN or LAA reference
        </div>
        <input class="govuk-input" id="filterSearch" name="filterSearch" type="search" onkeyup="tablefilterSearch()" aria-describedby="search-hint" aria-description="Search will filter the table of users">
        
      </div>

      <h2 class="govuk-heading-m">
        Filter your search criteria       
      </h2>

      <div id="date-filters" class="govuk-date-input">
        <div class="govuk-date-input__item">
          {{ govukDateInput({
            id: "filter-date-from",
            namePrefix: "filter-date-from",
            fieldset: {
              legend: {
                text: "Date submitted from",
                isPageHeading: false
                
              }
            }
          }) }}
        </div>
        <div class="govuk-date-input__item">
          {{ govukDateInput({
            id: "filter-date-to",
            namePrefix: "filter-date-to",
            fieldset: {
              legend: {
                text: "Date submitted to",
                isPageHeading: false
              }
            }
          }) }}
        </div>
      </div>

      <div id="date-filters" class="govuk-date-input">
        <div class="govuk-date-input__item">
          {{ govukDateInput({
            id: "filter-date-from",
            namePrefix: "filter-date-from",
            fieldset: {
              legend: {
                text: "Last updated from",
                isPageHeading: false
              }
            }
          }) }}
        </div>
        <div class="govuk-date-input__item">
          {{ govukDateInput({
            id: "filter-date-to",
            namePrefix: "filter-date-to",
            fieldset: {
              legend: {
                text: "Last updated to",
                isPageHeading: false
              }
            }
          }) }}
        </div>
      </div>

      <div id="filters" class="govuk-date-input">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label" for="sort">
              Application status
            </label>
            <select class="govuk-select" id="filterbuttonContainer" name="filterbuttonContainer">
              <option value="Show all" selected onclick="filterSelection('all')">Show all</option>
              <option value="In progress" onclick="filterSelection('in-progress')">Submitted</option>
              <option value="Sent back" onclick="filterSelection('update')">Update needed</option>
              <option value="In progress" onclick="filterSelection('re-sub')">Re-submitted</option>
              <option value="Granted" onclick="filterSelection('granted')">Granted</option>
              <option value="Part granted" onclick="filterSelection('part')">Part granted</option>
              <option value="Rejected" onclick="filterSelection('rejected')">Rejected</option>
              <option value="Cancelled" onclick="filterSelection('cancelled')">Expired</option>
            </select>
          </div>
        </div>

        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label" for="sort">
              Account
            </label>
            <select class="govuk-select" id="filterbuttonContainer" name="filterbuttonContainer">
              <option value="Show all" selected onclick="filterSelection('all')">Show all</option>
              <option value="Justice" onclick="filterSelection('C1B1C1')">C1B1C1</option>
              <option value="Wolf" onclick="filterSelection('A1B1C1')">A1B1C1</option>
            </select>
          </div>
        </div>

         <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label" for="sort">
              Submitted by
            </label>
            <select class="govuk-select" id="filterbuttonContainer" name="filterbuttonContainer">
              <option value="Show all" selected onclick="filterSelection('all')">Show all</option>
              <option value="Justice" onclick="filterSelection('Justice')">Johanna Justice</option>
              <option value="Wolf" onclick="filterSelection('Wolf')">Tattina Wolf</option>
              <option value="Hussein" onclick="filterSelection('Hussein')">Ishmale Hussein</option>
            </select>
          </div>
        </div>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button" onclick="mySearch()" id="searchButton">
          Search
        </button>

        <a class="govuk-link" href="crm-apps-search">Clear all</a>
      </div>
            
    </div>

    <div id="resultsTable2">
      <h2 class="govuk-heading-m">
        Search results
      </h2>
      <table class="govuk-table generic-filter" id="table-header" data-module="moj-sortable-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" aria-sort="none">UFN</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Client</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Account</th>
            <th scope="col" class="govuk-table__header" aria-sort="descending">Last updated</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">LAA reference</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">                
          <tr class="govuk-table__row hideTR all granted A1B1C1 Justice">
            <td class="govuk-table__cell"><a href="application-details?question1-org=complete&ufn=100323/342&laa-ref=LAA-1z5f7w&app-task=Granted" class="govuk-link--no-visited-state" data-sort-value="100323342">100323/342</a></td>
            <td class="govuk-table__cell">Roger Catapult</td>
            <td class="govuk-table__cell" data-sort-value="A1B1C1">A1B1C1</td>
            <td class="govuk-table__cell" data-sort-value="230901">1 Sept 2023</td>
            <td class="govuk-table__cell">LAA-1z5f7w</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Granted</strong></td>
          </tr>
          
          <tr class="govuk-table__row hideTR all expired C1B1C1 Justice">
            <td class="govuk-table__cell"><a href="application-details?ufn=311222/003&laa-ref=LAA-9p4f0e&app-task=Expired" class="govuk-link--no-visited-state" data-sort-value="311222003">311222/003</a></td>
            <td class="govuk-table__cell">Jamie Innes</td>
            <td class="govuk-table__cell" data-sort-value="C1B1C1">C1B1C1</td>
            <td class="govuk-table__cell" data-sort-value="230821">21 Aug 2023</td>
            <td class="govuk-table__cell">LAA-9p4f0e</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Expired</strong></td>
          </tr>
          
          <tr class="govuk-table__row hideTR all update A1B1C1 Wolf">
            <td class="govuk-table__cell"><a href="application-details?app-task=Review&first-use=no&app-state=all&ufn=301222/003&laa-ref=LAA-6p4f0r&question-ufn=complete&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=complete&question3-quote=complete&question3-alt-quote=complete" class="govuk-link--no-visited-state" data-sort-value="301222003">301222/003</a></td>
            <td class="govuk-table__cell">Dami Olu</td>
            <td class="govuk-table__cell" data-sort-value="A1B1C1">A1B1C1</td>
            <td class="govuk-table__cell" data-sort-value="240307">7 March 2024</td>
            <td class="govuk-table__cell">LAA-6p4f0r</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Update needed</strong></td>
          </tr>
          <tr class="govuk-table__row hideTR all rejected A1B1C1 Wolf">
            <td class="govuk-table__cell"><a href="application-details?ufn=311222/003&laa-ref=LAA-9p4f0e&app-task=Rejected" class="govuk-link--no-visited-state" data-sort-value="311222003">311222/003</a></td>
            <td class="govuk-table__cell">Bobby Brownie</td>
            <td class="govuk-table__cell" data-sort-value="A1B1C1">A1B1C1</td>
            <td class="govuk-table__cell" data-sort-value="230821">21 Aug 2023</td>
            <td class="govuk-table__cell">LAA-9p4f0e</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Rejected</strong></td>
          </tr>
          <tr class="govuk-table__row hideTR all part C1B1C1 Hussein">
            <td class="govuk-table__cell"><a href="application-details?question1-org=complete&ufn=202323/342&laa-ref=LAA-1z5f76&app-task=Part granted" class="govuk-link--no-visited-state" data-sort-value="202323342">202323/342</a></td>
            <td class="govuk-table__cell">Marlie Mytoe</td>
            <td class="govuk-table__cell" data-sort-value="C1B1C1">C1B1C1</td>
            <td class="govuk-table__cell" data-sort-value="230901">1 Sept 2023</td>
            <td class="govuk-table__cell">LAA-1z5f76</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Part granted</strong></td>
          </tr>
          <tr class="govuk-table__row hideTR all re-sub C1B1C1 Hussein">
            <td class="govuk-table__cell"><a href="application-details?question1-org=complete&ufn=202323/342&laa-ref=LAA-1z5f76&app-task=Part granted" class="govuk-link--no-visited-state" data-sort-value="202324534">202324/534</a></td>
            <td class="govuk-table__cell">Ishia Melta</td>
            <td class="govuk-table__cell" data-sort-value="C1B1C1">C1B1C1</td>
            <td class="govuk-table__cell" data-sort-value="240301">1 March 2024</td>
            <td class="govuk-table__cell">LAA-3z5h76</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--light-blue">Re-submitted</strong></td>
          </tr>
           <tr class="govuk-table__row hideTR all submitted A1B1C1 Wolf">
            <td class="govuk-table__cell"><a href="application-details?ufn=310524/021&laa-ref=LAA-4t3f6&app-task=Rejected" class="govuk-link--no-visited-state" data-sort-value="31052024">310524/021</a></td>
            <td class="govuk-table__cell">Bobby Brownie</td>
            <td class="govuk-table__cell" data-sort-value="A1B1C1">A1B1C1</td>
            <td class="govuk-table__cell" data-sort-value="240531">31 May 2024</td>
            <td class="govuk-table__cell">LAA-4t3f6</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--light-blue">Submitted</strong></td>
          </tr>
        </body>
      </table>     

    </div>     
     
  </div>

</div>


<script>

   https://www.w3schools.com/howto/howto_js_read_more.asp

  function mySearch() {
    var searchResult = document.getElementById("resultsTable2");
    var searchButton = document.getElementById("searchButton");

    if (searchResult.style.display === "none") {
      searchResult.style.display = "none";
    } else {
      searchResult.style.display = "inline";
    }
  } 

  //Search that filters rows in a table
  // https://www.w3schools.com/howto/howto_js_filter_table.asp

  function tablefilterSearch() {
    // Declare variables
    var input, filter, table, tr, td, i ;
    input = document.getElementById("filterSearch");
    filter = input.value.toUpperCase();
    table = document.getElementsByClassName("generic-filter")[0];
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query  
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td");
  
      if(td.length > 0){ // to avoid th
  
        // which columns to work on https://www.codeproject.com/Questions/1166596/Search-columns-instead-of-in-HTML-using-javascript
         if (td[0].innerHTML.toUpperCase().indexOf(filter) > -1 || td[1].innerHTML.toUpperCase().indexOf(filter) > -1 || td[2].innerHTML.toUpperCase().indexOf(filter) > -1) {
           tr[i].style.display = "";
         } else {
           tr[i].style.display = "none";
         }
  
      }
   }
  }


  //Filters the table based on specific properties that are not in the table data.
  // https://www.w3schools.com/howto/howto_js_filter_elements.asp

  filterSelection("all")
  function filterSelection(c) {
    var x, i;
    x = document.getElementsByClassName("hideTR");
    if (c == "all") c = "";
    for (i = 0; i < x.length; i++) {
      w3RemoveClass(x[i], "showTR");
      if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "showTR");
    }
  }

  function w3AddClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
    }
  }

  function w3RemoveClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      while (arr1.indexOf(arr2[i]) > -1) {
        arr1.splice(arr1.indexOf(arr2[i]), 1);     
      }
    }
    element.className = arr1.join(" ");
  }

  // Add active class to the current button (highlight it)
  var btnContainer = document.getElementById("filterbuttonContainer");
  var btns = btnContainer.getElementsByClassName("govuk-button--secondary");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function(){
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
    });
  }
</script>

{% endblock %}

