{% extends "layouts/main-latest.html" %}
{% set version = "latest-pa" %}
{% set activePrimeNav = [true, false] %}
{% set activeSubNav = [false, true, false] %}

{% block header %}
  {% include version + "/includes/header-provider.html" %}
{% endblock %}


{% block pageTitle %}
  Your applications – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
{% endblock %}

{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-full">
   
    <h1 class="govuk-heading-xl">
      Your applications
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
   {{ govukButton({
      text: "Make a new application",
      href: "form/question-prison?question1-org=notStarted&question2-client=notStarted&question2-case=notStarted"
    }) }}

    {% include version + "/includes/nav-sub-provider.njk" %}


    <h2 class="govuk-heading-m">Submitted</h2>
    {% if data['app-state'] == "empty"  %}
      <p>You do not have any applications that have been submitted.</p>
      {% else %}
      <table class="govuk-table" data-module="moj-sortable-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" aria-sort="none">UFN</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Client</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Account</th>
            <th scope="col" class="govuk-table__header" aria-sort="descending">Last updated</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">LAA reference</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">  
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a
                href="test/application-details-1-submitted?question1-org=complete&ufn=100323/342&laa-ref=LAA-1z5f7w&app-task=Part granted&Appeal=Yes&addAdd=1"
                class="govuk-link--no-visited-state" data-sort-value="100323342">100323/662</a></td>
            <td class="govuk-table__cell">Ken Chalk</td>
            <td class="govuk-table__cell" data-sort-value="A1B1C1">A1B1C1</td>
            <td class="govuk-table__cell" data-sort-value="250624">24 June 2025</td>
            <td class="govuk-table__cell">LAA-2z4f7w</td>
           </tr>  
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a
                href="test/application-details-3-submitted?question1-org=complete&ufn=100323/342&laa-ref=LAA-1z5f7w&app-task=Part granted&Appeal=Yes&addAdd=1"
                class="govuk-link--no-visited-state" data-sort-value="100323342">100324/652</a></td>
            <td class="govuk-table__cell">Daniye Ishimento</td>
            <td class="govuk-table__cell" data-sort-value="A1B1C1">A1B1C1</td>
            <td class="govuk-table__cell" data-sort-value="180525">18 May 2025</td>
            <td class="govuk-table__cell">LAA-3z5f7w</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a
                href="test/application-details-5-submitted?question1-org=complete&ufn=100526/742&laa-ref=LAA-2d5f8z&app-task=Part granted&Appeal=Yes&addAdd=1"
                class="govuk-link--no-visited-state" data-sort-value="100526742">100526/742</a></td>
            <td class="govuk-table__cell">Edgar Bischoff</td>
            <td class="govuk-table__cell" data-sort-value="A1B1C1">A1B1C1</td>
            <td class="govuk-table__cell" data-sort-value="010725">01 July 2025</td>
            <td class="govuk-table__cell">LAA-2d5f8z</td>
           </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a
                href="test/application-details-6-submitted?question1-org=complete&ufn=100116/7322&laa-ref=LAA-3d5c8a&app-task=Part granted&Appeal=Yes&addAdd=1"
                class="govuk-link--no-visited-state" data-sort-value="100116732">100116/732</a></td>
            <td class="govuk-table__cell">Moray Answari</td>
            <td class="govuk-table__cell" data-sort-value="A1B1C1">A1B1C1</td>
            <td class="govuk-table__cell" data-sort-value="020725">02 July 2025</td>
            <td class="govuk-table__cell">LAA-3d5c8a</td>
           </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a
                href="test/application-details-4-submitted-rfi-ica?question1-org=complete&ufn=100423/642&laa-ref=LAA-2z5f7z&app-task=Part granted&Appeal=Yes&addAdd=1"
                class="govuk-link--no-visited-state" data-sort-value="100323342">100423/642</a></td>
            <td class="govuk-table__cell">David Spence</td>
            <td class="govuk-table__cell" data-sort-value="A1B1C1">A1B1C1</td>
            <td class="govuk-table__cell" data-sort-value="250624">29 June 2025</td>
            <td class="govuk-table__cell">LAA-2z5f7z</td>
           </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a
              href="test/application-details-2-submitted-rfi?question1-org=complete&ufn=100323/342&laa-ref=LAA-1z5f7w&app-task=Part granted&Appeal=Yes&addAdd=1"
             
                class="govuk-link--no-visited-state" data-sort-value="100323342">100324/672</a></td>
            <td class="govuk-table__cell">Angel Kswiss</td>
            <td class="govuk-table__cell" data-sort-value="A1B1C1">A1B1C1</td>
            <td class="govuk-table__cell" data-sort-value="150624">15 June 2025</td>
            <td class="govuk-table__cell">LAA-4z4f7z</td>
           </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="application-details?ufn=230323/314&laa-ref=LAA-4f6e2b&app-task=Submitted&Appeal=No" class="govuk-link--no-visited-state" data-sort-value="230323314">230323/314</a>
            </td>
            <td class="govuk-table__cell">Roger Blackbeard</td>
            <td class="govuk-table__cell" data-sort-value="A1B1C1">A1B1C1</td>
            <td class="govuk-table__cell" data-sort-value="231114">14 Nov 2023</td>
            <td class="govuk-table__cell">LAA-4f6e2b</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
            <a href="application-details?ufn=231123/114&laa-ref=LAA-6t3d5w&app-task=Returned" class="govuk-link--no-visited-state" data-sort-value="231123114">231123/114</a>
            </td>
            <td class="govuk-table__cell">Dami Olu</td>
            <td class="govuk-table__cell" data-sort-value="C1B1C1">C1B1C1</td>
            <td class="govuk-table__cell" data-sort-value="240309"><span id="date"></span></td>
            <td class="govuk-table__cell">LAA-6t3d5w</td>
          </tr>
        
        </body>
      </table>
      {% set pageNo ="0" %} 
      {% set itemNo ="3" %}  
      {% include "includes/pagination.html"%}  
    {% endif %}
  </div>

</div>

<script>
  const date = new Date();
  const formattedDate = date.toLocaleDateString('en-GB', {
    day: '2-digit', month: 'short', year: 'numeric'
  }).replace(/ /g, ' ');
  document.getElementById("date").innerHTML = formattedDate;
</script>  

{% endblock %}