  <div class="govuk-form-group">
    <label class="govuk-label govuk-label--s" for="courtName">
      Which court was the first case hearing heard at?
    </label>
    <div id="courtName-hint" class="govuk-hint">
      Enter the name of a court, or select one from the suggestions that appear when you start to enter the name.
    </div>
    <select class="govuk-select autocomplete-select" id="courtName" name="offenceType" aria-describedby="courtName-hint">
      <option></option>
      <option value="Ely - C1166A" {{ "selected" if data["courtName"] == "Ely - C1166A" }}>Ely - C1166A</option>
      <option value="Acton - C2723" {{ "selected" if data["courtName"] == "Acton - C2723" }}>Acton - C2723</option>
      <option value="Diss - C1446A" {{ "selected" if data["courtName"] == "Diss - C1446A" }}>Diss - C1446A</option>
    </select>
  </div>