{% extends "layouts/main.html" %}
{% set version = "latest-nsm" %}

{% block header %}
  {% include version +"/includes/header-provider.html"%}
{% endblock %}


{% block pageTitle %}
  Your submitted applications – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  <!--<div class="moj-organisation-nav" aria-label="Organisation switcher">
    <div class="moj-organisation-nav__title">Office {{data ['officeCodeNo'] or "1A2B3C" }}</div>
    <a href="nscc-choose-office" class="moj-organisation-nav__link">Change office</a>
  </div>
  -->
{% endblock %}

{% block content %}



<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-full">
   
    <h1 class="govuk-heading-xl">
      Your claims
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ govukButton({
      text: "Make a new claim",
      href: ""
    }) }}

    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [{
        text: 'Reviewed',
        href: 'crm-claims-reviewed',
        active: false
      }, {
        text: 'Submitted',
        href: 'crm-claims-submitted',
        active: true
      }, {
        text: 'Drafts',
        href: 'crm-claims-drafts',
        active: false
      }]
    }) }}

    <h2 class="govuk-heading-m">Submitted
    </h2>          
    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="none">UFN</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Defendant</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Account</th>
          <th scope="col" class="govuk-table__header" aria-sort="descending">Last updated</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">LAA reference</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">    
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="claim-details?question1-org=complete&ufn=230323/314&laa-ref=LAA-4f6e2b&app-task=Submitted" class="govuk-link--no-visited-state" data-sort-value="230323314">230323/314</a>
          </td>
          <td class="govuk-table__cell">Roger Blackbeard</td>
          <td class="govuk-table__cell">A1E3W1</td>
          <td class="govuk-table__cell" data-sort-value="231114">14 Nov 2023</td>
          <td class="govuk-table__cell">LAA-4f6e2b</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
          <a href="claim-details?question1-org=complete&ufn=231123/114&laa-ref=LAA-6t3d5w&app-task=Returned" class="govuk-link--no-visited-state" data-sort-value="231123114">231123/114</a></td>
          <td class="govuk-table__cell">Dami Olu</td>
          <td class="govuk-table__cell">B1E3W1</td>
          <td class="govuk-table__cell" data-sort-value="240309"><span id="date"></span></td>
          <td class="govuk-table__cell">LAA-6t3d5w</td>
        </tr>
      </body>
    </table>

  </div>

</div>

<script>
  const date = new Date();
  const formattedDate = date.toLocaleDateString('en-GB', {
    day: '2-digit', month: 'short', year: 'numeric'
  }).replace(/ /g, ' ');
  document.getElementById("date").innerHTML = formattedDate;
</script>  

 

{% endblock %}