{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}


{% block pageTitle %}
  Your applications – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">
      Application details
    </h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-6">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['app-task'] == "submitted" %}
          <p>Submitted<br>Awaiting LAA review</p>
          <p>12th July 2023</p>
          {% else %}
          {% if data['app-task'] == "accepted" %}
            <p>Accepted</p>
            <p>1st Sept 2023</p>
            {% else %}
            {% if data['app-task'] == "rejected" %}
              <p>Rejected</p>
              <p>21st August 2023</p>
              {% else %}
              {% if data['app-task'] == "in-progress" %}
                <p>In-progress</p>
                <p>22nd August 2023</p>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %} 
        </dd>
      </div>
      {% if data['app-task'] == "rejected" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Caseworker recommendation
          </dt>
          <dd class="govuk-summary-list__value">
            This is the result of the caseworkers review of the application...format TBD
          </dd>
        </div>
      {% endif %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Unique file reference
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['ufn'] or "100323/234234"}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          LAA reference
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['laa-ref'] or "LAA-5a7d3c"}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Application fields TBD
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Some of the app details here</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Application fields TBD
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Some of the app details here</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Application fields TBD
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Some of the app details here</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Documentation
        </dt>
        <dd class="govuk-summary-list__value">
          <!--if it is a complete app show doc details-->
            <ul class="govuk-list">
              <li><a href="#">confidentialdocument1.docx</a></li>
              <li><a href="#">confidentialdocument2.docx</a></li>
              <li><a href="#">confidentialdocument3.docx</a></li>
            </ul>
        </dd>
      </div>   
    </dl>
    {% if data['app-task'] == "in-progress" %}
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue application",
        href: ""
      }) }}    
      <a class="govuk-link govuk-link--no-visited-state" href="">Delete</a>
    </div>
    {% endif %}
</div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <ul class="govuk-list govuk-!-font-size-16">
        <li>
          <a class="govuk-link--no-visited-state" href="" target="_blank">Some guidance for what to do (opens in a new window or tab)</a>
        </li>
        <li>
          <br>
          <strong>Email the LAA case team</strong><br> 
          <a class="govuk-link govuk-link--no-visited-state" href="mailto:prior-auth@laa.gov.uk">prior-auth@laa.gov.uk</a>
        </li>
      </ul>
    </aside>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
  <script>
    const date = new Date();
    const formattedDate = date.toLocaleDateString('en-GB', {
      day: '2-digit', month: 'short', year: 'numeric'
    }).replace(/ /g, ' ');
    document.getElementById("date").innerHTML = formattedDate;
  </script>
{% endblock %}