{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}


{% block pageTitle %}
  Your applications – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">
      Application details
    </h1>

     <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Application status</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['app-task'] == "submitted" %}
                <p><strong class="govuk-tag govuk-tag--green">Submitted</strong><br>Awaiting LAA review</p>
                <p>12th July 2023</p>
                {% else %}
                {% if data['app-task'] == "granted" %}
                  <p><strong class="govuk-tag govuk-tag--green">Granted</strong></p>
                  <p>1st Sept 2023</p>
                  {% else %}
                  {% if data['app-task'] == "rejected" %}
                    <p><strong class="govuk-tag govuk-tag--red">Rejected</strong></p>
                    <p>21st August 2023</p>
                    {% else %}
                    {% if data['app-task'] == "draft" %}
                      <p><strong class="govuk-tag">Draft</strong></p>
                      <p>22nd August 2023</p>
                      {% else %}
                      {% if data['app-task'] == "review" %}
                        <p><strong class="govuk-tag govuk-tag--yellow">Review</strong></p>
                        <p>22nd August 2023</p>
                        {% else %}
                        {% if data['app-task'] == "referred" %}
                          <p><strong class="govuk-tag govuk-tag--yellow">Referred</strong></p>
                          <p>22nd August 2023</p>
                          {% else %}
                          {% if data['app-task'] == "partgranted" %}
                            <p><strong class="govuk-tag govuk-tag--green">Part granted</strong></p>
                            <p>22nd August 2023</p>
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %} 
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Caseworker response
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['app-task'] == "granted" %}
                <ul class="govuk-list">
                  <li>£{{data['actualdistTotalCost'] | default('360')}}.00 requested</li>
                </ul>
                <p>Your application has been fully granted.</p>
                <p>View <a href="">printatable version of the application</a></p>
                {{ govukButton({
                    text: "Print application status",
                    classes: "govuk-button--secondary",
                    href: "application-print"
                  }) }}
                {% else %}
                {% if data['app-task'] == "referred" %}
                  <ul class="govuk-list">
                    <li>£{{data['actualdistTotalCost'] | default('360')}}.00 requested</li>
                  </ul>
                  <p>Your application has been refered to the ICA.</p>
                  {% else %}
                  {% if data['app-task'] == "partgranted" %}
                    <ul class="govuk-list">
                      <li>£{{data['actualdistTotalCost'] | default('360')}}.00 requested</li>
                      <li>£300 has been granted</li>
                    </ul>
                    <p>This is the result of the caseworkers review of the application...format TBD</p>
                    {% else %}
                    {% if data['app-task'] == "review" %}
                      <ul class="govuk-list">
                        <li>£{{data['actualdistTotalCost'] | default('360')}}.00 requested</li>
                      </ul>
                      <p>Your application needs to be reviewed.</p>
                      <p>This is the result of the caseworkers review of the application...format TBD</p>
                      {{ govukButton({
                        text: "Review application"
                      }) }}
                      {% else %}
                      {% if data['app-task'] == "submitted" %}
                        <ul class="govuk-list">
                          <li>£{{data['actualdistTotalCost'] | default('360')}}.00 requested</li>
                        </ul>
                        <p>Waiting to be assessed.</p>
                        {% else %}
                        {% if data['app-task'] == "rejected" %}
                          <ul class="govuk-list">
                            <li>£{{data['actualdistTotalCost'] | default('360')}}.00 requested</li>
                          </ul>
                          <p>Your application has been fully rejected.</p>
                          <p> This is the result of the caseworkers review of the application...format TBD</p>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %}
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Application reference</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              LAA reference
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['laa-ref'] or "LAA-5a7d3c"}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Unique file number
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['ufn'] or "100323/234234"}}
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <h2 class="govuk-heading-m">About you</h2>
      <!--About you-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">Your details</h3>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Contact details
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['contact-name'] or "Jim Bowen" }}<br>
                {{data['contact-email'] or "Jim@Bowen.com" }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Firm details
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['org-name'] or "Laywers Inc" }}<br> 
                {{data['org-acc'] or "1A3B23E4" }}
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <h2 class="govuk-heading-m">About the case </h2>
      <!--Client details-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">Client details</h3>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Client name
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['client-first--name'] or "Roger" }} {{data['client-last--name'] or "Blackbeard" }}<br>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['client-dob-day'] or "10" }} {{data['client-dob-month'] or "May" }} {{data['client-dob-year'] or "2001" }}
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <!--Case details earing-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">Case details</h3>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            {% if data['prisonLaw'] == "Yes" %}
              <!--If YES to Prison Law--->
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Subject to POCA
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['poca'] or "Yes" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of next hearing
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['date-hearing-day'] or "23" }} {{data['date-hearing-month'] or "September" }} {{data['date-hearing-year'] or "2024" }}
                </dd>
              </div>

              {% else %}
              <!--If prison law is NO-->
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Main offence
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['main-offence'] or "Anti-social behaviour orders (for applications made prior to 23rd March 2015)" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of representation order
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['rep-order-day'] or "19" }} {{data['rep-order-month'] or "April" }} {{data['rep-order-year'] or "2023" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  MAAT number
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['maat'] or "12345678" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Client detained
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['detained'] or "Yes" }}
                  {% if data['detained'] == "Yes" %}
                    <br>{{data['prisons'] or "Belmarsh" }}
                  {% endif %}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Subject to POCA
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['poca'] or "Yes"}}
                </dd>
              </div>
            {% endif %}
          </dl>
        </div>
      </div>
      <!--Hearing details-->
      {% if data['prisonLaw'] == "No" or data['prisonLaw'] == null %}
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Hearing details</h3>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of next hearing
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['date-hearing-day'] or "12"}} {{data['date-hearing-month'] or "July"}} {{data['date-hearing-year'] or "2024"}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Likely or actual plea 
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['plea'] or "Not guilty" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Court type
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['courtType'] or "Crown Court (excluding Central Criminal Court)" }}
                </dd>
              </div>
              {% if data['courtType'] == "Magistrates' court" %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Youth court matter
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['youthCourt'] or "No"}}
                  </dd>
                </div>
                {% else %}
                {% if data['courtType'] == "Central Criminal Court" %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Psychiatric liaison service accessed
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{data['psychLiaison'] or "Yes"}}
                    </dd>
                  </div>
                  {% if data['psychLiaison'] == "No" %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Why not?
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{data['psychmoreDetail'] or "Not required" }}
                      </dd>
                    </div>
                    {% else %}
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
          </dl>
        </div>
      {% endif %}

      <!--About the request-->
      <h2 class="govuk-heading-m">About the request</h2>

      <!--Primary quote-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">Primary quote</h3>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-!-margin-bottom-6">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Expert details
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['expert-name'] or "Joanna White" }}<br>
                {{data['expert-org-name'] or "DNA Plc" }}, 
                {{data['expert-postcode'] or "E1 3RD" }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Service required
              </dt>
              <dd class="govuk-summary-list__value">
                 {% if data['serviceType'] == "Other" %}
                  {{data['otherExpert'] or "Driving instructor" }}
                  {% else %}
                  {{data['serviceType'] or "Interpreter"}}
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Quote upload
              </dt>
              <dd class="govuk-summary-list__value">
                myquote1.pdf
              </dd>
            </div>
             {% if data['serviceType'] == "Psychiatric report (Prison Law)" or data['serviceType'] == "Psychological report (Prison Law)" or data['serviceType'] == "Interpreter" %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Ordered by court
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['courtOrdered'] or "Yes" }}
                </dd>
              </div>
            {% endif %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Existing prior authority granted
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['existingAuth'] or "No"}}
              </dd>
            </div>
          </dl>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Costs</th>
                <th scope="col" class="govuk-table__header">Total</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Service</td>
                <!--Service cost-->
                {% if data['serviceType'] == "DNA report" %}
                  <td class="govuk-table__cell">£{{data['dnaCost'] or "120" }}.00</td>
                  {% else %}
                  {% if data['serviceType'] == "Transcription" %}
                    <td class="govuk-table__cell">£{{data['actualTransTotal'] or "120" }}.00</td>
                    {% else %}
                    {% if data['serviceType'] == "Translation and transcription" %}
                      <td class="govuk-table__cell">£{{data['actualTransTransTotal'] or "120" }}.00</td>
                      {% else %}
                      {% if data['serviceType'] == "Translator" %} 
                        <td class="govuk-table__cell">£{{data['actualTranslatorTotal'] or "120" }}.00</td>
                        {% else %}
                        {% if data['serviceType'] == "Photocopying" %} 
                          <td class="govuk-table__cell">£{{data['actualPhotoTotal'] or "120" }}.00</td>
                          {% else %}
                          {% if data['serviceType'] == "Other" and data['otherChargeType'] =="Charged by the hour"%} 
                            <td class="govuk-table__cell">£{{data['actualOtherTotal'] or "120" }}.00</td>
                            {% else %}
                            {% if data['serviceType'] == "Other" and data['otherChargeType'] =="Charged per item"%} 
                              <td class="govuk-table__cell">£{{data['actualOtherTotal'] or "120" }}.00</td>
                              {% else %}
                              {% if data['serviceType'] !== "DNA report" %}
                                <td class="govuk-table__cell">£{{data['actualGeneralTotal'] or "120" }}.00</td>
                              {% endif %}
                            {% endif %}
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              </tr>
              {% if data['addTravel'] == "Yes" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Travel</td>
                  <td class="govuk-table__cell">£{{data['actualTravelTotal'] or "120" }}.00</td>
                </tr>
              {% endif %}
              {% if data['addAdd'] == "Yes" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Additional</td>
                  <td class="govuk-table__cell">£{{data['actualaddFinalTotal'] or "120" }}.00</td>
                </tr>
              {% endif %}
               </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-table__header">Total cost</td>
                  <td class="govuk-table__cell"><strong>£{{data['actualdistTotalCost'] or "120"}}.00</strong></td>
                </tr>
            </tbody>
          </table>         
        </div>
      </div>

      <!--Alt quotes-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">Alternative quotes</h3>
        </div>
        <div class="govuk-summary-card__content">
          {% if data['altQuotesQ'] =="No" %}
            <dl class="govuk-summary-list govuk-!-margin-bottom-6">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Reason for no alternative quotes
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['no-alt-quotes-info'] | default('There are no other experts in the country that can do this')}}<br>
                </dd>
              </div>
            </dl>   
            {% else %}
            {% if data['altQuotesQ'] =="Yes" or data['altQuotesQ'] == null%}
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Quote</th>
                    <th scope="col" class="govuk-table__header">Total</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body"> 
                  <!--Alternative quote 1-->
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{data['alt1ExpertName'] or "Jame Jones"}}</td>
                    <td class="govuk-table__cell">£{{data['actualalt1TotalCost'] | default('1000')}}.00</td>
                  </tr>
                  {% if data['addAltQuote'] =="2" or data['addAltQuote'] =="3" or data['showAltQuote'] =="2" %}
                    <!--Alternative quote 2-->
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">{{data['alt2ExpertName'] or "Belinda Cartright"}}</td>
                      <td class="govuk-table__cell">£{{data['actualalt2TotalCost'] or "1270"}}.00</td>
                    </tr>
                  {% endif %}
                  {% if data['addAltQuote'] =="3" or data['showAltQuote'] =="3" %}
                    <!--Alternative quote 3-->
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"> {{data['alt3ExpertName'] or "Roger Monied"}}</td>
                      <td class="govuk-table__cell">£{{data['actualalt3TotalCost'] or "3170"}}.00</td>
                    </tr>
                  {% endif %}
                </tr>
                </tbody>
              </table>  
            {% endif %}
          {% endif %}        
        </div>
      </div>

      <!---Why PA required-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title"> Reason for prior authority</h3>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-!-margin-bottom-6">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Why prior authority is required
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['why-pa'] | default('My client needs to get a DNA test')}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Supplementary documents
              </dt>
              <dd class="govuk-summary-list__value">
                whyPADocs1.pdf<br>
                whyPADocs2.pdf
              </dd>
            </div>
          </dl>       
        </div>
      </div>


    <!--Case details-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Client and case overview</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Client name
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['client-first--name'] | default('Roger')}} {{data['client-last--name'] | default('Blackbeard')}}<br>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['client-dob-day']| default('10')}} {{data['client-dob-month']| default('May')}} {{data['client-dob-year']| default('2001')}}
            </dd>
          </div>
          
          {% if data['prisonLaw'] == "Yes" %}
            <!--If YES to Prison Law--->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Subject to POCA
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['poca'] | default('Yes')}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of next hearing
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['date-hearing-day'] | default('23')}} {{data['date-hearing-month'] | default('September')}} {{data['date-hearing-year'] | default('2024')}}
              </dd>
            </div>

            {% else %}
            <!--If prison law is NO-->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Main offence
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['main-offence'] | default('Anti-social behaviour orders (for applications made prior to 23rd March 2015)')}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of representation order
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['rep-order-day'] | default('19')}} {{data['rep-order-month'] | default('April')}} {{data['rep-order-year'] | default('2023')}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                MAAT number
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['maat'] | default('12345678')}}
              </dd>
            </div>
          {% endif %}
        </dl>
      </div>
    </div>

    <!--Primary quote-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Quote</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-6">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Expert details
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['expert-name'] | default('Joanna White')}}<br>
              {{data['expert-org-name'] | default('DNA Plc')}}, 
              {{data['expert-postcode'] | default('E1 3RD')}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Service required
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['serviceType'] | default('DNA report')}}
              {% if data['serviceType'] == "Other" %}
                <br>
                {{data['otherExpert'] or "Driving instructor" }}
              {% endif %}
            </dd>
          </div>
            {% if data['serviceType'] == "Psychiatric report (Prison Law)" or data['serviceType'] == "Psychological report (Prison Law)" or data['serviceType'] == "Interpreter" %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Ordered by court
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['courtOrdered'] | default('Yes')}}
              </dd>
            </div>
          {% endif %}
        </dl>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Costs</th>
              <th scope="col" class="govuk-table__header">Total</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Service</td>
              <!--Service cost-->
              {% if data['serviceType'] == "DNA report" %}
                <td class="govuk-table__cell">£{{data['dnaCost'] | default('120')}}.00</td>
                {% else %}
                {% if data['serviceType'] == "Transcription" %}
                  <td class="govuk-table__cell">£{{data['actualTransTotal'] | default('120')}}.00</td>
                  {% else %}
                  {% if data['serviceType'] == "Translation and transcription" %}
                    <td class="govuk-table__cell">£{{data['actualTransTransTotal'] | default('120')}}.00</td>
                    {% else %}
                    {% if data['serviceType'] == "Translator" %} 
                      <td class="govuk-table__cell">£{{data['actualTranslatorTotal'] | default('120')}}.00</td>
                      {% else %}
                      {% if data['serviceType'] == "Photocopying" %} 
                        <td class="govuk-table__cell">£{{data['actualPhotoTotal'] | default('120')}}.00</td>
                        {% else %}
                        {% if data['serviceType'] == "Other" and data['otherChargeType'] =="Charged by the hour"%} 
                          <td class="govuk-table__cell">£{{data['actualOtherTotal'] | default('120')}}.00</td>
                          {% else %}
                          {% if data['serviceType'] == "Other" and data['otherChargeType'] =="Charged per item"%} 
                            <td class="govuk-table__cell">£{{data['actualOtherTotal'] | default('120')}}.00</td>
                            {% else %}
                            {% if data['serviceType'] !== "DNA report" %}
                              <td class="govuk-table__cell">£{{data['actualGeneralTotal'] | default('120')}}.00</td>
                            {% endif %}
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %}
            </tr>
            {% if data['addTravel'] == "Yes" %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Travel</td>
                <td class="govuk-table__cell">£{{data['actualTravelTotal'] | default('120')}}.00</td>
              </tr>
            {% endif %}
            {% if data['addAdd'] == "Yes" %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Additional</td>
                <td class="govuk-table__cell">£{{data['actualaddFinalTotal'] | default('120')}}.00</td>
              </tr>
            {% endif %}
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table__header">Total cost</td>
                <td class="govuk-table__cell"><strong>£{{data['actualdistTotalCost'] | default('360')}}.00</strong></td>
              </tr>
          </tbody>
        </table>         
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <ul class="govuk-list govuk-!-font-size-16">
        <li>
          <br>
          <strong>Email the LAA case team</strong><br> 
          <a class="govuk-link govuk-link--no-visited-state" href="mailto:prior-auth@laa.gov.uk">prior-auth@laa.gov.uk</a>
        </li>
      </ul>
    </aside>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
  <script>
    const date = new Date();
    const formattedDate = date.toLocaleDateString('en-GB', {
      day: '2-digit', month: 'short', year: 'numeric'
    }).replace(/ /g, ' ');
    document.getElementById("date").innerHTML = formattedDate;
  </script>
{% endblock %}