{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}


{% block pageTitle %}
  Your applications – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
{% endblock %}

{% block content %}



<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Your applications
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% if data['app-state'] == "empty"  %}
      <p>You have not started any applications.</p>
      {{ govukButton({
        text: "New application",
        href: "/provider/form/question-prison?question1-org=notStarted&question2-client=notStarted&question2-case=notStarted",
        isStartButton: true
      }) }}

      {% else %}

      {{ govukButton({
        text: "New application",
        href: "/provider/form/question-prison?question1-org=notStarted&question2-client=notStarted&question2-case=notStarted",
        isStartButton: true
      }) }}
        
      {% if data['app-state'] == "draft" or data['app-state'] == null %}
        <h2 class="govuk-heading-m">Drafts</h2>
        <table class="govuk-table" data-module="moj-sortable-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" aria-sort="ascending">UFN</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Client</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Last updated</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">LAA reference</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Action</th>
            </tr>
          </thead>
        
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="form/task-list?question1-org=complete&ufn=100323/342&laa-ref=LAA-1z5f7w&app-task=draft" class="govuk-link--no-visited-state" data-sort-value="100323342">100323/342</a></td>
              <td class="govuk-table__cell">Unknown</td>
              <td class="govuk-table__cell">24th Aug 2023</td>
              <td class="govuk-table__cell">LAA-1z5f7w</td>
              <td class="govuk-table__cell"><a href="" class="govuk-link--no-visited-state">
                Delete</a></td>
            </tr>
          </tbody>
        </table>

          {% else %}
          {% if data['app-state'] == "all" %}
          {% set manageDraftsHTML %}
          <h2 class="govuk-heading-m">Drafts</h2>
        
          <table class="govuk-table" data-module="moj-sortable-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" aria-sort="none">UFN</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Client</th>
                <th scope="col" class="govuk-table__header" aria-sort="descending">Last updated</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">LAA reference</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Action</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">    
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="form/task-list?question-ufn=complete&question1-org=complete&ufn=311222/002&laa-ref=LAA-9p4f0d" class="govuk-link--no-visited-state" data-sort-value="311222002">311222/002</a></td>
                <td class="govuk-table__cell">Unknown</td>
                <td class="govuk-table__cell" data-sort-value="230824">24th Aug 2023</td>
                <td class="govuk-table__cell">LAA-9p4f0d</td>
                <td class="govuk-table__cell"><a href="crm-apps-delete?laa-ref=LAA-9p4f0d" class="govuk-link--no-visited-state">
                  Delete</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="form/task-list?question-ufn=complete&question1-org=complete&ufn=311222/004&laa-ref=LAA-9p4f0f&app-task=draft" class="govuk-link--no-visited-state" data-sort-value="311222004">311222/004</a></td>
                <td class="govuk-table__cell">Unknown</td>
                <td class="govuk-table__cell" data-sort-value="230822">22nd Aug 2023</td>
                <td class="govuk-table__cell">LAA-9p4f0f</td>
                <td class="govuk-table__cell"><a href="crm-apps-delete?laa-ref=LAA-9p4f0f" class="govuk-link--no-visited-state">
                  Delete</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="form/task-list?question-ufn=complete&question1-org=complete&ufn=311222/005&laa-ref=LAA-9p4f0g&app-task=draft" class="govuk-link--no-visited-state" data-sort-value="311222005">311222/005</a></td>
                <td class="govuk-table__cell">Mymate Marmite</td>
                <td class="govuk-table__cell" data-sort-value="230823">23rd Aug 2023</td>
                <td class="govuk-table__cell">LAA-9p4f0g</td>
                <td class="govuk-table__cell"><a href="crm-apps-delete?laa-ref=LAA-9p4f0g" class="govuk-link--no-visited-state">
                  Delete</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="form/task-list?question-ufn=complete&question1-org=complete&ufn=311222/006&laa-ref=LAA-9p4f0h&app-task=draft" class="govuk-link--no-visited-state" data-sort-value="311222006">311222/006</a></td>
                <td class="govuk-table__cell">Unknown</td>
                <td class="govuk-table__cell" data-sort-value="230825">25th Aug 2023</td>
                <td class="govuk-table__cell">LAA-9p4f0h</td>
                <td class="govuk-table__cell"><a href="crm-apps-delete?laa-ref=LAA-9p4f0h" class="govuk-link--no-visited-state">
                  Delete</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="form/task-list?question-ufn=complete&question1-org=complete&ufn=311222/007&laa-ref=LAA-9p4f0i&app-task=draft" class="govuk-link--no-visited-state" data-sort-value="311222007">311222/007</a></td>
                <td class="govuk-table__cell">Unknown</td>
                <td class="govuk-table__cell" data-sort-value="230826">26th Aug 2023</td>
                <td class="govuk-table__cell">LAA-9p4f0i</td>
                <td class="govuk-table__cell"><a href="crm-apps-delete?laa-ref=LAA-9p4f0i" class="govuk-link--no-visited-state">
                  Delete</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="form/task-list?question-ufn=complete&question1-org=complete&ufn=311222/008&laa-ref=LAA-9p4f0j&app-task=draft" class="govuk-link--no-visited-state" data-sort-value="311222008">311222/008</a></td>
                <td class="govuk-table__cell">Tommy Gofigure</td>
                <td class="govuk-table__cell" data-sort-value="230827">27th Aug 2023</td>
                <td class="govuk-table__cell">LAA-9p4f0j</td>
                <td class="govuk-table__cell"><a href="crm-apps-delete?laa-ref=LAA-9p4f0j" class="govuk-link--no-visited-state">
                  Delete</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="form/task-list?question-ufn=complete&question1-org=complete&ufn=311222/007&laa-ref=LAA-9p4f0p&app-task=draft" class="govuk-link--no-visited-state" data-sort-value="311222007">311222/007</a></td>
                <td class="govuk-table__cell">Alecia Pink</td>
                <td class="govuk-table__cell" data-sort-value="230801">1st Aug 2023</td>
                <td class="govuk-table__cell">LAA-9p4f0p</td>
                <td class="govuk-table__cell"><a href="crm-apps-delete?laa-ref=LAA-9p4f0p" class="govuk-link--no-visited-state">
                  Delete</a></td>
              </tr><tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="form/task-list?question-ufn=complete&question1-org=complete&ufn=311222/007&laa-ref=LAA-9p4f0o&app-task=draft" class="govuk-link--no-visited-state" data-sort-value="311222007">311222/007</a></td>
                <td class="govuk-table__cell">Arnie Swartz</td>
                <td class="govuk-table__cell" data-sort-value="230813">13th Aug 2023</td>
                <td class="govuk-table__cell">LAA-9p4f0o</td>
                <td class="govuk-table__cell"><a href="crm-apps-delete?laa-ref=LAA-9p4f0o" class="govuk-link--no-visited-state">
                  Delete</a></td>
              </tr><tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="form/task-list?question-ufn=complete&question1-org=complete&ufn=311222/007&laa-ref=LAA-9p4f0n&app-task=draft" class="govuk-link--no-visited-state" data-sort-value="311222007">311222/007</a></td>
                <td class="govuk-table__cell">Melanie Griffins</td>
                <td class="govuk-table__cell" data-sort-value="230806">6th Aug 2023</td>
                <td class="govuk-table__cell">LAA-9p4f0n</td>
                <td class="govuk-table__cell"><a href="crm-apps-delete?laa-ref=LAA-9p4f0n" class="govuk-link--no-visited-state">
                  Delete</a></td>
              </tr><tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="form/task-list?question-ufn=complete&question1-org=complete&ufn=311222/007&laa-ref=LAA-9p4f0m&app-task=draft" class="govuk-link--no-visited-state" data-sort-value="311222007">311222/007</a></td>
                <td class="govuk-table__cell">Bob Holness</td>
                <td class="govuk-table__cell" data-sort-value="230812">12th Aug 2023</td>
                <td class="govuk-table__cell">LAA-9p4f0m</td>
                <td class="govuk-table__cell"><a href="crm-apps-delete?laa-ref=LAA-9p4f0m" class="govuk-link--no-visited-state">
                  Delete</a></td>
              </tr>
            </body>
          </table>
          {{ mojPagination({
            items: [{
              text: '1',
              href: '/page=1',
              selected: true
            }, {
              text: '2',
              href: '/page=2',
              selected: false
            }, {
              text: '3',
              href: '/page=3'
            }, {
              type: 'dots'
            }, {
              text: '5',
              href: '/page=5'
            }],
              results: {
                count: 6,
                from: 1,
                to: 5,
                text: 'pages'
              },
              next: {
                text: 'Next'
              }
            }) }}   
          {% endset %}
      
        {% set manageAssessedHTML %}
          <h2 class="govuk-heading-m">Assessed</h2>          
          <table class="govuk-table" data-module="moj-sortable-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" aria-sort="none">UFN</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Client</th>
                <th scope="col" class="govuk-table__header" aria-sort="descending">Last updated</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">LAA reference</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">                
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="application-details?question1-org=complete&ufn=100323/342&laa-ref=LAA-1z5f7w&app-task=Granted" class="govuk-link--no-visited-state" data-sort-value="100323342">100323/342</a></td>
                <td class="govuk-table__cell">Roger Catapult</td>
                <td class="govuk-table__cell" data-sort-value="230901">1st Sept 2023</td>
                <td class="govuk-table__cell">LAA-1z5f7w</td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Granted</strong></td>
              </tr>
              <!--
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="application-details?ufn=311222/003&laa-ref=LAA-9p4f0e&app-task=Referred" class="govuk-link--no-visited-state" data-sort-value="311222003">311222/003</a></td>
                <td class="govuk-table__cell">Jamie Innes</td>
                <td class="govuk-table__cell" data-sort-value="230821">21st Aug 2023</td>
                <td class="govuk-table__cell">LAA-9p4f0e</td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Referred</strong></td>
              </tr>
              -->
              {% if data['cwAppStatus'] == "Review" or data['app-status'] == "Review"%}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="application-details?app-task=Review&first-use=no&app-state=all&ufn=301222/003&laa-ref=LAA-6p4f0r&question-ufn=complete&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=complete&question3-quote=complete&question3-alt-quote=complete" class="govuk-link--no-visited-state" data-sort-value="301222003">301222/003</a></td>
                  <td class="govuk-table__cell">Dami Olu</td>
                  <td class="govuk-table__cell" data-sort-value="230821">21st Aug 2023</td>
                  <td class="govuk-table__cell">LAA-6p4f0r</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Update needed</strong></td>
                </tr>
              {% endif %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="application-details?ufn=311222/003&laa-ref=LAA-9p4f0e&app-task=Rejected" class="govuk-link--no-visited-state" data-sort-value="311222003">311222/003</a></td>
                <td class="govuk-table__cell">Bobby Brownie</td>
                <td class="govuk-table__cell" data-sort-value="230821">21st Aug 2023</td>
                <td class="govuk-table__cell">LAA-9p4f0e</td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Rejected</strong></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="application-details?question1-org=complete&ufn=202323/342&laa-ref=LAA-1z5f76&app-task=Part granted" class="govuk-link--no-visited-state" data-sort-value="202323342">202323/342</a></td>
                <td class="govuk-table__cell">Ishia Melta</td>
                <td class="govuk-table__cell" data-sort-value="230901">1st Sept 2023</td>
                <td class="govuk-table__cell">LAA-1z5f76</td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Part granted</strong></td>
              </tr>
            </body>
          </table>
        {% endset %}
      
        {% set manageSubmittedHTML %}
          <h2 class="govuk-heading-m">Submitted
          </h2>          
          <table class="govuk-table" data-module="moj-sortable-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" aria-sort="none">UFN</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Client</th>
                <th scope="col" class="govuk-table__header" aria-sort="descending">Last updated</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">LAA reference</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">    
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {% if data['app-task'] == "Re-submitted1"%}
                    <a href="application-details-mvp?question1-org=complete&ufn=230323/314&laa-ref=LAA-4f6e2b&app-task=Re-submitted1" class="govuk-link--no-visited-state" data-sort-value="230323314">230323/314</a>
                    {% else %}
                    {% if data['app-task'] == "Re-submitted2"%}
                      <a href="application-details-mvp?question1-org=complete&ufn=230323/314&laa-ref=LAA-4f6e2b&app-task=Re-submitted2" class="govuk-link--no-visited-state" data-sort-value="230323314">230323/314</a>
                      {% else%}
                      <a href="application-details?question1-org=complete&ufn=230323/314&laa-ref=LAA-4f6e2b&app-task=Submitted" class="govuk-link--no-visited-state" data-sort-value="230323314">230323/314</a>
                    {% endif %}
                  {% endif %}
                </td>
                <td class="govuk-table__cell">Roger Blackbeard</td>
                <td class="govuk-table__cell" data-sort-value="230712">12th July 2023</td>
                <td class="govuk-table__cell">LAA-4f6e2b</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                 <a href="application-details?question1-org=complete&ufn=231123/114&laa-ref=LAA-6t3d5w&app-task=Returned" class="govuk-link--no-visited-state" data-sort-value="231123114">231123/114</a>

                </td>
                <td class="govuk-table__cell">Roger Blackbeard</td>
                <td class="govuk-table__cell" data-sort-value="230712">14 Nov 2023</td>
                <td class="govuk-table__cell">LAA-6t3d5w</td>
              </tr>
            </body>
          </table>
        {% endset %}
  
        {{ govukTabs ({
          items: [
          { 
            label: "Assessed",
            id: "manage-assessed",
            panel: {
              html: manageAssessedHTML
            }
          },
          { 
            label: "Submitted",
            id: "manage-submitted",
            panel: {
              html: manageSubmittedHTML
            }
          },
          { 
            label: "Draft",
            id: "manage-drafts",
            panel: {
              html: manageDraftsHTML
            }
          }
          ]
        }) }}
                
        {% endif %}  
      {% endif %} 
    {% endif %}    
    
  </div>
  <div class="govuk-grid-column-one-third">
      
  </div>
</div>

{% endblock %}