{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header2.html"%}
{% endblock %}


{% block pageTitle %}
  Your applications – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  <!--<div class="moj-organisation-nav" aria-label="Organisation switcher">
    <div class="moj-organisation-nav__title">Office {{data ['officeCodeNo'] or "1A2B3C" }}</div>
    <a href="nscc-choose-office" class="moj-organisation-nav__link">Change office</a>
  </div>
  -->
{% endblock %}

{% block content %}



<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Your claims
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p>You have not started any claims.</p>
      {{ govukButton({
        text: "Make a new claim",
        href: ""
      }) }}

     
    
       
      
   
   
    
  </div>

</div>

 

{% endblock %}