{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}

{% block pageTitle %}
  Prior authority Start Now – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ serviceName }}
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p>You can only use this service to apply for prior authority to incur disbursements in criminal cases in relation to magistrates, crown and prison law work.</p>
        <p>You cannot apply for prior authority to incur disbursements if the total authority is less than £100.</p>
        <h2 class="govuk-heading-m">To apply for something else, go to:</h2>
        <p><a href="">Apply for an extension to the upper limit, previously CRM5</a></p>

        {{ govukButton({
          text: "Start now",
          href: "/provider/crm-apps",
          isStartButton: true
        }) }}
       
      </div>
      <div class="govuk-grid-column-one-third">
          
      </div>
    </div>

{% endblock %}