{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}


{% block pageTitle %}
  Your applications – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
{% endblock %}

{% block content %}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Your applications
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% if data['first-use'] !== "no" and data['app-state'] == "empty"  %}
          <p>You have not yet started an application for prior authority. </p>
          {{ govukButton({
            text: "New application",
            href: "/provider/form/question-eligibility",
            isStartButton: true
          }) }}

          {% else %}

          
          {{ govukButton({
            text: "New application",
            href: "/provider/form/question-eligibility",
            isStartButton: true
          }) }}
            <table class="govuk-table" data-module="moj-sortable-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" aria-sort="ascending">UFN</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Client</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Last updated</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">LAA reference</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
                </tr>
              </thead>
            
              <tbody class="govuk-table__body">

                {% if data['app-state'] == "saved" or data['app-state'] == null %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="application-details?question1-org=complete&ufn=100323/342&laa-ref=LAA-1z5f7w&app-task=in-progress" class="govuk-link--no-visited-state" data-sort-value="100323342">100323/342</a></td>
                    <td class="govuk-table__cell">Unknown</td>
                    <td class="govuk-table__cell">24th Aug 2023</td>
                    <td class="govuk-table__cell">LAA-1z5f7w</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">
                      In-progress
                    </strong></td>
                  </tr>

                  {% else %}
                  {% if data['app-state'] == "all" %}
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a href="form/task-list?question1-org=complete&ufn=311222/002&laa-ref=LAA-9p4f0d" class="govuk-link--no-visited-state" data-sort-value="311222002">311222/002</a></td>
                      <td class="govuk-table__cell">Unknown</td>
                      <td class="govuk-table__cell" data-sort-value="230824">24th Aug 2023</td>
                      <td class="govuk-table__cell">LAA-9p4f0d</td>
                      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">
                        In-progress
                      </strong></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a href="application-details?question1-org=complete&ufn=230323/314&laa-ref=LAA-4f6e2b&app-task=submitted" class="govuk-link--no-visited-state" data-sort-value="230323314">230323/314</a></td>
                      <td class="govuk-table__cell">Jane Brown</td>
                      <td class="govuk-table__cell" data-sort-value="230712">12th July 2023</td>
                      <td class="govuk-table__cell">LAA-4f6e2b</td>
                      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
                        Submitted
                      </strong></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a href="application-details?question1-org=complete&ufn=230323/312&laa-ref=LAA-5f6e3b&app-task=submitted" class="govuk-link--no-visited-state" data-sort-value="230323312">230323/312</a></td>
                      <td class="govuk-table__cell">Simone Gutter</td>
                      <td class="govuk-table__cell" data-sort-value="230713">12th July 2023</td>
                      <td class="govuk-table__cell">LAA-5f6e3b</td>
                      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
                        Submitted
                      </strong></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a href="application-details?question1-org=complete&ufn=100323/342&laa-ref=LAA-1z5f7w&app-task=accepted" class="govuk-link--no-visited-state" data-sort-value="100323342">100323/342</a></td>
                      <td class="govuk-table__cell">Roger Catapult</td>
                      <td class="govuk-table__cell" data-sort-value="230901">1st Sept 2023</td>
                      <td class="govuk-table__cell">LAA-1z5f7w</td>
                      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                        Accepted
                      </strong></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a href="application-details?ufn=311222/003&laa-ref=LAA-9p4f0e&app-task=rejected" class="govuk-link--no-visited-state" data-sort-value="311222003">311222/003</a></td>
                      <td class="govuk-table__cell">Bobby Brownie</td>
                      <td class="govuk-table__cell" data-sort-value="230821">21st Aug 2023</td>
                      <td class="govuk-table__cell">LAA-9p4f0e</td>
                      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">
                        Rejected
                      </strong></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a href="application-details?question1-org=complete&ufn=311222/004&laa-ref=LAA-9p4f0f&app-task=in-progress" class="govuk-link--no-visited-state" data-sort-value="311222004">311222/004</a></td>
                      <td class="govuk-table__cell">Unknown</td>
                      <td class="govuk-table__cell" data-sort-value="230822">22nd Aug 2023</td>
                      <td class="govuk-table__cell">LAA-9p4f0f</td>
                      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">
                        In-progress
                      </strong></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a href="application-details?question1-org=complete&ufn=311222/005&laa-ref=LAA-9p4f0g&app-task=in-progress" class="govuk-link--no-visited-state" data-sort-value="311222005">311222/005</a></td>
                      <td class="govuk-table__cell">Mymate Marmite</td>
                      <td class="govuk-table__cell" data-sort-value="230823">23rd Aug 2023</td>
                      <td class="govuk-table__cell">LAA-9p4f0g</td>
                      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">
                        In-progress
                      </strong></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a href="application-details?question1-org=complete&ufn=311222/006&laa-ref=LAA-9p4f0h&app-task=in-progress" class="govuk-link--no-visited-state" data-sort-value="311222006">311222/006</a></td>
                      <td class="govuk-table__cell">Unknown</td>
                      <td class="govuk-table__cell" data-sort-value="230825">25th Aug 2023</td>
                      <td class="govuk-table__cell">LAA-9p4f0h</td>
                      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">
                        In-progress
                      </strong></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a href="application-details?question1-org=complete&ufn=311222/007&laa-ref=LAA-9p4f0i&app-task=in-progress" class="govuk-link--no-visited-state" data-sort-value="311222007">311222/007</a></td>
                      <td class="govuk-table__cell">Unknown</td>
                      <td class="govuk-table__cell" data-sort-value="230826">26th Aug 2023</td>
                      <td class="govuk-table__cell">LAA-9p4f0i</td>
                      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">
                        In-progress
                      </strong></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a href="application-details?question1-org=complete&ufn=311222/008&laa-ref=LAA-9p4f0j&app-task=in-progress" class="govuk-link--no-visited-state" data-sort-value="311222008">311222/008</a></td>
                      <td class="govuk-table__cell">Tommy Gofigure</td>
                      <td class="govuk-table__cell" data-sort-value="230827">27th Aug 2023</td>
                      <td class="govuk-table__cell">LAA-9p4f0j</td>
                      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">
                        In-progress
                      </strong></td>
                    </tr>
                    
                    
                  {% endif %}  
                {% endif %} 

              </tbody>
            </table>

          
        {% endif %} 

        {% if data['app-state'] == "all" %}
          {{ mojPagination({
            items: [{
              text: '1',
              href: '/page=1',
              selected: true
            }, {
              text: '2',
              href: '/page=2',
              selected: false
            }, {
              text: '3',
              href: '/page=3'
            }, {
              type: 'dots'
            }, {
              text: '5',
              href: '/page=5'
            }],
            results: {
              count: 6,
              from: 1,
              to: 5,
              text: 'pages'
            },
            next: {
              text: 'Next'
              
            }
          }) }}   
        {% endif %}    
       
      </div>
      <div class="govuk-grid-column-one-third">
          
      </div>
    </div>

{% endblock %}