{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}


{% block pageTitle %}
  Your applications – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
{% endblock %}

{% block content %}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Your applications
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if data['first-use'] !== "no" and data['claims-state'] == "empty"  %}
          <p>You haven't claimed for anything yet. Press the big button to claim.</p>
          {{ govukButton({
            text: "Start a new application",
            href: "/provider/form/question-eligibility",
            isStartButton: true
          }) }}

          {% else %}

          
          {{ govukButton({
            text: "Start a new application",
            href: "/provider/form/question-eligibility",
            isStartButton: true
          }) }}
            <table class="govuk-table" data-module="moj-sortable-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" aria-sort="ascending">Application</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Elevation</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Continent</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">USN</th>
                </tr>
              </thead>
            
              <tbody class="govuk-table__body">

                {% if data['claims-state'] == "saved" %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="form/task-list?question1-org=complete&ufn=100323/342&laa-ref=LAA-1z5f7w" class="govuk-link--no-visited-state">100323/342</a></td>
                    <td class="govuk-table__cell" data-sort-value="6961">6,961 meters</td>
                    <td class="govuk-table__cell">South America</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1897">5001234</td>
                  </tr>

                  {% else %}
                  {% if data['claims-state'] == "all" %}
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a href="form/task-list?question1-org=complete&ufn=100323/342&laa-ref=LAA-1z5f7w" class="govuk-link--no-visited-state">100323/342</a></td>
                      <td class="govuk-table__cell" data-sort-value="6961">6,961 meters</td>
                      <td class="govuk-table__cell">South America</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1897">5001234</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a href="form/task-list?question1-org=complete&ufn=311222/002&laa-ref=LAA-9p4f0d" class="govuk-link--no-visited-state">311222/002</a></td>
                      <td class="govuk-table__cell" data-sort-value="6194">6,194 meters</td>
                      <td class="govuk-table__cell">North America</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="5001235">5001235</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Elbrus</td>
                      <td class="govuk-table__cell" data-sort-value="5642">5,642 meters</td>
                      <td class="govuk-table__cell">Europe</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="5001236">5001236</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Everest</td>
                      <td class="govuk-table__cell" data-sort-value="8850">8,850 meters</td>
                      <td class="govuk-table__cell">Asia</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="5001237">5001237</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Kilimanjaro</td>
                      <td class="govuk-table__cell" data-sort-value="5895">5,895 meters</td>
                      <td class="govuk-table__cell">Africa</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="5001238">5001238</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Puncak Jaya</td>
                      <td class="govuk-table__cell" data-sort-value="4884">4,884 meters</td>
                      <td class="govuk-table__cell">Australia</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="5001239">5001239</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Vinson</td>
                      <td class="govuk-table__cell" data-sort-value="4897">4,897 meters</td>
                      <td class="govuk-table__cell">Antarctica</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="5001240">5001240</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Vinson</td>
                      <td class="govuk-table__cell" data-sort-value="4897">4,897 meters</td>
                      <td class="govuk-table__cell">Antarctica</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="5001241">5001241</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Vinson</td>
                      <td class="govuk-table__cell" data-sort-value="4897">4,897 meters</td>
                      <td class="govuk-table__cell">Antarctica</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="5001242">5001242</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Vinson</td>
                      <td class="govuk-table__cell" data-sort-value="4897">4,897 meters</td>
                      <td class="govuk-table__cell">Antarctica</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="5001243">5001243</td>
                    </tr>
                  {% endif %}  
                {% endif %} 

              </tbody>
            </table>

          
        {% endif %} 

        {% if data['claims-state'] == "all" %}
          {{ mojPagination({
            items: [{
              text: '1',
              href: '/page=1',
              selected: true
            }, {
              text: '2',
              href: '/page=2',
              selected: false
            }, {
              text: '3',
              href: '/page=3'
            }, {
              type: 'dots'
            }, {
              text: '5',
              href: '/page=5'
            }],
            results: {
              count: 6,
              from: 1,
              to: 5,
              text: 'pages'
            },
            next: {
              text: 'Next'
              
            }
          }) }}   
        {% endif %}    
       
      </div>
      <div class="govuk-grid-column-one-third">
          
      </div>
    </div>

{% endblock %}