{% extends "layouts/main.html" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/"
  }) }}
{% endblock %}

{% block pageTitle %}
  LAA Online Portal – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">LAA Online Portal
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p>Welcome to the Online Portal. Please click a link below to access the application you require.</p>
        <p>If you experience any problems using the Online Portal, or would like to view guidance documents for the Online Portal, please click on the help link on this page.</p>
        <h2 class="govuk-heading-l">Online Applications:
        </h2>
        <p><a href="#" class="govuk-link--no-visited-state">Contracted Work and Administration, CWA</a></p>   
        <p>Submit crime lower, legal help level 1 and 2 claims, mediation claims, new matter starts and manage your online users and contacts.</p>
        <p><a href="#" rel="noreferrer noopener" target="_blank" class="govuk-link--no-visited-state">Claim a non-standard magistrates' court payment, previously CRM7 (opens in a new tab)</a></p>   
        <p>Submit a claim for a non-standard magistrates fee or for a breach of injunction. You can only use this service if you are part of the private pilot group.</p> 

        <p><a href="crm-start-now" rel="noreferrer noopener" target="_blank" class="govuk-link--no-visited-state">Apply for prior authority to incur disbursements, previously CRM4 (opens in a new tab)</a></p> 
        <p>Apply for prior authority to incur disbursements in criminal cases in relation to magistrates, crown and prison law work. You can only use this service if you are part of the private pilot group.</p>
        
      </div>
      <div class="govuk-grid-column-one-third">
        <table role="presentation" cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr align="center">
              <td><img src="/public/images/laa-update.png" width="300" ></td> 
            </tr>
          </tbody>
        </table>     
      </div>
    </div>

{% endblock %}