{% extends "layouts/main.html" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/"
  }) }}
{% endblock %}

{% block pageTitle %}
  LAA Online Portal – Non standard crime things - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Non standard crime things
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p>Some words go here</p>
        <h2 class="govuk-heading-s"><a href="nscc-office" class="govuk-link--no-visited-state">Apply for prior authority to incur disbursements, previously CRM4</a></h2>   
        <p>Apply for prior authority to incur disbursements in criminal cases in relation to magistrates, crown and prison law work. You can only use this service if you are part of the private pilot group.</p>      
        <h2 class="govuk-heading-s"><a href="#" class="govuk-link--no-visited-state">Apply for an extension of upper limits, previously CRM5</a></h2>   
        <p>Complete applications for solicitors to increase funding limits in invbestigations, appeals and parole matters for ongoing criminal cases.</p>        
        <h2 class="govuk-heading-s"><a href="#" class="govuk-link--no-visited-state">Claim a non-standard magistrates' court payment, previously CRM7 (opens in a new tab)</a></h2>   
        <p>Submit a claim for a non-standard magistrates fee or for a breach of injunction. You can only use this service if you are part of the private pilot group.</p>        
      </div>
    </div>

{% endblock %}