{% extends "layouts/main-latest.html" %}
{% set version = "latest-pa" %}
{% set activePrimeNav = [true, false] %}

{% block header %}
{% include version + "/includes/header-provider.html" %}
{% endblock %}

{% block pageTitle %}
Applications details: {{data['laa-ref'] or "LAA-5a7d3c"}} – {{ serviceName }} - GOV.UK
{% endblock %}


{% block beforeContent %}
{% include "includes/banner.html"%}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    

   
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Has the work been completed?</h1>

        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
              No
            </label>
          </div>
     
         
        </div>
      </fieldset>
    </div>


    {{ govukButton({
      text: "Continue",
      href: "appeal-enter",
      isStartButton: false
    }) }}
    </form>
  </div>
</div>


{% endblock %}