{% extends "layouts/main.html" %}
{% set version = "latest-pa" %}
{% set activePrimeNav = [true, false] %}
{% if data['Appeal'] == "Yes" %}
{% set activeAppNav = [false, true, false] %}
{% else %}
{% set activeAppNav = [false, true, false] %}
{% endif %}

{% block header %}
{% include version + "/includes/header-provider.html" %}
{% endblock %}

{% block pageTitle %}
Applications details: {{data['laa-ref'] or "LAA-5a7d3c"}} – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/banner.html"%}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<!-- The application was RFI, then part granted, then appealed, then RFI, then referred to ICA-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Application details
    </h1>
  </div>

  <!--Status of application-->

  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Application status</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">
              <p><strong class="govuk-tag govuk-tag--blue">Part granted</strong> <strong class="govuk-tag govuk-tag--light-blue">Appeal: resubmitted</strong></p>
              <p>29 June 2025</p>
              <p>Awaiting ICA decision</p>
              <p>£{{data['actualdistTotalCost'] or "640"}}.00 requested</p>
              <p>£480.00 allowed</p>
            </dd>
          </div>
        </dl>
      </div>

    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="subsection-title">Email the LAA case team</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link govuk-body-s govuk-link--no-visited-state"
            href="mailto:magsbilling@justice.gov.uk">magsbilling@justice.gov.uk</a>
        </li>
      </ul>

      <h2 class="govuk-heading-s" id="subsection-title">Print a PDF of this claim</h2>
      <p class="govuk-body-s">It will include the answers you input into this claim and its current status.</p>

      <a href="claim-details-print3" role="button" draggable="false" class="govuk-button govuk-button--secondary"
        data-module="govuk-button" data-govuk-button-init="">
        Create a printable PDF
      </a>

    </aside>
  </div>

  <div class="govuk-grid-column-two-thirds" id="nav">

    {{ mojSubNavigation({
    label: 'Sub navigation',
    items: [
    {
    text: 'Overview',
    href: 'application-details-4-submitted-rfi-ica#nav',
    active: + activeAppNav[0] | default('true')
    },
    {
    text: 'Appeal',
    href: 'application-details-4-submitted-rfi-appeal-ica#nav',
    active: + activeAppNav[1]
    },
    {
    text: 'Costs',
    href: 'application-details-adjusted#nav',
    active: + activeAppNav[2]
    }
    ]
    }) }}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-l" id="appeal-details">Appeal</h2>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Appealed 25 June 2025</h2>

          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Your appeal</dt>
                <dd class="govuk-summary-list__value">
                  <p>This expert is critical to the case and they are also the best dna expert in the land
                    available at short notice.</p><a class="govuk-link"
                    href="62a30fef-7908-42e2-9ea3-f9419ba0fa68">important-evidence.pdf</a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Decision being appealed</dt>
                <dd class="govuk-summary-list__value">
                  <p>This application was part granted due to unrealistic costs claimed and an unregulated provider. </p>

                </dd>
              </div>
            </dl>
          </div>
        </div>
        <h3 class="govuk-heading-m" id="updates">Updates</h3>
        <div class="govuk-inset-text">
          Referred to ICA 29 June 2025
        </div>
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h4 class="govuk-summary-card__title" id="review-further-info2">Further information request 28 June 2025
            </h4>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list ">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Information request
                </dt>
                <dd class="govuk-summary-list__value">
                  Please provide counsel's advice, providing information as to why further funding is necessary &amp;
                  ATTACH IT ELECTRONICALLY. CBAM 7.2.6a
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Provider response
                </dt>
                <dd class="govuk-summary-list__value">
                  Relevant documents attached as requested<br>
                  <a href="">courtDocs1.pdf</a><br>
                  <a href="">courtDocs2.pdf</a>
                </dd>
              </div>
            </dl>
          </div>
        </div>





      </div>

    </div>
  </div>
  {% endblock %}