{% extends "layouts/main.html" %}
{% set version = "latest-pa" %}
{% if data['cwAppStatus'] == "In progress"%}
  {% set activePrimeNav = [true, false, false, false, false] %}
  {% elseif data['cwAppStatus'] == "New" or data['cwAppStatus'] == "Returned" or data['cwAppStatus'] == "Review" %}
    {% set activePrimeNav = [false, false, true, false, false] %}
    {% else %}
    {% set activePrimeNav = [false, false, false, true, false] %}
{% endif %}
{% set activeAppNav = [false, false, true, false, false] %}

{% block header %}
  {% include version + "/includes/header-cw.html"%}
{% endblock %}

{% block pageTitle %}
  {{data['laa-ref'] or "LAA-5a7d3c"}} - Appeals – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block beforeContent %}
  {% include "/includes/banner.html"%}
  {% include version + "/includes/nav-prime-cw.html"%}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include version + "/includes/app-status-cw.html"%}
      {% include version + "/includes/nav-app-cw.njk"%}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">Appeals</h2>
        
      {% include version + "/includes/decision-details-cw.html"%}
    
      {% include version + "/includes/further-info-appeal-cw.html"%}
      {% include version + "/includes/application-buttons.html"%}

    </div>
  </div>

{% endblock %}