{% extends "layouts/main.html" %}
{% set version = "latest-pa" %}
{% if data['cwAppStatus'] == "In progress"%}
  {% set activePrimeNav = [true, false, false, false] %}
  {% else %}
  {% if data['cwAppStatus'] == "New" or data['cwAppStatus'] == "Returned" or data['cwAppStatus'] == "Review" %}
    {% set activePrimeNav = [false, true, false, false] %}
    {% else %}
    {% set activePrimeNav = [false, false, true, false] %}
  {% endif %}
{% endif %}

{% block header %}
  {% include version + "/includes/header-cw.html"%}
{% endblock %}

{% block pageTitle %}
  {{data['laa-ref'] or "LAA-5a7d3c"}} - Application details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block beforeContent %}
  {% include "/includes/banner.html"%}
  {% include version + "/includes/nav-prime-cw.html"%}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include version + "/includes/app-info.html"%}

      {{ mojSubNavigation({
        label: 'Sub navigation',
        items: [{
          text: 'Overview',
          href: 'application-details',
          active: true
        }, 
        {
          text: 'Adjust quote',
          href: 'application-details-adjust',
          active: false
        }, 
        {
          text: 'Related applications',
          href: 'application-details-related',
          active: false
        }, 
        {
          text: 'Application history',
          href: 'application-details-history',
          active: false
        }]
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">Overview</h2>
        
      {% include version + "/includes/app-status.html"%}

      <!--App dets-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Application details</h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Prison Law
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['prisonLaw'] or "No"}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                LAA reference
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['laa-ref'] or "LAA-5a7d3c"}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Unique file number
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['ufn'] or "100323/234234"}}
              </dd>
            </div>
          </dl>
        </div>
      </div>
      
      <!--About the request-->
      <h2 class="govuk-heading-m">About the request</h2>

      <!--Primary quote-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title" id="review-quote">Primary quote</h3>
        </div>
        <div class="govuk-summary-card__content">
          
          <dl class="govuk-summary-list govuk-!-margin-bottom-6">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Service required
              </dt>
              <dd class="govuk-summary-list__value">
                 {% if data['serviceType'] == "Other" %}
                  Other: {{data['otherExpert'] or "Driving instructor" }}
                  {% else %}
                  {{data['serviceType'] or "Interpreter"}}
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Service provider details
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['expert-first-name'] or "Joanna" }} {{data['expert-last-name'] or "White" }}<br>
                {{data['expert-org-name'] or "DNA Plc" }}, 
                {{data['expert-town'] or "Stepney"}},
                  {{data['expert-postcode'] or "E2"}}
              </dd>
            </div>
            {% if data['serviceType'] == "Pathologist's report" %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Post-mortem
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['postMortem'] or "Yes"}}
                </dd>
              </div>
            {% endif %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Quote upload
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="">myquote1.pdf</a>
              </dd>
            </div>
             {% if data['serviceType'] == "Psychiatric report (Prison Law)" or data['serviceType'] == "Psychological report (Prison Law)" or data['serviceType'] == "Interpreter" or  data['serviceType'] == null %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Ordered by court
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['courtOrdered'] or "Yes" }}
                </dd>
              </div>
             {% else %}
             
            {% endif %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Existing prior authority granted
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['existingAuth'] or "No"}}
              </dd>
            </div>
            {% if data['detained'] == "Yes" or data['prisonLaw'] == "Yes" %}
              {% else %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Why travel costs are required 
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['whyTravel'] or "The expert lives in Ireland"}}
                </dd>
              </div>
            {% endif %}
          </dl>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Cost type</th>
                <th scope="col" class="govuk-table__header">Amount</th>
                <th scope="col" class="govuk-table__header">Rate</th>
                <th scope="col" class="govuk-table__header">Total requested</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Service</td>
                {% if data['serviceType'] == "Transcription" %}
                  <td class="govuk-table__cell">20 minutes</td>
                  {% elseif data['serviceType'] == "Translation and transcription"%}
                  <td class="govuk-table__cell">20 minutes</td>
                  {% elseif data['serviceType'] == "Translation"%}
                  <td class="govuk-table__cell">20000 words</td>
                  {% elseif data['serviceType'] == "Photocopying"%}
                  <td class="govuk-table__cell">200 pages</td>
                  {% elseif data['serviceType'] == "Other" and data['otherChargeType'] =="Charged by the hour"%}
                  <td class="govuk-table__cell">2 hours 0 minutes</td>
                  {% elseif data['serviceType'] == "Other" %}
                  <td class="govuk-table__cell">2 items</td>
                  {% elseif data['serviceType'] == "DNA report" %}
                  <td class="govuk-table__cell">2 reports</td>
                  {% else %}
                  <td class="govuk-table__cell">2 hours 0 minutes</td>
                {% endif%}
                <td class="govuk-table__cell">£200.00</td>
                <td class="govuk-table__cell">£400.00</td>

              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Travel</td>
                {% if data['primaryTravel'] == "No" %}
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  {% else %}
                  <td class="govuk-table__cell">3 hours 0 minutes</td>
                  <td class="govuk-table__cell">£40.00</td>
                  <td class="govuk-table__cell">£120.00</td>
                {% endif %}

              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Waiting time</td>
                <td class="govuk-table__cell">1 hours 0 minutes</td>
                <td class="govuk-table__cell">£60.00</td>
                <td class="govuk-table__cell">£60.00</td>

              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Hotel</td>
                <td class="govuk-table__cell">1 item</td>
                {% if data['primaryTravel'] == "No" %}
                  <td class="govuk-table__cell">£180</td>
                  <td class="govuk-table__cell">£180.00</td>
                  {% else %}
                  <td class="govuk-table__cell">£60</td>
                  <td class="govuk-table__cell">£60.00</td>
                {% endif %}
              </tr>
            </tbody>
          </table> 

          <p><a href="application-details-adjust">Adust quote figures</a></p>   

        </div>
      </div>
      <!---Why PA required-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title" id="review-whypa"> Reason for prior authority</h3>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-!-margin-bottom-6">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Why prior authority is required
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['why-pa'] or "My client needs an interpreter" }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Supporting documents
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="">whyPADocs1.pdf</a><br>
                <a href="">whyPADocs2.pdf</a>
              </dd>
            </div>
          </dl>    
        </div>
      </div>

      <!--Alt quotes-->
      <!--Alt1-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title" id="review-altquote1">Alternative quote 1</h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-!-margin-bottom-6">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Service provider details
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['alt1Expert-first-name'] or "Jame"}} {{data['alt1Expert-last-name'] or "Jones"}}<br>
                {{data['alt1ExpertOrg'] or "Jones Law"}}, 
                {{data['alt1ExpertPostcode'] or "E1"}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Quote upload
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="">myquote1.pdf</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Additional items
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['alt1Descript'] or "None"}}
              </dd>
            </div>
          </dl>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Cost type</th>
                <th scope="col" class="govuk-table__header">Alternative quote</th>
                <th scope="col" class="govuk-table__header">Primary quote</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Service</td>
                <!--Service cost-->
                <td class="govuk-table__cell">
                  <!--Service cost-->
                   {% if data['serviceType'] == "Transcription" %}
                    £{{data['alt2actualTransTotalCost'] or "760"}}.00
                    {% elseif data['serviceType'] == "Translation and transcription" %}
                    £{{data['alt2actualTransTotalCost'] or "760"}}.00
                    {% elseif data['serviceType'] == "Translation" %}
                    £{{data['alt2actualTransTotalCost'] or "760"}}.00
                    {% elseif data['serviceType'] == "Photocopying" %}
                    £{{data['alt2actualTransTotalCost'] or "760"}}.00
                    {% elseif data['serviceType'] == "DNA report" %}
                    £{{data['alt2actualTransTotalCost'] or "760"}}.00
                    {% elseif data['serviceType'] == "Other" %}
                    £{{data['alt2actualTransTotalCost'] or "760"}}.00
                    {% else %}
                    £{{data['alt2actualTransTotalCost'] or "760"}}.00
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  {% if data['serviceType'] == "Transcription" %}
                    £{{data['alt2actualTransTotalCost'] or "400"}}.00
                    {% elseif data['serviceType'] == "Translation and transcription" %}
                    £{{data['alt2actualTransTotalCost'] or "400"}}.00
                    {% elseif data['serviceType'] == "Translation" %}
                    £{{data['alt2actualTransTotalCost'] or "400"}}.00
                    {% elseif data['serviceType'] == "Photocopying" %}
                    £{{data['alt2actualTransTotalCost'] or "400"}}.00
                    {% elseif data['serviceType'] == "DNA report" %}
                    £{{data['alt2actualTransTotalCost'] or "400"}}.00
                    {% elseif data['serviceType'] == "Other" %}
                    £{{data['alt2actualTransTotalCost'] or "400"}}.00
                    {% else %}
                    £{{data['alt2actualTransTotalCost'] or "400"}}.00
                  {% endif %}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Travel</td>
                <td class="govuk-table__cell">£{{data['actualalt1TravelTotal'] or "0"}}.00</td>
                <td class="govuk-table__cell">£{{data['actualTravelTotal'] or "120" }}.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Additional</td>
                <td class="govuk-table__cell">£{{data['alt1AddCost'] or "0"}}.00</td>
                <td class="govuk-table__cell">£{{data['actualaddFinalTotal'] or "120" }}.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table__header">Total cost</td>
                <td class="govuk-table__cell"><strong>£{{data['actualalt1TotalCost'] or "760"}}.00</strong></td>
                <td class="govuk-table__cell"><strong>£{{data['actualdistTotalCost'] or "640"}}.00</strong></td>
              </tr>          
            </tbody>
          </table>
        </div>
      </div>

      <!--Alt2-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Alternative quote 2</h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-!-margin-bottom-6">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Service provider details
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['alt2Expert-first-name'] or "Belinda"}} {{data['alt2Expert-last-name'] or "Cartright"}}<br>
                {{data['alt2ExpertOrg'] or "Cartright Ltd"}}, 
                {{data['alt2ExpertPostcode'] or "E2"}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Quote upload
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="">myquote2.pdf</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Additional items
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['alt2Descript'] or "None"}}
              </dd>
            </div>
          </dl>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Cost type</th>
                <th scope="col" class="govuk-table__header">Alternative quote</th>
                <th scope="col" class="govuk-table__header">Primary quote</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Service</td>
                <td class="govuk-table__cell">
                  <!--Service cost-->
                  {% if data['serviceType'] == "Transcription" %}
                    £{{data['alt2actualTransTotalCost'] or "825"}}.00
                    {% elseif data['serviceType'] == "Translation and transcription" %}
                    £{{data['alt2actualTransTotalCost'] or "825"}}.00
                    {% elseif data['serviceType'] == "Translation" %}
                    £{{data['alt2actualTransTotalCost'] or "825"}}.00
                    {% elseif data['serviceType'] == "Photocopying" %}
                    £{{data['alt2actualTransTotalCost'] or "825"}}.00
                    {% elseif data['serviceType'] == "DNA report" %}
                    £{{data['alt2actualTransTotalCost'] or "825"}}.00
                    {% elseif data['serviceType'] == "Other" %}
                    £{{data['alt2actualTransTotalCost'] or "825"}}.00
                    {% else %}
                    £{{data['alt2actualTransTotalCost'] or "825"}}.00
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  {% if data['serviceType'] == "DNA report" %}
                    £{{data['dnaCost'] or "400" }}.00
                    {% elseif data['serviceType'] == "Transcription" %}
                    £{{data['actualTransTotal'] or "400" }}.00
                    {% elseif data['serviceType'] == "Translation and transcription" %}
                    £{{data['actualTransTransTotal'] or "400" }}.00
                    {% elseif data['serviceType'] == "Translation" %} 
                    £{{data['actualTranslatorTotal'] or "400" }}.00
                    {% elseif data['serviceType'] == "Photocopying" %} 
                    £{{data['actualPhotoTotal'] or "400" }}.00
                    {% elseif data['serviceType'] == "Other" and data['otherChargeType'] =="Charged by the hour"%} 
                    £{{data['actualOtherTotal'] or "400" }}.00
                    {% elseif data['serviceType'] == "Other" and data['otherChargeType'] =="Charged per item"%} 
                    £{{data['actualOtherTotal'] or "400" }}.00
                    {% elseif data['serviceType'] !== "DNA report" %}
                    £{{data['actualGeneralTotal'] or "400" }}.00     
                  {% endif %}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Travel</td>
                <td class="govuk-table__cell">£{{data['actualalt2TravelTotal'] or "0"}}.00</td>
                <td class="govuk-table__cell">£{{data['actualTravelTotal'] or "120" }}.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Additional</td>
                <td class="govuk-table__cell">£{{data['alt2AddCost'] or "0"}}.00</td>
                <td class="govuk-table__cell">£{{data['actualaddFinalTotal'] or "120" }}.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table__header">Total cost</td>
                <td class="govuk-table__cell"><strong>£{{data['actualalt2TotalCost'] or "825"}}.00</strong></td>
                <td class="govuk-table__cell"><strong>£{{data['actualdistTotalCost'] or "640"}}.00</strong></td>
              </tr>
            </tbody>
          </table>  
        </div>
      </div>

      <!--Alt3-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Alternative quote 3</h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-!-margin-bottom-6">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Service provider details
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['alt3Expert-first-name'] or "Roger"}} {{data['alt3Expert-last-name'] or "Monied"}}<br>
                {{data['alt3ExpertOrg'] or "Moniedboy Ltd"}}, 
                {{data['alt3ExpertPostcode'] or "WC1"}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Quote upload
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="">myquote3.pdf</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Additional items
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['alt3Descript'] or "None"}}
              </dd>
            </div>
          </dl>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Cost type</th>
                <th scope="col" class="govuk-table__header">Alternative quote</th>
                <th scope="col" class="govuk-table__header">Primary quote</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Service</td>
                <td class="govuk-table__cell">
                  <!--Service cost-->
                   {% if data['serviceType'] == "Transcription" %}
                    £{{data['alt2actualTransTotalCost'] or "780"}}.00
                    {% elseif data['serviceType'] == "Translation and transcription" %}
                    £{{data['alt2actualTransTotalCost'] or "780"}}.00
                    {% elseif data['serviceType'] == "Translation" %}
                    £{{data['alt2actualTransTotalCost'] or "780"}}.00
                    {% elseif data['serviceType'] == "Photocopying" %}
                    £{{data['alt2actualTransTotalCost'] or "780"}}.00
                    {% elseif data['serviceType'] == "DNA report" %}
                    £{{data['alt2actualTransTotalCost'] or "780"}}.00
                    {% elseif data['serviceType'] == "Other" %}
                    £{{data['alt2actualTransTotalCost'] or "780"}}.00
                    {% else %}
                    £{{data['alt2actualTransTotalCost'] or "780"}}.00
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  {% if data['serviceType'] == "Transcription" %}
                    £{{data['alt2actualTransTotalCost'] or "400"}}.00
                    {% elseif data['serviceType'] == "Translation and transcription" %}
                    £{{data['alt2actualTransTotalCost'] or "400"}}.00
                    {% elseif data['serviceType'] == "Translation" %}
                    £{{data['alt2actualTransTotalCost'] or "400"}}.00
                    {% elseif data['serviceType'] == "Photocopying" %}
                    £{{data['alt2actualTransTotalCost'] or "400"}}.00
                    {% elseif data['serviceType'] == "DNA report" %}
                    £{{data['alt2actualTransTotalCost'] or "400"}}.00
                    {% elseif data['serviceType'] == "Other" %}
                    £{{data['alt2actualTransTotalCost'] or "400"}}.00
                    {% else %}
                    £{{data['alt2actualTransTotalCost'] or "400"}}.00
                  {% endif %}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Travel</td>
                <td class="govuk-table__cell">£{{data['actualalt3TravelTotal'] or "0"}}.00</td>
                <td class="govuk-table__cell">£{{data['actualTravelTotal'] or "120" }}.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Additional</td>
                <td class="govuk-table__cell">£{{data['alt3AddCost'] or "0"}}.00</td>
                <td class="govuk-table__cell">£{{data['actualaddFinalTotal'] or "120" }}.00</td>
              </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-table__header">Total cost</td>
                  <td class="govuk-table__cell"><strong>£{{data['actualalt3TotalCost'] or "780"}}.00</strong></td>
                  <td class="govuk-table__cell"><strong>£{{data['actualdistTotalCost'] or "640"}}.00</strong></td>
                </tr>
            </tbody>
          </table>  
        </div>
      </div>

       <!--About the case-->
      <h2 class="govuk-heading-m">About the case </h2>

      <!--Client details-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title" id="review-client">Client details</h3>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <!--For the proto make links show as not yet selected until the user does the action
              {% if data['reviewClient'] == "review" %}
                <a class="govuk-link" href="review-client?reviewClient=review">Review<span class="govuk-visually-hidden"> client details</span></a>
                {% else %}
                <a class="govuk-link--no-visited-state" href="review-client?reviewClient=review">Review<span class="govuk-visually-hidden"> client details</span></a>
              {% endif %} 
              -->
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          {% if data['cwAppStatus'] == "Returned" %}
            <div class="govuk-inset-text">
              <strong>Amended by provider</strong>
            </div>
          {% endif %}
          {% if data['fieldClient'] == null or data['fieldClient'] == "" %}
            {% else %}
            <div class="govuk-inset-text">
              <strong>Incorrect information:</strong><br>
              {{data['fieldClient']}} <br>
            </div>
          {% endif %}
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Client name
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['client-first-name'] or "Roger" }} {{data['client-last-name'] or "Blackbeard" }}<br>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['client-dob-day'] or "10" }} {{data['client-dob-month'] or "May" }} {{data['client-dob-year'] or "2001" }}
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <!--Case details-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">Case details</h3>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <!--For the proto make links show as not yet selected until the user does the action
              {% if data['reviewCase'] == "review" %}
                <a class="govuk-link" href="review-case?reviewCase=review">Review<span class="govuk-visually-hidden"> case details</span></a>
                {% else %}
                <a class="govuk-link--no-visited-state" href="review-case?reviewCase=review">Review<span class="govuk-visually-hidden"> case details</span></a>
              {% endif %}
              --> 
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
           {% if data['fieldCase'] == null or data['fieldCase'] == "" %}
            {% else %}
            <div class="govuk-inset-text">
              <strong>Incorrect information:</strong><br>
              {{data['fieldCase']}}
            </div>
          {% endif %}
          
          <dl class="govuk-summary-list">
            
            {% if data['prisonLaw'] == "Yes" %}
              <!--If YES to Prison Law--->
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Subject to POCA
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['poca'] or "Yes" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of next hearing
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['date-hearing-day'] or "23" }} {{data['date-hearing-month'] or "September" }} {{data['date-hearing-year'] or "2024" }}
                </dd>
              </div>
              {% else %}
              <!--If prison law is NO-->
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Main offence
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['main-offence'] or "Anti-social behaviour orders (for applications made prior to 23rd March 2015)" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of representation order
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['rep-order-day'] or "19" }} {{data['rep-order-month'] or "April" }} {{data['rep-order-year'] or "2023" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  MAAT ID number
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['maat'] or "12345678" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Client detained
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if data['detained'] == "Yes" %}
                    {{data['prisons'] or "Belmarsh" }}
                    {% else %}
                    No
                  {% endif %}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Subject to POCA
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['poca'] or "Yes"}}
                </dd>
              </div>
            {% endif %}
          </dl>
        </div>
      </div>

      <!--Hearing details-->
      {% if data['prisonLaw'] == "No" or data['prisonLaw'] == null %}
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Hearing details</h3>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <!--For the proto make links show as not yet selected until the user does the action
                {% if data['reviewHearing'] == "review" %}
                  <a class="govuk-link" href="review-hearing?reviewHearing=review">Review<span class="govuk-visually-hidden"> hearing details</span></a>
                  {% else %}
                  <a class="govuk-link--no-visited-state" href="review-hearing?reviewHearing=review">Review<span class="govuk-visually-hidden"> hearing details</span></a>
                {% endif %} 
                -->
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            {% if data['fieldHearing'] == null or data['fieldHearing'] == "" %}
              {% else %}
              <div class="govuk-inset-text">
                <strong>Incorrect information:</strong><br>
                {{data['fieldHearing']}}
              </div>
            {% endif %}
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of next hearing
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['date-hearing-day'] or "12"}} {{data['date-hearing-month'] or "July"}} {{data['date-hearing-year'] or "2024"}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Likely or actual plea 
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['plea'] or "Not guilty" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Court type
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['courtType'] or "Central Criminal Court" }}
                </dd>
              </div>
              {% if data['courtType'] == "Magistrates' court" %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Youth court matter
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['youthCourt'] or "No"}}
                  </dd>
                </div>
                {% else %}
                {% if data['courtType'] == null %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Psychiatric liaison service accessed
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{data['psychLiaison'] or "No"}}
                    </dd>
                  </div>
                  {% if data['psychLiaison'] == "Yes" %}
                    {% else %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Why not?
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{data['psychmoreDetail'] or "Not required" }}
                      </dd>
                    </div>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
          </dl>
        </div>
      {% endif %}

      <h2 class="govuk-heading-m">Contact details</h2>
      <!--Case contact-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">Case contact</h3>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <!--For the proto make links show as not yet selected until the user does the action
              {% if data['reviewSolicitor'] == "review" %}
                <a class="govuk-link" href="review-solicitor?reviewSolicitor=review">Review<span class="govuk-visually-hidden"> your details</span></a>
                {% else %}
                <a class="govuk-link--no-visited-state" href="review-solicitor?reviewSolicitor=review">Review<span class="govuk-visually-hidden"> your details</span></a>
              {% endif %} 
              -->
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          {% if data['fieldSolicitor'] == null or data['fieldSolicitor'] == "" %}
            {% else %}
            <div class="govuk-inset-text">
              <strong>Incorrect information:</strong><br>
              {{data['fieldSolicitor']}}
            </div>
          {% endif %}
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Case contact
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['contact-first-name'] or "Jim" }} {{data['contact-last-name'] or "Bowen" }}<br>
                {{data['contact-email'] or "Jim@Bowen.com" }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Firm details
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['org-name'] or "Crime Busters Legal" }}<br> 
                {{data['org-acc'] or "1A3B23E4" }}
              </dd>
            </div>
          </dl>
        </div>
      </div>

     
      {% include version + "/includes/further-info-cw.html"%}
      {% include version + "/includes/application-buttons.html"%}

    </div>
  </div>

{% endblock %}