{% extends "layouts/main.html" %}
{% set version = "latest-pa" %}
{% if data['cwAppStatus'] == "In progress"%}
  {% set activePrimeNav = [true, false, false, false, false] %}
  {% elseif data['cwAppStatus'] == "Granted" or data['cwAppStatus'] == "Part granted" or data['cwAppStatus'] == "Rejected" or data['cwAppStatus'] == "Expired" or data['cwAppStatus'] == "Auto granted" %}
    {% set activePrimeNav = [false, false, false, true, false] %}
  {% elseif data['Appeal'] == "Yes" %}
    {% set activePrimeNav = [false, false, true, false, false] %}
  {% else %}
    {% set activePrimeNav = [false, true, false, false, false] %}
{% endif %}
{% set activeAppNav = [false, true, false, false, false] %}

{% block header %}
  {% include version + "/includes/header-cw.html"%}
{% endblock %}

{% block pageTitle %}
  {{data['laa-ref'] or "LAA-5a7d3c"}} - Application details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
  {% include "/includes/banner.html"%}
  {% include version + "/includes/nav-prime-cw.html"%}
  {{ govukBackLink({
    text: "Back to application",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Appeal 2 May 2025 </h1>
    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [
      {
        text: 'Appeal details',
        href: 'application-details-appeal-previous',
        active: false
      }, 
      {
        text: 'Allowed costs',
        href: 'application-details-adjust-previous',
        active: true
      }
      ]
    }) }}

    <h2 class="govuk-heading-l" id="allowed">Allowed costs</h2>

    <h3 class="govuk-heading-m">{{data['serviceType'] or "Interpreter"}} cost</h3>

    {% if data['serviceType'] == "Transcription" %}
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Details</th>
            <th scope="col" class="govuk-table__header">Requested</th>
            <th scope="col" class="govuk-table__header">Allowed</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Amount</td>
            <td class="govuk-table__cell">20 minutes</td>
            <td class="govuk-table__cell">20 minutes</td>
          </tr>
            <tr class="govuk-table__row">
            <td class="govuk-table__cell">Rate</td>
            <td class="govuk-table__cell">£20.00 per minute</td>
           <td class="govuk-table__cell">£20.00 per minute</td>
          </tr>
            <tr class="govuk-table__row">
            <td class="govuk-table__cell">Total</td>
            <td class="govuk-table__cell">£400.00</td>
            <td class="govuk-table__cell">£400.00</td>
          </tr>
        </tbody>
      </table>
      <p><a href="change-service">Adjust service costs</a></p>

      {% elseif data['serviceType'] == "Translation and transcription" %}
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Requested</th>
              <th scope="col" class="govuk-table__header">Allowed</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Amount</td>
              <td class="govuk-table__cell">20 minutes</td>
              <td class="govuk-table__cell">20 minutes</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Rate</td>
              <td class="govuk-table__cell">£20.00 per minute</td>
              <td class="govuk-table__cell">£20.00 per minute</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Total</td>
              <td class="govuk-table__cell">£400.00</td>
              <td class="govuk-table__cell">£400.00</td>
            </tr>
          </tbody>
        </table>
        <p><a href="change-service">Adjust service costs</a></p>

      {% elseif data['serviceType'] == "Translation" %} 
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Requested</th>
              <th scope="col" class="govuk-table__header">Allowed</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Amount</td>
              <td class="govuk-table__cell">20000 words</td>
              <td class="govuk-table__cell">20000 words</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Rate</td>
              <td class="govuk-table__cell">£20.00 per 1000 words</td>
              <td class="govuk-table__cell">£20.00 per 1000 words</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Total</td>
              <td class="govuk-table__cell">£400.00</td>
              <td class="govuk-table__cell">£400.00</td>
            </tr>
          </tbody>
        </table>

      {% elseif data['serviceType'] == "Photocopying" %} 
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Requested</th>
              <th scope="col" class="govuk-table__header">Allowed</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Amount</td>
              <td class="govuk-table__cell">20 words</td>
              <td class="govuk-table__cell">20 words</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Rate</td>
              <td class="govuk-table__cell">£20.00 per word</td>
              <td class="govuk-table__cell">£20.00 per word</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Total</td>
              <td class="govuk-table__cell">£400.00</td>
              <td class="govuk-table__cell">£400.00</td>
            </tr>
          </tbody>
        </table>
        <p><a href="change-service">Adjust service costs</a></p>

      {% elseif data['serviceType'] == "Other" and  data['otherChargeType'] =="Charged by the hour"%} 
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Requested</th>
              <th scope="col" class="govuk-table__header">Allowed</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Amount</td>
              <td class="govuk-table__cell">2 hours 0 minutes</td>
              <td class="govuk-table__cell">2 hours 0 minutes</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Rate</td>
              <td class="govuk-table__cell">£200 per hour</td>
              <td class="govuk-table__cell">£200 per hour</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Total</td>
              <td class="govuk-table__cell">£400.00</td>
              <td class="govuk-table__cell">£400.00</td>
            </tr>
          </tbody>
        </table>
        <p><a href="change-service">Adjust service costs</a></p>

      {% elseif data['serviceType'] == "Other"%} 

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Requested</th>
              <th scope="col" class="govuk-table__header">Allowed</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Amount</td>
              <td class="govuk-table__cell">2 items</td>
              <td class="govuk-table__cell">2 items</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Rate</td>
              <td class="govuk-table__cell">£200.00 per item</td>
              <td class="govuk-table__cell">£200.00 per item</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Total</td>
              <td class="govuk-table__cell">£400.00</td>
              <td class="govuk-table__cell">£400.00</td>
            </tr>
          </tbody>
        </table>
        <p><a href="change-service">Adjust service costs</a></p>

      {% elseif data['serviceType'] == "DNA report" %}
        <!--All other service types-->
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Requested</th>
              <th scope="col" class="govuk-table__header">Allowed</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Amount</td>
              <td class="govuk-table__cell">1 report</td>
              <td class="govuk-table__cell">1 report</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Rate</td>
              <td class="govuk-table__cell">£400 per report</td>
              <td class="govuk-table__cell">£400 per report</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Total</td>
              <td class="govuk-table__cell">£400.00</td>
              <td class="govuk-table__cell">£400.00</td>
            </tr>
          </tbody>
        </table>
                  
      {% else %}
      <!--All other service types-->
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Details</th>
            <th scope="col" class="govuk-table__header">Requested</th>
            <th scope="col" class="govuk-table__header">Allowed</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Amount</td>
            <td class="govuk-table__cell">2 hour 0 minutes</td>
            <td class="govuk-table__cell">2 hour 0 minutes</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Rate</td>
            <td class="govuk-table__cell">£200 per hour</td>
            <td class="govuk-table__cell">£200 per hour</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Total</td>
            <td class="govuk-table__cell">£400.00</td>
            <td class="govuk-table__cell">£400.00</td>
          </tr>
        </tbody>
      </table>
    {% endif %}

    <h3 class="govuk-heading-m">Travel cost</h3>
    <div class="govuk-inset-text">
      {{data['travelAdjust'] or "Travel is not allowable for this type of expert"}}
    </div>

    <p>Reason for travel cost: The expert lives in Ireland</p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Details</th>
          <th scope="col" class="govuk-table__header">Requested</th>
          <th scope="col" class="govuk-table__header">Allowed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Amount</td>
          <td class="govuk-table__cell">3 hours 0 minutes</td>
          <td class="govuk-table__cell">3 hours 0 minutes</td>
        </tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rate</td>
          <td class="govuk-table__cell">£40.00 per hour</td>
          <td class="govuk-table__cell">£40.00 per hour</td>
        </tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">Total</td>
          <td class="govuk-table__cell">£120.00</td>
          <td class="govuk-table__cell">£120.00</td>
        </tr>
      </tbody>
    </table>

    <h3 class="govuk-heading-m">Additional cost 1</h3>
    <p>Cost description: Waited at police station for client to be interviewed"</p>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Details</th>
          <th scope="col" class="govuk-table__header">Requested</th>
          <th scope="col" class="govuk-table__header">Allowed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Amount</td>
          <td class="govuk-table__cell">1 hours 0 minutes</td>
          <td class="govuk-table__cell">1 hours 0 minutes</td>
        </tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rate</td>
          <td class="govuk-table__cell">£60.00 per hour</td>
          <td class="govuk-table__cell">£60.00 per hour</td>
        </tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">Total</td>
          <td class="govuk-table__cell">£60.00</td>
          <td class="govuk-table__cell">£60.00</td>
        </tr>
        </tbody>
    </table>

    <h3 class="govuk-heading-m">Additional cost 2</h3>
    <p>Cost description: The expert traveled from Ireland and was unable to return the same day.</p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Details</th>
          <th scope="col" class="govuk-table__header">Requested</th>
          <th scope="col" class="govuk-table__header">Allowed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Amount</td>
          <td class="govuk-table__cell">1 item</td>
          <td class="govuk-table__cell">1 item</td>
        </tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rate</td>
          <td class="govuk-table__cell">£60.00 per hour</td>
          <td class="govuk-table__cell">£60.00 per hour</td>
        </tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">Total</td>
          <td class="govuk-table__cell">£60.00</td>
          <td class="govuk-table__cell">£60.00</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}