{% extends "layouts/main.html" %}
{% set version = "latest-pa" %}
{% if data['cwAppStatus'] == "In progress"%}
  {% set activePrimeNav = [true, false, false, false, false] %}
  {% elseif data['cwAppStatus'] == "Granted" or data['cwAppStatus'] == "Part granted" or data['cwAppStatus'] == "Rejected" or data['cwAppStatus'] == "Expired" %}
    {% set activePrimeNav = [false, false, false, true, false] %}
  {% elseif data['Appeal'] == "Yes" %}
    {% set activePrimeNav = [false, false, true, false, false] %}
  {% else %}
    {% set activePrimeNav = [false, true, false, false, false] %}
{% endif %}
{% set activeAppNav = [false, false, true, false, false] %}

{% block header %}
  {% include version + "/includes/header-cw.html"%}
{% endblock %}

{% block pageTitle %}
  {{data['laa-ref'] or "LAA-5a7d3c"}} - Appeal – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
  {% include "/includes/banner.html"%}
  {% include version + "/includes/nav-prime-cw.html"%}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include version + "/includes/app-status-cw.html"%}
    {% include version + "/includes/nav-app-cw.njk"%}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l" id="appeal-details">Appeal details</h2>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h4 class="govuk-summary-card__title" id="review-provider-appeal">Appeal 18 May 2025</h4>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-6">
          <!--
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Appeal decision
            </dt>
            <dd class="govuk-summary-list__value">
             <p>Part granted 7 May 2025</p>
            <p>This application was part granted due to disallowed travel costs. The new submission does not materially change the requirement for travel.</p>
            <p><a href="application-details-adjust-previous#allowed" class="govuk-link--no-visited-state">Review allowed costs</a></p> 
            </dd>
          </div>
          -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Provider evidence
            </dt>
            <dd class="govuk-summary-list__value">
              <p>I still disagree with the part grant of my application and have provided further evidence to prove the need for travel cost.
              </p>
              <ul class="govuk-list">
                <li><a href="">even-more-evidence.pdf</a></li>
              </ul>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Appealed decision
            </dt>
            <dd class="govuk-summary-list__value">
              <p>Part granted 7 May 2025</p>
              <p>Appeal: this application was part granted due to disallowed travel costs. The new submission does not materially change the requirement for travel.</p>
              <p><a href="application-details-adjust-previous" class="govuk-link--no-visited-state">Review appeal</a></p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Previous appeals
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list">
                <li><a href="application-details-appeal-previous">Appeal 2 May 2025</a></li>
                <li><a href="">Appeal 14 April 2025</a></li>
              </ul>
            </dd>
          </div>
        </dl>       
      </div>
    </div>

    {% include version + "/includes/further-info-appeal-cw.html"%}
    {% include version + "/includes/application-buttons.html"%}

  </div>
</div>

{% endblock %}