{% extends "layouts/main-latest.html" %}
{% set version = "latest-pa" %}
{% if data['cwAppStatus'] == "In progress"%}
  {% set activePrimeNav = [true, false, false, false, false] %}
  {% elseif data['cwAppStatus'] == "Granted" or data['cwAppStatus'] == "Part granted" or data['cwAppStatus'] == "Rejected" or data['cwAppStatus'] == "Expired" or data['cwAppStatus'] == "Auto granted" %}
    {% set activePrimeNav = [false, false, false, true, false] %}
  {% elseif data['Appeal'] == "Yes" %}
    {% set activePrimeNav = [false, false, true, false, false] %}
  {% else %}
    {% set activePrimeNav = [false, true, false, false, false] %}
{% endif %}
{% set activeAppNav = [false, true, false, false, false] %}

{% block header %}
  {% include version + "/includes/header-cw.html" %}
{% endblock %}

{% block pageTitle %}
  {{data['laa-ref'] or "LAA-5a7d3c"}} - Application details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
  {% include "includes/banner.html"%}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include version + "/includes/app-status-cw.html"%}
      {% include version + "/includes/nav-app-cw.njk"%}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-l">Costs</h2>

      {% include version + "/includes/adjust-info.html"%}

      {% set appealCurrentCostHtml %}

       
        {% include version + "/includes/adjust-costs-readonly.html" %}
      {% endset%}

      {% set appealMayCostHtml %}
        <h3 class="govuk-heading-m">Appeal 2 May 2025</h3> 
        <ul class="govuk-list">
          <li>Requested: £640.00</li>
          <li>Allowed: £520.00</li>
        </ul>
        <h4 class="govuk-heading-s">Service costs</h4>
        <div class="govuk-inset-text">
          {{data['serviceAdjustField'] or "Adjusted the allowed hours" }}
        </div>

        <p>Service: {{data['serviceType'] or "Interpreter"}}</p>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Requested</th>
              <th scope="col" class="govuk-table__header">Allowed</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% if data['serviceType'] == "Transcription" %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Amount</td>
                <td class="govuk-table__cell">20 minutes</td>
                <td class="govuk-table__cell">20 minutes</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rate</td>
                <td class="govuk-table__cell">£20.00 per minute</td>
                <td class="govuk-table__cell">£20.00 per minute</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Total</td>
                <td class="govuk-table__cell">£400.00</td>
                <td class="govuk-table__cell">£400.00</td>
              </tr>
              {% elseif data['serviceType'] == "Translation and transcription" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Amount</td>
                  <td class="govuk-table__cell">20 minutes</td>
                  <td class="govuk-table__cell">20 minutes</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Rate</td>
                  <td class="govuk-table__cell">£20.00 per minute</td>
                  <td class="govuk-table__cell">£20.00 per minute</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Total</td>
                  <td class="govuk-table__cell">£400.00</td>
                  <td class="govuk-table__cell">£400.00</td>
                </tr>
              {% elseif data['serviceType'] == "Translation" %} 
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Amount</td>
                  <td class="govuk-table__cell">20000 words</td>
                  <td class="govuk-table__cell">20000 words</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Rate</td>
                  <td class="govuk-table__cell">£20.00 per 1000 words</td>
                  <td class="govuk-table__cell">£20.00 per 1000 words</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Total</td>
                  <td class="govuk-table__cell">£400.00</td>
                  <td class="govuk-table__cell">£400.00</td>
                </tr>

              {% elseif data['serviceType'] == "Photocopying" %} 
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Amount</td>
                  <td class="govuk-table__cell">20 pages</td>
                  <td class="govuk-table__cell">20 pages</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Rate</td>
                  <td class="govuk-table__cell">£20.00 per page</td>
                  <td class="govuk-table__cell">£20.00 per page</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Total</td>
                  <td class="govuk-table__cell">£400.00</td>
                  <td class="govuk-table__cell">£400.00</td>
                </tr>

              {% elseif data['serviceType'] == "Other" and data['otherChargeType'] =="Charged by the hour"%} 
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Amount</td>
                  <td class="govuk-table__cell">2 hours 0 minutes</td>
                 <td class="govuk-table__cell">2 hours 0 minutes</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Rate</td>
                  <td class="govuk-table__cell">£200 per hour</td>
                  <td class="govuk-table__cell">£200 per hour</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Total</td>
                  <td class="govuk-table__cell">£400.00</td>
                  <td class="govuk-table__cell">£400.00</td>
                </tr>

              {% elseif data['serviceType'] == "Other"%} 
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Amount</td>
                  <td class="govuk-table__cell">2 items</td>
                  <td class="govuk-table__cell">2 items</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Rate</td>
                  <td class="govuk-table__cell">£200.00 per item</td>
                  <td class="govuk-table__cell">£200.00 per item</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Total</td>
                  <td class="govuk-table__cell">£400.00</td>
                  <td class="govuk-table__cell">£400.00</td>
                </tr>

              {% elseif data['serviceType'] == "DNA report" %}
                <!--All other service types-->
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Amount</td>
                  <td class="govuk-table__cell">1 report</td>
                  <td class="govuk-table__cell">1 report</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Rate</td>
                  <td class="govuk-table__cell">£400 per report</td>
                  <td class="govuk-table__cell">£400 per report</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Total</td>
                  <td class="govuk-table__cell">£400.00</td>
                  <td class="govuk-table__cell">£400.00</td>
                </tr>

              {% else %}
                <!--All other service types-->
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Amount</td>
                  <td class="govuk-table__cell">2 hour 0 minutes</td>
                  <td class="govuk-table__cell">2 hour 0 minutes</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Rate</td>
                  <td class="govuk-table__cell">£200 per hour</td>
                  <td class="govuk-table__cell">£200 per hour</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Total</td>
                  <td class="govuk-table__cell">£400.00</td>
                  <td class="govuk-table__cell">£400.00</td>
                </tr>
            {% endif %}
          </tbody>
        </table>

        <h4 class="govuk-heading-s">Travel costs</h4> 
        {% if data['primaryTravel'] =="No"%}
          <p>No travel costs were added</p>
          {% else %}      
            <div class="govuk-inset-text">
              Travel costs not allowed for this service
            </div>

            <p>Reason for travel cost: The expert lives in Ireland</p>
        
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Details</th>
                  <th scope="col" class="govuk-table__header">Requested</th>
                  <th scope="col" class="govuk-table__header">Allowed</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Amount</td>
                  <td class="govuk-table__cell">3 hours 0 minutes</td> 
                  <td class="govuk-table__cell">0 hours 0 minutes</td> 
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Rate</td>
                  <td class="govuk-table__cell">£40.00 per hour</td> 
                  <td class="govuk-table__cell">£40.00 per hour</td> 
                </tr>
                  <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Total</td>
                  <td class="govuk-table__cell">£120.00</td> 
                  <td class="govuk-table__cell">£0.00</td> 
                </tr>
              </tbody>
            </table>
        {% endif %}

        <h4 class="govuk-heading-s" id="add1ID">Adjust additional cost 1</h4>

        {% if data['addAdd'] =="0" %}
          <p>No additional costs added</p>
          <!----<div class="govuk-button-group">
            {{ govukButton({
              text: "Adjust additional cost",
              href: "change-additionalCost1",
              classes: "govuk-button--secondary"
            }) }}
          </div>
          --->
          {% else %}

            <div class="govuk-inset-text">
              {{data['addCost1Adjust'] or "Waiting rate reduced accordingly."}}
            </div>
          <p>Cost description: "{{data['addCost1'] or "Waiting time"}} - {{data['whyAdd1'] or "Waited at police station for client to be interviewed"}}"</p>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Details</th>
                <th scope="col" class="govuk-table__header">Requested</th>
                <th scope="col" class="govuk-table__header">Allowed</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Amount</td>
                <td class="govuk-table__cell">3 hours 0 minutes</td>
                <td class="govuk-table__cell">3 hours 0 minutes</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rate</td>
                <td class="govuk-table__cell">£40.00 per hour</td>
                <td class="govuk-table__cell">£40.00 per hour</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Total</td>
                <td class="govuk-table__cell">£120.00</td>
                <td class="govuk-table__cell">£120.00</td>
              </tr>
            </tbody>
          </table>
            
        {% endif %}
      {% endset%}

      {% set appealAprilCostHtml %}
        <h3 class="govuk-heading-m">Application 10 April 2025</h3> 
        <ul class="govuk-list">
          <li>Requested: £640.00</li>
          <li>Allowed: £480.00</li>
        </ul>
       
        <!-- <table class="govuk-table">
          <caption class="govuk-visually-hidden">Requested and allowed costs</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Cost type</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Requested</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Allowed</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Service - rate 1</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£200.00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£200.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Service - rate 2</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£200.00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£200.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Travel</td>
              {% if data['primaryTravel'] == "No" %}
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                {% else %}
                <td class="govuk-table__cell govuk-table__cell--numeric">£120.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£120.00</td>
              {% endif %}

            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Waiting time</td>
              
              <td class="govuk-table__cell govuk-table__cell--numeric">£60.00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£60.00</td>
            </tr>
              <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" colspan="1">Total</th>
              <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Sum of total requested: </span><strong>£640.00</strong></td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Sum of total requested: </span><strong>£480.00</strong></td>
            </tr>
          </tbody>
        </table> 
        -->
        <h4 class="govuk-heading-s">Service costs</h4>
        <div class="govuk-inset-text">
          {{data['serviceAdjustField'] or "Adjusted the allowed hours" }}
        </div>

        <p>Service: {{data['serviceType'] or "Interpreter"}}</p>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Requested</th>
              <th scope="col" class="govuk-table__header">Allowed</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% if data['serviceType'] == "Transcription" %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Amount</td>
                <td class="govuk-table__cell">20 minutes</td>
                <td class="govuk-table__cell">20 minutes</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rate</td>
                <td class="govuk-table__cell">£20.00 per minute</td>
                <td class="govuk-table__cell">£20.00 per minute</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Total</td>
                <td class="govuk-table__cell">£400.00</td>
                <td class="govuk-table__cell">£400.00</td>
              </tr>
              {% elseif data['serviceType'] == "Translation and transcription" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Amount</td>
                  <td class="govuk-table__cell">20 minutes</td>
                  <td class="govuk-table__cell">20 minutes</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Rate</td>
                  <td class="govuk-table__cell">£20.00 per minute</td>
                  <td class="govuk-table__cell">£20.00 per minute</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Total</td>
                  <td class="govuk-table__cell">£400.00</td>
                  <td class="govuk-table__cell">£400.00</td>
                </tr>
              {% elseif data['serviceType'] == "Translation" %} 
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Amount</td>
                  <td class="govuk-table__cell">20000 words</td>
                  <td class="govuk-table__cell">20000 words</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Rate</td>
                  <td class="govuk-table__cell">£20.00 per 1000 words</td>
                  <td class="govuk-table__cell">£20.00 per 1000 words</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Total</td>
                  <td class="govuk-table__cell">£400.00</td>
                  <td class="govuk-table__cell">£400.00</td>
                </tr>

              {% elseif data['serviceType'] == "Photocopying" %} 
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Amount</td>
                  <td class="govuk-table__cell">20 pages</td>
                  <td class="govuk-table__cell">20 pages</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Rate</td>
                  <td class="govuk-table__cell">£20.00 per page</td>
                  <td class="govuk-table__cell">£20.00 per page</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Total</td>
                  <td class="govuk-table__cell">£400.00</td>
                  <td class="govuk-table__cell">£400.00</td>
                </tr>

              {% elseif data['serviceType'] == "Other" and data['otherChargeType'] =="Charged by the hour"%} 
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Amount</td>
                  <td class="govuk-table__cell">2 hours 0 minutes</td>
                 <td class="govuk-table__cell">2 hours 0 minutes</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Rate</td>
                  <td class="govuk-table__cell">£200 per hour</td>
                  <td class="govuk-table__cell">£200 per hour</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Total</td>
                  <td class="govuk-table__cell">£400.00</td>
                  <td class="govuk-table__cell">£400.00</td>
                </tr>

              {% elseif data['serviceType'] == "Other"%} 
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Amount</td>
                  <td class="govuk-table__cell">2 items</td>
                  <td class="govuk-table__cell">2 items</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Rate</td>
                  <td class="govuk-table__cell">£200.00 per item</td>
                  <td class="govuk-table__cell">£200.00 per item</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Total</td>
                  <td class="govuk-table__cell">£400.00</td>
                  <td class="govuk-table__cell">£400.00</td>
                </tr>

              {% elseif data['serviceType'] == "DNA report" %}
                <!--All other service types-->
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Amount</td>
                  <td class="govuk-table__cell">1 report</td>
                  <td class="govuk-table__cell">1 report</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Rate</td>
                  <td class="govuk-table__cell">£400 per report</td>
                  <td class="govuk-table__cell">£400 per report</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Total</td>
                  <td class="govuk-table__cell">£400.00</td>
                  <td class="govuk-table__cell">£400.00</td>
                </tr>

              {% else %}
                <!--All other service types-->
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Amount</td>
                  <td class="govuk-table__cell">2 hour 0 minutes</td>
                  <td class="govuk-table__cell">2 hour 0 minutes</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Rate</td>
                  <td class="govuk-table__cell">£200 per hour</td>
                  <td class="govuk-table__cell">£200 per hour</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Total</td>
                  <td class="govuk-table__cell">£400.00</td>
                  <td class="govuk-table__cell">£400.00</td>
                </tr>
            {% endif %}
          </tbody>
        </table>

        <h4 class="govuk-heading-s">Travel costs</h4> 
        {% if data['primaryTravel'] =="No"%}
          <p>No travel costs were added</p>
          {% else %}      
          <div class="govuk-inset-text">
            Travel costs not allowed for this service
          </div>

          <p>Reason for travel cost: The expert lives in Ireland</p>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Details</th>
                <th scope="col" class="govuk-table__header">Requested</th>
                <th scope="col" class="govuk-table__header">Allowed</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Amount</td>
                <td class="govuk-table__cell">3 hours 0 minutes</td> 
                <td class="govuk-table__cell">0 hours 0 minutes</td> 
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rate</td>
                <td class="govuk-table__cell">£40.00 per hour</td> 
                <td class="govuk-table__cell">£40.00 per hour</td> 
              </tr>
                <tr class="govuk-table__row">
                <td class="govuk-table__cell">Total</td>
                <td class="govuk-table__cell">£120.00</td> 
                <td class="govuk-table__cell">£0.00</td> 
              </tr>
            </tbody>
          </table>
        
        {% endif %}

        <h4 class="govuk-heading-s" id="add1ID">Adjust additional cost 1</h4>

        {% if data['addAdd'] =="0" %}
          <p>No additional costs added</p>
          <!----<div class="govuk-button-group">
            {{ govukButton({
              text: "Adjust additional cost",
              href: "change-additionalCost1",
              classes: "govuk-button--secondary"
            }) }}
          </div>
          --->
          {% else %}

            <div class="govuk-inset-text">
              {{data['addCost1Adjust'] or "Waiting rate reduced accordingly."}}
            </div>
          <p>Cost description: "{{data['addCost1'] or "Waiting time"}} - {{data['whyAdd1'] or "Waited at police station for client to be interviewed"}}"</p>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Details</th>
                <th scope="col" class="govuk-table__header">Requested</th>
                <th scope="col" class="govuk-table__header">Allowed</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Amount</td>
                <td class="govuk-table__cell">3 hours 0 minutes</td>
                <td class="govuk-table__cell">3 hours 0 minutes</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rate</td>
                <td class="govuk-table__cell">£40.00 per hour</td>
                <td class="govuk-table__cell">£40.00 per hour</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Total</td>
                <td class="govuk-table__cell">£120.00</td>
                <td class="govuk-table__cell">£120.00</td>
              </tr>
            </tbody>
          </table>
            
        {% endif %}
      {% endset%}

      {% if data['cwAppStatus'] == "Part granted" %}
        {% set appealLabel %}
          Appeal 18 May 2025
        {% endset%}
        {% else %}
        {% set appealLabel %}
          Appeal in progress
        {% endset%}
      {% endif %}

      {{ govukTabs({
        items: [
          {
            label: appealLabel,
            id: "appealCurrentCost",
            panel: {
              html: appealCurrentCostHtml
            }
          },
          {
            label: "Appeal 2 May 2025",
            id: "appealMayCost",
            panel: {
              html: appealMayCostHtml
            }
          },
          {
            label: "Application 10 April 2025",
            id: "appealAprilCost",
            panel: {
              html: appealAprilCostHtml
            }
          }
        ]
      }) }}   

      {% include version + "/includes/application-buttons.html" %}

    </div>
  </div>

{% endblock %}