{% extends "layouts/main.html" %}
{% set version = "latest-pa" %}
{% if data['cwAppStatus'] == "In progress"%}
  {% set activePrimeNav = [true, false, false, false] %}
  {% else %}
  {% if data['cwAppStatus'] == "New" or data['cwAppStatus'] == "Returned" or data['cwAppStatus'] == "Review" %}
    {% set activePrimeNav = [false, true, false, false] %}
    {% else %}
    {% set activePrimeNav = [false, false, true, false] %}
  {% endif %}
{% endif %}

{% block header %}
  {% include version + "/includes/header-cw.html"%}
{% endblock %}

{% block pageTitle %}
  {{data['laa-ref'] or "LAA-5a7d3c"}} - Adjust service cost – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
  {% include "includes/banner.html"%}
  {% include version + "/includes/nav-prime-cw.html"%}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Adjust service cost</h1>
      <h2 class="govuk-heading-l">{{data['serviceType'] or "Interpreter"}} </h2>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Quotes for service cost</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Quote</th>
            <th scope="col" class="govuk-table__header">Amount</th>
            <th scope="col" class="govuk-table__header">Rate</th>
            <th scope="col" class="govuk-table__header">Total</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">Primary</td>
            <td class="govuk-table__cell">
              {% if data['serviceType'] == "Transcription" %}
                20 minutes
                {% elseif data['serviceType'] == "Translation and transcription" %}
                20 minutes
                {% elseif data['serviceType'] == "Translation" %}
                20000 words
                {% elseif data['serviceType'] == "Photocopying" %}
                200 pages
                {% elseif data['serviceType'] == "DNA report" %}
                1 report
                {% elseif data['serviceType'] == "Other" and data['otherChargeType'] =="Charged by the item"%} 
                2 items
                {% else %}
                2 hour 0 minutes
              {% endif %}
            </td>
            <td class="govuk-table__cell">
              {% if data['serviceType'] == "Transcription" %}
                £20.00 per minute
                {% elseif data['serviceType'] == "Translation and transcription" %}
                £20.00 per minute
                {% elseif data['serviceType'] == "Translation" %}
                £20.00 per word
                {% elseif data['serviceType'] == "Photocopying" %}
                £2.00 per page
                {% elseif data['serviceType'] == "DNA report" %}
                £400.00 per report
                {% elseif data['serviceType'] == "Other" and data['otherChargeType'] =="Charged by the item"%} 
                £200.00 per item
                {% else %}
                £200.00 per hour
              {% endif %}
            </td>
            <td class="govuk-table__cell">£400.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">Alternative 1</td>
            <td class="govuk-table__cell">
              {% if data['serviceType'] == "Transcription" %}
                20 minutes
                {% elseif data['serviceType'] == "Translation and transcription" %}
                20 minutes
                {% elseif data['serviceType'] == "Translation" %}
                20000 words
                {% elseif data['serviceType'] == "Photocopying" %}
                200 pages
                {% elseif data['serviceType'] == "DNA report" %}
                1 report
                {% elseif data['serviceType'] == "Other" and data['otherChargeType'] =="Charged by the item"%} 
                2 items
                {% else %}
                2 hour 0 minutes
              {% endif %}
            </td>
            <td class="govuk-table__cell">
              {% if data['serviceType'] == "Transcription" %}
                £20.00 per minute
                {% elseif data['serviceType'] == "Translation and transcription" %}
                £20.00 per minute
                {% elseif data['serviceType'] == "Translation" %}
                £20.00 per word
                {% elseif data['serviceType'] == "Photocopying" %}
                £0.20 per page
                {% elseif data['serviceType'] == "DNA report" %}
                £390.00 per report
                {% elseif data['serviceType'] == "Other" and data['otherChargeType'] =="Charged by the item"%} 
                £200.00 per item
                {% else %}
                £195.00 per hour
              {% endif %}
            </td>
            <td class="govuk-table__cell">£380.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">Alternative 2</td>
            <td class="govuk-table__cell">
              {% if data['serviceType'] == "Transcription" %}
                30 minutes
                {% elseif data['serviceType'] == "Translation and transcription" %}
                30 minutes
                {% elseif data['serviceType'] == "Translation" %}
                24000 words
                {% elseif data['serviceType'] == "Photocopying" %}
                240 pages
                {% elseif data['serviceType'] == "DNA report" %}
                1 report
                {% elseif data['serviceType'] == "Other" and data['otherChargeType'] =="Charged by the item"%} 
                2 items
                {% else %}
                2 hour 40 minutes
              {% endif %} 
            </td>
            <td class="govuk-table__cell">
              {% if data['serviceType'] == "Transcription" %}
                £20.00 per minute
                {% elseif data['serviceType'] == "Translation and transcription" %}
                £20.00 per minute
                {% elseif data['serviceType'] == "Translation" %}
                £20.00 per word
                {% elseif data['serviceType'] == "Photocopying" %}
                £2.00 per page
                {% elseif data['serviceType'] == "DNA report" %}
                £400.00 per report
                {% elseif data['serviceType'] == "Other" and data['otherChargeType'] =="Charged by the item"%} 
                £200.00 per item
                {% else %}
                £200.00 per hour
              {% endif %}
            </td>
            <td class="govuk-table__cell">£510.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">Alternative 3</td>
            <td class="govuk-table__cell">
              {% if data['serviceType'] == "Transcription" %}
                25 minutes
                {% elseif data['serviceType'] == "Translation and transcription" %}
                25 minutes
                {% elseif data['serviceType'] == "Translation" %}
                3000 words
                {% elseif data['serviceType'] == "Photocopying" %}
                300 pages
                {% elseif data['serviceType'] == "DNA report" %}
                1 report
                {% elseif data['serviceType'] == "Other" and data['otherChargeType'] =="Charged by the item"%} 
                1 items
                {% else %}
                1 hour 50 minutes
              {% endif %}
            </td>
            <td class="govuk-table__cell">{% if data['serviceType'] == "Transcription" %}
                £20.00 per minute
                {% elseif data['serviceType'] == "Translation and transcription" %}
                £20.00 per minute
                {% elseif data['serviceType'] == "Translation" %}
                £20.00 per word
                {% elseif data['serviceType'] == "Photocopying" %}
                £2.00 per page
                {% elseif data['serviceType'] == "DNA report" %}
                £400.00 per report
                {% elseif data['serviceType'] == "Other" and data['otherChargeType'] =="Charged by the item"%} 
                £200.00 per item
                {% else %}
                £250.00 per hour
              {% endif %}
            </td>
            <td class="govuk-table__cell">£500.00</td>
          </tr>
        </tbody>
      </table>

      <form class="form" action="application-details-adjust?serviceAdjust=Yes#serviceID" method="post">

        <h3 class="govuk-heading-m">Amount allowed</h3>

        {% if data['serviceType'] == "Transcription" %}

          <!--Transcription-->
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="transNoMins">
              Number of minutes
            </label>
            <input class="govuk-input govuk-input--width-5" id="transNoMins" name="transNoMins" type="text" spellcheck="false" inputmode="numeric" value="{{data['transNoMins'] or ""}}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="transCostMin">
              Cost per minute
            </label>
            <div class="govuk-input__wrapper">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input class="govuk-input govuk-input--width-5" id="transCostMin" name="transCostMin" type="text" spellcheck="false" value="{{data['transCostMin'] or ""}}" aria-describedby="transCostMin-hint">
            </div>
          </div>
        
          <input type="hidden" id="actualTransTotal" name="actualTransTotal" value="{{data['actualTransTotal'] or ""}}" />
                  
          <button class="govuk-button govuk-button--secondary" type="button" onclick="calTransCost()">Calculate cost</button>

          <p class="govuk-heading-l">
            <span class="govuk-caption-m">Adjusted cost</span> £
            <span id="showTransTotal">0</span>.00
          </p>

          {% else %}
          {% if data['serviceType'] == "Translation and transcription" %}
            <!--Transcription & translation-->
            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--s" for="transtransNoMins">
                Number of minutes
              </label>
              <input class="govuk-input govuk-input--width-5" id="transtransNoMins" name="transtransNoMins" type="text" spellcheck="false" inputmode="numeric" value="{{data['transtransNoMins'] or "20"}}">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--s" for="transtransCostMin">
                Cost per minute
              </label>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-5" id="transtransCostMin" name="transtransCostMin" type="text" spellcheck="false" value="{{data['transtransCostMin'] or "20"}}" aria-describedby="transtransCostMin-hint">
              </div>
            </div>
          
            <input type="hidden" id="actualTransTransTotal" name="actualTransTransTotal" value="{{data['actualTransTransTotal'] or "20"}}" />
                  
            <button class="govuk-button govuk-button--secondary" type="button" onclick="calTransTransCost()">Calculate cost</button>

            <h2 class="govuk-heading-l">
              <span class="govuk-caption-m">Adjusted cost</span> £
              <span id="showTransTransTotal">0</span>.00
            </h2>

            {% else %}
            {% if data['serviceType'] == "Translation" %}
              <!--Translation-->
              
              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="translatorWords">
                  Number of words
                </label>
                <input class="govuk-input govuk-input--width-5" id="translatorWords" name="translatorWords" type="text" spellcheck="false" inputmode="numeric" value="{{data['translatorWords'] or "20000"}}">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="translatorCostWord">
                  Cost per 1000 words
                </label>
                <div class="govuk-input__wrapper">
                  <div class="govuk-input__prefix" aria-hidden="true">£</div>
                  <input class="govuk-input govuk-input--width-5" id="translatorCostWord" name="translatorCostWord" type="text" spellcheck="false" value="{{data['translatorCostWord'] or "20"}}">
                </div>
              </div>
              
              <input type="hidden" id="actualTranslatorTotal" name="actualTranslatorTotal" value="{{data['actualTranslatorTotal'] or "20"}}" />
                    
              <button class="govuk-button govuk-button--secondary" type="button" onclick="calTranslatorCost()">Calculate cost</button>

              <p class="govuk-heading-l">
                <span class="govuk-caption-m">Adjusted cost</span> £
                <span id="showTranslatorTotal">0</span>.00
              </p>

              {% else %}
              {% if data['serviceType'] == "Photocopying" %}
                <!--Photocopying-->
                
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label--s" for="photoNoPages">
                    Number of pages
                  </label>
                  <input class="govuk-input govuk-input--width-5" id="photoNoPages" name="photoNoPages" type="text" spellcheck="false" inputmode="numeric" value="{{data['photoNoPages'] or "200"}}">
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label--s" for="photoCostPage">
                    Cost per page
                  </label>
                  <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                    <input class="govuk-input govuk-input--width-5" id="photoCostPage" name="photoCostPage" type="text" spellcheck="false" value="{{data['photoCostPage'] or "20"}}" aria-describedby="photoCostPage-hint">
                  </div>
                </div>
              
                <input type="hidden" id="actualPhotoTotal" name="actualPhotoTotal" value="{{data['actualPhotoTotal'] or "20"}}" />
                  
                <button class="govuk-button govuk-button--secondary" type="button" onclick="calPhotoCost()">Update calculation</button>

                <p class="govuk-heading-l">
                  <span class="govuk-caption-m">Adjusted cost</span> £
                  <span class="govuk-captionlm" id="showPhotoTotal">0</span>.00
                </p>

                {% else %}
                {% if data['serviceType'] == "DNA report" %}
                  <!--DNA-->
                
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" for="dnaNoReport">
                      Number of reports
                    </label>
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-5" id="dnaNoReport" name="dnaNoReport" type="text" spellcheck="false" value="{{data['dnaNoReport'] or "1"}}">
                    </div>
                  </div>
                  
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" for="dnaReportCost">
                      Cost of report
                    </label>
                    <div class="govuk-input__wrapper">
                      <div class="govuk-input__prefix" aria-hidden="true">£</div>
                      <input class="govuk-input govuk-input--width-5" id="dnaReportCost" name="dnaReportCost" type="text" spellcheck="false" value="{{data['dnaReportCost'] or "400"}}">
                    </div>
                  </div>

                   <input type="hidden" id="actualDNATotal" name="actualDNATotal" value="{{data['actualDNATotal'] or "400"}}" />
                  
                  <button class="govuk-button govuk-button--secondary" type="button" onclick="calDNACost()">Calculate cost</button>

                  <p class="govuk-heading-l">
                    <span class="govuk-caption-m">Adjusted cost</span> £
                    <span id="showDNATotal">0</span>.00
                  </p>

                  {% else %}
                  {% if data['serviceType'] == "Other" %}
                    <!--Other-->

                    {% if data['otherChargeType'] == "Charged by the hour" %}

                        <div class="govuk-form-group">
                          <fieldset class="govuk-fieldset" role="group" >
                            <legend class="govuk-fieldset__legend govuk-label--s">
                              Time
                            </legend>
                            <div class="govuk-date-input" id="otherNoHours">
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="otherNoHours-hours">
                                    Hours
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="otherNoHours-hours" name="otherNoHours-hours" type="text" inputmode="numeric" value="{{data['otherNoHours-hours'] or "2"}}">
                                </div>
                              </div>
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="otherNoHours-mins">
                                    Minutes
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="otherNoHours-mins" name="otherNoHours-mins" type="text" inputmode="numeric" value="{{data['otherNoHours-mins'] or "0"}}">
                                </div>
                              </div>
                            </div>
                          </fieldset>
                        </div>
                    
                        {{ govukInput({
                          id: "otherCostTime",
                          name: "otherCostTime",
                          value: data['otherCostTime'] or "200",
                          label: {
                            text: "What is the hourly cost?",
                            classes: "govuk-label--s"
                          },
                          prefix: {
                            text: "£"
                          },
                          classes: "govuk-input--width-5",
                          spellcheck: false
                        }) }}

                        {% else %}

                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-label--s" for="otherNoItems">
                            Number of items
                          </label>
                          <div class="govuk-input__wrapper">
                            <input class="govuk-input govuk-input--width-5" id="otherNoItems" name="otherNoItems" type="text" spellcheck="false" value="{{data['otherNoItems'] or "2"}}">
                          </div>
                        </div>
                  
                        {{ govukInput({
                          id: "otherItemsCost",
                          name: "otherItemsCost",
                          value: data['otherItemsCost'] or "200",
                          label: {
                            text: "What is the cost per item?",
                            classes: "govuk-label--s"
                          },
                          prefix: {
                            text: "£"
                          },
                          classes: "govuk-input--width-5",
                          spellcheck: false
                        }) }}

                      {% endif %}

                    <input type="hidden" id="actualOtherTotal" name="actualOtherTotal" value="{{data['actualOtherTotal']}}" />
                      
                    <button class="govuk-button govuk-button--secondary" type="button" onclick="calOtherCost()">Calculate cost</button>

                    <p class="govuk-heading-l">
                      <span class="govuk-caption-m">Adjusted cost</span> £
                      <span id="showOtherTotal">0</span>.00
                    </p>

                    {% else %}
                    <!--General-->                    
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset" role="group" >
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Time
                        </legend>
                        <div class="govuk-date-input" id="generalNoHours">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="generalNoHours-hours">
                                Hours
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="generalNoHours-hours" name="generalNoHours-hours" type="text" inputmode="numeric" value="{{data['generalNoHours-hours'] or "2"}}">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="generalNoHours-mins">
                                Minutes
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="generalNoHours-mins" name="generalNoHours-mins" type="text" inputmode="numeric" value="{{data['generalNoHours-mins'] or "0"}}">
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                          
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-label--s" for="generalCost">
                        Cost per hour
                      </label>
                      <div class="govuk-input__wrapper">
                        <div class="govuk-input__prefix" aria-hidden="true">£</div>
                        <input class="govuk-input govuk-input--width-5" id="generalCost" name="generalCost" type="text" spellcheck="false" value="{{data['generalCost'] or "200"}}" aria-describedby="generalCost-hint">
                      </div>
                    </div>

                    <button class="govuk-button govuk-button--secondary" type="button" onclick="calGeneralCost()">Calculate cost</button>

                    <input type="hidden" id="actualGeneralTotal" name="actualGeneralTotal" value="{{data['actualGeneralTotal']}}" />

                    <p class="govuk-heading-l">
                      <span class="govuk-caption-m">Adjusted cost</span> £
                      <span id="showGeneralTotal">0</span>.00
                    </p>

                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}

        {{ govukTextarea({
          name: "serviceAdjustField",
          id: "serviceAdjustField",
          value: data['serviceAdjustField'] or "Adjusted the allowed hours",
          label: {
            text: "Explain your decision",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "For example, why you made adjustments to the cost or time. We'll share this explanation with the provider."
          }
        }) }}

        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save changes"
          }) }}
          <a class="govuk-link govuk-link--no-visited-state" href="application-details-adjust">Cancel</a>
        </div>

      </form>
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/calculate.js"></script>
{% endblock %}