{% extends "layouts/main-latest.html" %}
{% set version = "latest-pa" %}
{% set activePrimeNav = [true, false, false, false] %}


{% block header %}
  {% include version + "/includes/header-cw.html" %}
{% endblock %}

{% block pageTitle %}
  {{data['laa-ref'] or "LAA-5a7d3c"}} - Application details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/{{version}}/appeal-decision" method="post">

        <h1 class="govuk-heading-xl">Make a decision</h1>

        {{ govukRadios({
          name: "icaDecision",
          fieldset: {
            legend: {
              text: "Is this an ICA or caseworker decsion?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Yes",
              text: "ICA"
            },
            {
              value: "No",
              text: "Caseworker"
            }
          ]
        }) }}

        {% set upheldHtml %}
          {{ govukTextarea({
            name: "upheldConfirm",
            id: "upheldConfirm",
            label: {
              text: "Explain the decision",
              isPageHeading: false
            },
            hint: {
            text: "We'll share this information with the provider"
            }
          }) }}    
        {% endset %}
        
        {% set partUpheldHtml %}
          {{ govukTextarea({
            name: "partUpheldConfirm",
            id: "partUpheldConfirm",
            label: {
              text: "Explain the decision",
              isPageHeading: false
            },
            hint: {
            text: "We'll share this information with the provider"
            }
          }) }}    
        {% endset %}

         {% set dismissedHtml %}
          {{ govukTextarea({
            name: "dismissedConfirm",
            id: "dismissedConfirm",
            label: {
              text: "Explain the decision",
              isPageHeading: false
            },
            hint: {
            text: "We'll share this information with the provider"
            }
          }) }}    
        {% endset %}

        {{ govukRadios({
          name: "appealStatus",
          fieldset: {
            legend: {
              text: "What is the appeal decision?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Upheld",
              text: "Upheld",
              conditional: {
                html: upheldHtml
              }
            },
            {
              value: "Part upheld",
              text: "Part upheld",
              conditional: {
                html: partUpheldHtml
              }
            },
            {
              value: "Dismissed",
              text: "Dismissed",
              conditional: {
                html: dismissedHtml
              }
            }
          ]
        }) }}

      
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Submit decision"
          }) }}

          {{ govukButton({
            text: "Save and come back later",
              classes: "govuk-button--secondary",
            href: ""
          }) }}
        </div>

      </form>
    </div>
  </div>

{% endblock %}
