{% extends "layouts/main-latest.html" %}
{% set version = "latest-pa" %}
{% if data['cwAppStatus'] == "In progress"%}
  {% set activePrimeNav = [true, false, false, false] %}
  {% else %}
  {% if data['cwAppStatus'] == "New" or data['cwAppStatus'] == "Returned" or data['cwAppStatus'] == "Review" %}
    {% set activePrimeNav = [false, true, false, false] %}
    {% else %}
    {% set activePrimeNav = [false, false, true, false] %}
  {% endif %}
{% endif %}

{% block header %}
  {% include version + "/includes/header-cw.html" %}
{% endblock %}

{% block pageTitle %}
  {{data['laa-ref'] or "LAA-5a7d3c"}} - Confirm referral – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
  {% include "includes/banner.html"%}

 
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">{{data['laa-ref'] or "LAA-5a7d3c"}}</span>
      <h1 class="govuk-heading-xl">Refer application to ICA</h1>

      <form class="form" action="application-details?cwAppStatus=Referred&Appeal=No" method="post">

        {{ govukTextarea({
          name: "referredConfirm",
          value: data['referredConfirm'],
          id: "referredConfirm",
          label: {
            text: "Explain your decision to send this application to the ICA",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "For example, why the current rates cannot be applied to requested service"
          }
        }) }}    
      
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Submit decision"
          }) }}
         <a class="govuk-link" href="application-details">Cancel</a>
        </div>

      </form>
    </div>
  </div>

{% endblock %}
