{% extends "layouts/main.html" %}

{% block bodyStart %}
{% include "includes/cookies.html" %}
{% endblock %}

{% block pageTitle %}
  Home – {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">CRM 4
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        </h1>
        <p>This is the GDS Cookie page
        </p>  
      </div>
    </div>

{% endblock %}