{% extends "layouts/main-latest.html" %}
{% set version = "latest-nsm" %}
{% set activePrimeNav = [true, false, false, false] %}
{% set activeSubNav = [true, false, false] %}

{% block header %}
  {% include "/includes/header-nsm-cw.html"%}
{% endblock %}


{% block pageTitle %}
  Your applications – {{data['serviceName1'] }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
{% endblock %}

{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">
      Your claims
    </h1>
    
  </div>
</div>

{% endblock %}