{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home – {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">CRM 4
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        </h1>
        <p>This is the CRM 4 prototype for Providers and Caseworkers. This prototype is <strong>NOT</strong> fully functional
        </p>
        <p>Please <a href="/manage-prototype/clear-data" class="govuk-link--no-visited-state">clear data</a> to delete all stored data and re-set the prototype between journeys.</p>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">          
            <ol class="app-task-list">
              <li> 
                <h2 class="app-task-list__section">
                  <span class="app-task-list__section-number">1. </span> 
                  Provider journeys
                </h2>
                <ul class="app-task-list__items">
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">1. User access</span><br>
                    <span class="app-task-list__task-name">
                      <a href="provider/laa-login?first-use=yes&app-state=empty" class="govuk-link--no-visited-state" aria-describedby="first-time">
                        LAA Portal Login - first time user
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="first-time">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="provider/laa-login?first-use=no&app-state=all" class="govuk-link--no-visited-state" aria-describedby="return-user">
                        LAA Portal Login - return user
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="return-user">In design</span>
                    <br>
                  </li> 
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">2. Workflow</span><br>
                    <span class="app-task-list__task-name">
                      <a href="provider/crm-apps?first-use=yes&app-state=empty" class="govuk-link--no-visited-state" aria-describedby="empty-apps">
                        Your applications - empty
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="empty-apps">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="provider/crm-apps?first-use=no&app-state=draft" class="govuk-link--no-visited-state" aria-describedby="saved-app">
                        Your applications - first app saved not submitted
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="saved-app">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="provider/crm-apps?first-use=no&app-state=all" class="govuk-link--no-visited-state" aria-describedby="all-states">
                        Your applications - all states
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="tasklist">In design</span>
                    
                    <br>
                    <!--errors
                    <br>
                    <details class="govuk-details govuk-!-margin-0" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Error pages
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        <a href="" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                          Error - a specific error case
                        </a>
                      </div>
                    </details>
                    -->
                  </li> 
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">3. Create application</span><br>
                    <span class="app-task-list__task-name">
                      <a href="provider/crm-apps?first-use=no&app-state=empty" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Start new application
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="all-states">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="provider/form/task-list?first-use=no&app-state=all&question-ufn=complete&question1-org=notStarted&question2-client=notStarted&question2-case=notStarted&prisonLaw=No" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Task list - nothing started, Prison Law no
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="all-states">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="provider/form/task-list?first-use=no&app-state=all&question-ufn=complete&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=notStarted&question3-quote=notStarted&question3-alt-quote=notStarted&prisonLaw=Yes" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Task list - many started, Prison Law: Yes
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="all-states">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="provider/form/task-list?first-use=no&app-state=all&question-ufn=complete&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=complete&question3-quote=complete&question3-alt-quote=complete" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Task list - ready to submit
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="all-states">In design</span>
                  </li> 

                  <!--Your details-->
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">4. Your details</span><br>
                    <span class="app-task-list__task-name">
                      <a href="provider/form/question1-org?first-use=no&app-state=all&question1-org=draft&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=notStarted&question3-quote=notStarted&question3-alt-quote=notStarted&question3-add-info=notStarted&prisonLaw=No" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Your details
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="all-states">In design</span>
                  </li> 

                  <!--Case details-->
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">5. Case details</span><br>
                    <span class="app-task-list__task-name">
                      <a href="provider/form/question2-client?first-use=no&app-state=all&question2-client=draft&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=notStarted&question3-quote=notStarted&question3-alt-quote=notStarted&question3-add-info=notStarted&prisonLaw=No" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Client details
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="tasklist">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="provider/form/question2-case?first-use=no&app-state=all&question2-case=draft&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=notStarted&question3-quote=notStarted&question3-alt-quote=notStarted&question3-add-info=notStarted&prisonLaw=No" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Case details
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="all-states">In design</span>
                    <br>
                  </li> 

                  <!--The request-->
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">5. Provider request</span><br>
                    <span class="app-task-list__task-name">
                      <a href="provider/form/question3-quote?first-use=no&app-state=all&question3-quote=draft&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=notStarted&question3-quote=notStarted&question3-alt-quote=notStarted&question3-add-info=notStarted&prisonLaw=No" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Primary quote
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="all-states">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="provider/form/question3-alt-quotes-q?first-use=no&app-state=all&question3-alt-quote=draft&addAlt=yes&addAltQuote=1&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=notStarted&question3-quote=notStarted&question3-alt-quote=notStarted&prisonLaw=No" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Alternative quote
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="all-states">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="provider/form/question3-why-pa?first-use=no&app-state=all&question3-why-pa=draft&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=notStarted&question3-quote=notStarted&question3-alt-quote=notStarted&question3-add-info=notStarted&prisonLaw=No" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Reason for prior authority
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="tasklist">In design</span>
                    <br>
                    <!--
                    <span class="app-task-list__task-name">
                      <a href="provider/form/question3-add-info?first-use=no&app-state=all&question3-alt-quote=draft&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=notStarted&question3-quote=notStarted&question3-alt-quote=notStarted&question3-add-info=notStarted&prisonLaw=No" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Additional information
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="all-states">In design</span>
                    <br>
                    -->
                  </li> 

                   <!--Check Answers-->
                   <li class="app-task-list__item">
                    <span class="app-task-list__task-name">6. Check answers</span><br>
                    <span class="app-task-list__task-name">
                      <a href="provider/form/check-answers?first-use=no&app-state=all&check-answers=draft&question-ufn=complete&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=complete&question3-quote=complete&question3-alt-quote=complete&prisonLaw=No&addAlt=yes&altShow=3&addAltQuote=3" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Check answers - Not Prison Law
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="all-states">In design</span>
                    <span class="app-task-list__task-name">
                      <a href="provider/form/check-answers?first-use=no&app-state=all&check-answers=draft&question-ufn=complete&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=complete&question3-quote=complete&question3-alt-quote=complete&prisonLaw=Yes&addAlt=yes&altShow=3&addAltQuote=3" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Check answers - with Prison Law
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="all-states">In design</span>
                  </li> 

                </ul>
              </li>
            </ol>
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">          
            <ol class="app-task-list">
              <li> 
                <h2 class="app-task-list__section">
                  <span class="app-task-list__section-number">2. </span> 
                  Core functionality
                </h2>
                <ul class="app-task-list__items">
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">TIX No.</span><br>
                    <span class="app-task-list__task-name">
                      <a href="/cookies" class="govuk-link--no-visited-state" aria-describedby="create-status">
                        Cookies
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="create-status">In design</span>
                  </li>
                </ul>
              </li>
            </ol>
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">          
            <ol class="app-task-list">
              <li>
                <h2 class="app-task-list__section">
                  <span class="app-task-list__section-number">3. </span> 
                  Caseworker journeys
                </h2>
                <ul class="app-task-list__items">
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">TIX No.</span><br>
                    <span class="app-task-list__task-name">
                      <a href="" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Some story here
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In design</span>
                    <br>
                  </li>
                </ul>
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
          <p>
            <a class="govuk-link--no-visited-state" href="/trs-layout">Template with components</a>
          </p>
          <h2 class="govuk-heading-m" id="subsection-title">Provider key states</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                  Some story here
                </a>
              </li>  
            </ul>
          </nav>
          <h2 class="govuk-heading-m" id="subsection-title">Caseworker key states</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                  Some story here
                </a>
              </li>
            </ul>
          </nav>
        </aside>
  
      </div>
    </div>

{% endblock %}


