{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home – {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">CRM 4
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        </h1>
        <p>This is the CRM 4 prototype for Providers and Caseworkers. This prototype is <strong>NOT</strong> fully functional
        </p>
        <p>Please <a href="/manage-prototype/clear-data" class="govuk-link--no-visited-state">clear data</a> to delete all stored data and re-set the prototype between journeys.</p>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">          
            <ol class="app-task-list">
              <li> 
                <h2 class="app-task-list__section">
                  <span class="app-task-list__section-number">1. </span> 
                  Provider journeys
                </h2>
                <ul class="app-task-list__items">
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">1. User access</span><br>
                    <span class="app-task-list__task-name">
                      <a href="provider/laa-login?first-use=yes&app-state=empty" class="govuk-link--no-visited-state" aria-describedby="first-time">
                        LAA Portal Login - first time user
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="first-time">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="provider/laa-login?first-use=no&app-state=all" class="govuk-link--no-visited-state" aria-describedby="return-user">
                        LAA Portal Login - return user
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="return-user">In design</span>
                    <br>
                  </li> 
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">2. Manage applications</span><br>
                    <span class="app-task-list__task-name">
                      <a href="provider/crm-apps?first-use=yes&app-state=empty" class="govuk-link--no-visited-state" aria-describedby="empty-apps">
                        Your applications - empty
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="empty-apps">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="provider/crm-apps?first-use=no&app-state=draft" class="govuk-link--no-visited-state" aria-describedby="saved-app">
                        Your applications - first app saved not submitted
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="saved-app">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="provider/crm-apps?first-use=no&app-state=all" class="govuk-link--no-visited-state" aria-describedby="all-states">
                        Your applications - all states
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="tasklist">In design</span>
                    
                    <br>
                    <!--errors
                    <br>
                    <details class="govuk-details govuk-!-margin-0" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Error pages
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        <a href="" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                          Error - a specific error case
                        </a>
                      </div>
                    </details>
                    -->
                  </li> 
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">3. Create application</span><br>
                    <span class="app-task-list__task-name">
                      <a href="provider/crm-apps?first-use=no&app-state=empty" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Start new application
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="all-states">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="provider/form/task-list?first-use=no&app-state=all&question-ufn=complete&question1-org=notStarted&question2-client=notStarted&question2-case=notStarted&prisonLaw=No" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Task list - nothing started, Prison Law no
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="all-states">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="provider/form/task-list?first-use=no&app-state=all&question-ufn=complete&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=notStarted&question3-quote=notStarted&question3-alt-quote=cannotStart&prisonLaw=Yes" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Task list - many started, Prison Law: Yes
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="all-states">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="provider/form/task-list?first-use=no&app-state=all&question-ufn=complete&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=complete&question3-quote=complete&question3-alt-quote=complete" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Task list - ready to submit
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="all-states">In design</span>
                  </li> 

                  <!--Case contact-->
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">4. Case contact</span><br>
                    <span class="app-task-list__task-name">
                      <a href="provider/form/question1-org?first-use=no&app-state=all&question1-org=draft&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=notStarted&question3-quote=notStarted&question3-alt-quote=notStarted&question3-add-info=notStarted&prisonLaw=No" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Case contact
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="all-states">In design</span>
                  </li> 

                  <!--Case details-->
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">5. Case details</span><br>
                    <span class="app-task-list__task-name">
                      <a href="provider/form/question2-client?first-use=no&app-state=all&question2-client=draft&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=notStarted&question3-quote=notStarted&question3-alt-quote=notStarted&question3-add-info=notStarted&prisonLaw=No" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Client details
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="tasklist">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="provider/form/question2-case?first-use=no&app-state=all&question2-case=draft&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=notStarted&question3-quote=notStarted&question3-alt-quote=notStarted&question3-add-info=notStarted&prisonLaw=No" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Case details
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="all-states">In design</span>
                    <br>
                  </li> 

                  <!--The request-->
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">6. Provider request</span><br>
                    <span class="app-task-list__task-name">
                      <a href="provider/form/question3-quote?first-use=no&app-state=all&question3-quote=draft&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=notStarted&question3-quote=notStarted&question3-alt-quote=notStarted&question3-add-info=notStarted&prisonLaw=No" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Primary quote
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="all-states">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="provider/form/question3-alt-quotes-q?first-use=no&app-state=all&question3-alt-quote=draft&addAlt=yes&addAltQuote=1&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=notStarted&question3-quote=notStarted&question3-alt-quote=notStarted&prisonLaw=No" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Alternative quote
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="all-states">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="provider/form/question3-why-pa?first-use=no&app-state=all&question3-why-pa=draft&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=notStarted&question3-quote=notStarted&question3-alt-quote=notStarted&question3-add-info=notStarted&prisonLaw=No" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Reason for prior authority
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="tasklist">In design</span>
                    <br>
                    <!--
                    <span class="app-task-list__task-name">
                      <a href="provider/form/question3-add-info?first-use=no&app-state=all&question3-alt-quote=draft&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=notStarted&question3-quote=notStarted&question3-alt-quote=notStarted&question3-add-info=notStarted&prisonLaw=No" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Additional information
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="all-states">In design</span>
                    <br>
                    -->
                  </li> 

                   <!--Check Answers-->
                   <li class="app-task-list__item">
                    <span class="app-task-list__task-name">7. Check answers</span><br>
                    <span class="app-task-list__task-name">
                      <a href="provider/form/check-answers?first-use=no&app-state=all&check-answers=draft&question-ufn=complete&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=complete&question3-quote=complete&question3-alt-quote=complete&prisonLaw=No&detained=No&addAlt=yes&altShow=3&addAltQuote=3" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Check answers - Not Prison Law
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="all-states">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="provider/form/check-answers?first-use=no&app-state=all&check-answers=draft&question-ufn=complete&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=complete&question3-quote=complete&question3-alt-quote=complete&prisonLaw=No&detained=Yes&addAlt=yes&altShow=3&addAltQuote=3" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Check answers - Not Prison Law, but detained
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="all-states">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="provider/form/check-answers?first-use=no&app-state=all&check-answers=draft&question-ufn=complete&question1-org=complete&question2-client=complete&question2-case=complete&question3-why-pa=complete&question3-quote=complete&question3-alt-quote=complete&prisonLaw=Yes&addAlt=yes&altShow=3&addAltQuote=3" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Check answers - with Prison Law
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="all-states">In design</span>
                  </li> 
                   <!--Mopre info Answers-->
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">8. Further info required MVP+</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="provider/application-details-sub-mvp?ufn=301222/003&laa-ref=LAA-6p4f0r&app-task=Review2" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Application - further info required (full)
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="all-states">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="provider/application-details-sub-mvp?ufn=301222/003&laa-ref=LAA-6p4f0r&app-task=Re-submitted2" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Re-submitted with further info (full)
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="all-states">In design</span>
                    <br><br>
                    <span class="app-task-list__task-name">
                      <a href="provider/application-details-sub-mvp?ufn=301222/003&laa-ref=LAA-6p4f0r&app-task=Review1" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Application - further info required (simple)
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="all-states">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="provider/application-details-sub-mvp?ufn=301222/003&laa-ref=LAA-6p4f0r&app-task=Re-submitted1" class="govuk-link--no-visited-state" aria-describedby="tasklist">
                        Re-submitted with further info (simple)
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="all-states">In design</span>
                    <br>
                </ul>
              </li>
            </ol>
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">          
            <ol class="app-task-list">
              <li>
                <h2 class="app-task-list__section">
                  <span class="app-task-list__section-number">2. </span> 
                  Caseworker journeys
                </h2>
                <ul class="app-task-list__items">
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">1. Manage applications</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/crm-start-now" class="govuk-link--no-visited-state" aria-describedby="start">
                        Start page
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="start">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/crm-assess" class="govuk-link--no-visited-state" aria-describedby="start">
                        Your applications
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="start">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/crm-assess-open" class="govuk-link--no-visited-state" aria-describedby="open-apps">
                        Open applications
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="open-apps">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/crm-assess-referred" class="govuk-link--no-visited-state" aria-describedby="start">
                        Referred applications
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="start">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/crm-assess-closed" class="govuk-link--no-visited-state" aria-describedby="closed-apps">
                        Assessed applications
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="closed-apps">In design</span>
                  </li> 
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">2. Assess applications</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/assess/application-details-readonly?cwAppStatus=New&appAssigned=no" class="govuk-link--no-visited-state" aria-describedby="new-app">
                        New application - read only
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="new-app">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/assess/application-details?cwAppStatus=In progress" class="govuk-link--no-visited-state" aria-describedby="new-app">
                        In progress application - edit mode
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="new-app">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/assess/application-details-readonly?cwAppStatus=Granted" class="govuk-link--no-visited-state" aria-describedby="new-app">
                        Granted application - read only
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="new-app">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/assess/application-details-readonly?cwAppStatus=Part granted" class="govuk-link--no-visited-state" aria-describedby="new-app">
                        Part granted application - read only
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="new-app">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/assess/application-details-readonly?cwAppStatus=Rejected" class="govuk-link--no-visited-state" aria-describedby="new-app">
                        Rejected application - read only
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="new-app">In design</span>
                    <br>
                   
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/assess/application-details-adjust?cwAppStatus=In progress" class="govuk-link--no-visited-state" aria-describedby="new-app">
                        Application - adjust quote (edit mode)
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="new-app">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/assess/application-details-related-readonly?cwAppStatus=Rejected" class="govuk-link--no-visited-state" aria-describedby="new-app">
                        Application - related apps
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="new-app">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/assess/application-details-history-readonly?cwAppStatus=In progress" class="govuk-link--no-visited-state" aria-describedby="new-app">
                        Application - history
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="new-app">In design</span>
                  </li> 
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">3. Further info MVP+</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/assess/application-details-mvp?cwAppStatus=In progress" class="govuk-link--no-visited-state" aria-describedby="new-app">
                        Application details - review (full)
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="new-app">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/assess/application-details-readonly-mvp?cwAppStatus=Review" class="govuk-link--no-visited-state" aria-describedby="new-app">
                        Further info requested (full)
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="new-app">In design</span>
                    <br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/assess/application-details-readonly-mvp?cwAppStatus=Amended" class="govuk-link--no-visited-state" aria-describedby="new-app">
                        Application returned from provider (full)
                       </a>
                    </span>
                    <span class="app-task-list__tag" id="new-app">In design</span>
                    <br>
                  </li> 
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">3. Referred applications MVP+</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/assess/application-details-mvp?cwAppStatus=In progress" class="govuk-link--no-visited-state" aria-describedby="new-app">
                        Application details - review (full)
                        </a>
                    </span>
                    <span class="app-task-list__tag" id="new-app">In design</span>
                    <br>
                  </li>
                </ul>
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
          <p>
            <a class="govuk-link--no-visited-state" href="/trs-layout">Template with components</a>
          </p>
          <h2 class="govuk-heading-m" id="subsection-title">Provider key states</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="provider/crm-apps?first-use=no&app-state=all" class="govuk-link--no-visited-state" aria-describedby="all-states">
                  Your applications - all states
                </a>
              </li>  
            </ul>
          </nav>
          <h2 class="govuk-heading-m" id="subsection-title">Caseworker key states</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                 <a href="caseworker/crm-assess-open" class="govuk-link--no-visited-state" aria-describedby="open-apps">
                  Open applications
                </a>
              </li>
            </ul>
          </nav>
        </aside>
  
      </div>
    </div>

{% endblock %}


