{% extends "layouts/main.html" %}

{% block header %}
  {% if data['version'] =="1" %}
    {% include "includes/header-cw4.html"%}
    {% elif data['version'] =="2" %}
    {% include "includes/header-cw5.html"%}
  {% endif %}
{% endblock %}

{% block pageTitle %}
  LAA Online Portal – Assess a crime form - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner2.html"%}

{% if data['version'] =="2" %}
    {{ mojPrimaryNavigation({
      label: 'Primary navigation',
      items: [
        {
          text: 'Dashboard',
          href: 'metabase?app=4',
          active: true
        },
        {
          text: 'User management',
          href: 'user-management',
          active: false
        }
      ]
    }) }}
    {% elif data['version'] =="1" and data['app'] == "user" %}
    {{ mojPrimaryNavigation({
      label: 'Primary navigation',
      items: [
        {
          text: 'CRM4',
          href: 'metabase?app=4',
          active: false
        },
        {
          text: 'CRM7',
          href: 'metabase?app=7',
          active: false
        }
      ]
    }) }}
    {% elif data['version'] =="1" and data['app'] == "4" %}
    {{ mojPrimaryNavigation({
      label: 'Primary navigation',
      items: [
        {
          text: 'CRM4',
          href: 'metabase?app=4',
          active: true
        },
        {
          text: 'CRM7',
          href: 'metabase?app=7',
          active: false
        }
      ]
    }) }}
    {% elif data['version'] =="1" and data['app'] == "5" %}
    {{ mojPrimaryNavigation({
      label: 'Primary navigation',
      items: [
        {
          text: 'CRM4',
          href: 'metabase?app=4',
          active: false
        },
        {
          text: 'CRM7',
          href: 'metabase?app=7',
          active: false
        }
      ]
    }) }}
    {% elif data['version'] =="1" and data['app'] == "7" %}
    {{ mojPrimaryNavigation({
      label: 'Primary navigation',
      items: [
        {
          text: 'CRM4',
          href: 'metabase?app=4',
          active: false
        },
        {
          text: 'CRM7',
          href: 'metabase?app=7',
          active: true
        }
      ]
    }) }}
  {% endif %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
       {% if data['app'] == "4" %}
        <h1 class="govuk-heading-xl">CRM4 dashboard</h1>
        {% elif data['app'] == "5" %}
        <h1 class="govuk-heading-xl">CRM5 dashboard</h1>
        {% elif data['app'] == "7" %}
        <h1 class="govuk-heading-xl">CRM7 dashboard</h1>
      {% endif %}

      {{ mojSubNavigation({
        label: 'Sub navigation',
        items: [{
          text: 'Overview',
          href: '#1',
          active: true
        }, {
          text: 'Auto grant',
          href: '#2'
        }, {
          text: 'Other key table',
          href: '#3'
        }]
      }) }}
     
      <table role="presentation" width="100%" style="border-collapse: collapse;min-width: 100%;width: 100% !important;" cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr align="center">
          <td><img src="/public/images/metabase-image2.png" width="100%"></td> 
        </tr>
      </tbody>
    </table>
    </div>
  </div>

   

{% endblock %}