{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header-cw3.html"%}
{% endblock %}

{% block pageTitle %}
  LAA Online Portal – Assess a crime form - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner2.html"%}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Assess a crime form
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p><a href="caseworker/crm-assess" class="govuk-link--no-visited-state">Assess prior authority to incur disbursements, previously CRM4</a></p>       
        <p><a href="caseworker-nsm/crm-assess" class="govuk-link--no-visited-state">Assess a non-standard magistrates' court payment, previously CRM7</a></p>   
        <p><a href="user-management?version=1&app=user" class="govuk-link--no-visited-state">Manage assess a crime form</a></p>
      </div>
    </div>

{% endblock %}