{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home – {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
  <h1 class="govuk-heading-xl">Proto how to 
  </h1>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!--Rebrand-->
    <h2 class="govuk-heading-l">Rebrand</h2>
    <p>The overall proto has been updated to use the new branding. The older versions of the service use a different layout template: main-old.html where the branding is switched off.</p>

    <!--Versioning-->
    <h2 class="govuk-heading-l">Versioning</h2>
    <p></p>

    <p>When using routes for conditional questions, like radio's buttons, the form action needs to have {{version}} included so it will use the correct version as specfied in the page:
      <code><form class="form" action="/{{version}}/name-of-route" method="post"><code>
    </p>

    <!--Variables-->
    <h2 class="govuk-heading-l">Variables</h2>
      <p>
        Variables are used in this prototype to store, remember and display data on the page. They can be seen in the URL and look like this: AppStatus=Rejected.
      </p>

      <p>
        The ampersand '&' symbol can be used to seperate and apply multiple variables to a page, for example: cwAppStatus=Rejected&Appeal=Yes.
      </p>

      <p>Variables used in this prototype include:</p>

      <h3 class="govuk-heading-m">cwAppStatus</h3>
      <p>Used to define the current state of a claim for caseworkers.</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>cwAppStatus=New</li> 
          <li>cwAppStatus=In progress</li>
          <li>cwAppStatus=Part granted</li>
          <li>cwAppStatus=Granted</li>
          <li>cwAppStatus=Rejected</li>
          <li>cwAppStatus=Expired</li>
          <li>cwAppStatus=Hold</li>
          <li>cwAppStatus=Referred</li>
          <li>cwAppStatus=Review</li>
          <li>cwAppStatus=Returned</li>
        </ul>

      <h3 class="govuk-heading-m">Appeal</h3>
      <p>Used to display an appeal on the claim.</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Appeal=Yes</li>
          <li>Appeal=No</li>
        </ul>

      <h3 class="govuk-heading-m">icaDecision</h3>
      <p>icaDecision</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>icaDecision=Yes</li>
          <li>icaDecision=No</li>
        </ul>







</div>

{% endblock %}