{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home – {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
  <h1 class="govuk-heading-xl">Proto how to 
  </h1>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Rebrand</h2>
    <p>The overall proto has been updated to use the new branding. The older versions of the service use a different layout template: main-old.html where the branding is switched off.</p>

    <h2 class="govuk-heading-l">Versioning</h2>
    <p></p>

    <p>When using routes for conditional questions, like radio's buttons, the form action needs to have {{version}} included so it will use the correct version as specfied in the page:
      <code><form class="form" action="/{{version}}/name-of-route" method="post"><code>
    </p>
    



</div>

{% endblock %}