{% extends "layouts/main.html" %}

{% block header %}
  {% if data['version'] =="1" %}
    {% include "includes/header-cw4.html"%}
    {% elif data['version'] =="2" %}
    {% include "includes/header-cw5.html"%}
  {% endif %}
{% endblock %}

{% block pageTitle %}
  LAA Online Portal – Assess a crime form - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner2.html"%}

  {% if data['version'] =="2" %}
    {{ mojPrimaryNavigation({
      label: 'Primary navigation',
      items: [
        {
          text: 'Dashboard',
          href: 'metabase?app=4',
          active: false
        },
        {
          text: 'User management',
          href: 'user-management',
          active: true
        }
      ]
    }) }}
    {% elif data['version'] =="1" and data['app'] == "user" %}
    {{ mojPrimaryNavigation({
      label: 'Primary navigation',
      items: [
        {
          text: 'CRM4',
          href: 'metabase?app=4',
          active: false
        },
        {
          text: 'CRM5',
          href: 'metabase?app=5'
        },
        {
          text: 'CRM7',
          href: 'metabase?app=7'
        },
         {
          text: 'User management',
          href: 'user-management?app=user',
          active: true
        }
      ]
    }) }}
    {% elif data['version'] =="1" and data['app'] == "4" %}
    {{ mojPrimaryNavigation({
      label: 'Primary navigation',
      items: [
        {
          text: 'CRM4',
          href: 'metabase?app=4',
          active: true
        },
        {
          text: 'CRM5',
          href: 'metabase?app=5'
        },
        {
          text: 'CRM7',
          href: 'metabase?app=7'
        },
        {
          text: 'User management',
          href: 'user-management',
          active: false
        }
      ]
    }) }}
    {% elif data['version'] =="1" and data['app'] == "5" %}
    {{ mojPrimaryNavigation({
      label: 'Primary navigation',
      items: [
        {
          text: 'CRM4',
          href: 'metabase?app=4',
          active: false
        },
        {
          text: 'CRM5',
          href: 'metabase?app=5',
          active: true
        },
        {
          text: 'CRM7',
          href: 'metabase?app=7'
        },
        {
          text: 'User management',
          href: 'user-management?app=user',
          active: false
        }
      ]
    }) }}
    {% elif data['version'] =="1" and data['app'] == "7" %}
    {{ mojPrimaryNavigation({
      label: 'Primary navigation',
      items: [
        {
          text: 'CRM4',
          href: 'metabase?app=4',
          active: false
        },
        {
          text: 'CRM5',
          href: 'metabase?app=5',
          active: false
        },
        {
          text: 'CRM7',
          href: 'metabase?app=7',
          active: true
        },
        {
          text: 'User management',
          href: 'user-management',
          active: false
        }
      ]
    }) }}
  {% endif %}
   
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">User management</h1>
      
      <table class="govuk-table" cellspacing="0">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Email</th>
            <th scope="col" class="govuk-table__header">Permission</th>
            <th scope="col" class="govuk-table__header">Application</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Aisha Patel</a></td>
            <td class="govuk-table__cell">Aisha.Patel@moj.com</td>
            <td class="govuk-table__cell">Supervisor</td>
            <td class="govuk-table__cell">crm4, crm5</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Alejandro García</a></td>
            <td class="govuk-table__cell">Alejandro.Garcia@moj.com</td>
            <td class="govuk-table__cell">User</td>
            <td class="govuk-table__cell">crm5</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Jamal Smith</a></td>
            <td class="govuk-table__cell">Jamal.Smith@moj.com</td>
            <td class="govuk-table__cell">Supervisor</td>
            <td class="govuk-table__cell">crm7</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Mai Nguyen</a></td>
            <td class="govuk-table__cell">Mai.Nguyen@moj.com</td>
            <td class="govuk-table__cell">User</td>
            <td class="govuk-table__cell">crm4</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Amir Khan</a></td>
            <td class="govuk-table__cell">Amir.Khan@moj.com</td>
            <td class="govuk-table__cell">User</td>
            <td class="govuk-table__cell">crm7</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Fatima Jones</a></td>
            <td class="govuk-table__cell">Fatima.Jones@moj.com</td>
            <td class="govuk-table__cell">Supervisor</td>
            <td class="govuk-table__cell">crm5</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Raj Patel</a></td>
            <td class="govuk-table__cell">Raj.Patel@moj.com</td>
            <td class="govuk-table__cell">User</td>
            <td class="govuk-table__cell">crm4, crm7</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Liam O'Brien</a></td>
            <td class="govuk-table__cell">Liam.OBrien@moj.com</td>
            <td class="govuk-table__cell">Supervisor</td>
            <td class="govuk-table__cell">crm4</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Ji-hyun Kim</a></td>
            <td class="govuk-table__cell">Ji-hyun.Kim@moj.com</td>
            <td class="govuk-table__cell">User</td>
            <td class="govuk-table__cell">crm5</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Natasha Singh</a></td>
            <td class="govuk-table__cell">Natasha.Singh@moj.com</td>
            <td class="govuk-table__cell">Supervisor</td>
            <td class="govuk-table__cell">crm4, crm5, crm7</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

   

{% endblock %}