{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header-cw2.html"%}
{% endblock %}

{% block pageTitle %}
  {{data['laa-ref'] or "LAA-5a7d3c"}} - Claim details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  {% if data['cwAppStatus'] == "New"%}
    {% include "includes/cw-nav-open-nsm.html"%}
    {% else %}
    {% include "includes/cw-nav-your-nsm.html"%}
  {% endif %}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "includes/app-info-nsm.html"%}

      {{ mojSubNavigation({
        label: 'Sub navigation',
        items: [{
          text: 'Overview',
          href: 'claim-details-readonly',
          active: true
        }, 
        {
          text: 'Review and adjust',
          href: 'claim-details-adjust',
          active: false
        }, 
        {
          text: 'Supporting evidence',
          href: '',
          active: false
        }, 
        {
          text: 'Claim history',
          href: '',
          active: false
        }]
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">Overview</h2>
        
      {% include "includes/app-status.html"%}

      <!--App ref-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Claim details</h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                LAA reference
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['laa-ref'] or "LAA-5a7d3c"}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Unique file number
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['ufn'] or "100323/234234"}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type of claim
              </dt>
              <dd class="govuk-summary-list__value">
                Non-standard magistrates' court payment
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of representation order
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['rep-order-day'] or "19" }} {{data['rep-order-month'] or "April" }} {{data['rep-order-year'] or "2023" }}
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <h2 class="govuk-heading-m">About you</h2>
      <!--Case contact-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">Your details</h3>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Firm name
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['org-name'] or "Laywers Inc" }}        
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Firm account number
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['org-acc'] or "1A3B23E4" }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Firm address
              </dt>
              <dd class="govuk-summary-list__value">
                Address line 1<br>
                Address line 2<br>
                Town or city<br>
                Postcode
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Solicitor details
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['sol-first-name'] or "Dami" }} {{data['sol-last-name'] or "Olu" }}<br>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Solicitor reference details
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['sol-ref-no'] or "347543" }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Alternative contact full name
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['contact-first-name'] or "Gemma" }} {{data['contact-last-name'] or "Smith" }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Alternative contact email address
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['contact-email'] or "gemme.smith@law.com" }}
              </dd>
            </div>
            
          </dl>
        </div>
      </div>

      <h2 class="govuk-heading-m">About the defendant</h2>

      <!--Defendant details-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">Defendant details</h3>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Main defendant full name
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['defendant-first-name'] or "Roger" }} {{data['defendant-last-name'] or "Blackbeard" }}<br>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Main defendant MAAT number
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['maat'] or "12345678" }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Additional defendant full name
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['defendant2-first-name'] or "Rufus" }} {{data['defendant2-last-name'] or "Blackbeard" }}<br>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Additional defendant MAAT number
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['maat'] or "12345678" }}
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <h2 class="govuk-heading-m">About the case</h2>
      <!--Case details-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">Case details</h3>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Main offence
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['main-offence'] or "Anti-social behaviour orders (for claims made prior to 23rd March 2015)" }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Offence date
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['date-offence-day'] or "23" }} {{data['date-offence-month'] or "September" }} {{data['date-offence-year'] or "2023" }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Assigned counsel
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Unassigned counsel
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Instructed agent
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Case remitted from Crown Court to magistrates
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Remittal date
              </dt>
              <dd class="govuk-summary-list__value">
                27 March 2023
              </dd>
            </div>          
          </dl>
        </div>
      </div>

      <!--Hearing details-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">Hearing details</h3>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of first hearing
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['date-hearing-day'] or "12"}} {{data['date-hearing-month'] or "July"}} {{data['date-hearing-year'] or "2024"}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Number of hearings
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['no-hearings'] or "5" }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Magistrates Court
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['mag-court'] or "Hendon Magistrates Court" }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Court in a designated area
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['courtDes'] or "Yes" }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Youth court matter
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['youthCourt'] or "No"}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Hearing outcome
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['hearingOutcome'] or "Change of solicitor"}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Matter type
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['matterType'] or "Theft (including taking vehicle without consent)"}}
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <!-- Case disposal-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Case disposal</h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Category 1
              </dt>
              <dd class="govuk-summary-list__value">
                Guilty plea
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <!--About the request-->
      <h2 class="govuk-heading-m">About the claim</h2>

      <!-- Claim justification-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Claim justification</h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Why are you claiming a non-standard magistrates' fee?
              </dt>
              <dd class="govuk-summary-list__value">
                Core costs exceed higher limit<br>
                Enhanced rates claimed<br>
                Extradition<br>
                Representation order withdrawn<br>
                Other details 
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Representation order date withdrawl date
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['date-repWithdrawn-day'] or "12"}} {{data['date-repWithdrawn-month'] or "July"}} {{data['date-repWithdrawn-year'] or "2023"}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Other details
              </dt>
              <dd class="govuk-summary-list__value">
                Some other important things added here
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <!--Work items-->
      <!--<div class="govuk-summary-card" aria-describedby="review-quote">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title" id="review-quote">Work items</h3>
        </div>
        <div class="govuk-summary-card__content">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Items</th>
                <th scope="col" class="govuk-table__header">Cost</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['item1'] or "Attendance with counsel assigned"}}</td>
                <td class="govuk-table__cell">£{{data['totalPerItem1'] or "234"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['item2'] or "Attendance without counsel assigned"}}</td>
                <td class="govuk-table__cell">£{{data['totalPerItem2'] or "234"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['item3'] or "Advocacy"}}</td>
                <td class="govuk-table__cell">£{{data['totalPerItem3'] or "234"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['item4'] or "Preparation"}}</td>
                <td class="govuk-table__cell">£{{data['totalPerItem4'] or "234"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['item5'] or "Travel"}}</td>
                <td class="govuk-table__cell">£{{data['totalPerItem5'] or "234"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['item6'] or "Writing"}}</td>
                <td class="govuk-table__cell">£{{data['totalPerItem6'] or "234"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">Total cost</td>
                <td class="govuk-table__cell"><strong>£{{data['totalCost'] or "2344.34"}}</strong></td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">Total including VAT</td>
                <td class="govuk-table__cell"><strong>£{{data['totalVATCost'] or "2344.34"}}</strong></td>
              </tr>
            </tbody>
          </table> 

        </div>
      </div>
      -->

      <!--Letters and phone calls
      <div class="govuk-summary-card" aria-describedby="review-quote">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title" id="review-quote">Letters and phone calls</h3>
        </div>
        <div class="govuk-summary-card__content">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Item</th>
                <th scope="col" class="govuk-table__header">Cost</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['letterItem1'] or "Letters"}}</td>
                <td class="govuk-table__cell">£{{data['totalLetterCost'] or "23.30"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['callsItem1'] or "Calls"}}</td>
                <td class="govuk-table__cell">£{{data['totalCallCost'] or "32.30"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">Total cost</td>
                <td class="govuk-table__cell"><strong>£{{data['totalCostLetter'] or "55.60"}}</strong></td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">Total including VAT</td>
                <td class="govuk-table__cell"><strong>£{{data['totalCostVATLetter'] or "65.60"}}</strong></td>
              </tr>
            </tbody>
          </table> 
        </div>
      </div>
      -->
      <!--Disbursement costs
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title" id="review-quote">Disbursement costs</h3>
        </div>
        <div class="govuk-summary-card__content">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Item</th>
                <th scope="col" class="govuk-table__header">Cost</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['disbItem1'] or "Psychologist"}}</td>
                <td class="govuk-table__cell">£{{data['totalPerDisb1'] or "234"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['disbItem2'] or "DNA Report"}}</td>
                <td class="govuk-table__cell">£{{data['totalPerDisb2'] or "234"}}</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">Total cost</td>
                <td class="govuk-table__cell"><strong>£{{data['totalCost'] or "2344.34"}}</strong></td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">Total including VAT</td>
                <td class="govuk-table__cell"><strong>£{{data['totalVATCost'] or "2344.34"}}</strong></td>
              </tr>
            </tbody>
          </table> 
        </div>
      </div>
      -->

      <!-- Other info justification-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Other information</h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Any other information
              </dt>
              <dd class="govuk-summary-list__value">
                Yes, some very interesting things go here
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Proceedings concluded over 3 months ago
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Reaons for not claiming within 3 months
              </dt>
              <dd class="govuk-summary-list__value">
                Some other very important infomration here about why.
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <!---Supporting evidence -->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Uploaded suported evidence</h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Evidence
              </dt>
              <dd class="govuk-summary-list__value">
                doc1.doc<br>
                doc2.doc<br>
                doc3.doc
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <!---EQ -->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Equality monitoring</h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Willing to answer equality questions
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
            </div>
          </dl>
        </div>
      </div>

       <!---Further info -->
      {% if data['cwAppStatus'] == "Returned" %}

        <h2 class="govuk-heading-m">Further information request</h2>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title" id="review-further-info2">Further information request 21 Oct 2023</h3>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list govuk-!-margin-bottom-6">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Caseworker
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['caseworker1']}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Information request
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['fieldFurtherInfo'] or "There is little justification within the application regarding the amount of preparation requested, as this much higher than we would expect for a report from this type of expert. Please provide detailed justification why this work requires such a lengthy amount of time. "}}

                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Provider response
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['providerFurtherInfo'] or "Please see the attached documetents that show my client was not in the in UK" }}<br>
                  <a href="">courtDocs1.pdf</a><br>
                  <a href="">courtDocs2.pdf</a>
                </dd>
              </div>
            </dl>       
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title" id="review-further-info2">Further information request 19 Oct 2023</h3>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list govuk-!-margin-bottom-6">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Caseworker
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['caseworker1']}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Information request
                </dt>
                <dd class="govuk-summary-list__value">
                  Please provide counsel's advice, providing information as to why further funding is necessary & ATTACH IT ELECTRONICALLY. CBAM 7.2.6a
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Provider response
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['providerFurtherInfo'] or "Relevant documents attached as requested" }}<br>
                  <a href="">Docs1.pdf</a><br>
                  <a href="">Docs2.pdf</a>
                </dd>
              </div>
            </dl>       
          </div>
        </div>

      {% endif %}
      
      {% include "includes/application-buttons-mvp.html"%}

    </div>
  </div>

{% endblock %}