{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header-cw2.html"%}
{% endblock %}

{% block pageTitle %}
  {{data['laa-ref'] or "LAA-5a7d3c"}} - Application details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
   {% if data['cwAppStatus'] == "In progress"%}
    {% include "includes/cw-nav-your-nsm.html"%}
    {% else %}
    {% if data['cwAppStatus'] == "New"%}
      {% include "includes/cw-nav-open-nsm.html"%}
      {% else %}
      {% include "includes/cw-nav-assessed-nsm.html"%}
    {% endif %}
  {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% include "includes/app-info-nsm2.html" %}

    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [{
        text: 'Overview',
        href: 'claim-details',
        active: false
      }, 
      {
        text: 'Review and adjust',
        href: 'claim-details-adjust',
        active: true
      }, 
      {
        text: 'Supporting evidence',
        href: '',
        active: false
      }, 
      {
        text: 'Claim history',
        href: '',
        active: false
      }]
    }) }}

    <h2 class="govuk-heading-l">Review and adjust</h2>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Costs summary</caption>
      <thead class="govuk-table__head">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Item</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Net cost claimed</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">VAT on claimed</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total claimed</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Net cost allowed</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">VAT on allowed</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total allowed</th>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">Profit costs</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£285.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£57.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£342.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"></td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£342.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">Waiting</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£10.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£60.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"></td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£60.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">Travel</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£10.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£60.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">Disbursements</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£750.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£140.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£890.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"></td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£890.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">Total</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1135.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£217.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1352.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong></strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong></strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1292.00</strong></td>
        </tr>
      </tbody>
    </table> 

    <!-- No VAT
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Cost summary</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Item</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Net cost claimed</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">VAT on claimed</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total claimed</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Net cost allowed</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">VAT on allowed</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total allowed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item1'] or "Profit costs"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£285.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£285.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"></td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item3'] or "Waiting"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"></td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item4'] or "Travel"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">{{data['item6'] or "Disbursements"}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£750.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£140.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£890.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"></td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header">Total</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1135.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£140.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1275.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1085.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£140.00</strong></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£1225.00</strong></td>
        </tr>
      </tbody>
    </table> 
    -->

    <!--TAbs items -->
    {% set workItemsHtml %} 
    
      <h3 class="govuk-heading-m">Work items</h3>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Work items summary
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Item</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Time claimed</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Net cost claimed</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Time allowed</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Net cost allowed</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['item1'] or "Without counsel assigned"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">4 hours 0 minutes</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£100.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£100.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['item2'] or "With counsel assigned"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">6 hours 0 minutes</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">120.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£120.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['item3'] or "Advocacy"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">0 hours 0 minutes</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['item4'] or "Preparation"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">1 hours 0 minutes</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£25.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£25.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['item5'] or "Waiting"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">1 hours 0 minutes</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">{{data['item6'] or "Travel"}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">1 hours 0 minutes</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">0 hours 0 minutes</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">Total</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£345.00</strong></td>
                <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£295.00</strong></td>
              </tr>
            </tbody>
          </table> 
        </div>
      </details>
      
      <table class="govuk-table"><caption class="govuk-table__caption govuk-table__caption--s">31 January 2024</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-fifth" scope="col">Item</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Time claimed </th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Uplift claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net cost claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Time allowed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Uplift allowed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net cost allowed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Without counsel assigned</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">4 hours<br> 0 minutes</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>  
            <td class="govuk-table__cell govuk-table__cell--numeric">£100.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>  
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            {% if data['cwAppStatus'] == "In progress" %}
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href=""> Adjust</a></td>
              {% else %}
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href=""> View</a></td>
            {% endif %}
          </tr>
        </tbody>
      </table>

      <table class="govuk-table"><caption class="govuk-table__caption govuk-table__caption--s">1 January 2024</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-fifth" scope="col">Item</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Time claimed </th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Uplift claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net cost claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Time allowed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Uplift allowed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net cost allowed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Preparation</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">1 hour<br>0 minutes</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£25.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            {% if data['cwAppStatus'] == "In progress" %}
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href=""> Adjust</a></td>
              {% else %}
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href=""> View</a></td>
            {% endif %}
          </tr>
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">With counsel assigned</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">6 hours<br>0 minutes</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£120.00</td>
             <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            {% if data['cwAppStatus'] == "In progress" %}
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href=""> Adjust</a></td>
              {% else %}
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href=""> View</a></td>
            {% endif %}
          </tr>
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Waiting</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2 hours<br>0 minutes</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
             <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            {% if data['cwAppStatus'] == "In progress" %}
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href=""> Adjust</a></td>
              {% else %}
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href=""> View</a></td>
            {% endif %}
          </tr>
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Travel</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2 hours<br>0 minutes</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
            {% if data['cwAppStatus'] == "In progress" %}
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href=""> Adjust</a></td>
              {% else %}
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href=""> View</a></td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    {% endset %}

    {% set lettersCallsHtml %}
      <h3 class="govuk-heading-m">Letters and calls</h3>
      <!--<p>There are no adjusted letters and calls</p>-->
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Item</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Number claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Uplift claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net cost claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Number allowed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Uplift allowed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net cost allowed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Letters</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">5</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£20.00</td> 
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>              
            {% if data['cwAppStatus'] == "In progress" %}
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href=""> Adjust</a></td>
              {% else %}
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href=""> View</a></td>
            {% endif %}
          </tr>
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Calls</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">5</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" >£20.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>  
            {% if data['cwAppStatus'] == "In progress" %}
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href=""> Adjust</a></td>
              {% else %}
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href=""> View</a></td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    {% endset %}

    {% set disbursementsHtml %} 
    
      <h3 class="govuk-heading-m">Disbursements</h3>

      <table class="govuk-table"><caption class="govuk-table__caption govuk-table__caption--s">31 January 2024</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-fifth" scope="col">Item</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net cost claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">VAT on claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Total claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net cost allowed </th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">VAT on allowed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Total allowed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Psychologist</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£400.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£80.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£480.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            {% if data['cwAppStatus'] == "In progress" %}
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href=""> Adjust</a></td>
              {% else %}
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href=""> View</a></td>
            {% endif %}
          </tr>
        </tbody>
      </table>
      
      <table class="govuk-table"><caption class="govuk-table__caption govuk-table__caption--s">1 January 2024</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-fifth" scope="col">Item</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net cost claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">VAT on claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Total claimed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net cost allowed </th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">VAT on allowed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Total allowed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Car</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            {% if data['cwAppStatus'] == "In progress" %}
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href=""> Adjust</a></td>
              {% else %}
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href=""> View</a></td>
            {% endif %}
          </tr>
           <tr class="govuk-table__row">
            <td scope="col" class="govuk-table__header">Translator</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£300.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£60.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£360.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            {% if data['cwAppStatus'] == "In progress" %}
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href=""> Adjust</a></td>
              {% else %}
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href=""> View</a></td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    {% endset %}
   

    {{ govukTabs({
      items: [
        {
          label: "Work items",
          id: "workItems",
          panel: {
            html: workItemsHtml
          }
        },
        {
          label: "Letters and calls",
          id: "lettersCalls",
          panel: {
            html: lettersCallsHtml
          }
        },
        {
          label: "Disbursements",
          id: "disbursements",
          panel: {
            html: disbursementsHtml
          }
        }
      ]
    }) }}



    </div>
  </div>

{% endblock %}