{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}


{% block pageTitle %}
  Your applications – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">
      Provide further information
    </h1>
    <p>Further information is requested by the caseworker to be able to assess your application.</p>

    <!--Primary quote-->
    <h2 class="govuk-heading-m" id="review-quote">Primary quote</h2>

    {{ govukFileUpload({
      id: "quote1Upload",
      name: "quote1Upload",
      isPageHeading: true,
      label: {
        text: "Documentation needed",
        classes: 'govuk-label--s'
      },
      hint: {
        html: 'The attached quote does not match with the data enterered. Please attach the correct quote. <br><br>The maximum file size of the quote is 70MB. Files must be a DOC, DOCX, XLSX, XLS, RTF, ODT, JPG, BMP, PNG, TIF or PDF.'
      }
    }) }}

       

    <!--Alt quotes1-->
    <h2 class="govuk-heading-m" id="review-quote">Alternative quote 1</h2>
   
    {{ govukTextarea({
      name: "moreDetail",
      id: "more-detail",
      label: {
        text: "More information needed",
        classes: "govuk-label--s",
        isPageHeading: false
      },
      hint: {
        text: "Why are the travel cost significantly smaller compared to the primary quote costs?"
      }
    }) }}

    {{ govukFileUpload({
      id: "quote1Upload",
      name: "quote1Upload",
      isPageHeading: true,
      label: {
        text: "Documentation needed",
        classes: 'govuk-label--s'
      },
      hint: {
        html: 'Please attach a detailed quote. <br><br>The maximum file size of the quote is 70MB. Files must be a DOC, DOCX, XLSX, XLS, RTF, ODT, JPG, BMP, PNG, TIF or PDF.'
      }
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Save and continue"
      }) }}

      {% if data['app-state'] =="empty" or data['app-state'] ==null %}
    
        {{ govukButton({
          text: "Save and come back later",
          classes: "govuk-button--secondary",
          href: "../crm-apps?app-state=draft"
        }) }}

        {% else %}

        {{ govukButton({
          text: "Save and come back later",
          classes: "govuk-button--secondary",
          href: "../crm-apps?app-state=all#manage-drafts"
        }) }}

      {% endif %}
      
    </div>

  </div>

  
{% endblock %}