{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header1.html"%}
{% endblock %}


{% block pageTitle %}
  Your applications – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">
      Information required
    </h1>
    <p>Further information is required by the LAA to be able to assess your application.</p>

    <div class="govuk-inset-text">
      <p><strong>LAA comments (12th Nov 2023):</strong><br>
        {{data['fieldFurtherInfo']}}
      </p>
    </div>

    <h2 class="govuk-heading-m">
      LAA comments
    </h2>


    <h2 class="govuk-heading-m">
      Provider information
    </h2>

    <form class="form" action="application-submitted" method="post">
      {{ govukTextarea({
        name: "moreDetail",
        id: "more-detail",
        label: {
          text: "Further information (optional)",
          classes: "govuk-label--s",
          isPageHeading: false
        },
        hint: {
          text: "Provide information as requested the LAA"
        }
      }) }}

      <div class="moj-multi-file-upload">
        <div class="moj-multi-file__uploaded-files">
          <h2 class="govuk-heading-s">Supporting documentation (optional)</h2>
          <p>Provide documentation as requested by the LAA.</p>
          <p>The maximum file size is 70MB. Files must be a DOC, DOCX, XLSX, XLS, RTF, ODT, JPG, BMP, PNG, TIF or PDF.</p>
          <div class="govuk-summary-list moj-multi-file-upload__list">
          </div>
        </div>
        <div class="moj-multi-file-upload__upload">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="documents">
              Upload files
            </label>
            <input class="govuk-file-upload moj-multi-file-upload__input" id="documents" name="documents" type="file" multiple="">
          </div>
          <button class="govuk-button govuk-button--secondary moj-multi-file-upload__button" data-module="govuk-button">
            Upload file
          </button>
        </div>
      </div>

      <p class="govuk-body">By re-submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Submit further information"
        }) }}

        {% if data['app-state'] =="empty" or data['app-state'] ==null %}
      
          {{ govukButton({
            text: "Save and come back later",
            classes: "govuk-button--secondary",
            href: "../crm-apps?app-state=draft"
          }) }}

          {% else %}

          {{ govukButton({
            text: "Save and come back later",
            classes: "govuk-button--secondary",
            href: "../crm-apps?app-state=all#manage-drafts"
          }) }}

        {% endif %}
      </div>
    <form>
  </div>
  
{% endblock %}

{% block pageScripts %}
  <script>
    if (typeof MOJFrontend.MultiFileUpload !== "undefined") {
      new MOJFrontend.MultiFileUpload({
        container: $(".moj-multi-file-upload"),
        uploadUrl: "/ajax-upload",
        deleteUrl: "/ajax-delete",
      });
    }

  </script>
{% endblock %}