{% extends "layouts/main.html" %}
{% set version = "latest-nsm" %}

{% block header %}
  {% include version +"/includes/header-provider.html"%}
{% endblock %}


{% block pageTitle %}
  Claims details - Adjusted costs {{data['laa-ref'] or "LAA-5a7d3c"}} – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Claim details
    </h1>  
  </div>

  <!--Status of claim-->
  {% include version + "/includes/app-status-provider.html" %}

  <div class="govuk-grid-column-full" id="nav">
    
    <!--2nd nav-->
    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [{
        text: 'Overview',
        href: 'claim-details#nav',
        active: false
      }, 
      {
        text: 'Claimed costs',
        href: 'claim-details-all-costs#nav',
        active: false
      }, 
      {
        text: 'Adjusted costs',
        href: 'claim-details-adjusted-costs#nav',
        active: true
      }, 
      {
        text: 'Claim history',
        href: 'claim-details-history#nav',
        active: false
      }
      ]
    }) }}

    <h2 class="govuk-heading-l">Adjusted costs</h2>
    {% if data['app-task'] == "Part granted" or data['app-task'] == "In progress" %}      
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Costs summary</caption>
        <thead class="govuk-table__head">
          <td class="govuk-table__header"></td>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Net cost claimed</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">VAT on claimed</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total claimed</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Net cost allowed</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">VAT on allowed</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total allowed</th>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><span title="One or more of these items were adjusted to be a different work item type.">Profit costs</span> <sup><a href="#fn*" id="r*">[*]</a></sup></th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£285.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£57.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£342.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£281.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£56.20</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£341.20</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Disbursements</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£750.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£140.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£890.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£700.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£140.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£840.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Travel</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£25.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Waiting</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£10.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£60.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£10.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£60.00</td>
          </tr>        
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Sum of net cost claimed: </span><strong>£1135.00</strong></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Sum of VAT on claimed: </span><strong>£217.00</strong></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Sum of net cost and VAT on claimed: </span><strong>£1352.00</strong></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Sum of net cost allowed: </span><strong>£1032.00</strong></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Sum of VAT allowed: </span><strong>£106.20</strong></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Sum of net cost and VAT on allowed: </span><strong>£1241.20</strong></td>
          </tr>
        </tbody>
      </table> 
      {% else %}
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Costs summary</caption>
        <thead class="govuk-table__head">
          <td class="govuk-table__header"></td>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Net cost claimed</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">VAT on claimed</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total claimed</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Net cost allowed</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">VAT on allowed</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total allowed</th>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">Profit costs</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£285.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£57.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£342.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">Disbursements</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£750.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£140.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£890.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">Travel</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£25.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">Waiting</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£10.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£60.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
          </tr>        
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">Total</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Sum of net cost claimed: </span><strong>£1135.00</strong></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Sum of VAT on claimed: </span><strong>£217.00</strong></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Sum of net cost and VAT on claimed: </span><strong>£1352.00</strong></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
          </tr>
        </tbody>
      </table> 
    {% endif %}


    <!--TAbs items -->
     {% set workItemsHtml %} 
      <h3 class="govuk-heading-m">Adjusted work items</h3>

      {% if  data['app-task'] == "Part granted" or data['app-task'] == "In progress" %}
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Work items summary
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table">
              <caption class="govuk-visually-hidden">Summary of work items</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <td class="govuk-table__header"></td>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Time claimed</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Net cost claimed</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Time allowed</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Net cost allowed</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Travel</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">1<span class="govuk-visually-hidden"> hour </span>:00<span class="govuk-visually-hidden"> minutes</span></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
                   <td class="govuk-table__cell govuk-table__cell--numeric">0<span class="govuk-visually-hidden"> hour </span>:00<span class="govuk-visually-hidden"> minutes</span></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Waiting</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">1<span class="govuk-visually-hidden"> hour </span>:00<span class="govuk-visually-hidden"> minutes</span></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">1<span class="govuk-visually-hidden"> hour </span>:00<span class="govuk-visually-hidden"> minutes</span></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Attendance with counsel </th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">6<span class="govuk-visually-hidden"> hour </span>:00<span class="govuk-visually-hidden"> minutes</span></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£120.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">6<span class="govuk-visually-hidden"> hour </span>:00<span class="govuk-visually-hidden"> minutes</span></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£120.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" id="changedWorkItem1"><span title="One or more of these items were adjusted to be a different work item type.">Attendance without counsel</span> <sup><a href="#fn*" id="r*">[*]</a></sup></th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">4<span class="govuk-visually-hidden"> hour </span>:00<span class="govuk-visually-hidden"> minutes</span></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£100.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">3<span class="govuk-visually-hidden"> hour </span>:00<span class="govuk-visually-hidden"> minutes</span></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£75.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" id="changedWorkItem1"><span title="One or more items were adjusted to a different work item type.">Preparation</span> <sup><a href="#fn*" id="r*">[*]</a></sup></th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">1<span class="govuk-visually-hidden"> hour </span>:00<span class="govuk-visually-hidden"> minutes</span></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£25.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">1<span class="govuk-visually-hidden"> hour </span>:00<span class="govuk-visually-hidden"> minutes</span></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£25.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Advocacy</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">0<span class="govuk-visually-hidden"> hour </span>:00<span class="govuk-visually-hidden"> minutes</span></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">0<span class="govuk-visually-hidden"> hour </span>:00<span class="govuk-visually-hidden"> minutes</span></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                </tr>       
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__cell">Total</th>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Sum of net cost claimed: </span><strong>£345.00</strong></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Sum of net cost allowed: </span><strong>£245.00</strong></td>
                </tr>
              </tbody>
            </table> 
          </div>
        </details>
        
        {% else %}
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Work items summary
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table">
              <caption class="govuk-visually-hidden">Summary of work items</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <td scope="col" class="govuk-table__header govuk-!-width-one-quarter"></td>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Time claimed</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Net cost claimed</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Time allowed</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Net cost allowed</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Travel</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">1<span class="govuk-visually-hidden"> hour </span>:00<span class="govuk-visually-hidden"> minutes</span></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">0<span class="govuk-visually-hidden"> hour </span>:00<span class="govuk-visually-hidden"> minutes</span></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Waiting</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">1<span class="govuk-visually-hidden"> hour </span>:00<span class="govuk-visually-hidden"> minutes</span></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">1<span class="govuk-visually-hidden"> hour </span>:00<span class="govuk-visually-hidden"> minutes</span></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Attendance with counsel </th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">6<span class="govuk-visually-hidden"> hour </span>:00<span class="govuk-visually-hidden"> minutes</span></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£120.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">6<span class="govuk-visually-hidden"> hour </span>:00<span class="govuk-visually-hidden"> minutes</span></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£120.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Attendance without counsel </th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">4<span class="govuk-visually-hidden"> hour </span>:00<span class="govuk-visually-hidden"> minutes</span></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£100.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">3<span class="govuk-visually-hidden"> hour </span>:00<span class="govuk-visually-hidden"> minutes</span></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£75.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Preparation</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">1<span class="govuk-visually-hidden"> hour </span>:00<span class="govuk-visually-hidden"> minutes</span></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£25.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">1<span class="govuk-visually-hidden"> hour </span>:00<span class="govuk-visually-hidden"> minutes</span></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£25.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Advocacy</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">0<span class="govuk-visually-hidden"> hour </span>:00<span class="govuk-visually-hidden"> minutes</span></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">0<span class="govuk-visually-hidden"> hour </span>:00<span class="govuk-visually-hidden"> minutes</span></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                </tr>          
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__cell">Total</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Net cost claimed total of </span><strong>£345.00</strong></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                   <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Sum of net cost allowed: </span><strong>£245.00</strong></td>
                </tr>
              </tbody>
            </table> 
          </div>
        </details>
      {% endif %}
      
      <table class="govuk-table" data-module="moj-sortable-table">
        <caption class="govuk-visually-hidden">Adjusted work items</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col" aria-sort="ascending" id="itemTitle">Item</th>
            <th class="govuk-table__header" scope="col" aria-sort="none">Cost type</th>
            <th class="govuk-table__header" scope="col">Reason for adjustment</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col" aria-sort="none">Time allowed </th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col" aria-sort="none">Uplift allowed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col" aria-sort="none">Net cost allowed</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" id="item5">5</th>
            <th scope="row" class="govuk-table__header"><span title="This item was adjusted to be a different work item type."><a id="workType5" aria-labelledby="itemTitle item5 workType5" href="view-work-item?adjustedClaim=Yes">Travel</a></span> <sup><a href="#fn1" id="r1">[1]</th>
            <td class="govuk-table__cell">As the time claimed for the letter was 12 minutes or under, the preparation time claimed has been disallowed and a standard rate letter substituted. See 3.8.9 CBAM</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">3<span class="govuk-visually-hidden"> hour </span>:00<span class="govuk-visually-hidden"> minutes</span></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£75.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" id="item15">15</th>
            <th scope="row" class="govuk-table__header"><span title="This item was adjusted to be a different work item type."><a id="workType15" aria-labelledby="itemTitle item15 workType15" href="view-work-item?adjustedClaim=Yes">Travel</a></span> <sup><a href="#fn2" id="r2">[2]</th>
            <td class="govuk-table__cell">As the time claimed for the letter was 12 minutes or under, the preparation time claimed has been disallowed and a standard rate letter substituted. See 3.8.9 CBAM</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0<span class="govuk-visually-hidden"> hour </span>:00<span class="govuk-visually-hidden"> minutes</span></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          </tr>
        </tbody>
      </table>

      <nav class="moj-pagination" aria-label="Pagination navigation">
        <ul class="moj-pagination__list">
        </ul>
        <p class="moj-pagination__results">Showing <b>1</b> to <b>2</b> of <b>2</b> work items</p>
      </nav>

      {% if  data['app-task'] == "Part granted" or data['app-task'] == "In progress" %}
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        <section>
          <p id="fn1"><a href="#r1">[1]</a> This item was adjusted to be a different work item type. See: <a href="view-work-item">Item 5</a></a></p>
          <p id="fn2"><a href="#r2">[2]</a> This item was adjusted to be a different work item type. See: <a href="view-work-item">Item 15</a></a></p>
        </section>
      {% endif %}
      
    {% endset %}

    {% set lettersCallsHtml %}
      <h3 class="govuk-heading-m">Adjusted letters and calls</h3>
      <!--<p>There are no adjusted letters and calls</p>-->
      <table class="govuk-table">
        <caption class="govuk-visually-hidden">Adjusted letters and calls</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Cost type</th>
            <th class="govuk-table__header" scope="col">Reason for adjustment</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Number allowed </th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Uplift allowed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net cost allowed</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="x">Letters</a></th>
            <td class="govuk-table__cell">As the time claimed for the letter was 12 minutes or under, the preparation time claimed has been disallowed and a standard rate letter substituted. See 3.8.9 CBAM</td>
             <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£16.00</td> 
          </tr>
        </tbody>
      </table>
    {% endset %}

    {% set disbursementsHtml %} 
    
      <h3 class="govuk-heading-m">Adjusted disbursements</h3>

      <table class="govuk-table" data-module="moj-sortable-table">
        <caption class="govuk-visually-hidden">Adjusted disbursements</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col" aria-sort="ascending" id="disburseTitle">Item</th>
            <th class="govuk-table__header" scope="col" aria-sort="none">Cost type</th>
            <th class="govuk-table__header" scope="col">Reason for adjustment</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col" aria-sort="none">Net cost allowed </th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col" aria-sort="none">VAT on allowed</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col" aria-sort="none">Total cost allowed</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" id="disburseItem4">4</td>
            <th scope="row" class="govuk-table__header"><a id="disbursement4" aria-labelledby="disburseTitle disburseItem4 disbursement4" href="1">Car milage</a></td>
            <td class="govuk-table__cell">As the time claimed for the letter was 12 minutes or under, the preparation time claimed has been disallowed and a standard rate letter substituted. See 3.8.9 CBAM</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="120">£0.00</td>
          </tr>
        </tbody>
      </table>
      <nav class="moj-pagination" aria-label="Pagination navigation">
        <ul class="moj-pagination__list">
        </ul>
        <p class="moj-pagination__results">Showing <b>1</b> of <b>1</b> disbursements</p>
      </nav>
    {% endset %}
   

    {{ govukTabs({
      items: [
        {
          label: "Adjusted work items",
          id: "workItems",
          panel: {
            html: workItemsHtml
          }
        },
        {
          label: "Adjusted letters and calls",
          id: "lettersCalls",
          panel: {
            html: lettersCallsHtml
          }
        },
        {
          label: "Adjusted disbursements",
          id: "disbursements",
          panel: {
            html: disbursementsHtml
          }
        }
      ]
    }) }}

    {% if  data['app-task'] == "Part granted" or data['app-task'] == "In progress" %}
      <section>
        <p id="fn*">[*] One or more of these items were adjusted to be a different work item type. See: <a href="view-work-item">Item 5</a>, <a href="view-work-item">Item 15</a></p>
      </section>
    {% endif %}


{% endblock %}

