{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header-cw.html"%}
{% endblock %}

{% block pageTitle %}
  {{data['laa-ref'] or "LAA-5a7d3c"}} - Application history – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block beforeContent %}
  {% include "includes/banner.html"%}

  {{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: [
      {
        text: 'Your applications',
        href: '/caseworker/crm-assess',
        active: false
      },
      {
        text: 'Open applications',
        href: '/caseworker/crm-assess-open',
        active: false
      },
      {
        text: 'Referred applications',
        href: '/caseworker/crm-assess-referred',
        active: false
      },
      {
        text: 'Assessed applications',
        href: '/caseworker/crm-assess-closed',
        active: false
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {% include "includes/app-info-readonly.html"%}

      {{ mojSubNavigation({
        label: 'Sub navigation',
        items: [{
          text: 'Application overview',
          href: 'application-details-readonly',
          active: false
        }, {
          text: 'Review and adjust',
          href: 'application-details-adjust-readonly',
          active: false
        }, {
          text: 'Application history',
          href: 'application-details-history-readonly',
          active: true
        }]
      }) }}

      <h3 class="govuk-heading-m">Application history</h3>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
            <th scope="col" class="govuk-table__header">Caseworker</th>
            <th scope="col" class="govuk-table__header">Update</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Monday <br>7 Mar 2023 <br>01:47pm</td>
            <td class="govuk-table__cell">{{data['caseworker1']}}</td>
            <td class="govuk-table__cell"><strong>Referred</strong><br>Provider is requesting a service that we do not have costs for.</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Friday <br>7 Mar 2023 <br>01:43pm</td>
            <td class="govuk-table__cell">{{data['caseworker1']}}</td>
            <td class="govuk-table__cell"><strong>Assigned to {{data['caseworker1']}}</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Friday <br>7 Mar 2023 <br>11:02am</td>
            <td class="govuk-table__cell">{{data['caseworker2']}}</td>
            <td class="govuk-table__cell"><strong>Unassigned by {{data['caseworker1']}}</strong><br>Unable to assess as application is Prison Law
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Friday <br>7 Mar 2023 <br>11:01am</td>
            <td class="govuk-table__cell">{{data['caseworker2']}}</td>
            <td class="govuk-table__cell"><strong>Assigned to {{data['caseworker1']}}</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Friday <br>5 Mar 2023 <br>09:00</td>
            <td class="govuk-table__cell">N/A</td>
            <td class="govuk-table__cell"><strong>Received</strong></td>
          </tr>
        </tbody>
      </table>

      {{ mojPagination({
        items: [{
          text: '1',
          href: '/page=1',
          selected: true
        }, {
          text: '2',
          href: '/page=2',
          selected: false
        }, {
          text: '3',
          href: '/page=3'
        }, {
          type: 'dots'
        }, {
          text: '5',
          href: '/page=5'
        }],
        results: {
          count: 6,
          from: 1,
          to: 5,
          text: 'pages'
        },
        next: {
          text: 'Next'
        }
      }) }}        

    </div>

  </div>

{% endblock %}