{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header-cw.html"%}
{% endblock %}

{% block pageTitle %}
  {{data['laa-ref'] or "LAA-5a7d3c"}} - Application history – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block beforeContent %}
  {% include "includes/banner.html"%}

   {{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: [
      {
        text: 'Your applications',
        href: '/caseworker/crm-assess',
        active: false
      },
      {
        text: 'Open applications',
        href: '/caseworker/crm-assess-open',
        active: false
      },
      {
        text: 'Assessed applications',
        href: '/caseworker/crm-assess-closed',
        active: false
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{data['client-first--name'] or "Roger" }} {{data['client-last--name'] or "Blackbeard" }}</span>
      <h1 class="govuk-heading-xl">{{data['laa-ref'] or "LAA-5a7d3c"}}</h1>
      {% if data['cwAppStatus'] == "New" or data['cwAppStatus'] == null %}
        <strong class="govuk-tag">New</strong>
        {% else %}
        {% if data['cwAppStatus'] == "In progress" %}
          <strong class="govuk-tag govuk-tag--blue">In progress</strong>
          {% else %}
          {% if data['cwAppStatus'] == "Granted" %}
            <strong class="govuk-tag govuk-tag--green">Granted</strong>
            {% else %}
            {% if data['cwAppStatus'] == "Rejected" %}
              <strong class="govuk-tag govuk-tag--red">Rejected</strong>
              {% else %}
              {% if data['cwAppStatus'] == "Provider review" %}
                <strong class="govuk-tag govuk-tag--yellow">Provider review</strong>
                {% else %}
                {% if data['cwAppStatus'] == "Part granted" %}
                  <strong class="govuk-tag govuk-tag--green">Part granted</strong>
                  {% else %}
                  {% if data['cwAppStatus'] == "Amended" %}
                    <strong class="govuk-tag govuk-tag--green">Amended</strong>
                    {% else %}
                    {% if data['cwAppStatus'] == "Referred" %}
                      <strong class="govuk-tag govuk-tag--yellow">Referred</strong>
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
      <br><br>
      <p><span class="govuk-!-font-size-27">£{{data['actualdistTotalCost'] or "640"}}.00<br>
        {% if data['serviceType'] == "Other" %}
          Other: {{data['otherExpert'] or "Driving instructor" }}
          {% else %}
          {{data['serviceType'] or "Interpreter"}}
        {% endif %}
      </p>
      <p><span class="govuk-body-l"><strong>Assigned to:</strong> {{data['caseworker1']}}</span>
        <br><span class="govuk-body-l"><strong>Date received:</strong> 17th October 2023</span>
      </p>

      {{ mojSubNavigation({
        label: 'Sub navigation',
        items: [{
          text: 'Application overview',
          href: 'application-details',
          active: false
        }, {
          text: 'Review and adjust',
          href: 'application-details-quote',
          active: false
        }, {
          text: 'Application history',
          href: 'application-details-history',
          active: true
        }]
      }) }}

      <h3 class="govuk-heading-m">Application history</h3>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">When</th>
            <th scope="col" class="govuk-table__header">Who</th>
            <th scope="col" class="govuk-table__header">What</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Something</td>
            <td class="govuk-table__cell">Something</td>
            <td class="govuk-table__cell">Something</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Something</td>
            <td class="govuk-table__cell">Something</td>
            <td class="govuk-table__cell">Something</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Something</td>
            <td class="govuk-table__cell">Something</td>
            <td class="govuk-table__cell">Something</td>
          </tr>
        </tbody>
      </table>     


      <div class="govuk-button-group">
        {{ govukButton({
          text: "Make a decision"
        }) }}

        {{ govukButton({
          text: "Send back to provider",
          classes: "govuk-button--secondary"
        }) }}

        {{ govukButton({
          text: "Request external review ",
          classes: "govuk-button--secondary"
        }) }}

        {{ govukButton({
          text: "Save draft",
          classes: "govuk-button--secondary",
          href: "../crm-assess?cwAppState=all"
        }) }}
      </div>

    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">Related applications</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <p><a class="govuk-link govuk-link--no-visited-state" href="application-details-readonly?laa-ref=LAA-2c5g2d&serviceType=Transcription & translation">LAA-2c5g2d</a><br>
              Transcription & translation</p>
            </li> 
            <li>
              <p><a class="govuk-link govuk-link--no-visited-state" href="application-details-readonly?laa-ref=LAA-7c5g1e&serviceType=DNA Report">LAA-7c5g1e</a><br>
              DNA Report</p>
            </li> 
            <li>
              <p><a class="govuk-link govuk-link--no-visited-state" href="application-details-readonly?laa-ref=LAA-5a7d3c&serviceType=Cell phone site analysis">LAA-5a7d3c</a><br>
              Cell phone site analysis </p>
            </li> 
          </ul>
        </nav>
      </aside>
    </div>

  </div>

{% endblock %}