{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header-cw.html"%}
{% endblock %}

{% block pageTitle %}
  {{data['laa-ref'] or "LAA-5a7d3c"}} - Adjust additional cost 1 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block beforeContent %}
  {% include "includes/banner.html"%}

  {% include "includes/cw-nav-your.html"%}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Adjust additional cost 1</h1>

      <form class="form" action="application-details-adjust#additional1ID" method="post">      
        <p>Adjust the providers' costs by changing the values.</p>

        <!--Additonal cost 1-->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group">
            <legend class="govuk-fieldset__legend">
              Time
            </legend>
            <div class="govuk-date-input" id="addTime1">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="addTime1-hours">
                    Hours
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="addTime1-hours" name="addTime1-hours" type="text" inputmode="numeric" value="{{data['addTime1-hours'] or "4"}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="addTime1-mins">
                    Minutes
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="addTime1-mins" name="addTime1-mins" type="text" inputmode="numeric" value="{{data['addTime1-mins'] or "0"}}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukInput({
          id: "addCostTime1",
          name: "addCostTime1",
          value: data['addCostTime1'] or "30",
          label: {
            text: "What is the hourly cost?"
          },
          prefix: {
            text: "£"
          },
          classes: "govuk-input--width-5",
          spellcheck: false
        }) }}
      
        <input type="hidden" id="actualAdd1Total" name="actualAdd1Total" value="{{data['actualAdd1Total'] or "120"}}">                        
                
        <button class="govuk-button govuk-button--secondary" type="button" onclick="calAdd1CWCost()">Calculate my changes</button>
      

        <h2 class="govuk-heading-l">
          <span class="govuk-caption-m">Adjusted cost</span> £
          <span id="showAdd1Total">0</span>.00
        </h2>

        {{ govukTextarea({
          name: "addCost1Adjust",
          value: data['addCost1Adjust'],
          id: "addCost1Adjust",
          label: {
            text: "Explain your decision",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "For example, why you made adjustments to the cost or time. We'll share this explanation with the provider."
          }
        }) }}

        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save changes"
          }) }}
          <a class="govuk-link govuk-link--no-visited-state" href="application-details-adjust">Cancel</a>
        </div>

      </form>
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/calculate.js"></script>
{% endblock %}