{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header-cw.html"%}
{% endblock %}

{% block pageTitle %}
  {{data['laa-ref'] or "LAA-5a7d3c"}} - Application history – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block beforeContent %}
  {% include "includes/banner.html"%}

   {{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: [
      {
        text: 'Your applications',
        href: '/caseworker/crm-assess-readonly',
        active: false
      },
      {
        text: 'Open applications',
        href: '/caseworker/crm-assess-open-readonly',
        active: false
      },
      {
        text: 'Assessed applications',
        href: '/caseworker/crm-assess-closed-readonly',
        active: false
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {% include "includes/app-info-readonly.html"%}

      {{ mojSubNavigation({
        label: 'Sub navigation',
        items: [{
          text: 'Application overview',
          href: 'application-details-readonly',
          active: false
        }, {
          text: 'Review and adjust',
          href: 'application-details-quote-readonly',
          active: false
        }, {
          text: 'Application history',
          href: 'application-details-history-readonly',
          active: true
        }]
      }) }}

      <h3 class="govuk-heading-m">Application history</h3>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">When</th>
            <th scope="col" class="govuk-table__header">Who</th>
            <th scope="col" class="govuk-table__header">What</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Something</td>
            <td class="govuk-table__cell">Something</td>
            <td class="govuk-table__cell">Something</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Something</td>
            <td class="govuk-table__cell">Something</td>
            <td class="govuk-table__cell">Something</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Something</td>
            <td class="govuk-table__cell">Something</td>
            <td class="govuk-table__cell">Something</td>
          </tr>
        </tbody>
      </table>     


    </div>

   {% include "includes/app-related.html"%}

  </div>

{% endblock %}