{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header-cw.html"%}
{% endblock %}

{% block pageTitle %}
  {{data['laa-ref'] or "LAA-5a7d3c"}} - Further information required – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block beforeContent %}
  {% include "includes/banner.html"%}

 {% include "includes/cw-second-nav.html"%}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">{{data['laa-ref'] or "LAA-5a7d3c"}}</span>
      <h1 class="govuk-heading-xl">Request more information from the provider</h1>

      <form class="form" action="application-details-readonly?cwAppStatus=Review" method="post">
        
        {{ govukTextarea({
          name: "referredConfirm",
          value: data['referredConfirm'],
          id: "referredConfirm",
          label: {
            text: "Explain what more information you need from the provider and why",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "For example, why you need more details around their primary quote"
          }
        }) }}    
  
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Send to provider"
          }) }}
         <a class="govuk-link" href="application-details">Cancel</a>
        </div>

      </form>
    </div>
  </div>

{% endblock %}
