{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header-cw.html"%}
{% endblock %}

{% block pageTitle %}
  {{data['laa-ref'] or "LAA-5a7d3c"}} - Application details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  {% if data['cwAppStatus'] == "In progress" or data['cwAppStatus'] == "New" %}
    {% include "includes/cw-nav-open.html"%}
    {% else %}
    {% include "includes/cw-nav-assessed.html"%}
  {% endif %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full"> 
      {% include "includes/app-info-readonly.html"%}

      {{ mojSubNavigation({
        label: 'Sub navigation',
        items: [{
          text: 'Overview',
          href: 'application-details-readonly',
          active: false
        },  
        {
          text: 'Adjustments',
          href: 'application-details-adjust-readonly',
          active: true
        }, 
        {
          text: 'Related applications',
          href: 'application-details-related-readonly',
          active: false
        },
        {
          text: 'Application history',
          href: 'application-details-history-readonly',
          active: false
        }]
      }) }}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">Adjustments</h2>

      {% include "includes/adjust-info.html"%}

      <h4 class="govuk-heading-m">{{data['serviceType'] or "Interpreter"}} cost</h4>

      {% if data['serviceAdjust'] == null %}
        {% else %}
        <div class="govuk-inset-text">
          {{data['serviceAdjust']}}
        </div>
      {% endif %}

      {% if data['serviceType'] == "Transcription" %}
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Requested</th>
              <th scope="col" class="govuk-table__header">Caseworker adjusted</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Amount</td>
              <td class="govuk-table__cell">20 minutes</td>
              {% if data['transNoMins'] == null %}
                <td class="govuk-table__cell"></td>
                {% else %}
                <td class="govuk-table__cell">{{data['transNoMins'] or ""}} minutes</td>
              {% endif %}
            </tr>
             <tr class="govuk-table__row">
              <td class="govuk-table__cell">Rate</td>
              <td class="govuk-table__cell">£20.00 per minute</td>
              {% if data['transCostMin'] == null %}
                <td class="govuk-table__cell"></td>
                {% else %}
                <td class="govuk-table__cell">£{{data['transCostMin'] or ""}}.00 per minute</td>
              {% endif %}
            </tr>
             <tr class="govuk-table__row">
              <td class="govuk-table__cell">Total</td>
              <td class="govuk-table__cell">£400.00</td>
              {% if data['actualTransTotal'] == null %}
                <td class="govuk-table__cell"></td>
                {% else %}
                <td class="govuk-table__cell">£{{data['actualTransTotal'] or ""}}.00</td>
              {% endif %}
            </tr>
          </tbody>
        </table>
        <p><a href="application-change-service">Adjust service costs</a></p>

        {% else %}
        {% if data['serviceType'] == "Translation and transcription" %}
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Details</th>
                <th scope="col" class="govuk-table__header">Requested</th>
                <th scope="col" class="govuk-table__header">Caseworker adjusted</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Amount</td>
                <td class="govuk-table__cell">20 minutes</td>
                {% if data['transtransNoMins'] == null %}
                  <td class="govuk-table__cell"></td>
                  {% else %}
                  <td class="govuk-table__cell">{{data['transtransNoMins'] or ""}} minutes</td>
                {% endif %}
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rate</td>
                <td class="govuk-table__cell">£20.00 per minute</td>
                {% if data['transtransCostMin'] == null %}
                  <td class="govuk-table__cell"></td>
                  {% else %}
                  <td class="govuk-table__cell">£{{data['transtransCostMin'] or ""}}.00 per minute</td>
                {% endif %}
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Total</td>
                <td class="govuk-table__cell">£400.00</td>
                {% if data['actualTransTransTotal'] == null %}
                  <td class="govuk-table__cell"></td>
                  {% else %}
                  <td class="govuk-table__cell">£{{data['actualTransTransTotal'] or ""}}.00</td>
                {% endif %}
              </tr>
            </tbody>
          </table>
          <p><a href="application-change-service">Adjust service costs</a></p>

          {% else %}
          {% if data['serviceType'] == "Translation" %} 
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Details</th>
                  <th scope="col" class="govuk-table__header">Requested</th>
                  <th scope="col" class="govuk-table__header">Caseworker adjusted</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Amount</td>
                  <td class="govuk-table__cell">20000 words</td>
                  {% if data['translatorWords'] == null %}
                    <td class="govuk-table__cell"></td>
                    {% else %}
                    <td class="govuk-table__cell">{{data['translatorWords'] or ""}} words</td>
                  {% endif %}
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Rate</td>
                  <td class="govuk-table__cell">£20.00 per 1000 words</td>
                  {% if data['translatorCostWord'] == null %}
                    <td class="govuk-table__cell"></td>
                    {% else %}
                    <td class="govuk-table__cell">£{{data['translatorCostWord'] or "19"}}.00 per 1000 words</td>
                  {% endif %}
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Total</td>
                  <td class="govuk-table__cell">£400.00</td>
                  {% if data['actualTranslatorTotal'] == null %}
                    <td class="govuk-table__cell"></td>
                    {% else %}
                    <td class="govuk-table__cell">£{{data['actualTranslatorTotal'] or ""}}.00</td>
                  {% endif %}
                </tr>
              </tbody>
            </table>

            {% else %}
            {% if data['serviceType'] == "Photocopying" %} 
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Details</th>
                    <th scope="col" class="govuk-table__header">Requested</th>
                    <th scope="col" class="govuk-table__header">Caseworker adjusted</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Amount</td>
                    <td class="govuk-table__cell">20 words</td>
                    {% if data['photoNoPages'] == null %}
                      <td class="govuk-table__cell"></td>
                      {% else %}
                      <td class="govuk-table__cell">{{data['photoNoPages'] or ""}} words</td>
                    {% endif %}
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Rate</td>
                    <td class="govuk-table__cell">£20.00 per word</td>
                    {% if data['photoCostPage'] == null %}
                      <td class="govuk-table__cell"></td>
                      {% else %}
                      <td class="govuk-table__cell">£{{data['photoCostPage'] or ""}}.00 per word</td>
                    {% endif %}
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Total</td>
                    <td class="govuk-table__cell">£400.00</td>
                    {% if data['actualPhotoTotal'] == null %}
                      <td class="govuk-table__cell"></td>
                      {% else %}
                      <td class="govuk-table__cell">£{{data['actualPhotoTotal'] or ""}}.00</td>
                    {% endif %}
                  </tr>
                </tbody>
              </table>
              <p><a href="application-change-service">Adjust service costs</a></p>

              {% else %}
              {% if data['serviceType'] == "Other" and  data['otherChargeType'] =="Charged by the hour"%} 
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Details</th>
                      <th scope="col" class="govuk-table__header">Requested</th>
                      <th scope="col" class="govuk-table__header">Caseworker adjusted</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Amount</td>
                      <td class="govuk-table__cell">2 hours 0 minutes</td>
                      {% if data['otherNoHours-hours'] == null %}
                        <td class="govuk-table__cell"></td>
                        {% else %}
                        <td class="govuk-table__cell">{{data['otherNoHours-hours'] or "2"}} hours {{data['otherNoHours-mins'] or "0"}} minutes</td>
                      {% endif %}
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Rate</td>
                      <td class="govuk-table__cell">£200 per hour</td>
                      {% if data['otherCostTime'] == null %}
                        <td class="govuk-table__cell"></td>
                        {% else %}
                        <td class="govuk-table__cell">£{{data['otherCostTime'] or "200"}} per hour</td>
                      {% endif %}
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Total</td>
                      <td class="govuk-table__cell">£400.00</td>
                      {% if data['actualOtherTotal'] == null %}
                        <td class="govuk-table__cell"></td>
                        {% else %}
                        <td class="govuk-table__cell">£{{data['actualOtherTotal'] or ""}}.00</td>
                      {% endif %}
                    </tr>
                  </tbody>
                </table>
                <p><a href="application-change-service">Adjust service costs</a></p>

                {% else %}
                {% if data['serviceType'] == "Other"%} 

                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Details</th>
                        <th scope="col" class="govuk-table__header">Requested</th>
                        <th scope="col" class="govuk-table__header">Caseworker adjusted</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Amount</td>
                        <td class="govuk-table__cell">2 items</td>
                        {% if data['otherNoItems'] == null %}
                          <td class="govuk-table__cell"></td>
                          {% else %}
                          <td class="govuk-table__cell">{{data['otherNoItems'] or ""}} items</td>
                        {% endif %}
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Rate</td>
                        <td class="govuk-table__cell">£200.00 per item</td>
                        {% if data['otherItemsCost'] == null %}
                          <td class="govuk-table__cell"></td>
                          {% else %}
                          <td class="govuk-table__cell">£{{data['otherItemsCost'] or ""}}.00 per item</td>
                        {% endif %}
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Total</td>
                        <td class="govuk-table__cell">£400.00</td>
                        {% if data['actualOtherTotal'] == null %}
                          <td class="govuk-table__cell"></td>
                          {% else %}
                          <td class="govuk-table__cell">£{{data['actualOtherTotal'] or ""}}.00</td>
                        {% endif %}
                      </tr>
                    </tbody>
                  </table>
                  <p><a href="application-change-service">Adjust service costs</a></p>

                  {% else %}
                  {% if data['serviceType'] == "DNA report" %}
                    <!--All other service types-->
                    <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header">Details</th>
                          <th scope="col" class="govuk-table__header">Requested</th>
                          <th scope="col" class="govuk-table__header">Caseworker adjusted</th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Amount</td>
                          <td class="govuk-table__cell">1 report</td>
                          {% if data['dnaNoReport'] == null %}
                            <td class="govuk-table__cell"></td>
                            {% else %}
                            <td class="govuk-table__cell">{{data['dnaNoReport'] or ""}} report</td>
                          {% endif %}
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Rate</td>
                          <td class="govuk-table__cell">£400 per report</td>
                          {% if data['dnaReportCost'] == null %}
                            <td class="govuk-table__cell"></td>
                            {% else %}
                            <td class="govuk-table__cell">£{{data['dnaReportCost'] or ""}} per report</td>
                          {% endif %}
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Total</td>
                          <td class="govuk-table__cell">£400.00</td>
                          {% if data['actualDNATotal'] == null %}
                            <td class="govuk-table__cell"></td>
                            {% else %}
                            <td class="govuk-table__cell">£{{data['actualDNATotal'] or ""}}.00</td>
                          {% endif %}
                        </tr>
                      </tbody>
                    </table>
                    
                    {% else %}
                    <!--All other service types-->
                    <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header">Details</th>
                          <th scope="col" class="govuk-table__header">Requested</th>
                          <th scope="col" class="govuk-table__header">Caseworker adjusted</th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Amount</td>
                          <td class="govuk-table__cell">2 hour 0 minutes</td>
                          {% if data['generalNoHours-hours'] == null %}
                            <td class="govuk-table__cell"></td>
                            {% else %}
                            <td class="govuk-table__cell">{{data['generalNoHours-hours'] or "2"}} hours {{data['generalNoHours-mins'] or "0"}} minutes</td>
                          {% endif %}
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Rate</td>
                          <td class="govuk-table__cell">£200 per hour</td>
                          {% if data['generalNoHours-hours'] == null %}
                            <td class="govuk-table__cell"></td>
                            {% else %}
                            <td class="govuk-table__cell">£{{data['generalCost'] or "200"}} per hour</td>
                          {% endif %}
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Total</td>
                          <td class="govuk-table__cell">£400.00</td>
                          {% if data['actualGeneralTotal'] == null %}
                            <td class="govuk-table__cell"></td>
                            {% else %}
                            <td class="govuk-table__cell">£{{data['actualGeneralTotal'] or ""}}.00</td>
                          {% endif %}
                        </tr>
                      </tbody>
                    </table>

                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}

      <h4 class="govuk-heading-m">Travel cost</h4>

      {% if data['addTravel'] =="No" %}
        <p>No travel costs added</p>
        {% else %}

        {% if data['travelAdjust'] == null %}
          {% else %}
          <div class="govuk-inset-text">
            {{data['travelAdjust']}}
          </div>
        {% endif %}

        <p>Reason for travel cost: "{{data['whyTravel'] or "The expert lives in Ireland"}}"</p>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Requested</th>
              <th scope="col" class="govuk-table__header">Caseworker adjusted</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Amount</td>
              <td class="govuk-table__cell">3 hours 0 minutes</td>
              {% if data['travelTime-hours'] == null %}
                <td class="govuk-table__cell"></td>
                {% else %}
                <td class="govuk-table__cell">{{data['travelTime-hours'] or ""}} hours {{data['travelTime-mins'] or "0"}} minutes</td>
              {% endif %}
            </tr>
             <tr class="govuk-table__row">
              <td class="govuk-table__cell">Rate</td>
              <td class="govuk-table__cell">£40.00 per hour</td>
              {% if data['travelCostTime'] == null %}
                <td class="govuk-table__cell"></td>
                {% else %}
                <td class="govuk-table__cell">£{{data['travelCostTime'] or ""}}.00 per hour</td>
              {% endif %}
            </tr>
             <tr class="govuk-table__row">
              <td class="govuk-table__cell">Total</td>
              <td class="govuk-table__cell">£120.00</td>
              {% if data['actualTravelTotal'] == null %}
                <td class="govuk-table__cell"></td>
                {% else %}
                <td class="govuk-table__cell">£{{data['actualTravelTotal'] or ""}}.00</td>
              {% endif %}
            </tr>
          </tbody>
        </table>
      {% endif %}

      {% if data['addAdd'] =="No" %}
      <h4 class="govuk-heading-m">Additional costs</h4>
        <p>No additional costs added</p>
        {% else %}

        <h4 class="govuk-heading-m">Additional cost 1</h4>
        {% if data['addCost1Adjust'] == null %}
          {% else %}
          <div class="govuk-inset-text">
            {{data['addCost1Adjust']}}
          </div>
        {% endif %}
        <p>Cost description: "{{data['addCost1'] or "Waiting time"}} - {{data['whyAdd1'] or "Waited at police station for client to be interviewed"}}"</p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Requested</th>
              <th scope="col" class="govuk-table__header">Caseworker adjusted</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Amount</td>
              <td class="govuk-table__cell">4 hours 0 minutes</td>
              {% if data['actualAdd1Total'] == null %}
                <td class="govuk-table__cell"></td>
                {% else %}
                <td class="govuk-table__cell">{{data['addTime1-hours'] or ""}} hours {{data['addTime1-mins'] or "0"}} minutes</td>
              {% endif %}
            </tr>
             <tr class="govuk-table__row">
              <td class="govuk-table__cell">Rate</td>
              <td class="govuk-table__cell">£40.00 per hour</td>
              {% if data['actualAdd1Total'] == null %}
                <td class="govuk-table__cell"></td>
                {% else %}
                <td class="govuk-table__cell">£{{data['addCostTime1'] or ""}} per hour</td>
              {% endif %}
            </tr>
             <tr class="govuk-table__row">
              <td class="govuk-table__cell">Total</td>
              <td class="govuk-table__cell">£120.00</td>
              {% if data['actualAdd1Total'] == null %}
                <td class="govuk-table__cell"></td>
                {% else %}
                <td class="govuk-table__cell">£{{data['actualAdd1Total'] or ""}}.00</td>
              {% endif %}
            </tr>
          </tbody>
        </table>

        <h4 class="govuk-heading-m">Additional cost 2</h4>
        <p>Cost description: "{{data['addCost2'] or "Hotel"}} - {{data['whyAdd2'] or "The expert traveled from Ireland and was unable to return the same day."}}"</p>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Details</th>
              <th scope="col" class="govuk-table__header">Requested</th>
              <th scope="col" class="govuk-table__header">Caseworker adjusted</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Amount</td>
              <td class="govuk-table__cell">4 hours 0 minutes</td>
              {% if data['actualAdd2Total'] == null %}
                <td class="govuk-table__cell"></td>
                {% else %}
                <td class="govuk-table__cell">{{data['addTime2-hours'] or ""}} hours {{data['addTime1-mins'] or "0"}} minutes</td>
              {% endif %}
            </tr>
             <tr class="govuk-table__row">
              <td class="govuk-table__cell">Rate</td>
              <td class="govuk-table__cell">£40.00 per hour</td>
              {% if data['actualAdd2Total'] == null %}
                <td class="govuk-table__cell"></td>
                {% else %}
                <td class="govuk-table__cell">£{{data['addCostTime2'] or ""}} per hour</td>
              {% endif %}
            </tr>
             <tr class="govuk-table__row">
              <td class="govuk-table__cell">Total</td>
              <td class="govuk-table__cell">£120.00</td>
              {% if data['actualAdd2Total'] == null %}
                <td class="govuk-table__cell"></td>
                {% else %}
                <td class="govuk-table__cell">£{{data['actualAdd2Total'] or ""}}.00</td>
              {% endif %}
            </tr>
          </tbody>
        </table>
        <br>       
      {% endif %}
    </div>
  </div>

{% endblock %}