{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header-cw.html"%}
{% endblock %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block beforeContent %}
  {% include "includes/banner.html"%}

  {{ govukBackLink({
    text: "Back",
    href: "javascript: history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{data['laa-ref'] or "LAA-5a7d3c"}}</span>
      <h1 class="govuk-heading-xl">{{data['client-first--name'] or "Roger" }} {{data['client-last--name'] or "Blackbeard" }}</h1>
      {% if data['cwAppSatus'] == "New" or data['cwAppSatus'] == null %}
        <strong class="govuk-tag">New</strong>
        {% else %}
        {% if data['cwAppSatus'] == "In progress" %}
          <strong class="govuk-tag">In progress</strong>
          {% else %}
          {% if data['cwAppSatus'] == "Granted" %}
            <strong class="govuk-tag">Granted</strong>
            {% else %}
            {% if data['cwAppSatus'] == "Rejected" %}
              <strong class="govuk-tag">Rejected</strong>
              {% else %}
              {% if data['cwAppSatus'] == "Review" %}
                <strong class="govuk-tag">Provider review</strong>
                {% else %}
                {% if data['cwAppSatus'] == "Appealed" %}
                  <strong class="govuk-tag">Appealed</strong>
                  {% else %}
                  {% if data['cwAppSatus'] == "Amended" %}
                    <strong class="govuk-tag">Amended</strong>
                    {% else %}
                    {% if data['cwAppSatus'] == "Referred" %}
                      <strong class="govuk-tag">Referred</strong>
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
      <br><br>
      <p><span class="govuk-!-font-size-27">£{{data['actualdistTotalCost'] or "120"}}.00</p>
      <p><span class="govuk-body-l"><strong>Assigned to:</strong> {{data['caseworker1']}}</span>
        <br><span class="govuk-body-l"><strong>Date received:</strong> 17th October 2023</span></p>
    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <br>
            <strong>Related applications</strong><br> 
            <a class="govuk-link govuk-link--no-visited-state">{{data['laa-ref'] or "LAA-5a7d3c"}} - John Stevens</a>
          </li>
        </ul>
      </aside>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       {{ mojSubNavigation({
        label: 'Sub navigation',
        items: [{
          text: 'Application overview',
          href: 'application-details',
          active: true
        }, {
          text: 'Review and adjust',
          href: 'application-details-quote'
        }, {
          text: 'Application history',
          href: '#3'
        }]
      }) }}

      <div class="govuk-summary-card">

        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Application details</h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Prison Law
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['prisonLaw'] | default("No")}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                LAA reference
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['laa-ref'] or "LAA-5a7d3c"}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Unique file number
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['ufn'] or "100323/234234"}}
              </dd>
              <dd class="govuk-summary-list__actions">
                {% if data['changeUFN'] == "change" %}
                  <a class="govuk-link" href="question-ufn?changeUFN=change">
                    Review<span class="govuk-visually-hidden"> unique file number</span>
                  </a>
                  {% else %}
                    <a class="govuk-link--no-visited-state" href="question-ufn?changeUFN=change">
                      Review<span class="govuk-visually-hidden"> unique file number</span>
                    </a>
                {% endif %} 
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <h2 class="govuk-heading-m">About the case </h2>

      <!--Client details-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">Client details</h3>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <!--For the proto make links show as not yet selected until the user does the action-->
              {% if data['reviewClient'] == "review" %}
                <a class="govuk-link" href="review-client?reviewClient=review">Review<span class="govuk-visually-hidden"> client details</span></a>
                {% else %}
                <a class="govuk-link--no-visited-state" href="review-client?reviewClient=review">Review<span class="govuk-visually-hidden"> client details</span></a>
              {% endif %} 
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          {% if data['fieldClient'] == null or data['fieldClient'] == "" %}
            {% else %}
            <div class="govuk-inset-text">
              {{data['fieldClient']}} <br>
            </div>
          {% endif %}
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Client name
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['client-first--name'] or "Roger" }} {{data['client-last--name'] or "Blackbeard" }}<br>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['client-dob-day'] or "10" }} {{data['client-dob-month'] or "May" }} {{data['client-dob-year'] or "2001" }}
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <!--Case details-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">Case details</h3>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <!--For the proto make links show as not yet selected until the user does the action-->
              {% if data['reviewCase'] == "review" %}
                <a class="govuk-link" href="review-case?reviewCase=review">Review<span class="govuk-visually-hidden"> case details</span></a>
                {% else %}
                <a class="govuk-link--no-visited-state" href="review-case?reviewCase=review">Review<span class="govuk-visually-hidden"> case details</span></a>
              {% endif %} 
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
           {% if data['fieldCase'] == null or data['fieldCase'] == "" %}
            {% else %}
            <div class="govuk-inset-text">
              {{data['fieldCase']}}
            </div>
          {% endif %}
          
          <dl class="govuk-summary-list">
            
            {% if data['prisonLaw'] == "Yes" %}
              <!--If YES to Prison Law--->
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Subject to POCA
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['poca'] or "Yes" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of next hearing
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['date-hearing-day'] or "23" }} {{data['date-hearing-month'] or "September" }} {{data['date-hearing-year'] or "2024" }}
                </dd>
              </div>
              {% else %}
              <!--If prison law is NO-->
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Main offence
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['main-offence'] or "Anti-social behaviour orders (for applications made prior to 23rd March 2015)" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of representation order
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['rep-order-day'] or "19" }} {{data['rep-order-month'] or "April" }} {{data['rep-order-year'] or "2023" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  MAAT number
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['maat'] or "12345678" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Client detained
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if data['detained'] == "Yes" %}
                    {{data['prisons'] or "Belmarsh" }}
                    {% else %}
                    No
                  {% endif %}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Subject to POCA
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['poca'] or "Yes"}}
                </dd>
              </div>
            {% endif %}
          </dl>
        </div>
      </div>

      <!--Hearing details-->
      {% if data['prisonLaw'] == "No" or data['prisonLaw'] == null %}
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Hearing details</h3>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <!--For the proto make links show as not yet selected until the user does the action-->
                {% if data['reviewHearing'] == "review" %}
                  <a class="govuk-link" href="review-hearing?reviewHearing=review">Review<span class="govuk-visually-hidden"> hearing details</span></a>
                  {% else %}
                  <a class="govuk-link--no-visited-state" href="review-hearing?reviewHearing=review">Review<span class="govuk-visually-hidden"> hearing details</span></a>
                {% endif %} 
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            {% if data['fieldHearing'] == null or data['fieldHearing'] == "" %}
              {% else %}
              <div class="govuk-inset-text">
                {{data['fieldHearing']}}
              </div>
            {% endif %}
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of next hearing
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['date-hearing-day'] or "12"}} {{data['date-hearing-month'] or "July"}} {{data['date-hearing-year'] or "2024"}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Likely or actual plea 
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['plea'] or "Not guilty" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Court type
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['courtType'] or "Central Criminal Court" }}
                </dd>
              </div>
              {% if data['courtType'] == "Magistrates' court" %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Youth court matter
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['youthCourt'] or "No"}}
                  </dd>
                </div>
                {% else %}
                {% if data['courtType'] == null %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Psychiatric liaison service accessed
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{data['psychLiaison'] or "No"}}
                    </dd>
                  </div>
                  {% if data['psychLiaison'] == "Yes" %}
                    {% else %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Why not?
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{data['psychmoreDetail'] or "Not required" }}
                      </dd>
                    </div>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
          </dl>
        </div>
      {% endif %}

      <!--About the request-->
      <h2 class="govuk-heading-m">About the request</h2>

      <!--Primary quote-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">Primary quote</h3>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <!--For the proto make links show as not yet selected until the user does the action-->
              {% if data['changeQuote'] == "change" %}
                <a class="govuk-link" href="application-details-quote?changeQuote=change">Review and adjust<span class="govuk-visually-hidden"> primary quote details</span></a>
                {% else %}
                <a class="govuk-link--no-visited-state" href="application-details-quote?changeQuote=change">Review and adjust<span class="govuk-visually-hidden"> primary quote details</span></a>
              {% endif %} 
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-!-margin-bottom-6">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Expert details
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['expert-name'] or "Joanna White" }}<br>
                {{data['expert-org-name'] or "DNA Plc" }}, 
                {{data['expert-postcode'] or "E1 3RD" }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Service required
              </dt>
              <dd class="govuk-summary-list__value">
                 {% if data['serviceType'] == "Other" %}
                  {{data['otherExpert'] or "Driving instructor" }}
                  {% else %}
                  {{data['serviceType'] or "Interpreter"}}
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Quote upload
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="">myquote1.pdf</a>
              </dd>
            </div>
             {% if data['serviceType'] == "Psychiatric report (Prison Law)" or data['serviceType'] == "Psychological report (Prison Law)" or data['serviceType'] == "Interpreter" or  data['serviceType'] == null %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Ordered by court
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['courtOrdered'] or "Yes" }}
                </dd>
              </div>
             {% else %}
             
            {% endif %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Existing prior authority granted
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['existingAuth'] or "No"}}
              </dd>
            </div>
            {% if data['detained'] == "Yes" or data['prisonLaw'] == "Yes" %}
              {% else %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Why travel costs are required 
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['whyTravel'] or "The expert lives in Ireland"}}
                </dd>
              </div>
            {% endif %}
          </dl>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Costs</th>
                <th scope="col" class="govuk-table__header">Total</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Service</td>
                <!--Service cost-->
                {% if data['serviceType'] == "DNA report" %}
                  <td class="govuk-table__cell">£{{data['dnaCost'] or "400" }}.00</td>
                  {% else %}
                  {% if data['serviceType'] == "Transcription" %}
                    <td class="govuk-table__cell">£{{data['actualTransTotal'] or "400" }}.00</td>
                    {% else %}
                    {% if data['serviceType'] == "Translation and transcription" %}
                      <td class="govuk-table__cell">£{{data['actualTransTransTotal'] or "400" }}.00</td>
                      {% else %}
                      {% if data['serviceType'] == "Translator" %} 
                        <td class="govuk-table__cell">£{{data['actualTranslatorTotal'] or "400" }}.00</td>
                        {% else %}
                        {% if data['serviceType'] == "Photocopying" %} 
                          <td class="govuk-table__cell">£{{data['actualPhotoTotal'] or "400" }}.00</td>
                          {% else %}
                          {% if data['serviceType'] == "Other" and data['otherChargeType'] =="Charged by the hour"%} 
                            <td class="govuk-table__cell">£{{data['actualOtherTotal'] or "400" }}.00</td>
                            {% else %}
                            {% if data['serviceType'] == "Other" and data['otherChargeType'] =="Charged per item"%} 
                              <td class="govuk-table__cell">£{{data['actualOtherTotal'] or "400" }}.00</td>
                              {% else %}
                              {% if data['serviceType'] !== "DNA report" %}
                                <td class="govuk-table__cell">£{{data['actualGeneralTotal'] or "400" }}.00</td>
                              {% endif %}
                            {% endif %}
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              </tr>
              {% if data['addTravel'] == "No" %}
                {% else %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Travel</td>
                  <td class="govuk-table__cell">£{{data['actualTravelTotal'] or "120" }}.00</td>
                </tr>
              {% endif %}
              {% if data['addAdd'] == "No" %}
                {% else %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Additional</td>
                  <td class="govuk-table__cell">£{{data['actualaddFinalTotal'] or "120" }}.00</td>
                </tr>
              {% endif %}
               </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-table__header">Total cost</td>
                  <td class="govuk-table__cell"><strong>£{{data['actualdistTotalCost'] or "640"}}.00</strong></td>
                </tr>
            </tbody>
          </table>         
        </div>
      </div>

      <!--Alt quotes-->

      <!--Alt1-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Alternative quote 1</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <!--For the proto make links show as not yet selected until the user does the action-->
              {% if data['reviewAlt1'] == "review" %}
                <a class="govuk-link" href="review-alt-quote?addAlt=Yes&showAltQuote=1&reviewAlt1=review">
                Review<span class="govuk-visually-hidden"> additional item</span></a>
                {% else %}
                <a class="govuk-link--no-visited-state" href="review-alt-quote?addAlt=Yes&showAltQuote=1&reviewAlt1=review">Review<span class="govuk-visually-hidden"> additional item</a>
              {% endif %} 
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          {% if data['reviewAltQuote1'] == null or data['reviewAltQuote1'] == "" %}
            {% else %}
            <div class="govuk-inset-text">
              {{data['fieldAltQuote1']}} <br>
              {{data['infoAltQuote1']}}<br>
              {{data['docAltQuote1']}}
            </div>
          {% endif %}
          <dl class="govuk-summary-list govuk-!-margin-bottom-6">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Expert details
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['alt1ExpertName'] or "Jame Jones"}}<br>
                {{data['alt1ExpertOrg'] or "Jones Law"}}, 
                {{data['alt1ExpertPostcode'] or "E1"}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Quote upload
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="">myquote1.pdf</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Additional items
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['alt1Descript'] or "None"}}
              </dd>
            </div>
          </dl>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Costs</th>
                <th scope="col" class="govuk-table__header">Total</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Service</td>
                <td class="govuk-table__cell">
                  <!--Service cost-->
                  {% if data['serviceType'] == "Transcription" %}
                      £{{data['alt1actualTransTotalCost'] or "760"}}.00
                      {% else %}
                      {% if data['serviceType'] == "Translation and transcription" %}
                        £{{data['alt1actualTransTotalCost'] or "760"}}.00
                        {% else %}
                        {% if data['serviceType'] == "Translator" %}
                          £{{data['alt1actualTransTotalCost'] or "760"}}.00
                          {% else %}
                          {% if data['serviceType'] == "Photocopying" %}
                            £{{data['alt1actualTransTotalCost'] or "760"}}.00
                            {% else %}
                            {% if data['serviceType'] == "DNA report" %}
                              £{{data['alt1actualTransTotalCost'] or "760"}}.00
                              {% else %}
                              {% if data['serviceType'] == "Other" %}
                                £{{data['alt1actualTransTotalCost'] or "760"}}.00
                                {% else %}
                                £{{data['alt1actualTransTotalCost'] or "760"}}.00
                              {% endif %}
                            {% endif %}
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    {% endif %}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Travel</td>
                <td class="govuk-table__cell">£{{data['actualalt1TravelTotal'] or "0"}}.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Additional</td>
                <td class="govuk-table__cell">£{{data['alt1AddCost'] or "0"}}.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table__header">Total cost</td>
                <td class="govuk-table__cell"><strong>£{{data['actualalt1TotalCost'] or "760"}}.00</strong></td>
              </tr>          
          </tbody>
          </table>  
        </div>
      </div>

      <!--Alt2-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Alternative quote 2</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <!--For the proto make links show as not yet selected until the user does the action-->
              {% if data['reviewAlt2'] == "reivew" %}
                <a class="govuk-link" href="review-alt-quote?addAlt=Yes&showAltQuote=2&reviewAlt2=review">
                Review<span class="govuk-visually-hidden"> additional item</span></a>
                {% else %}
                <a class="govuk-link--no-visited-state" href="review-alt-quote?addAlt=Yes&showAltQuote=2&reviewAlt2=review">Review<span class="govuk-visually-hidden"> additional item</a>
              {% endif %} 
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-!-margin-bottom-6">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Expert details
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['alt2ExpertName'] or "Belinda Cartright"}}<br>
                {{data['alt2ExpertOrg'] or "Cartright Ltd"}}, 
                {{data['alt2ExpertPostcode'] or "E2"}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Quote upload
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="">myquote2.pdf</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Additional items
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['alt2Descript'] or "None"}}
              </dd>
            </div>
          </dl>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Costs</th>
                <th scope="col" class="govuk-table__header">Total</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Service</td>
                <td class="govuk-table__cell">
                  <!--Service cost-->
                  {% if data['serviceType'] == "Transcription" %}
                      £{{data['alt2actualTransTotalCost'] or "825"}}.00
                      {% else %}
                      {% if data['serviceType'] == "Translation and transcription" %}
                        £{{data['alt2actualTransTotalCost'] or "825"}}.00
                        {% else %}
                        {% if data['serviceType'] == "Translator" %}
                          £{{data['alt2actualTransTotalCost'] or "825"}}.00
                          {% else %}
                          {% if data['serviceType'] == "Photocopying" %}
                            £{{data['alt2actualTransTotalCost'] or "825"}}.00
                            {% else %}
                            {% if data['serviceType'] == "DNA report" %}
                              £{{data['alt2actualTransTotalCost'] or "825"}}.00
                              {% else %}
                              {% if data['serviceType'] == "Other" %}
                                £{{data['alt2actualTransTotalCost'] or "825"}}.00
                                {% else %}
                                £{{data['alt2actualTransTotalCost'] or "825"}}.00
                              {% endif %}
                            {% endif %}
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    {% endif %}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Travel</td>
                <td class="govuk-table__cell">£{{data['actualalt2TravelTotal'] or "0"}}.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Additional</td>
                <td class="govuk-table__cell">£{{data['alt2AddCost'] or "0"}}.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table__header">Total cost</td>
                <td class="govuk-table__cell"><strong>£{{data['actualalt2TotalCost'] or "825"}}.00</strong></td>
              </tr>
            </tbody>
          </table>  
        </div>
      </div>

      <!--Alt3-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Alternative quote 3</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <!--For the proto make links show as not yet selected until the user does the action-->
              {% if data['reviewAlt3'] == "review" %}
                <a class="govuk-link" href="review-alt-quote?addAlt=Yes&showAltQuote=3&reviewAlt3=review">
                Review<span class="govuk-visually-hidden"> additional item</span></a>
                {% else %}
                <a class="govuk-link--no-visited-state" href="review-alt-quote?addAlt=Yes&showAltQuote=3&reviewAlt3=review">Review<span class="govuk-visually-hidden"> additional item</a>
              {% endif %} 
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-!-margin-bottom-6">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Expert details
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['alt3ExpertName'] or "Roger Monied"}}<br>
                {{data['alt3ExpertOrg'] or "Moniedboy Ltd"}}, 
                {{data['alt3ExpertPostcode'] or "WC1"}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Quote upload
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="">myquote3.pdf</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Additional items
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['alt3Descript'] or "None"}}
              </dd>
            </div>
          </dl>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Costs</th>
                <th scope="col" class="govuk-table__header">Total</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Service</td>
                <td class="govuk-table__cell">
                  <!--Service cost-->
                  {% if data['serviceType'] == "Transcription" %}
                      £{{data['alt3actualTransTotalCost'] or "780"}}.00
                      {% else %}
                      {% if data['serviceType'] == "Translation and transcription" %}
                        £{{data['alt3actualTransTotalCost'] or "780"}}.00
                        {% else %}
                        {% if data['serviceType'] == "Translator" %}
                          £{{data['alt3actualTransTotalCost'] or "780"}}.00
                          {% else %}
                          {% if data['serviceType'] == "Photocopying" %}
                            £{{data['alt3actualTransTotalCost'] or "780"}}.00
                            {% else %}
                            {% if data['serviceType'] == "DNA report" %}
                              £{{data['alt3actualTransTotalCost'] or "780"}}.00
                              {% else %}
                              {% if data['serviceType'] == "Other" %}
                                £{{data['alt3actualTransTotalCost'] or "780"}}.00
                                {% else %}
                                £{{data['alt3actualTransTotalCost'] or "780"}}.00
                              {% endif %}
                            {% endif %}
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    {% endif %}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Travel</td>
                <td class="govuk-table__cell">£{{data['actualalt3TravelTotal'] or "0"}}.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Additional</td>
                <td class="govuk-table__cell">£{{data['alt3AddCost'] or "0"}}.00</td>
              </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-table__header">Total cost</td>
                  <td class="govuk-table__cell"><strong>£{{data['actualalt3TotalCost'] or "780"}}.00</strong></td>
                </tr>
            </tbody>
          </table>  
        </div>
      </div>

      <!---Why PA required-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title"> Reason for prior authority</h3>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <!--For the proto make links show as not yet selected until the user does the action-->
              {% if data['reviewWhyPA'] == "review" %}
                <a class="govuk-link" href="review-why-pa?reviewWhyPA=review">Review<span class="govuk-visually-hidden"> reason for prior authority</span></a>
                {% else %}
                <a class="govuk-link--no-visited-state" href="review-why-pa?reviewWhyPA=review">Review<span class="govuk-visually-hidden"> reason for prior authority</span></a>
              {% endif %} 
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          {% if data['checkWhyPA'] == null or data['checkWhyPA'] == "" %}
            {% else %}
            <div class="govuk-inset-text">
              {{data['infoWhyPA']}}<br>
              {{data['docWhyPA']}}
            </div>
          {% endif %}
          <dl class="govuk-summary-list govuk-!-margin-bottom-6">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Why prior authority is required
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['why-pa'] | default('My client needs an interpreter')}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Supplementary documents
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="">whyPADocs1.pdf</a><br>
                <a href="">whyPADocs2.pdf</a>
              </dd>
            </div>
          </dl>       
        </div>
      </div>

       <h2 class="govuk-heading-m">About the solicitor</h2>
      <!--About you-->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">Solicitor details</h3>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <!--For the proto make links show as not yet selected until the user does the action-->
              {% if data['reviewSolicitor'] == "review" %}
                <a class="govuk-link" href="review-solicitor?reviewSolicitor=review">Review<span class="govuk-visually-hidden"> your details</span></a>
                {% else %}
                <a class="govuk-link--no-visited-state" href="review-solicitor?reviewSolicitor=review">Review<span class="govuk-visually-hidden"> your details</span></a>
              {% endif %} 
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          {% if data['fieldSol'] == null or data['fieldSol'] == "" %}
            {% else %}
            <div class="govuk-inset-text">
              {{data['fieldSol']}}
            </div>
          {% endif %}
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Contact details
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['contact-name'] or "Jim Bowen" }}<br>
                {{data['contact-email'] or "Jim@Bowen.com" }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Firm details
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['org-name'] or "Laywers Inc" }}<br> 
                {{data['org-acc'] or "1A3B23E4" }}
              </dd>
            </div>
          </dl>
        </div>
      </div>

    </div>
  </div>

{% endblock %}