{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header-cw.html"%}
{% endblock %}

{% block pageTitle %}
  {{data['laa-ref'] or "LAA-5a7d3c"}} - Adjust service cost – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block beforeContent %}
  {% include "includes/banner.html"%}

  {% include "includes/cw-nav-your.html"%}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Adjust {{data['serviceType'] or "Interpreter"}} cost</h1>

      <form class="form" action="application-details-adjust#serviceID" method="post">
        <p>Adjust the providers' costs by changing the values.</p>

        {% if data['serviceType'] == "Transcription" %}

          <!--Transcription-->
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="transNoMins">
              Number of minutes
            </label>
            <input class="govuk-input govuk-input--width-5" id="transNoMins" name="transNoMins" type="text" spellcheck="false" inputmode="numeric" value="{{data['transNoMins'] or "20"}}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="transCostMin">
              Cost per minute
            </label>
            <div class="govuk-input__wrapper">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input class="govuk-input govuk-input--width-5" id="transCostMin" name="transCostMin" type="text" spellcheck="false" value="{{data['transCostMin'] or "20"}}" aria-describedby="transCostMin-hint">
            </div>
          </div>
        
          <input type="hidden" id="actualTransTotal" name="actualTransTotal" value="{{data['actualTransTotal'] or "20"}}" />
                  
          <button class="govuk-button govuk-button--secondary" type="button" onclick="calTransCost()">Calculate my changes</button>

          <h2 class="govuk-heading-l">
            <span class="govuk-caption-m">Adjusted cost</span> £
            <span id="showTransTotal">0</span>.00
          </h2>

          {% else %}
          {% if data['serviceType'] == "Translation and transcription" %}
            <!--Transcription & translation-->
            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--s" for="transtransNoMins">
                Number of minutes
              </label>
              <input class="govuk-input govuk-input--width-5" id="transtransNoMins" name="transtransNoMins" type="text" spellcheck="false" inputmode="numeric" value="{{data['transtransNoMins'] or "20"}}">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--s" for="transtransCostMin">
                Cost per minute
              </label>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-5" id="transtransCostMin" name="transtransCostMin" type="text" spellcheck="false" value="{{data['transtransCostMin'] or "20"}}" aria-describedby="transtransCostMin-hint">
              </div>
            </div>
          
            <input type="hidden" id="actualTransTransTotal" name="actualTransTransTotal" value="{{data['actualTransTransTotal'] or "20"}}" />
                  
            <button class="govuk-button govuk-button--secondary" type="button" onclick="calTransTransCost()">Calculate my changes</button>

            <h2 class="govuk-heading-l">
              <span class="govuk-caption-m">Adjusted cost</span> £
              <span id="showTransTransTotal">0</span>.00
            </h2>

            {% else %}
            {% if data['serviceType'] == "Translator" %}
              <!--Translator-->
              
              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="translatorWords">
                  Number of words
                </label>
                <input class="govuk-input govuk-input--width-5" id="translatorWords" name="translatorWords" type="text" spellcheck="false" inputmode="numeric" value="{{data['translatorWords'] or "20"}}">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="translatorCostWord">
                  Cost per word
                </label>
                <div class="govuk-input__wrapper">
                  <div class="govuk-input__prefix" aria-hidden="true">£</div>
                  <input class="govuk-input govuk-input--width-5" id="translatorCostWord" name="translatorCostWord" type="text" spellcheck="false" value="{{data['translatorCostWord'] or "20"}}">
                </div>
              </div>
              
              <input type="hidden" id="actualTranslatorTotal" name="actualTranslatorTotal" value="{{data['actualTranslatorTotal'] or "20"}}" />
                    
              <button class="govuk-button govuk-button--secondary" type="button" onclick="calTranslatorCost()">Calculate my changes</button>

              <h2 class="govuk-heading-l">
                <span class="govuk-caption-m">Adjusted cost</span> £
                <span id="showTranslatorTotal">0</span>.00
              </h2>

              {% else %}
              {% if data['serviceType'] == "Photocopying" %}
                <!--Photocopying-->
                
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label--s" for="photoNoPages">
                    Number of pages
                  </label>
                  <input class="govuk-input govuk-input--width-5" id="photoNoPages" name="photoNoPages" type="text" spellcheck="false" inputmode="numeric" value="{{data['photoNoPages'] or "200"}}">
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label--s" for="photoCostPage">
                    Cost per page
                  </label>
                  <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                    <input class="govuk-input govuk-input--width-5" id="photoCostPage" name="photoCostPage" type="text" spellcheck="false" value="{{data['photoCostPage'] or "20"}}" aria-describedby="photoCostPage-hint">
                  </div>
                </div>
              
                <input type="hidden" id="actualPhotoTotal" name="actualPhotoTotal" value="{{data['actualPhotoTotal'] or "20"}}" />
                  
                <button class="govuk-button govuk-button--secondary" type="button" onclick="calPhotoCost()">Update calculation</button>

                <h2 class="govuk-heading-l">
                  <span class="govuk-caption-m">Adjusted cost</span> £
                  <span id="showPhotoTotal">0</span>.00
                </h2>

                {% else %}
                {% if data['serviceType'] == "DNA report" %}
                  <!--DNA-->
                
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" for="dnaNoReport">
                      Number of reports
                    </label>
                    <div class="govuk-input__wrapper">
                      <input class="govuk-input govuk-input--width-5" id="dnaNoReport" name="dnaNoReport" type="text" spellcheck="false" value="{{data['dnaNoReport'] or "1"}}">
                    </div>
                  </div>
                  
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" for="dnaReportCost">
                      Cost of report
                    </label>
                    <div class="govuk-input__wrapper">
                      <div class="govuk-input__prefix" aria-hidden="true">£</div>
                      <input class="govuk-input govuk-input--width-5" id="dnaReportCost" name="dnaReportCost" type="text" spellcheck="false" value="{{data['dnaReportCost'] or "400"}}">
                    </div>
                  </div>

                   <input type="hidden" id="actualDNATotal" name="actualDNATotal" value="{{data['actualDNATotal'] or "400"}}" />
                  
                  <button class="govuk-button govuk-button--secondary" type="button" onclick="calDNACost()">Calculate my changes</button>

                  <h2 class="govuk-heading-l">
                    <span class="govuk-caption-m">Adjusted cost</span> £
                    <span id="showDNATotal">0</span>.00
                  </h2>

                  {% else %}
                  {% if data['serviceType'] == "Other" %}
                    <!--Other-->

                    {% if data['otherChargeType'] == "Charged by the hour" %}

                        <div class="govuk-form-group">
                          <fieldset class="govuk-fieldset" role="group" >
                            <legend class="govuk-fieldset__legend govuk-label--s">
                              Time
                            </legend>
                            <div class="govuk-date-input" id="otherNoHours">
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="otherNoHours-hours">
                                    Hours
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="otherNoHours-hours" name="otherNoHours-hours" type="text" inputmode="numeric" value="{{data['otherNoHours-hours'] or "2"}}">
                                </div>
                              </div>
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="otherNoHours-mins">
                                    Minutes
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="otherNoHours-mins" name="otherNoHours-mins" type="text" inputmode="numeric" value="{{data['otherNoHours-mins'] or "00"}}">
                                </div>
                              </div>
                            </div>
                          </fieldset>
                        </div>
                    
                        {{ govukInput({
                          id: "otherCostTime",
                          name: "otherCostTime",
                          value: data['otherCostTime'] or "200",
                          label: {
                            text: "What is the hourly cost?",
                            classes: "govuk-label--s"
                          },
                          prefix: {
                            text: "£"
                          },
                          classes: "govuk-input--width-5",
                          spellcheck: false
                        }) }}

                        {% else %}

                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-label--s" for="otherNoItems">
                            Number of items
                          </label>
                          <div class="govuk-input__wrapper">
                            <input class="govuk-input govuk-input--width-5" id="otherNoItems" name="otherNoItems" type="text" spellcheck="false" value="{{data['otherNoItems'] or "2"}}">
                          </div>
                        </div>
                  
                        {{ govukInput({
                          id: "otherItemsCost",
                          name: "otherItemsCost",
                          value: data['otherItemsCost'] or "200",
                          label: {
                            text: "What is the cost per item?",
                            classes: "govuk-label--s"
                          },
                          prefix: {
                            text: "£"
                          },
                          classes: "govuk-input--width-5",
                          spellcheck: false
                        }) }}

                      {% endif %}

                    <input type="hidden" id="actualOtherTotal" name="actualOtherTotal" value="{{data['actualOtherTotal']}}" />
                      
                    <button class="govuk-button govuk-button--secondary" type="button" onclick="calOtherCost()">Calculate my updates</button>

                    <h2 class="govuk-heading-l">
                      <span class="govuk-caption-m">Adjusted cost</span> £
                      <span id="showOtherTotal">0</span>.00
                    </h2>

                    {% else %}
                    <!--General-->                    
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset" role="group" >
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Time
                        </legend>
                        <div class="govuk-date-input" id="generalNoHours">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="generalNoHours-hours">
                                Hours
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="generalNoHours-hours" name="generalNoHours-hours" type="text" inputmode="numeric" value="{{data['generalNoHours-hours'] or "2"}}">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="generalNoHours-mins">
                                Minutes
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="generalNoHours-mins" name="generalNoHours-mins" type="text" inputmode="numeric" value="{{data['generalNoHours-mins'] or "00"}}">
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                          
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-label--s" for="generalCost">
                        Hourly cost
                      </label>
                      <div class="govuk-input__wrapper">
                        <div class="govuk-input__prefix" aria-hidden="true">£</div>
                        <input class="govuk-input govuk-input--width-5" id="generalCost" name="generalCost" type="text" spellcheck="false" value="{{data['generalCost'] or "200"}}" aria-describedby="generalCost-hint">
                      </div>
                    </div>

                    <button class="govuk-button govuk-button--secondary" type="button" onclick="calGeneralCost()">Calculate my updates</button>

                    <input type="hidden" id="actualGeneralTotal" name="actualGeneralTotal" value="{{data['actualGeneralTotal']}}" />

                    <h2 class="govuk-heading-l">
                      <span class="govuk-caption-m">Adjusted cost</span> £
                      <span id="showGeneralTotal">0</span>.00
                    </h2>

                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}

        {{ govukTextarea({
          name: "serviceAdjust",
          value: data['serviceAdjust'],
          id: "serviceAdjust",
          label: {
            text: "Explain your decision",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "For example, why you made adjustments to the cost or time. We'll share this explanation with the provider."
          }
        }) }}

        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save changes"
          }) }}
          <a class="govuk-link govuk-link--no-visited-state" href="application-details-adjust">Cancel</a>
        </div>

      </form>
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/calculate.js"></script>
{% endblock %}