{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header.html"%}
{% endblock %}

{% block pageTitle %}
  Are you sure you want assign this application to yourself? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  {% include "includes/cw-second-nav.html"%}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Add to my list</h1>
      <form class="form" action="application-details?appAssigned=yes&cwAppStatus=In progress" method="post">

        {{ govukTextarea({
            name: "assignConfirm",
            id: "assignConfirm",
            label: {
              text: "Explain why you assigning this application to yourself",
              classes: "govuk-label--s",
              isPageHeading: false
            },
            hint: {
              text: "For example, that this application was requested by a magistrate"
            }
          }) }} 

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Add to my list"
          }) }}

        <a class="govuk-link govuk-link--no-visited-state" href="application-details">Cancel</a>
        </div>
      </form>

    </div>
  </div>

{% endblock %}