{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header-cw.html"%}
{% endblock %}

{% block pageTitle %}
  Further information not provided – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
   {% include "includes/cw-second-nav.html"%}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Further information not provided</h1>

      <form class="form" action="application-details" method="post">
        <p>You have not entered details of the further information you require from the provider.</p>
        <p>Return to the application and select 'Review' on the relevant section.</p>

    
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Return to application"
          }) }}
        </div>

      </form>
    </div>
  </div>

{% endblock %}
