{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header-cw.html"%}
{% endblock %}

{% block pageTitle %}
  {{data['laa-ref'] or "LAA-5a7d3c"}} - Confirm referral – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block beforeContent %}
  {% include "includes/banner.html"%}

  {% include "includes/cw-nav-your.html"%}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">{{data['laa-ref'] or "LAA-5a7d3c"}}</span>
      <h1 class="govuk-heading-xl">Make a decision</h1>

      <form class="form" action="decision-sent" method="post">

        {% set grantedHtml %}
          {{ govukTextarea({
            name: "grantedConfirm",
            id: "grantedConfirm",
            label: {
              text: "Additional comments for the provider (optional)",
              isPageHeading: false
            }
          }) }}    
        {% endset %}
        
        {% set partGrantedHtml %}
          {{ govukTextarea({
            name: "partConfirm",
            id: "partConfirm",
            label: {
              text: "Additional comments for the provider (optional)",
              isPageHeading: false
            }
          }) }}    
        {% endset %}

         {% set rejectedHtml %}
          {{ govukTextarea({
            name: "rejectedConfirm",
            id: "rejectedConfirm",
            label: {
              text: "Provide detailed reasons for rejecting this application",
              isPageHeading: false
            }
          }) }}    
        {% endset %}

        {{ govukRadios({
          name: "cwAppStatus",
          fieldset: {
            legend: {
              text: "What is the outcome of your assessment?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Your decision and any relevant information will be sent to the provider."
          },
          items: [
            {
              value: "Granted",
              text: "Granted",
              checked: checked("cwAppStatus", "Granted"),
              conditional: {
                html: grantedHtml
              }
            },
            {
              value: "Part granted",
              text: "Part granted",
              checked: checked("cwAppStatus", "Part granted"),
              conditional: {
                html: partGrantedHtml
              }
            },
            {
              value: "Rejected",
              text: "Rejected",
              checked: checked("cwAppStatus", "Rejected"),
              conditional: {
                html: rejectedHtml
              }
            }
          ]
        }) }}
      
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Submit decision"
          }) }}

          {{ govukButton({
            text: "Save and come back later",
              classes: "govuk-button--secondary",
            href: ""
          }) }}
        </div>

      </form>
    </div>
  </div>

{% endblock %}
