{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header-cw.html"%}
{% endblock %}

{% block pageTitle %}
  Review primary quote information – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}

  {% include "includes/cw-second-nav.html"%}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{data['laa-ref'] or "LAA-5a7d3c"}}</span>
      <h1 class="govuk-heading-xl">Review primary quote information</h1>
      <p>Complete this form if you need more information from the provider about the primary quote.</p>

      {% if data['changePrimary'] == "change" %}
        <form class="form" action="check-answers-moreinfo" method="post">
        {% else %}
        <form class="form" action="application-details-mvp?reviewPrimary=complete" method="post">
      {% endif %}
      
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Primary quote</h3>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list govuk-!-margin-bottom-6">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Expert details
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['expert-name'] or "Joanna White" }}<br>
                  {{data['expert-org-name'] or "DNA Plc" }}, 
                  {{data['expert-postcode'] or "E1 3RD" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Service required
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if data['serviceType'] == "Other" %}
                    Other: {{data['otherExpert'] or "Driving instructor" }}
                    {% else %}
                    {{data['serviceType'] or "Interpreter"}}
                  {% endif %}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Quote upload
                </dt>
                <dd class="govuk-summary-list__value">
                  <a href="">myquote1.pdf</a>
                </dd>
              </div>
              {% if data['serviceType'] == "Psychiatric report (Prison Law)" or data['serviceType'] == "Psychological report (Prison Law)" or data['serviceType'] == "Interpreter" or  data['serviceType'] == null %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Ordered by court
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['courtOrdered'] or "Yes" }}
                  </dd>
                </div>
              {% else %}
              
              {% endif %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Existing prior authority granted
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['existingAuth'] or "No"}}
                </dd>
              </div>
              {% if data['detained'] == "Yes" or data['prisonLaw'] == "Yes" %}
                {% else %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Why travel costs are required 
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['whyTravel'] or "The expert lives in Ireland"}}
                  </dd>
                </div>
              {% endif %}
            </dl>    

            <p><a href="application-details-adjust">Adust quote detailed figures</a></p>   
          </div>
        </div>

       {{ govukTextarea({
          name: "checkPrimary",
          id: "checkPrimary",
          value: data['checkPrimary'],
          label: {
            text: "What further information do you need from the provider?",
            classes: "govuk-label--s"
          },
          hint: {
            text: "Summarise the actions the provider needs to take."
          }
        }) }}    
    
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save comments"
          }) }}

          {% if data['checkPrimary'] == "" or data['checkPrimary'] == null %}
            {% else %}
              {{ govukButton({
                text: "Delete comments",
                classes: "govuk-button--secondary",
                href: "review-primary-details-delete?"
              }) }}
          {% endif %}

          <a class="govuk-link" href="javascript:window.history.back()">Cancel</a>
        </div>

      </form>
    </div>
  </div>

{% endblock %}
