{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header-cw.html"%}
{% endblock %}

{% block pageTitle %}
  Review - Why is prior authority required? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{data['laa-ref'] or "LAA-5a7d3c"}}</span>
      <h1 class="govuk-heading-xl">{{data['client-first--name'] or "Roger" }} {{data['client-last--name'] or "Blackbeard" }}</h1>

      {% if data['changeCase'] == "change" %}
        <form class="form" action="check-answers" method="post">
        {% else %}
        <form class="form" action="application-details?review-case=complete" method="post">
      {% endif %}
      
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">Case details</h3>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            {% if data['prisonLaw'] == "Yes" %}
              <!--If YES to Prison Law--->
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Subject to POCA
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['poca'] or "Yes" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of next hearing
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['date-hearing-day'] or "23" }} {{data['date-hearing-month'] or "September" }} {{data['date-hearing-year'] or "2024" }}
                </dd>
              </div>
              {% else %}
              <!--If prison law is NO-->
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Main offence
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['main-offence'] or "Anti-social behaviour orders (for applications made prior to 23rd March 2015)" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of representation order
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['rep-order-day'] or "19" }} {{data['rep-order-month'] or "April" }} {{data['rep-order-year'] or "2023" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  MAAT number
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['maat'] or "12345678" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Client detained
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if data['detained'] == "Yes" %}
                    {{data['prisons'] or "Belmarsh" }}
                    {% else %}
                    No
                  {% endif %}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Subject to POCA
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['poca'] or "Yes"}}
                </dd>
              </div>
            {% endif %}
          </dl>
        </div>
      </div>

      {{ govukTextarea({
        name: "cwCase",
        id: "cwCase",
        value: data['cwCase'],
        label: {
          text: "Caseworker comments",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        hint: {
          text: "Summarise the actions the provider needs to take."
        }
      }) }}      
        

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save"
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script>
    if (typeof MOJFrontend.MultiFileUpload !== "undefined") {
      new MOJFrontend.MultiFileUpload({
        container: $(".moj-multi-file-upload"),
        uploadUrl: "/ajax-upload",
        deleteUrl: "/ajax-delete",
      });
    }

  </script>
{% endblock %}
