{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header-cw.html"%}
{% endblock %}

{% block pageTitle %}
  Review - Solicitor details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: [
      {
        text: 'Your applications',
        href: '/caseworker/crm-assess',
        active: false
      },
      {
        text: 'Open applications',
        href: '/caseworker/crm-assess-open',
        active: false
      },
      {
        text: 'Closed applications',
        href: '/caseworker/crm-assess-closed',
        active: false
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{data['laa-ref'] or "LAA-5a7d3c"}}</span>
      <h1 class="govuk-heading-xl">Review solicitor details</h1>

      {% if data['changeSolicitor'] == "change" %}
        <form class="form" action="check-answers" method="post">
        {% else %}
        <form class="form" action="application-details?review-solicitor=complete" method="post">
      {% endif %}
      
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Solicitor details</h3>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Contact details
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['contact-name'] or "Jim Bowen" }}<br>
                  {{data['contact-email'] or "Jim@Bowen.com" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Firm details
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['org-name'] or "Laywers Inc" }}<br> 
                  {{data['org-acc'] or "1A3B23E4" }}
                </dd>
              </div>
            </dl>
          </div>
        </div>

        {{ govukTextarea({
          name: "fieldSolicitor",
          id: "fieldSolicitor",
          value: data['fieldSolicitor'],
          label: {
            text: "Incorrect information",
            classes: "govuk-label--s"
          },
          hint: {
            text: "Summarise the actions the provider needs to take."
          }
        }) }}    
       

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save comments"
          }) }}

          {% if data['fieldSolicitor'] == "" or data['fieldSolicitor'] == null %}
            {% else %}
              {{ govukButton({
                text: "Delete comments",
                classes: "govuk-button--secondary",
                href: "review-solicitor-delete?"
              }) }}
          {% endif %}

          <a class="govuk-link" href="javascript:window.history.back()">Cancel</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}