{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header-cw.html"%}
{% endblock %}

{% block pageTitle %}
  Review why is prior authority required – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: [
      {
        text: 'Your applications',
        href: '/caseworker/crm-assess',
        active: false
      },
      {
        text: 'Open applications',
        href: '/caseworker/crm-assess-open',
        active: false
      },
      {
        text: 'Referred applications',
        href: '/caseworker/crm-assess-referred',
        active: false
      },
      {
        text: 'Assessed applications',
        href: '/caseworker/crm-assess-closed',
        active: false
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{data['laa-ref'] or "LAA-5a7d3c"}}</span>
      <h1 class="govuk-heading-xl">Review why is prior authority required</h1>

      {% if data['changeWhyPA'] == "change" %}
        <form class="form" action="check-answers" method="post">
        {% else %}
        <form class="form" action="application-details?review-why-pa=complete" method="post">
      {% endif %}
      
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title"> Reason for prior authority</h3>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list govuk-!-margin-bottom-6">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Why prior authority is required
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['why-pa'] or "My client needs an interpreter" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Supplementary documents
                </dt>
                <dd class="govuk-summary-list__value">
                  <a href="">whyPADocs1.pdf</a><br>
                  <a href="">whyPADocs2.pdf</a>
                </dd>
              </div>
            </dl>       
          </div>
        </div>

        {% set infoHtml %}
          {{ govukTextarea({
            name: "infoWhyPA",
            id: "infoWhyPA",
            value: data['infoWhyPA'],
            label: {
              text: "Caseworker comments"
            },
            hint: {
              text: "Summarise the actions the provider needs to take."
            }
          }) }}    
        {% endset %}

        {% set docHtml %}
          {{ govukTextarea({
            name: "docWhyPA",
            id: "docWhyPA",
            value: data['docWhyPA'],
            label: {
              text: "Caseworker comments"
            },
            hint: {
              text: "Summarise the actions the provider needs to take."
            }
          }) }}    
        {% endset %}

        {{ govukCheckboxes({
          name: "checkWhyPA",
          fieldset: {
            legend: {
              text: "What is the issue?",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "Further information required",
              text: "Further information required",
              checked: checked("checkWhyPA", "Further information required"),
              conditional: {
                html: infoHtml
              }
            },
            {
              value: "Documentation required",
              text: "Documentation required",
              checked: checked("checkWhyPA", "Documentation required"),
              conditional: {
                html: docHtml
              }
            }
          ]
        }) }}  
        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save commentss"
          }) }}

          {% if data['checkWhyPA'] == "" or data['checkWhyPA'] == null %}
            {% else %}
              {{ govukButton({
                text: "Delete comments",
                classes: "govuk-button--secondary",
                href: "review-why-pa-delete?"
              }) }}
          {% endif %}

          <a class="govuk-link" href="javascript:window.history.back()">Cancel</a>
        </div>
        
      </form>
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script>
    if (typeof MOJFrontend.MultiFileUpload !== "undefined") {
      new MOJFrontend.MultiFileUpload({
        container: $(".moj-multi-file-upload"),
        uploadUrl: "/ajax-upload",
        deleteUrl: "/ajax-delete",
      });
    }

  </script>
{% endblock %}
