{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header-cw.html"%}
{% endblock %}

{% block pageTitle %}
  Review - Solicitor details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{data['laa-ref'] or "LAA-5a7d3c"}}</span>
      <h1 class="govuk-heading-xl">{{data['client-first--name'] or "Roger" }} {{data['client-last--name'] or "Blackbeard" }}</h1>

      {% if data['changeSolicitor'] == "change" %}
        <form class="form" action="check-answers" method="post">
        {% else %}
        <form class="form" action="application-details?review-solicitor=complete" method="post">
      {% endif %}
      
       <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">Solicitor details</h3>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Contact details
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['contact-name'] or "Jim Bowen" }}<br>
                {{data['contact-email'] or "Jim@Bowen.com" }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Firm details
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['org-name'] or "Laywers Inc" }}<br> 
                {{data['org-acc'] or "1A3B23E4" }}
              </dd>
            </div>
          </dl>
        </div>
      </div>

      {{ govukTextarea({
        name: "cwSolicitor",
        id: "cwSolicitor",
        value: data['cwSolicitor'],
        label: {
          text: "Caseworker comments",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        hint: {
          text: "Summarise the actions the provider needs to take."
        }
      }) }}      
        

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save"
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script>
    if (typeof MOJFrontend.MultiFileUpload !== "undefined") {
      new MOJFrontend.MultiFileUpload({
        container: $(".moj-multi-file-upload"),
        uploadUrl: "/ajax-upload",
        deleteUrl: "/ajax-delete",
      });
    }

  </script>
{% endblock %}
