{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header-cw.html"%}
{% endblock %}

{% block pageTitle %}
  Review hearing details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: [
      {
        text: 'Your applications',
        href: '/caseworker/crm-assess',
        active: false
      },
      {
        text: 'Open applications',
        href: '/caseworker/crm-assess-open',
        active: false
      },
      {
        text: 'Referred applications',
        href: '/caseworker/crm-assess-referred',
        active: false
      },
      {
        text: 'Assessed applications',
        href: '/caseworker/crm-assess-closed',
        active: false
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{data['laa-ref'] or "LAA-5a7d3c"}}</span>
      <h1 class="govuk-heading-xl">Review hearing details</h1>

      {% if data['changeSolicitor'] == "change" %}
        <form class="form" action="check-answers" method="post">
        {% else %}
        <form class="form" action="application-details?review-solicitor=complete" method="post">
      {% endif %}
      
        {% if data['prisonLaw'] == "No" or data['prisonLaw'] == null %}
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h3 class="govuk-summary-card__title">Hearing details</h3>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date of next hearing
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['date-hearing-day'] or "12"}} {{data['date-hearing-month'] or "July"}} {{data['date-hearing-year'] or "2024"}}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Likely or actual plea 
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['plea'] or "Not guilty" }}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Court type
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['courtType'] or "Central Criminal Court" }}
                  </dd>
                </div>
                {% if data['courtType'] == "Magistrates' court" %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Youth court matter
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{data['youthCourt'] or "No"}}
                    </dd>
                  </div>
                  {% else %}
                  {% if data['courtType'] == null %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Psychiatric liaison service accessed
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{data['psychLiaison'] or "No"}}
                      </dd>
                    </div>
                    {% if data['psychLiaison'] == "Yes" %}
                      {% else %}
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Why not?
                        </dt>
                        <dd class="govuk-summary-list__value">
                          {{data['psychmoreDetail'] or "Not required" }}
                        </dd>
                      </div>
                    {% endif %}
                  {% endif %}
                {% endif %}
              </div>
            </dl>
          </div>
        {% endif %}

        {{ govukTextarea({
          name: "fieldHearing",
          id: "fieldHearing",
          value: data['fieldHearing'],
          label: {
            text: "Incorrect information",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          hint: {
            text: "Summarise the actions the provider needs to take."
          }
        }) }}      
        
       <div class="govuk-button-group">
          {{ govukButton({
            text: "Save comments"
          }) }}

          {% if data['fieldHearing'] == "" or data['fieldHearing'] == null %}
            {% else %}
              {{ govukButton({
                text: "Delete comments",
                classes: "govuk-button--secondary",
                href: "review-hearing-delete"
              }) }}
          {% endif %}

          <a class="govuk-link" href="javascript:window.history.back()">Cancel</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}