{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header-cw.html"%}
{% endblock %}

{% block pageTitle %}
  Review primary quote information – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}

  {{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: [
      {
        text: 'Your applications',
        href: '/caseworker/crm-assess',
        active: false
      },
      {
        text: 'Open applications',
        href: '/caseworker/crm-assess-open',
        active: false
      },
      {
        text: 'Assessed applications',
        href: '/caseworker/crm-assess-closed',
        active: false
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{data['laa-ref'] or "LAA-5a7d3c"}}</span>
      <h1 class="govuk-heading-xl">Review primary quote information</h1>

      {% if data['changePrimary'] == "change" %}
        <form class="form" action="check-answers" method="post">
        {% else %}
        <form class="form" action="application-details?review-primary=complete" method="post">
      {% endif %}
      
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Primary quote</h3>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list govuk-!-margin-bottom-6">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Expert details
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['expert-name'] or "Joanna White" }}<br>
                  {{data['expert-org-name'] or "DNA Plc" }}, 
                  {{data['expert-postcode'] or "E1 3RD" }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Service required
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if data['serviceType'] == "Other" %}
                    Other: {{data['otherExpert'] or "Driving instructor" }}
                    {% else %}
                    {{data['serviceType'] or "Interpreter"}}
                  {% endif %}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Quote upload
                </dt>
                <dd class="govuk-summary-list__value">
                  <a href="">myquote1.pdf</a>
                </dd>
              </div>
              {% if data['serviceType'] == "Psychiatric report (Prison Law)" or data['serviceType'] == "Psychological report (Prison Law)" or data['serviceType'] == "Interpreter" or  data['serviceType'] == null %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Ordered by court
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['courtOrdered'] or "Yes" }}
                  </dd>
                </div>
              {% else %}
              
              {% endif %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Existing prior authority granted
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['existingAuth'] or "No"}}
                </dd>
              </div>
              {% if data['detained'] == "Yes" or data['prisonLaw'] == "Yes" %}
                {% else %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Why travel costs are required 
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['whyTravel'] or "The expert lives in Ireland"}}
                  </dd>
                </div>
              {% endif %}
            </dl>    

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Costs</th>
                  <th scope="col" class="govuk-table__header">Total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Service</td>
                  <!--Service cost-->
                  {% if data['serviceType'] == "DNA report" %}
                    <td class="govuk-table__cell">£{{data['dnaCost'] or "400" }}.00</td>
                    {% else %}
                    {% if data['serviceType'] == "Transcription" %}
                      <td class="govuk-table__cell">£{{data['actualTransTotal'] or "400" }}.00</td>
                      {% else %}
                      {% if data['serviceType'] == "Translation and transcription" %}
                        <td class="govuk-table__cell">£{{data['actualTransTransTotal'] or "400" }}.00</td>
                        {% else %}
                        {% if data['serviceType'] == "Translator" %} 
                          <td class="govuk-table__cell">£{{data['actualTranslatorTotal'] or "400" }}.00</td>
                          {% else %}
                          {% if data['serviceType'] == "Photocopying" %} 
                            <td class="govuk-table__cell">£{{data['actualPhotoTotal'] or "400" }}.00</td>
                            {% else %}
                            {% if data['serviceType'] == "Other" and data['otherChargeType'] =="Charged by the hour"%} 
                              <td class="govuk-table__cell">£{{data['actualOtherTotal'] or "400" }}.00</td>
                              {% else %}
                              {% if data['serviceType'] == "Other" and data['otherChargeType'] =="Charged per item"%} 
                                <td class="govuk-table__cell">£{{data['actualOtherTotal'] or "400" }}.00</td>
                                {% else %}
                                {% if data['serviceType'] !== "DNA report" %}
                                  <td class="govuk-table__cell">£{{data['actualGeneralTotal'] or "400" }}.00</td>
                                {% endif %}
                              {% endif %}
                            {% endif %}
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </tr>
                {% if data['addTravel'] == "No" %}
                  {% else %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Travel</td>
                    <td class="govuk-table__cell">£{{data['actualTravelTotal'] or "120" }}.00</td>
                  </tr>
                {% endif %}
                {% if data['addAdd'] == "No" %}
                  {% else %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Additional</td>
                    <td class="govuk-table__cell">£{{data['actualaddFinalTotal'] or "120" }}.00</td>
                  </tr>
                {% endif %}
                </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-table__header">Total cost</td>
                    <td class="govuk-table__cell"><strong>£{{data['actualdistTotalCost'] or "640"}}.00</strong></td>
                  </tr>
              </tbody>
            </table> 

            <p><a href="application-details-adjust">Review and adjust detailed figures</a></p>   
          </div>
        </div>

        {% set fieldHtml %}
          {{ govukTextarea({
            name: "fieldQuote",
            id: "fieldQuote",
            value: data['fieldQuote'],
            label: {
              text: "Caseworker comments"
            },
            hint: {
              text: "Summarise the actions the provider needs to take."
            }
          }) }}    
        {% endset %}

        {% set infoHtml %}
          {{ govukTextarea({
            name: "infoQuote",
            id: "infoQuote",
            value: data['infoQuote'],
            label: {
              text: "Caseworker comments"
            },
            hint: {
              text: "Summarise the actions the provider needs to take."
            }
          }) }}    
        {% endset %}

        {% set docHtml %}
          {{ govukTextarea({
            name: "docQuote",
            id: "docQuote",
            value: data['docQuote'],
            label: {
              text: "Caseworker comments"
            },
            hint: {
              text: "Summarise the actions the provider needs to take."
            }
          }) }}    
        {% endset %}

        {{ govukCheckboxes({
          name: "reviewQuote",
          fieldset: {
            legend: {
              text: "What is the issue?",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "Incorrect information",
              text: "Incorrect information",
              checked: checked("reviewQuote", "Incorrect information"),
              conditional: {
                html: fieldHtml
              }
            },
            {
              value: "Further information required",
              text: "Further information required",
              checked: checked("reviewQuote", "Further information required"),
              conditional: {
                html: infoHtml
              }
            },
            {
              value: "Documentation required",
              text: "Documentation required",
              checked: checked("reviewQuote", "Documentation required"),
              conditional: {
                html: docHtml
              }
            }
          ]
        }) }}    
    
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save comments"
          }) }}

          {% if data['reviewQuote'] == "" or data['reviewQuote'] == null %}
            {% else %}
              {{ govukButton({
                text: "Delete comments",
                classes: "govuk-button--secondary",
                href: "review-primary-details-delete?"
              }) }}
          {% endif %}

          <a class="govuk-link" href="javascript:window.history.back()">Cancel</a>
        </div>

      </form>
    </div>
  </div>

{% endblock %}
