{% extends "layouts/main.html" %}

{% block header %}
  {% include "includes/header-cw.html"%}
{% endblock %}

{% block pageTitle %}
  Review - Why is prior authority required? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{data['laa-ref'] or "LAA-5a7d3c"}}</span>
      <h1 class="govuk-heading-xl">{{data['client-first--name'] or "Roger" }} {{data['client-last--name'] or "Blackbeard" }}</h1>

      {% if data['changeClient'] == "change" %}
        <form class="form" action="check-answers" method="post">
        {% else %}
        <form class="form" action="application-details?review-client=complete" method="post">
      {% endif %}
      
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Client details</h3>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Client name
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['client-first--name'] or "Roger" }} {{data['client-last--name'] or "Blackbeard" }}<br>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['client-dob-day'] or "10" }} {{data['client-dob-month'] or "May" }} {{data['client-dob-year'] or "2001" }}
                </dd>
              </div>
            </dl>
          </div>
        </div>

        {{ govukTextarea({
          name: "fieldClient",
          id: "fieldClient",
          value: data['fieldClient'],
          label: {
            text: "Incorrect information",
            classes: "govuk-label--s"
          },
          hint: {
            text: "Summarise the actions the provider needs to take."
          }
        }) }}    
    
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save comment"
          }) }}

          {% if data['fieldClient'] == "" or data['fieldClient'] == null %}
            {% else %}
              {{ govukButton({
                text: "Delete comment",
                classes: "govuk-button--warning",
                href: "review-client-delete?"
              }) }}
          {% endif %}
        </div>

      </form>
    </div>
  </div>

{% endblock %}
